<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->

    <div class="twelvecol first">
    	<h3>ACCEPTED PATIENT INVITATION</h3>
    	<p>May 14, 2013</p>

    	<p>You have accepted invitations from the following patients:</p>
    	<ul>
    		<li>* Full Name 1</li>
    		<li>* Full Name 2</li>
    	</ul>
    </div>

    <div class='submit-popup gradient-button float-right'>OK</div>

</div>