<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>ADD ALERT RULE</h3>
	    </div>

	    <div class="twelvecol first">
	    	<h4>WHO</h4>
	    	<p>Select who you would like to set up an alert for</p>

	    	<input type="radio" name="send-to" value="global">Global (This message will be sent to all of your participants)<br>
			<input type="radio" name="send-to" value="group">Group
				<select name="msg-select" id="group-select" class="dropdowns">
	                <option selected="selected" value="">Select One</option>
	            </select>
			<br>
			<input type="radio" name="send-to" value="participant">Patient/Participant
			<br>

	    </div>

	    <div class="twelvecol first">
	    	<h4>ALERT ME IF</h4>
	    	<p>Select the criteria you would like to be alerted about</p>
	    	<select name="msg-select" id="condition-select" class="dropdowns">
                <option selected="selected" value="">Select Condition Type</option>
            </select><br>

            <input type="checkbox" name="alert-box" value="yes">SEND A HEART360 MESSAGE TO PATIENT WHEN ALERT IS TRIGGERED
	    </div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>SAVE</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>