<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->

    <div class="twelvecol first">
    	<h3>ALERT DETAILS</h3>
    	<p>When: We March 19, 2014 at 4:05 PM</p>
        <p>Who: Bill Tester</p>
        <p>Rule: Blood Pressure Systolic &lt;160, Diastolic&gt; 60, HeartRate &gt; 65 </p>
        <p>Reading: 135, 61, 72</p>
    </div>

    <div class='submit-popup gradient-button float-right'>OK</div>

</div>