<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>CREATE GROUP WITH MANUALLY SELECTED MEMBERS</h3>
        	<p>[Copy goes here]</p>
	    </div>

	    <div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Group Name</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="text" name="group-name" value="">
			</div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Description</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<textarea class="description"></textarea>
			</div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Group Members</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="checkbox" name="group-members" value="SueBee">Sue Bee<br>
		    	<input type="checkbox" name="group-members" value="SueBee">Sue Bee<br>
		    	<input type="checkbox" name="group-members" value="SueBee">Sue Bee<br>
		    	<input type="checkbox" name="group-members" value="SueBee">Sue Bee<br>
			</div>
		</div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>CREATE</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>