<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>CREATE GROUP WITH RULE-BASED MEMBERS</h3>
        	<p>[Add copy here.]</p>
	    </div>

	    <div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Group Name</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="text" name="group-name" value="">
			</div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Description</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<textarea class="description"></textarea>
			</div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Add/Remove</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="radio" name="add-remove" value="add">Add/Remove Participant Automatically<br>
				<input type="radio" name="add-remove" value="auto">Auto Add, but do not remove patient/participant once added
			</div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Age</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="radio" name="age-above" value="above">Above
		    	<input type="text" name="above" value="">
		    	<input type="radio" name="age-below" value="below">Below
		    	<input type="text" name="above" value="">
		    	<input type="radio" name="age-any" value="any">Any
		    </div>
		</div>

		<div class="twelvecol first">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">Gender</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="radio" name="gender" value="male">Male
		    	<input type="radio" name="gender" value="female">Female
		    	<input type="radio" name="gender" value="both">Both
		    </div>
		</div>

	    <div class="twelvecol first">
	    	<div class="elevencol first">
	    		<div class="twelvecol first">
			    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">if</label>

			    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
				    	<select name="ddlIf" id="ddlIf" class="dropdowns">
		                    <option selected="selected" value="">Select Reading Type</option>
		                </select>
					</div>
				</div>

				<div class="twelvecol first">
			    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">of type</label>

			    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
				    	<select name="ddlOfType" id="ddlOfType" class="dropdowns">
		                    <option selected="selected" value="">Select Data Type</option>
		                </select>
					</div>
				</div>

				<div class="elevencol tablet-twelvecol mobile-twelvecol">
			    	<input type="radio" name="rules-above" value="above">Above
			    	<input type="text" name="rules-above" value=""><br>
			    	<input type="radio" name="rules-below" value="below">Below
			    	<input type="text" name="rules-below" value=""><br>
			    	<input type="radio" name="rules-between" value="between">Between
			    	<input type="text" name="rules-between" value="">
			    </div>

				<div class="twelvecol first">
			    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">for</label>

			    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
				    	<select name="ddlPeriod" id="ddlPeriod" class="dropdowns">
		                    <option selected="selected" value="">Select Period</option>
		                </select>
					</div>
				</div>
			</div>

	    	<div class="onecol last">+</div>
	    </div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>CREATE</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>