<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>INVITE Participants BY EMAIL</h3>
	    	<p>Connect with your patients/participants by inviting them to share their data. Invitation to Heart360&#174; can be sent online or printed
	    		out to present to them in person or by mail. Just fill out the patient/participant information in the fields provided below to get started.</p>

	    	<p>In order for your patient/participant to accept your invitation and allow access to their account, your patient/participant will
	    		need to contact you for your provider/volunteer code, which can be found on your profile page.</p>
	    </div>

	    <div class="twelvecol first">
	    	<div class="elevencol first">
	    		<div class="threecol first tablet-twelvecol mobile-twelvecol">
		    		<select name="ddlTitle" id="ddlTitle" class="dropdowns">
	                    <option selected="selected" value="">Salutation:</option>
	                    <option value="Dr.">Dr.</option>
	                    <option value="MD.">MD.</option>
	                    <option value="Miss">Miss</option>
	                    <option value="Mr">Mr</option>
	                    <option value="Mrs">Mrs</option>
	                    <option value="Ms">Ms</option>
	                    <option value="RN">RN</option>
	                </select>
	            </div>

	            <div class="ninecol tablet-twelvecol mobile-twelvecol">
	    			<input name="txtFirstName" type="text" id="txtFirstName" class="required" value="Participants First Name">
	    		</div>

	    		<div class="twelvecol first">
		    		<input name="txtLastName" type="text" id="txtLastName" class="required" value="Participants Last Name">
		    	</div>

		    	<div class="twelvecol first">
	    			<input name="txtemail" type="text" id="txtemail" class="required" value="Email">
	    		</div>

	    		<div class="twelvecol first">
	    			<input name="txtconfirmemail" type="text" id="txtconfirmemail" class="required" value="Confirm Email">
	    		</div>
	    	</div>

	    	<div class="onecol last">+</div>
	    </div>

	    <div class="twelvecol first">
	    	<p>Click the Invite button to send an invitation to your patient/participant</p>
	    	<input type="checkbox" name="email-invite" value="yes">Click the checkbox if you wish to have an email sent to you when your invitation is accepted.
	    </div>

    <div class="twelvecol first">
        <div class='submit-popup gradient-button float-right fourcol first'>Invite</div>
        <div class='submit-popup gradient-button float-right fourcol'>Preview</div>
		<div class='submit-popup gradient-button float-right fourcol last'>Cancel</div>
    </div>

</div>