<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>COMPOSE MESSAGE</h3>
	    </div>

	    <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
	    	<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">TO:</label>

	    	<div class="elevencol tablet-twelvecol mobile-twelvecol">
		    	<input type="radio" name="send-to" value="global">Global (This message will be sent to all of your participants)<br>
				<input type="radio" name="send-to" value="group">Group
					<select name="msg-select" class="msg-select" class="dropdowns">
		                <option selected="selected" value="">Select One</option>
		            </select>
				<br>
				<input type="radio" name="send-to" value="participant">Participant 
					<select name="msg-select" class="msg-select" class="dropdowns">
		                <option selected="selected" value="">Select One</option>
		            </select>
				<br>
			</div>
		</div>

		<div class="twelvecol first tablet-twelvecol mobile-twelvecol">
			<label class="text-left onecol first tablet-twelvecol mobile-twelvecol">SUBJECT:</label>
			<div class="elevencol tablet-twelvecol mobile-twelvecol">
    			<input name="subject" type="text" id="subject" class="required" value="RE: Test">
    			<textarea id="Message"></textarea>
    		</div>
		</div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>SEND</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>