<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>INVITE Participants BY PRINT</h3>
        	<img src="">

	    	<p>Temperence Brennen has invited you to sign up for Heart360&#174;, the American Heart Association's online cardiovascular risk
	    		management center that gives patients powerful tools to help them improve their heart health.</p>

	    	<p>To join please go to http://66.195.189.42/ConnectProvider to enter your details.</p>

	    	<p>Provider/Volunteer code: HNOAZQ</p>

	    	<p>Thank you,<br>Temperence Brennen</p>
	    </div>

	    <hr>

	    <div class="twelvecol first">
	    	<p>Heart360&#174; is not intended to provide medical advice or treatment and is not a subsitute from your professional medical
	    		judgement based on the individual medical needs of your patient or participant. The information provided by your patient can
	    		help you work with your patient/participant to map a successful path to heart health.</p>
	    	<p>You understand that data entered by your patient/participant into Heart360&#174; is self-reported and may contain errors,
	    		may be out-dated, or may be later changed by the patient/participant.</p>
	    	<p>Heart360&#174; is not a medical record. It is your responsibility to print, otherwise record, in your medical record information from Heart360&#174; you deem to be relevant to the treatment or diagnosis of your patient/participant at the time of such diagnosis and treatment. Heart360&#174; cannot retrieve historical information on your patient/participant.</p>
	    	<p>Heart360&#174; provides notifications, alerts, messaging, and other features to assist you in managing the information you view in your patient's/participant's Microsoft&#174; HealthVault&#153; accounts. These features are provided for your convenience only and are not to be used as subsitute for your professional medical judgment or direct consultation with your patient/participant.</p>
	    </div>

    <div class="twelvecol first">
        <div class='submit-popup gradient-button float-right sixcol first'>PRINT</div>
        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
    </div>


</div>