<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="eightcol first">

        <div class="twelvecol first">

            <div class="twocol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Title</label>
                <select name="ddlTitle" id="ddlTitle" class="dropdowns">
                    <option selected="selected" value="">Select:</option>
                    <option value="Dr.">Dr.</option>
                    <option value="MD.">MD.</option>
                    <option value="Miss">Miss</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Ms</option>
                    <option value="RN">RN</option>
                </select>
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Name<span class="required">*</span></label>
                <input name="txtFirstName" type="text" id="txtFirstName" class="required" value="$FirstName$">
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Last Name<span class="required">*</span></label>
                <input name="txtLastName" type="text" id="txtLastName" class="required" value="$LastName$">
            </div>
        
        </div>
        
        <div class="twelvecol first">
            <!-- Organization name row -->
            <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Organization Name</label>
                <input name="txtOrganization" type="text" id="txtOrganization">
            </div>

             <!-- Address row -->
            <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Address</label>
                <input name="txtAddress" type="text" id="txtAddress">
            </div>

        </div>

         <div class="twelvecol first">
            <!-- City / State Zip row -->
            <div class="fivecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">City</label>
                <input name="txtCity" type="text" id="txtCity">
            </div>

            <div class="twocol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">State</label>
                <select name="ddlState" id="ddlState" class="dropdowns">
                    <option selected="selected" value="">Select:</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Zipcode<span class="required">*</span></label>
                <input name="txtZipcode" type="text" id="txtZipcode" class="required" value="$Zipcode$">
            </div>
        </div>

        <div class="twelvecol first">
            <!-- Phone numbers row -->
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Phone Number</label>
                <input name="txtPhoneNumber" type="text" id="txtPhoneNumber">
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Fax Number</label>
                <input name="txtFaxNumber" type="text" id="txtFaxNumber">
            </div>
        </div>

        <div class="twelvecol first">
            <!-- Email row -->
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Email<span class="required">*</span></label>
                <input name="txtEmail" type="text" id="txtEmail" class="required" value="$Email$">
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Confirm Email<span class="required">*</span></label>
                <input name="txtConfirmEmail" type="text" id="txtConfirmEmail" class="required">
            </div>  
        </div>

    </div><!-- End First Column .eight-col -->


    <div class="fourcol">
         <!-- Specialty row, hidden for Volunteer -->

        <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
            <label class="text-left">Speciality<span class="required">*</span></label>
            <select name="ddlSpeciality" id="ddlSpeciality" class="dropdowns">
                $Speciality$
            </select>
        </div>

           <!-- Website row -->
        <div class="twlevecol tablet-twelvecol mobile-twelvecol first">
            <label class="text-left">Website</label>
            <input name="txtWebsite" type="text" id="txtWebsite">
        </div>

        <!-- Profile message row -->
        <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
            <label class="text-left">Profile Message</label>
            <textarea name="txtMessage" id="txtMessage"></textarea>
        </div>

    </div>

    <div class="twelvecol first">
        <div class='submit-popup gradient-button float-right'>Save</div>
        <div class='submit-popup gradient-button float-right'>Cancel</div>
    </div>

</div>