<div id="data-form">
	
    <!-- BEGIN FIRST COLUMN -->
<div class="twelvecol first">
<script type="text/javascript">
nicEditors.editors.push(
    new nicEditor().panelInstance(
        document.getElementById('resource-content')
    )
);
</script>
    <div class="twelvecol first">
    	<h3>ADD RESOURCE</h3>
    </div>

    <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
    	<label class="twelvecol first">Title</label>
    	<input type="text" id="resource-title" value="DR. Temperence Brennan">

    	<label class="twelvecol first">Link</label>
    	<input type="text" id="resource-link" value="Http://">

    	<label class="twelvecol first">Content</label>
    	<textarea class="twelvecol first" id="resource-content"></textarea>
    </div>

    <div class="twelvecol first">
        <div class='submit-popup gradient-button float-right sixcol first'>CREATE</div>
        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
    </div>

</div>