<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>ADD ANNOUNCEMENT</h3>
        	<p>You may enter local events and announcements that will appear on the Patient/Participants
        		Resources page. Please include all important information in the description.</p>
	    </div>

	    <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
	    	<label class="twelvecol first">Title</label>
	    	<input type="text" class="sixcol first" value="">
	    	<p class="sixcol">(maximum 80 characters)</p>

	    	<label class="twelvecol first">Content</label>
	    	<textarea class="twelvecol first" id="text-editor">NEEDS TO BE TEXT EDITOR</textarea>

	    	<label class="twelvecol first">Expiration Date</label>
	    	<input type="text" class="sixcol first" value="NEEDS TO BE CALENDAR">

	    </div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>SAVE</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>