<div id="data-form">

    <!-- BEGIN FIRST COLUMN -->
    <div class="twelvecol first">

        <div class="twelvecol first">
        	<h3>ADD NOTE</h3>
	    </div>

	    <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
	    	<label class="twelvecol first">TITLE</label>
	    	<input type="text" id="note-title" value="RE:Test">

	    	<label class="twelvecol first">DATE</label>
	    	<input type="text" id="note-date" value="NEEDS TO BE CALENDAR">

	    	<label class="twelvecol first">NOTE</label>
	    	<textarea class="twelvecol first" id="note-content"></textarea>

	    </div>

	    <div class="twelvecol first">
	        <div class='submit-popup gradient-button float-right sixcol first'>SAVE</div>
	        <div class='submit-popup gradient-button float-right sixcol'>CANCEL</div>
	    </div>

</div>