﻿#EmailTemplate
{
	font-family: Verdana;
	font-size: 12px;
	background: #f00;
	width: 80%;
	_width: 750px;
	min-width: 600px;
	max-width: 823px;
	margin: auto;
	background: #fff url(images/aha-emailtemplate-bg-border-l.gif) repeat-y 0 0;
}
#EmailTemplate .emailtemplate-border
{
	background: url(images/aha-emailtemplate-bg-border-r.gif) repeat-y right 0;
	min-height: 200px;
	_height: 200px;
}
#EmailTemplate .emailtemplate-header
{
	background: url(images/aha-emailtemplate-top-border.gif) repeat-x 0 0;
}
#EmailTemplate .emailtemplate-header-left-curve
{
	background: url(images/aha-emailtemplate-top-left.gif) no-repeat 0 -1px;
}
#EmailTemplate .emailtemplate-header-right-curve
{
	background: url(images/aha-emailtemplate-top-right.gif) no-repeat right -1px;
}
#EmailTemplate .emailtemplate-content
{
	background: url(images/aha-emailtemplate-bottom-border.gif) repeat-x 0 bottom;
}
#EmailTemplate .emailtemplate-content-left-curve
{
	background: url(images/aha-emailtemplate-bottom-left.gif) no-repeat 0 bottom;
}
#EmailTemplate .emailtemplate-content-right-curve
{
	background: url(images/aha-emailtemplate-bottom-right.gif) no-repeat right bottom;
	padding: 0 15px 0 16px;
}

#EmailTemplate .header-content
{
	padding: 24px 15px 0 16px;
}
#EmailTemplate .red-bar
{
	height: 26px;
	background: #cc353e;
}
#EmailTemplate .template-content
{
	min-height: 300px;
	_height: 300px;
	padding: 20px;
	padding-bottom: 40px;
	width: 70%;
	_width:500px;
	font-size:90%;
	line-height:150%;
	

	color: #787878;
}
#EmailTemplate h2
{
	font-size: 14px;
	color: #cc353e;
	margin: 0 0 5px 0;
	padding: 0;
}
#EmailTemplate .black
{
	color:Black;
}
#EmailTemplate .red
{
	color:#cc353e;
}
#EmailTemplate .heading
{
	font-size:12px;
	font-weight:bold;
	
}
#EmailTemplate .marginbottom
{
	margin-bottom:10px;
	
	
}
#EmailTemplate img
{
	border:0;
}