﻿<div id="data-form">

    <div class="popup-title">
       ACCEPT INVITATION
    </div>
    
    <div class="popup-body">
      
            <p>Accept the connection invitation from $Fullname$?</p>
            <input name="txtInvitationCode" type="hidden" id="txtInvitationCode" value="$InvitationCode$" />

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol" >ACCEPT</div>
 
    </div>

</div>
