﻿<div id="data-form">
    <div class="popup-title">
        $Title$
    </div>
    <div class="popup-body">
        <div class="twelvecol first">
            <h5 class="text-left">WHO</h5>
            <p class="no-margin-top">Select who you would like to setup an alert for.</p>
        </div>
        <div class="twelvecol first inline">
            <input id="radioGlobal" type="radio" name="radToWhom" value="global" $radioGlobal$/>
            <label for="radioGlobal">Global (applied to all of your patients/participants)</label>
        </div>
        <div class="twelvecol first inline">
            <input id="radioGroup" type="radio" name="radToWhom" value="group" $radioGroup$ $disableGroups$/>
            <label for="radioGroup">Group</label>
            <select name="ddlGroups" id="ddlGroups" class="dropdowns" $disableGroups$>$ddlGroups$</select>
        </div>
        <div class="twelvecol first inline">
            <input id="radioPatient" type="radio" name="radToWhom" value="patient" $radioPatient$ $disablePatient$/>
            <label for="radioPatient">Patient/Participant</label>
            <select name="ddlPatients" id="ddlPatients" class="dropdowns" $disablePatient$>$ddlPatients$</select>
        </div>

        <div class="twelvecol first" >
            <label class="text-left">ALERT ME IF</label>
            <p>Select and configure the criteria you would like to be alerted about.</p>
        </div>
        <div class="twelvecol first">
            <label >Condition Type</label>
            <select name="ddlConditions" id="ddlConditions" class="dropdowns" onchange="updateFields(this);">$ddlConditions$</select>
        </div>

        <!-- start condition details... -->
        <!-- Blood Glucose condition here, values are doubles -->
        <div id="BloodGlucose" class="force-hide">
            <div class="twelvecol first">
                <div class="row">
                    <div class="inline-input"><input name="bgc" value="above" id="bg-above" type="radio" $bg-above$ /></div>
                    <div class="inline-text"><label for="bg-above">Above</label></div>
                    <div class="inline-input"><input name="bgc" value="below" id="bg-below" type="radio" $bg-below$ /></div>
                    <div class="inline-text"><label for="bg-below">Below</label></div>
                    <div class="inline-input"><input name="bgValue" id="bgValue" value="$bgValue$" type="text" maxlength="5" /></div>
                </div>
            </div>
        </div>

        <!-- Blood Pressure condition here, values are integers -->
        <div id="BloodPressure" class="force-hide">
            <div class="twelvecol first">
                <label class="text-left">Systolic (top number): </label>
            </div>
            <div class="twelvecol first">
                <div class="row">
                    <div class="inline-input"><input name="systolic" value="above" id="systolic-above" type="radio" $systolic-above$ /></div>
                    <div class="inline-text"><label for="systolic-above">Above</label></div>
                    <div class="inline-input"><input name="systolic" value="below" id="systolic-below" type="radio" $systolic-below$ /></div>
                    <div class="inline-text"><label for="systolic-below">Below</label></div>
                    <div class="inline-input"><input name="systolicValue" id="systolicValue" value="$systolicValue$" type="text" maxlength="3" /></div>
                </div>
            </div>

            <div class="twelvecol first">
                <label class="text-left">Diastolic (bottom number): </label>
            </div>
            <div class="twelvecol first">
                <div class="row">
                    <div class="inline-input"><input name="diastolic" value="above" id="diastolic-above" type="radio" $diastolic-above$ /></div>
                    <div class="inline-text"><label for="diastolic-above">Above</label></div>
                    <div class="inline-input"><input name="diastolic" value="below" id="diastolic-below" type="radio" $diastolic-below$ /></div>
                    <div class="inline-text"><label for="diastolic-below">Below</label></div>
                    <div class="inline-input"><input name="diastolicValue" id="diastolicValue" value="$diastolicValue$" type="text" maxlength="3" /></div>
                </div>
            </div>

            <div class="twelvecol first">
                <label class="text-left">Heart Rate: </label>
            </div>
            <div class="twelvecol first">
                <div class="row">
                    <div class="inline-input"><input name="heartrate" value="above" id="heartrate-above" type="radio" $heartrate-above$ /></div>
                    <div class="inline-text"><label for="heartrate-above">Above</label></div>
                    <div class="inline-input"><input name="heartrate" value="below" id="heartrate-below" type="radio" $heartrate-below$ /></div>
                    <div class="inline-text"><label for="heartrate-below">Below</label></div>
                    <div class="inline-input"><input name="heartrateValue" id="heartrateValue" value="$heartrateValue$" type="text" maxlength="3" /></div>
                </div>
            </div>
        </div>


        <!-- Weight condition here, values are doubles -->
        <div id="Weight">
            <div class="twelvecol first">
                <div class="row">
                    <div class="inline-input"><input name="wc" value="gain" id="w-gain" type="radio" $w-gain$ /></div>
                    <div class="inline-text"><label for="w-gain">Gain (lbs)</label></div>
                    <div class="inline-input"><input name="wc" value="loss" id="w-loss" type="radio" $w-loss$ /></div>
                    <div class="inline-text"><label for="w-loss">Loss (lbs)</label></div>
                    <div class="inline-input"><input name="weightValue" id="weightValue" value="$weightValue$" type="text" maxlength="5" /></div>
                </div>
            </div>
            <div class="fourcol first">
                <label class="text-left">Period</label>
                <select name="ddlPeriod" id="ddlPeriod" class="dropdowns">$ddlPeriod$</select>
            </div>
            <div class="eightcol"></div>
        </div>
        

        <!-- ...end of different conditions -->
        <div class="twelvecol first">
            <hr />
        </div>
        <div class="twelvecol first">
            <div class="row">
                <div class="inline-input"><input id="cbSendPatientMessage" name="cbSendPatientMessage" type="checkbox"  $cbSendPatientMessage$ /></div>
                <div class="inline-text"><label>Send Heart360&reg; message to patient/participant when alert triggered.</label></div>
            </div>
        </div>
        <div class="twelvecol first">
            <div class="row">
                <textarea id="taMessage" readonly="readonly" name="taMessage" rows="4" cols="50">$taMessage$</textarea>
            </div>
        </div>

        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button float-right sixcol">SAVE</div>
 
    </div>
</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=radio]').css('width', 'auto').css('border', 'none');
        $('input[type=checkbox]').css('width', 'auto').css('border', 'none');
    }

    function updateFields(dataTypeField) {

        //alert('In updateFields');

        if (dataTypeField != null) {

            var selectedValue = dataTypeField.options[dataTypeField.selectedIndex].value;

            //alert('Selected value = ' + selectedValue);

            //first reset to normal setup
            $("#BloodGlucose").removeClass('force-hide');
            $("#BloodPressure").removeClass('force-hide');
            $("#Weight").removeClass('force-hide');

            //apply dynamic updates as needed 
            switch (selectedValue) {
                case "BloodGlucose":
                    $("#BloodPressure").addClass('force-hide');
                    $("#Weight").addClass('force-hide');
                    break;
                case "BloodPressure":
                    $("#BloodGlucose").addClass('force-hide');
                    $("#Weight").addClass('force-hide');
                    break;
                case "Weight":
                    $("#BloodGlucose").addClass('force-hide');
                    $("#BloodPressure").addClass('force-hide');
                    break;
            }
        }
    }
    function callUpdateFields() {
        var elem = document.getElementById('ddlConditions');
        updateFields(elem);
    }
    callUpdateFields();
</script>
