﻿<div id="data-form">
    <div class="popup-title">
        $Title$
    </div>
    <div class="popup-body">
        <div class="twelvecol first">
            <label >Title</label>
            <input name="tTitle" id="tTitle" value="$tTitle$" type="text" maxlength="128" />
        </div>

        <div class="twelvecol first">
            <label>Date</label>
            <input name="tDate" id="tDate" value="$tDate$" type="text" maxlength="16" data-beatpicker="true" class="date-picker" $DisableCreationDate$ />
        </div>

        <div class="twelvecol first">
            <label>Note</label>
            <div class="row">
                <textarea id="taNote" name="taNote" rows="4" cols="50">$taNote$</textarea>
            </div>
            <p class="float-right">2000 characters maximum</p>
        </div>

        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button float-right sixcol">SAVE</div>
 
    </div>
</div>
