﻿<div class="aha-resources">

    <div class="twelvecol first">
        <p>Select a topic below for a brief description. Click <strong>Learn More</strong> to get more details.</p>
    </div>
    <div class="twelvecol first">
        <select id="aha-resource-selection">$Options$</select>
    </div>
    <div class="twelvecol first">
        <div class='brief-description force-hide'>$Descriptions$</div>
    </div>
    <div class="twelvecol first">
        <div class='gradient-button float-right sixcol first' id="learn-more-button">Learn More</div>
    </div>
    <script type="text/javascript">
        var lastId = -1;
        $('#aha-resource-selection').change(function () {
            var id = $('#aha-resource-selection option:selected').attr('data-id');
            if (lastId != -1) {
                $('#resource-' + lastId).addClass("force-hide");
                $('#resource-' + lastId).parent().addClass("force-hide");
            }
            if ($('#resource-' + id).length > 0) {
                $('#resource-' + id).removeClass("force-hide");
                $('#resource-' + id).parent().removeClass("force-hide");
                lastId = id;
            } else {
                lastId = -1;
            }
        });

        $('#learn-more-button').click(function () {
            window.open($('#aha-resource-selection').val());
        });
    </script>
</div>