﻿<div id="data-form">
    <!-- patients / participants table -->
    <table class="styled-table alerts-list">
       <thead>
        <tr>
            <th data-sort="string"><div class="column-name-box">Date</div></th>
            $WhoHeader$
            <th data-sort="int"><div class="column-name-box"><div class="table-text ">Reading</div></div></th>
            <th data-sort="string"><div class="column-name-box">Alert Me If</div></th>
            <th class="action-column">Dismiss</th>
        </tr>
        </thead>
        <tbody>
         $AlertList$
        </tbody>
    </table>

    <!-- NOTE: if this is going to submit a form, then we need to extend the top div with id=data-form -->
    <div class="twelvecol mobile-twelvecol first">
        <div class='submit-popup gradient-button print-popup float-right'>Print List</div>
        $DismissAll$
    </div>
</div>
