﻿<div id="data-form">

    <div class="twelvecol tablet-twelvecol mobile-twelvecol first general-settings-area">      
        <div class="settings-title">
            ALERT OPTIONS
        </div>
            
        <p>You can set Heart360® to alert you when patients/participants enter readings that you want to be notified of. You can dismiss these alerts manually or have Heart360® dismiss them automatically based on the period you set below.</p>

        <div class="twelvecol first">
            <div class="inline-text"><label class="text-left">Automatically dismiss alerts after</label></div>
            <div class="inline-input"><select name="ddlDismiss" id="Select1" class="dropdowns">$ddlDismiss$</select></div>
        </div>

        <hr />

        <div class="settings-title">
            Individual Notification 
        </div>

        <p>You can also choose to receive individual notifications by email each time you receive an alert in Heart360®</p>

        <div class="twelvecol first">
            <div class="inline-input"><input id="cbNewAlertNotification" name="cbNewAlertNotification" type="checkbox" $cbNewAlertNotification$  /></div>
            <div class="inline-text"><label>SEND ME A NOTIFICATION BY EMAIL EVERY TIME I RECEIVE A NEW ALERT</label></div>
        </div>
        <div class="twelvecol first">
            <div class="inline-text"><label class="text-left">Email<span class="required">*</span></label></div> 
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <input name="txtNotificationEmail" type="text" id="txtNotificationEmail" value="$txtNotificationEmail$"/>
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol"></div>
        </div>
             
        <hr />

        <div class="settings-title">
            Daily Summary
        </div>

        <p>You can choose to have Heart360® send you a daily summary of notifications of alerts and/or messages:</p>

        <div class="twelvecol first">
            <div class="inline-input"><input id="cbDailySummaryAlert" name="cbDailySummaryAlert" type="checkbox"  $cbDailySummaryAlert$ /></div>
            <div class="inline-text"><label>Include <b>alert</b> notifications in my daily summary.</label></div>
        </div>
        <div class="twelvecol first">
            <div class="inline-input"><input id="cbDailySummaryMessage" name="cbDailySummaryMessage" type="checkbox"  $cbDailySummaryMessage$ /></div>
            <div class="inline-text"><label>Include <b>message</b> notifications in my daily summary.</label></div>
        </div>

        <div class="twelvecol first">
            <div class="inline-text"><label class="text-left">Email<span class="required">*</span></label></div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <input name="txtDailySummaryEmail" type="text" id="txtDailySummaryEmail" value="$txtDailySummaryEmail$"/>
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol"></div>
        </div>

     
         <hr />

         <p>To save your information, please make sure to click "Update". If you click "Cancel" or navigate away from this page your information will not be saved.</p>
        <div class="twelvecol first">
            <div class='submit-popup gradient-button float-right'>Update</div>
            <div class='reset-button gradient-button float-right'>Cancel</div>
        </div>

    </div>

</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=checkbox]').css('width', 'auto').css('border', 'none');
    }
</script>