﻿<div class="my-announcement">
    <div class="edit-icon popuplink" id="idEditAnnouncementPopup" data-page="Pages/Resources" data-method="EditAnnouncementPopup" data-id="$Id$" data-refresh-ids="idAnnouncementList"></div>
    <div class="trash-icon popuplink" id="idDeleteAnnouncementPopup" data-page="Pages/Resources" data-method="DeleteAnnouncementPopup" data-id="$Id$" data-refresh-ids="idModuleHeader6,idAnnouncementList"></div>
    <div class="announcement-title">$Title$</div>
    <br />
    <div class="announcement-content">$Content$</div>
</div><!-- End .my-announcement -->