﻿<div id="data-form">

    <div class="popup-title">
        CHANGE PASSWORD
    </div>
    
    <div class="popup-body">
      
            <p>Enter your existing password and a new password.</p>
            <table>
                <tbody>
                    <tr>
                        <th><label class="text-left">Existing Password: </label></th>
                        <td><input name="txtCurrentPassword" type="password" id="txtCurrentPassword" class="required" /></td>
                    </tr>
                    <tr>
                        <th><label class="text-left">New Password: </label></th>
                        <td><input name="txtNewPassword" type="password" id="txtNewPassword" class="required" /></td>
                    </tr>
                    <tr>
                        <th><label class="text-left">Confirm New Password:</label></th>
                        <td><input name="txtConfirmPassword" type="password" id="txtConfirmPassword" class="required" /></td>
                    </tr>
                </tbody>
            </table>

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">CONTINUE</div>
    </div>

</div>
