﻿<div id="data-form">
    <div class="popup-title">
        $Title$
    </div>
    <div class="popup-body">
        <div class="twelvecol first" >
            <label class="text-left">TO:</label>
        </div>
        <div class="twelvecol first inline">
            <input id="radioGlobal" type="radio" name="radToWhom" value="global" $radioGlobal$/>
            <label for="radioGlobal">Global (sent to all of your patients/participants)</label>
        </div>
        <div class="twelvecol first inline">
            <input id="radioGroup" type="radio" name="radToWhom" value="group" $radioGroup$/>
            <label for="radioGroup">Group</label>
            <select name="ddlGroups" id="ddlGroups" class="dropdowns">$ddlGroups$</select>
        </div>
        <div class="twelvecol first inline">
            <input id="radioPatient" type="radio" name="radToWhom" value="patient" $radioPatient$/>
            <label for="radioPatient">Patient/Participant</label>
            <select name="ddlPatients" id="ddlPatients" class="dropdowns">$ddlPatients$</select>
        </div>

        <div class="twelvecol first" >
            <label class="text-left">SUBJECT:</label>
        </div>
        <div class="twelvecol first">
            <input id="txtSubject" name="txtSubject" type="text" value="$txtSubject$"/>
        </div>

        <div class="twelvecol first">
            <label class="text-left">MESSAGE:</label>
        </div>
        <div class="twelvecol first">
            <textarea id="taMessage" name="taMessage" rows="4" cols="50">$taMessage$</textarea>
        </div>

        <input name="hidTitle" type="hidden" id="hidTitle" value="$Title$" />

        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button float-right sixcol">SEND</div>
 
    </div>
</div>
<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=radio]').css('width', 'auto').css('border', 'none');
    }
</script>
