﻿<div id="data-form">

    <div class="popup-title">
        CREATE GROUP
    </div>
    
    <div class="popup-body" id="group-popup">
        <p>To create a new group, enter a group name below and select the patient/participant name or the criteria you would like to use.</p>

        <input name="groupType" id="groupType" type="hidden" value="M" />
        <script type="text/javascript">
            function setGroupType(typeValue) {
                document.getElementById('groupType').value = typeValue;
            }
        </script>

        <div class="tabs-container">
            <div class="tabs-header">
                <div id="tab1action" data-tabcontent="tab1" class="tab tab-manual-group active" onclick="setGroupType('M')">Manual Group</div>
                <div id="tab2action" data-tabcontent="tab2" class="tab tab-dynamic-group" onclick="setGroupType('D')">Dynamic Group</div> 
            </div>
            
            <div id="generic">
                <!--<p>Create a group instructional text</p>-->         

                <!-- in this table are the values required for both types of groups -->
                <div class="twelvecol first">
                    <label class="text-left">Group Name: </label>
                </div>
                <div class="twelvecol first">
                    <input name="txtGroupName" value="$GroupName$" class="required" type="text" />
                </div>
                <div class="twelvecol first">
                    <label class="text-left">Description: </label>
                </div>
                <div class="twelvecol first">
                    <textarea name="txtDescription" class="short required">$Description$</textarea>
                </div>
            </div>

            <div class="tabs-content">

                <div id="tab1" class="tab1 tab-content">    
                    <div class="twelvecol first">
                        <label class="text-left">Group Members: </label>
                    </div>
                    <div class="blue-text-area scroll-small"> 
                        $GroupMembers$
                    </div>

                    <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
                    <div class="submit-popup gradient-button float-right sixcol">CREATE</div>
                </div>

                <div id="tab2" class="tab2 tab-content">

                    <div class="twelvecol first">
                        <label class="text-left">Add/Remove: </label>
                    </div>
                    <div class="twelvecol first">
                        
                        <div class="row">
                             <div class="inline-input"><input name="addRemove" value="both" type="radio" default="default" checked="checked" /></div>
                             <div class="inline-text"><label>Add and remove automatically</label></div>
                        </div>
                        <div class="row">
                            <div class="inline-input"><input name="addRemove" value="add" type="radio" /></div>
                            <div class="inline-text"><label>Add automatically, but do not remove</label></div>
                        </div>

                    </div>
                    
                    <div class="twelvecol first">
                        <label class="text-left">Age: </label>
                    </div>
                    
                    <div class="twelvecol first">
                        <div class="row">
                             <div class="inline-input"><input name="age" value="above" id="age-above" type="radio" /></div>
                             <div class="inline-text"><label for="age-above">Above</label></div>
                             <div class="inline-input"><input name="ageAbove" value="" type="text" maxlength="3" /></div>
                             <div class="inline-input"><input name="age" value="below" id="age-below" type="radio" /></div>
                             <div class="inline-text"><label for="age-below">Below</label></div>
                             <div class="inline-input"><input name="ageBelow" value="" type="text" maxlength="3" /></div>
                             <div class="inline-input"><input name="age" value="any" id="age-any" type="radio"  default="default" checked="checked" /></div>
                             <div class="inline-text"><label for="age-any">Any</label></div>
                        </div>
                    </div>

                    <div class="twelvecol first">
                        <label class="text-left">Gender: </label>
                    </div>

                    <div class="twelvecol first">
                    
                        <div class="inline-input"><input name="gender" value="male" id="gender-male" type="radio" /></div>
                        <div class="inline-text"><label for="gender-male">Male</label></div>
                        <div class="inline-input"><input name="gender" value="female" id="gender-female" type="radio" /></div>
                        <div class="inline-text"><label for="gender-female">Female</label></div>
                        <div class="inline-input"><input name="gender" value="both" id="gender-both" type="radio"  default="default" checked="checked" /></div>
                        <div class="inline-text"><label for="gender-both">Both</label></div>
                       
                    </div>

                    <div class="twelvecol first">
                        <label class="text-left">Rules: </label>
                    </div>

                    <div class="twelvecol first">
                        <div class="group-rule-list">
                          
                                <div class="add-button-column">
                                    <div class="add-button create-fields"></div>
                                </div>

                                <div class="repeater-fields">
                                    <div class="repeat-area">
                                        <div class="group-rule-entry">

                                            <div class="remove-button remove-fields force-hide"></div>

                                            <div class="twelvecol first">
                                                
                                                <div class="inline-text">
                                                    <label class="text-left">If </label>
                                                </div>

                                                <div class="inline-input">
                                                    <select name="readingType" id="readingType">
                                                        <option value="">Select reading type</option>
                                                        <option value="any">Any reading</option>
                                                        <option value="latest">Latest reading</option>
                                                        <option value="average">Average of last two</option>
                                                    </select>
                                                    <select name="readingType" id="readingTypeBmi" disabled="disabled" class="force-hide">
                                                        <option value="latest" selected="selected">Latest reading</option>
                                                    </select>
                                                </div>

                                            </div>
                                        

                                            <div class="twelvecol first">
                                                <div class="inline-text">
                                                    <label class="text-left">of Type </label>
                                                </div>
                                                <div class="inline-text">
                                                    <select name="dataType" id="dataType" onchange="updateFields(this);">
                                                        <option value="">Select data type</option>
                                                        <option value="bps">BP Systolic</option>
                                                        <option value="bpd">BP Diastolic</option>
                                                        <option value="ctotal">Cholesterol Total</option>
                                                        <option value="chdl">Cholesterol HDL</option>
                                                        <option value="cldl">Cholesterol LDL</option>
                                                        <option value="tri">Triglyceride</option>
                                                        <option value="bg">Blood Glucose</option>
                                                        <option value="w">Weight</option>
                                                        <option value="bmi">BMI</option>
                                                        <option value="active">Active</option>
                                                        <option value="inactive">Inactive</option>
                                                        <option value="connected">Connected</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="twelvecol first">
                                                <div class="inline-input"><input type="radio" name="readingIs" value="above" id="readingIs-above"  default="default" checked="checked" /></div>
                                                <div class="inline-text"> <label for="readingIs-above" class="text-left">Above</label></div>
                                                <div class="inline-input"><input name="above" id="above" value="" type="text" maxlength="5" /></div>
                                            </div>
                                            <div class="twelvecol first inline">
                                                 <div class="inline-input"><input type="radio" name="readingIs" value="below" id="readingIs-below" /></div>
                                                 <div class="inline-text"><label for="readingIs-below">Below</label></div>
                                                 <div class="inline-input"><input name="below" id="below" value="" type="text" maxlength="5" /></div>
                                            </div>
                                            <div class="twelvecol first inline">
                                                <div class="inline-input"><input type="radio" name="readingIs" value="between" id="readingIs-between" /></div>
                                                <div class="inline-text"><label for="readingIs-between">Between</label></div>
                                                <div class="inline-input"><input name="betweenStart" id="betweenStart" value="" type="text" maxlength="5" /> </div>
                                                <div class="inline-text"><label>&amp;</label></div>
                                                <div class="inline-input"><input name="betweenEnd" value="" type="text" maxlength="5" /></div>
                                            </div>
                                            <div class="twelvecol first inline">
                                                <div class="inline-text">
                                                    <label class="text-left">for </label>
                                                </div>
                                                <div class="inline-text">
                                                    <select name="period" id="period">
                                                        <option value="">Select period</option>
                                                        <option value="1-d">1 day</option>
                                                        <option value="2-d">2 days</option>
                                                        <option value="5-d">5 days</option>
                                                        <option value="1-w">1 week</option>
                                                        <option value="2-w">2 weeks</option>
                                                        <option value="3-w">3 weeks</option>
                                                        <option value="1-m">1 month</option>
                                                        <option value="2-m">2 months</option>
                                                        <option value="6-m">6 months</option>
                                                    </select>
                                                    <select name="period" id="periodConnected" disabled="disabled" class="force-hide">
                                                        <option value="">Select period</option>
                                                        <option value="2-w">2 weeks</option>
                                                        <option value="4-w">4 weeks</option>
                                                        <option value="6-w">6 weeks</option>
                                                        <option value="8-w">8 weeks</option>
                                                        <option value="10-w">10 weeks</option>
                                                        <option value="12-w">12 weeks</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> <!-- group-rule-entry -->     
                                    </div> <!-- repeat-area -->
                                </div> <!-- repeater-fields -->
                                <input type="hidden" name="repeater-number" id="repeater-number" value="0" />
                           
                        </div> <!-- group-rule-list -->
                        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
                        <div class="submit-popup gradient-button float-right sixcol">CREATE</div>
                    </div>
                </div> <!-- tab2 -->
            </div> <!-- tabs-content -->
            
        </div> <!-- tabs container -->

    </div>

</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=checkbox]').css('border', 'none');
        $('input[type=radio]').css('width', 'auto').css('border', 'none');
    }

    function updateFields(dataTypeField) {

        if (dataTypeField != null) {

            var selectedValue = dataTypeField.options[dataTypeField.selectedIndex].value;

            var name = dataTypeField.name;
            var suffix = "";
            if (name.indexOf("-") != -1) {
                suffix = "-" + name.split("-")[1];
            }

            //first reset to normal setup
            $("#period" + suffix).removeClass('force-hide').prop('disabled',false);
            $("#periodConnected" + suffix).addClass('force-hide').prop('disabled', 'disabled');

            $("#readingType" + suffix).parent().parent().removeClass('force-hide');
            $("#above" + suffix).parent().parent().removeClass('force-hide');
            $("#below" + suffix).parent().parent().removeClass('force-hide');
            $("#betweenStart" + suffix).parent().parent().removeClass('force-hide');

            $("#readingType" + suffix).removeClass('force-hide').prop('disabled', false);
            $("#readingTypeBmi" + suffix).addClass('force-hide').prop('disabled', 'disabled');

            //apply dynamic updates as needed 
            switch (selectedValue) {
                case "connected":
                    //hide period-patient and show period-connected
                    $("#period" + suffix).addClass('force-hide').prop('disabled', 'disabled');
                    $("#periodConnected" + suffix).removeClass('force-hide').prop('disabled', false);
                case "active":
                case "inactive":
                    //hide reading type & above/below/between rows for all 3 cases above
                    $("#readingType" + suffix).parent().parent().addClass('force-hide');
                    $("#above" + suffix).parent().parent().addClass('force-hide');
                    $("#below" + suffix).parent().parent().addClass('force-hide');
                    $("#betweenStart" + suffix).parent().parent().addClass('force-hide');
                    break;
                case "bmi":
                    //limit reading type to latest only
                    $("#readingType" + suffix).addClass('force-hide').prop('disabled', 'disabled');
                    $("#readingTypeBmi" + suffix).removeClass('force-hide').prop('disabled', false);
            }
        }
    }
</script>