﻿<div class="general-settings-area"> 
    <div class="twelvecol first">
        <p class="blue-text-area">The Custom Organization Report shows the following for all your patients/participants.</p>
    </div>

   
    <div class="settings-title"><label class="twelvecol first">Reading Type</label></div>
    <div class="sevencol first">
        <select name="custom-readingType" id="custom-readingType">
            <option value="bs">BP Systolic</option>
            <option value="bd">BP Diastolic</option>
            <option value="ct">Cholesterol Total</option>
            <option value="ch">Cholesterol HDL</option>
            <option value="cl">Cholesterol LDL</option>
            <option value="bg">Blood Glucose</option>
            <option value="w">Weight</option>
        </select>
    </div>

    <div class="blue-text-area">

        <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
            <label>Select one:</label>
        </div>

        <div class="twelvecol first">
            <div class="onecol tablet-twelvecol mobile-twelvecol first">
                <input type="radio" name="custom-condition" value="1" checked="checked" onchange="disableOthers(this);" />
            </div>
            <div class="twocol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Condition</label>
                <select name="custom-condition1" id="custom-condition1">
                    <option value="above">Above</option>
                    <option value="below">Below</option>
                </select>
            </div>
            <div class="fourcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Value</label>
                <input name="custom-condition1value" type="text" id="custom-condition1value" />
            </div>
        </div>

        <div class="twelvecol first">
            <div class="onecol tablet-twelvecol mobile-twelvecol first">
                <input type="radio" name="custom-condition" value="2" onchange="disableOthers(this);" />
            </div>
            <div class="twocol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Condition</label>
                <select name="custom-condition2" id="custom-condition2" disabled="disabled">
                    <option value="above">Above</option>
                    <option value="below">Below</option>
                </select>
            </div>
            <div class="fourcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Value</label>
                <input name="custom-condition2value" type="text" id="custom-condition2value" disabled="disabled" />
            </div>
            <div class="fourcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Occurences (at least)</label>
                <select name="custom-occurences" id="custom-occurences" disabled="disabled">
                    <option value="1">1 time</option>
                    <option value="2">2 times</option>
                    <option value="3">3 times</option>
                    <option value="4">4 times</option>
                    <option value="5">5 times</option>
                    <option value="6">6 times</option>
                    <option value="7">7 times</option>
                    <option value="8">8 times</option>
                    <option value="9">9 times</option>
                    <option value="10">10 times</option>
                </select>
            </div>
        </div>

        <div class="twelvecol first">
            <div class="onecol tablet-twelvecol mobile-twelvecol first">
                <input type="radio" name="custom-condition" value="3" onchange="disableOthers(this);" />
            </div>
            <div class="twocol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Changed by:</label>
                <input name="custom-changedBy" type="text" id="custom-changedBy" disabled="disabled" />
            </div>
        </div>
    </div>

   
     <div class="twelvecol first"><div class="settings-title"><label class="text-left">Period of Report: </label></div></div>
     <div class="sevencol first">
        <select name="custom-reportPeriod" id="custom-reportPeriod">
            <option value="3m">Last 3 Months</option>
            <option value="6m">Last 6 Months</option>
            <option value="9m">Last 9 Months</option>
            <option value="1y">Last Year</option>
            <option value="2y">Last 2 Years</option>
        </select>
    </div>

   <div class="twelvecol first">
        <div class="gradient-button float-right" onclick="if(validateCustom()){runReport('custom');}">Create Report</div>
   </div>

</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=radio]').css('width', 'auto').css('border', 'none');
    }

    function disableOthers(selected) {
        if (selected.value == "1") {
            $('#custom-condition1').prop('disabled', false);
            $('#custom-condition1value').prop('disabled', false);
            $('#custom-condition2').prop('disabled', 'disabled');
            $('#custom-condition2value').prop('disabled', 'disabled');
            $('#custom-occurences').prop('disabled', 'disabled');
            $('#custom-changedBy').prop('disabled', 'disabled');
        } else if (selected.value == "2") {
            $('#custom-condition1').prop('disabled', 'disabled');
            $('#custom-condition1value').prop('disabled', 'disabled');
            $('#custom-condition2').prop('disabled', false);
            $('#custom-condition2value').prop('disabled', false);
            $('#custom-occurences').prop('disabled', false);
            $('#custom-changedBy').prop('disabled', 'disabled');            
        } else if (selected.value == "3") {
            $('#custom-condition1').prop('disabled', 'disabled');
            $('#custom-condition1value').prop('disabled', 'disabled');
            $('#custom-condition2').prop('disabled', 'disabled');
            $('#custom-condition2value').prop('disabled', 'disabled');
            $('#custom-occurences').prop('disabled', 'disabled');
            $('#custom-changedBy').prop('disabled', false);
        }
    }
    function validateCustom() {
        var messageArea = $('#idCustomReport').find('.dynamic-content-message');
        removeError(messageArea);
        var selected = $('input:radio[name=custom-condition]:checked').val();
        if (selected == "1") {
            if ($('#custom-condition1value').val()) {
                return true;
            } else {
                showError('Value field entry is required.', messageArea);
            }
        } else if (selected == "2") {
            if ($('#custom-condition2value').val()) {
                return true;
            } else {
                showError('Value field entry is required.', messageArea);
            }
        } else if (selected == "3") {
            if ($('#custom-changedBy').val()) {
                return true;
            } else {
                showError('Changed by entry is required.', messageArea);
            }
        }
        return false;
    }
</script>