﻿<div id="data-form">

    <div class="popup-title">
       DECLINE INVITATION
    </div>
    
    <div class="popup-body">
      
            <p>Decline the connection invitation from $Fullname$?</p>
            <input name="txtInvitationId" type="hidden" id="txtInvitationId" value="$InvitationId$" />

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">DECLINE</div>
 
    </div>

</div>
