﻿<div id="data-form">
    <div class="popup-title">
        DELETE ALERT RULE
    </div>
    <div class="popup-body">
            <p>Are you sure you want to delete the alert rule: $Subject$?</p>

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">DELETE</div>
 
    </div>

</div>
