﻿<div id="data-form">

    <div class="popup-title">
        DELETE GROUP
    </div>
    
    <div class="popup-body">
      
            <p>Are you sure you want to delete group $GroupName$?</p>
            <input name="txtGroupId" type="hidden" id="txtGroupId" value="$GroupId$" />

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">DELETE</div>
 
    </div>

</div>