﻿<div id="data-form">

    <div class="popup-title">
        DELETE ANNOUNCEMENT
    </div>
    
    <div class="popup-body">
      
            <p>Are you sure you want to delete this announcement?</p>
            <input name="txtId" type="hidden" id="txtId" value="$Id$" />
            <div class='cancel-popup gradient-button float-right sixcol'>CANCEL</div>
            <div class='submit-popup gradient-button float-right'>DELETE</div> 
    </div>

</div>