﻿<div id="data-form">

    <div class="popup-title">
        DISCONNECT PATIENT/PARTICIPANT
    </div>
    
    <div class="popup-body">
      
            <p>Are you sure you want to disconnect from  $ParticipantName$?</p>
            <input name="txtParticipantId" type="hidden" id="txtParticipantId" value="$ParticipantId$" />

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">DISCONNECT</div>
 
    </div>

</div>