﻿<div id="data-form">
    <div class="popup-title">
        $Title$
    </div>
    <div class="popup-body">
            <p>$Content$</p>

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">DISMISS</div>
 
    </div>

</div>
