﻿<div class="general-settings-area">
    <div class="twelvecol first">
       <div class="settings-title"> <label>Who</label> </div>
    </div>
    <div class="twelvecol first">
        <select required name="download-scope" id="download-scope" onchange="scopeUpdate(this);">
            <option value="individual">Individual Patients/Participants</option>
            <option value="group">Patient/Participant Groups</option>
            <option value="all">All Patients/Participants</option>
            <option value="contact">All Patients/Participants - Contact List</option>
        </select>
    </div>
    <hr />
    <div id="individual">
        <div class="twelvecol first">
            <div class="twelvecol first">
                 <div class="settings-title"> <label>Select Patient/Participants</label> </div>
            </div>
            <div class="scroll-small" id="download-participants"> 
                $PatientChecklist$
            </div>
        </div>
    </div>

    <div id="group" class="force-hide">
        <div class="twelvecol first">
            <label>Select Patient/Participant Group</label>
        </div>
        <div class="twelvecol first">
            $GroupOptions$
        </div>
    </div>

    <div class="twelvecol first">
        <div class="gradient-button float-right" onclick="if(validateDownload()){runReport('download');}">Create Report</div>
    </div>
</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=checkbox]').css('width', 'auto').css('border', 'none');
    }

    function scopeUpdate(selection) {
        if (selection != null) {
            var selectedValue = selection.options[selection.selectedIndex].value;
            if (selectedValue == "individual") {
                $('#individual').removeClass('force-hide');
                $('#group').addClass('force-hide');
            } else if (selectedValue == "group") {
                $('#individual').addClass('force-hide');
                $('#group').removeClass('force-hide');
            } else { //all, default
                $('#individual').addClass('force-hide');
                $('#group').addClass('force-hide');
            }
        }
    }
    function validateDownload() {
        var messageArea = $('#idDownloadReport').find('.dynamic-content-message');
        removeError(messageArea);

        if ($('#download-scope').val() == "individual" && $('#download-participants input:checked').length == 0) {
            showError('At least one patient/participant must be selected.', messageArea);
            return false;
        }
        return true;
    }
</script>