﻿<div id="data-form">
    <div class="popup-title">
        EDIT RESOURCE
    </div>
    <div class="popup-body">

        <!-- BEGIN FIRST COLUMN -->
        <div class="twelvecol first">
            <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
                <label class="twelvecol first">Title</label>
                <input type="text" id="txtTitle" name="txtTitle" value="$Title$" maxlengnth="80" />

                <label class="twelvecol first">Link</label>
                <input type="text" id="urlLink" name="urlLink" value="$Link$" placeholder="http://" maxlengnth="25"/>

                <label class="twelvecol first">Content</label>
                <textarea class="twelvecol first" id="txtContent" name="txtContent">$Content$</textarea>

                <label class="twelvecol first">Expiration Date</label>
                <input type="text" class="sixcol first date-picker" id="txtDate" name="txtDate" value="$Expiration Date$" 
                        data-beatpicker="true" placeholder="YYYY-MM-DD" />

                <input name="txtId" type="hidden" id="txtId" value="$Id$" />
            </div>

            <div class="twelvecol first">
                <div class='cancel-popup gradient-button float-right sixcol'>CANCEL</div>
                <div class='submit-popup gradient-button float-right sixcol first'>SAVE</div>
            </div>

        </div>
    </div>
</div>