﻿<div id="data-form">

    <div class="popup-title">
        EDIT GROUP
    </div>
    
    <div class="popup-body" id="group-popup">
      
        <!--<p>Update a group instructional text</p>-->         

        <div class="twelvecol first">
            <label class="text-left">Group Name: </label>
        </div>
        <div class="twelvecol first">
            <input name="txtGroupName" value="$txtGroupName$" class="required" type="text" />
        </div>
        <div class="twelvecol first">
            <label class="text-left">Description: </label>
        </div>
        <div class="twelvecol first">
            <textarea name="txtDescription" class="short required">$txtDescription$</textarea>
        </div>
        <div class="twelvecol first">
            <label class="text-left">Group Members: </label>
        </div>
        <div class="blue-text-area scroll-small"> 
            $GroupMembers$
        </div>

        <input name="hidGroupId" type="hidden" id="hidGroupId" value="$hidGroupId$" />

        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button float-right sixcol">SAVE</div>

    </div>

</div>
<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=checkbox]').css('width', 'auto').css('border', 'none');
    }
</script>