﻿<div id="data-form">

    <div class="popup-title">
        EDIT GROUP
    </div>
    
    <div class="popup-body" id="group-popup">

        <!--<p>Create a group instructional text</p>-->         
        <input name="txtGroupId" type="hidden" id="txtGroupId" value="$GroupId$" />

        <div class="twelvecol first">
            <label class="text-left">Group Name: </label>
        </div>
        <div class="twelvecol first">
            <input name="txtGroupName" value="$GroupName$" class="required" type="text" />
        </div>
        <div class="twelvecol first">
            <label class="text-left">Description: </label>
        </div>
        <div class="twelvecol first">
            <textarea name="txtDescription" class="short required">$Description$</textarea>
        </div>

        <div class="twelvecol first">
            <label class="text-left">Add/Remove: </label>
        </div>
        <div class="twelvecol first">
                        
            <div class="row">
                    <div class="inline-input"><input name="addRemove" value="both" type="radio" default="default" $addRemoveBothChecked$ /></div>
                    <div class="inline-text"><label>Add and remove automatically</label></div>
            </div>
            <div class="row">
                <div class="inline-input"><input name="addRemove" value="add" type="radio" $addRemoveAddChecked$ /></div>
                <div class="inline-text"><label>Add automatically, but do not remove</label></div>
            </div>

        </div>
                    
        <div class="twelvecol first">
            <label class="text-left">Age: </label>
        </div>
                    
        <div class="twelvecol first">
            <div class="row">
                    <div class="inline-input"><input name="age" value="above" id="age-above" type="radio" $ageAboveChecked$ /></div>
                    <div class="inline-text"><label for="age-above">Above</label></div>
                    <div class="inline-input"><input name="ageAbove" value="$ageAbove$" type="text" maxlength="3" /></div>
                    <div class="inline-input"><input name="age" value="below" id="age-below" type="radio" $ageBelowChecked$ /></div>
                    <div class="inline-text"><label for="age-below">Below</label></div>
                    <div class="inline-input"><input name="ageBelow" value="$ageBelow$" type="text" maxlength="3" /></div>
                    <div class="inline-input"><input name="age" value="any" id="age-any" type="radio" default="default" $ageAnyChecked$ /></div>
                    <div class="inline-text"><label for="age-any">Any</label></div>
            </div>
        </div>

        <div class="twelvecol first">
            <label class="text-left">Gender: </label>
        </div>

        <div class="twelvecol first">
                    
            <div class="inline-input"><input name="gender" value="male" id="gender-male" type="radio" $genderMaleChecked$ /></div>
            <div class="inline-text"><label for="gender-male">Male</label></div>
            <div class="inline-input"><input name="gender" value="female" id="gender-female" type="radio" $genderFemaleChecked$ /></div>
            <div class="inline-text"><label for="gender-female">Female</label></div>
            <div class="inline-input"><input name="gender" value="both" id="gender-both" type="radio" default="default" $genderBothChecked$ /></div>
            <div class="inline-text"><label for="gender-both">Both</label></div>
                       
        </div>

        <div class="twelvecol first">
            <label class="text-left">Rules: </label>
        </div>

        <div class="twelvecol first">
            <div class="group-rule-list">
                          
                <div class="add-button-column">
                    <div class="add-button create-fields" data-function="updateNewFields"></div>
                </div>
                <div class="repeater-fields">
                    $GroupRuleEntries$
                </div> <!-- repeater-fields -->
                <input type="hidden" name="repeater-number" id="repeater-number" value="$repeaterNumber$" />

            </div> <!-- group-rule-list -->
            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">SAVE</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=radio]').css('width', 'auto').css('border', 'none');
    }

    function updateNewFields() {
        var num = $('#repeater-number').val();
        setFields("", (num > 0) ? "-" + num : "");
    }
    function updateFields(dataTypeField) {
        if (dataTypeField != null) {
            var selectedValue = dataTypeField.options[dataTypeField.selectedIndex].value;
            var name = dataTypeField.name;
            setFields(selectedValue, (name.indexOf("-") != -1) ? "-" + name.split("-")[1] : "");
        }
    }
    function setFields(selectedValue, suffix) {
        //first reset to normal setup
        $("#period" + suffix).removeClass('force-hide').prop('disabled', false);
        $("#periodConnected" + suffix).addClass('force-hide').prop('disabled', 'disabled');

        $("#readingType" + suffix).parent().parent().removeClass('force-hide');
        $("#above" + suffix).parent().parent().removeClass('force-hide');
        $("#below" + suffix).parent().parent().removeClass('force-hide');
        $("#betweenStart" + suffix).parent().parent().removeClass('force-hide');

        $("#readingType" + suffix).removeClass('force-hide').prop('disabled', false);
        $("#readingTypeBmi" + suffix).addClass('force-hide').prop('disabled', 'disabled');

        //apply dynamic updates as needed 
        switch (selectedValue) {
            case "connected":
                //hide period-patient and show period-connected
                $("#period" + suffix).addClass('force-hide').prop('disabled', 'disabled');
                $("#periodConnected" + suffix).removeClass('force-hide').prop('disabled', false);
            case "active":
            case "inactive":
                //hide reading type & above/below/between rows for all 3 cases above
                $("#readingType" + suffix).parent().parent().addClass('force-hide');
                $("#above" + suffix).parent().parent().addClass('force-hide');
                $("#below" + suffix).parent().parent().addClass('force-hide');
                $("#betweenStart" + suffix).parent().parent().addClass('force-hide');
                break;
            case "bmi":
                //limit reading type to latest only
                $("#readingType" + suffix).addClass('force-hide').prop('disabled', 'disabled');
                $("#readingTypeBmi" + suffix).removeClass('force-hide').prop('disabled', false);
                break;
        }
    }
</script>