﻿<div id="data-form">

    <div class="popup-title">
        FORGOT PASSWORD OR FORGOT USERNAME
    </div>
    
    <div class="popup-body">

        <p>Enter your user name or e-mail address below and we will send you a link to reset your password.</p>
        <label class="text-left">Username: </label>
        <input name="txtUsername" type="text" id="txtUsername" class="required" value="$Username$" />
        <div class='cancel-popup gradient-button float-right sixcol first'>CANCEL</div>
        <div class='submit-popup gradient-button float-right'>CONTINUE</div>

        <hr clear="all" />

        <p>If you've forgotten your user name, please enter your e-mail address.</p>
        <label class="text-left">E-Mail Address: </label>
        <input name="txtEmailAddress" type="text" id="txtEmailAddress" class="required" value="$EmailAddress$" />
        <div class='cancel-popup gradient-button float-right sixcol first'>CANCEL</div>
        <div class='submit-popup gradient-button float-right'>CONTINUE</div> 

    </div>


</div>