﻿<div class="accordion-container my-groups-accordion">
    <div class="general-trigger">

        <div class="edit-icon popuplink" id="idEditGroupPopup" data-page="Pages/Groups" data-method="$GroupEditMethod$" data-id="$GroupID$" data-refresh-ids="idControlGroupList"></div>
        <div class="trash-icon popuplink" id="idDeleteGroupPopup" data-page="Pages/Groups" data-method="DeleteGroupPopup" data-id="$GroupID$" data-refresh-ids="idModuleHeader2,idControlGroupList"></div>
        <div class="accordion-arrow inner-bind"></div>

        <div class="message-title inner-bind">
            $GroupName$ ($TotalMembers$)
        </div>

    </div>
    <div class="general-content">

        <p>$Description$</p>

        <!-- participants -->
        <table class="styled-table">
            <tr>
                <th>Group Members</th>
                <th>YOB</th>
                <th>last reading</th>
                <th>Added to group</th>
                <th>Joined Heart360</th>
            </tr>
            $ParticipantList$
        </table>

        <br />

        <!-- alert rules -->
        <table class="styled-table">
            <tr>
                <th>Alert rules for this group</th>
                <th><div class="action popuplink" data-page="Pages/Groups" data-method="AddGroupAlertRulePopup" data-id="$GroupID$" data-refresh-ids="idControlGroupList,idMouduleHeader1">ADD ALERT RULE +</div></th>
                <th class="last">Actions</th>
            </tr>
            $AlertRuleList$
        </table>

    </div><!-- End .general-content -->
</div><!-- End .accordion-container -->
