﻿<div id="data-form">
    <div class="twelvecol tablet-twelvecol mobile-twelvecol first general-settings-area">
        <div class="settings-title">
            PERSONAL INFORMATION
        </div>

        <div class="twelvecol first">
            <label class="text-left">$Ethnicity$</label>
        </div>
        <div class="twelvecol first">
            <label class="text-left">$Gender$</label>
        </div>

        <hr />

        <div class="settings-title">
            HEALTH HISTORY
        </div>

        <div class="twelvecol first">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Height</td><td>$Height$</td></tr>
                    <tr><td>Weight in pounds</td><td>$Weight$</td></tr>
                    <tr><td>Blood Pressure</td><td>$BloodPressure$</td></tr>
                    <tr><td>Blood Type</td><td>$BloodType$</td></tr>
                    <tr><td>Allergies</td><td>$Allergies$</td></tr>
                    <tr><td>Taking blood pressure medication</td><td>$BPMeds$</td></tr>
                    <tr><td>On a hypertension diet</td><td>$HDiet$</td></tr>
                    <tr><td>Have kidney disease</td><td>$Kidney$</td></tr>
                    <tr><td>Have diabetes</td><td>$Diabetes$</td></tr>
                    <tr><td>Have a family history of heart disease</td><td>$HDFamily$</td></tr>
                    <tr><td>Have been diagnosed with heart disease</td><td>$HDDiagnosed$</td></tr>
                    <tr><td>Have a family history of stroke</td><td>$Stroke$</td></tr>
                    <tr><td>Smoke</td><td>$Smoke$</td></tr>
                    <tr><td>Tried to quit smoking</td><td>$QuitSmoking$</td></tr>
                </tbody>
            </table>
        </div>

        <hr />

    </div>

    <!-- NOTE: if this is going to submit a form, then we need to extend the top div with id=data-form -->
    <div class="twelvecol mobile-twelvecol first">
        <div class='submit-popup gradient-button print-popup float-right'>Print</div>
    </div>
</div>
