﻿<div class="general-settings-area">

    <div class="tabs-container">
        <input type="hidden" name="individual-tabSelected" id="individual-tabSelected" value="1" />
        <div class="tabs-header">
            <div id="tab1action" data-tabcontent="tab1" class="tab tab-individual active" onclick="tabSelected('1');">Select Patient/Participants</div>
            <div id="tab2action" data-tabcontent="tab2" class="tab tab-group" onclick="tabSelected('2');">Select Group</div> 
        </div>
                
        <div class="tabs-content">
            <div id="tab1" class="tab1 tab-content">    
                <div class="twelvecol first">
                    <div class="scroll-small" id="individual-participants"> 
                        $PatientChecklist$
                    </div>
                </div>
            </div>

            <div id="tab2" class="tab2 tab-content">
                <div class="twelvecol first">
                    $GroupOptions$
                </div>
            </div>
        </div>
    </div>

    <hr />
   
    <div class="settings-title"><label class="text-left">Period of Report: </label></div>
    <div class="sevecol first">
        <select name="individual-reportPeriod" id="individual-reportPeriod">
            <option value="3m">Last 3 Months</option>
            <option value="6m">Last 6 Months</option>
            <option value="9m">Last 9 Months</option>
            <option value="1y">Last Year</option>
            <option value="2y">Last 2 Years</option>
        </select>
    </div>

    <div class="twelvecol first">
        <input type="checkbox" name="individual-addMultiGraph" id="individual-addMultiGraph" onchange="udpateOptions(this);"/>
        <label class="text-right">Add graph with multiple data types</label>
    </div>
    <hr />
    <div id="individual-dataReports">
        <div class="twelvecol first">
            <div class="settings-title"><label class="text-left">Individual data reports: </label></div>
            <table class="styled-table">
                <tr>
                    <th />
                    <th>Table</th>
                    <th>Chart</th>
                </tr>
                <tr>
                    <td>Blood Pressure</td>
                    <td><input type="checkbox" name="individual-bpTable" value="true" /></td>
                    <td><input type="checkbox" name="individual-bpChart" value="true" /></td>
                </tr>
                <tr>
                    <td>Blood Glucose</td>
                    <td><input type="checkbox" name="individual-bgTable" value="true" /></td>
                    <td><input type="checkbox" name="individual-bgChart" value="true" /></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td><input type="checkbox" name="individual-wTable" value="true" /></td>
                    <td><input type="checkbox" name="individual-wChart" value="true" /></td>
                </tr>
                <tr>
                    <td>Physical Activity</td>
                    <td><input type="checkbox" name="individual-paTable" value="true" /></td>
                    <td><input type="checkbox" name="individual-paChart" value="true" /></td>
                </tr>
                <tr>
                    <td>Cholesterol</td>
                    <td><input type="checkbox" name="individual-cTable" value="true" /></td>
                    <td><input type="checkbox" name="individual-cChart" value="true" /></td>
                </tr>
            </table>
        </div>    
    </div>

    <div id="individual-multiGraph" class="force-hide">
        <div class="twelvecol first">
            <label class="text-left">Y-Axis Scale Group: </label>
            <select name="individual-yAxis" id="individual-yAxis" onchange="autoSelectGroup(this);">
                <option value="">Select One</option>
                <option value="bp">Blood Pressure</option>
                <option value="c">Cholesterol</option>
                <option value="w">Weight</option>
                <option value="bg">Blood Glucose</option>
            </select>
        </div>

        <div id="individual-multiGroups" class="twelvecol first">
            <label class="text-left">Select groups to be included in the graph: </label>
            <div class='twelvecol first'>
                <input type="checkbox" name="individual-bpGroup" id="individual-bpGroup" value="true" />
                <label>Blood Pressure</label>
            </div>
            <div class='twelvecol first'>
                <input type="checkbox" name="individual-cGroup" id="individual-cGroup" value="true" />
                <label>Cholesterol</label>
            </div>
            <div class='twelvecol first'>
                <input type="checkbox" name="individual-wGroup" id="individual-wGroup" value="true" />
                <label>Weight</label>
            </div>
            <div class='twelvecol first'>
                <input type="checkbox" name="individual-bgGroup" id="individual-bgGroup" value="true" />
                <label>Blood Glucose</label>
            </div>
        </div>
    </div>

    <div class="twelvecol first">
        <div class="gradient-button float-right" onclick="if(validateIndividual()){runReport('individual');}">Create Report</div>
    </div>
</div>

<script type="text/javascript">
    //fix IE10 checkboxes
    if (navigator.userAgent.indexOf('MSIE 10.0') != -1) {
        $('input[type=checkbox]').css('width', 'auto').css('border', 'none');
    }

    function udpateOptions(checkbox) {
        if (checkbox.checked) {
            $('#individual-dataReports').addClass('force-hide');
            $('#individual-multiGraph').removeClass('force-hide');
        } else {
            $('#individual-dataReports').removeClass('force-hide');
            $('#individual-multiGraph').addClass('force-hide');
        }
    }
    function tabSelected(tab) {
        $('#individual-tabSelected').val(tab);
    }
    function autoSelectGroup(selection) {
        if (selection != null) {
            var selectedValue = selection.options[selection.selectedIndex].value;
            if (selectedValue == "bp") {
                $('#individual-bpGroup').prop('checked', true);
            } else if (selectedValue == "c") {
                $('#individual-cGroup').prop('checked', true);
            } else if (selectedValue == "w") {
                $('#individual-wGroup').prop('checked', true);
            } else if (selectedValue == "bg") {
                $('#individual-bgGroup').prop('checked', true);
            }
        }
    }
    function validateIndividual() {
        var messageArea = $('#idIndividualReport').find('.dynamic-content-message');
        removeError(messageArea);

        if ($('#individual-tabSelected').val() == "1" && $('#individual-participants input:checked').length == 0) {
            showError('At least one patient/participant must be selected.', messageArea);
            return false;
        }

        if ($('#individual-addMultiGraph').is(':checked')) {
            if ($('#individual-yAxis').val() == '') {
                showError('Y-Axis Scale Group is required.', messageArea);
                return false;
            }
            if ($('#individual-multiGroups input:checked').length == 0) {
                showError('At least one group must be selected to be included in the graph.', messageArea);
                return false;
            }
        } else {
            if ($('#individual-dataReports input:checked').length == 0) {
                showError('At least one data report must be selected.', messageArea);
                return false;
            }
        }

        return true;
    }
</script>