﻿<div id="data-form">

    <div class="popup-title">
       INVITE PATIENT/PARTICIPANT BY EMAIL
    </div>
    
    <div class="popup-body">
        <p>Connect with your patients/participants by inviting them to share their data. Invitations to Heart360<sup>&#174;</sup> can be sent online or printed out to present to them in person or by mail. Just fill out the patient/participant information in the fields provided below to get started.</p>
        <p>In order for your patient/participant to accept your invitation and allow access to their account, your patient/participant will need to contact you for your provider/volunteer code, which can be found at the top of the main tile.</p>
        

        <div class="twelvecol first">
            <div class="group-rule-list">
                          
               

                <div class="repeater-fields">
                    <div class="repeat-area">
                        <div class="group-rule-entry">

                            <div class="remove-button remove-fields force-hide"></div>
                                    
                            <div class="twelvecol first">
                                    <label class="text-left">Name<span class="required">*</span></label>
                                    <input name="txtFirstName" type="text" id="txtFirstName" class="required"/>
                            </div>

                            <div class="twelvecol first">
                                <label class="text-left">Last Name<span class="required">*</span></label>
                                <input name="txtLastName" type="text" id="txtLastName" class="required"/>
                            </div>
                                            
                            <div class="twelvecol first">
                                <label class="text-left">Email<span class="required">*</span></label>
                                <input name="txtEmail" type="text" id="txtEmail" class="required" />
                            </div>
                            <div class="twelvecol first">
                                <label class="text-left">Confirm Email<span class="required">*</span></label>
                                <input name="txtConfirmEmail" type="text" id="txtConfirmEmail" class="required"/>
                            </div>                  
                        </div> <!-- group-rule-entry -->     
                    </div> <!-- repeat-area -->
                </div> <!-- repeater-fields -->

                <div class="add-button-column">
                    <div class="add-button create-fields">Add Field +</div>
                </div>

                <input type="hidden" name="repeater-number" id="repeater-number" value="0" />
                           
            </div> <!-- group-rule-list -->
        </div>
        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button float-right sixcol">INVITE</div>
 
    </div>

</div>
