﻿<div id="data-form">

    <div class="popup-title">
       INVITE PATIENT/PARTICIPANT BY PRINT
    </div>
    
    <div class="popup-body">
        <div class="print-information-area">
            <div id="logo">
                <img src="$LogoPath$" alt="American Heart Association"></img>
    	    </div>

            <p>$ProviderName$ has invited you to sign up for Heart360<sup>&#174;</sup>, the American Heart Association’s
                    online cardiovascular risk management center that gives patients powerful tools
                    to help them improve their heart health.</p>
            <p>To join please go to <b>$EntryUrl$</b> to enter your details.</p>
            <p>Provider/Volunteer code: $ProviderCode$</p>
            <p>Thank you,</p>
            <p>$ProviderName$</p>

            <p class="small-text">
            Heart360<sup>&#174;</sup> is not intended to provide medical advice or treatment and is not a substitute from your professional medical judgment based on the individual medical needs of your patient or participant. The information provided by your patient can help you work with your patient/participant to map a successful path to heart health.<br/><br/>You understand that data entered by your patient/participant into Heart360<sup>&#174;</sup> is self-reported and may contain errors, may be out-dated, or may be later changed by the patient/participant.<br/><br/>Heart360<sup>&#174;</sup> is not a medical record. It is your responsibility to print, or otherwise record, in your medical record information from Heart360<sup>&#174;</sup> you deem to be relevant to the treatment or diagnosis of your patient/participant at the time of such diagnosis and treatment. Heart360<sup>&#174;</sup> cannot retrieve historical information on your patient/participant.<br/><br/>Heart360<sup>&#174;</sup> provides notifications, alerts, messaging, and other features to assist you in managing the information you view in your patient's/participant's Microsoft<sup>&#174;</sup> HealthVault™ accounts. These features are provided for your convenience only and are not to be used as a substitute for your professional medical judgment or direct consultation with your patient/participant.
            </p>

        </div>
        <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
        <div class="submit-popup gradient-button print-popup float-right sixcol">PRINT</div>
        
    </div>

</div>
