﻿<div class="accordion-container my-messages-accordion">
    <div $UnreadMessageId$ class="general-trigger" $UnreadMessageHandler$ >

        <div class="edit-icon popuplink" id="idReplyMessagePopup" data-page="$WebMethodPage$" data-method="ReplyMessagePopupHandler" data-id="$ReplyDataIds$" data-refresh-ids="idControlSentMessageList"></div>
        <div class="trash-icon popuplink" id="idDeleteMessagePopup" data-page="$WebMethodPage$" data-method="DeleteMessagePopupHandler" data-id="$DeleteDataIds$" data-refresh-ids="idControlInboxMessageList,idControlSentMessageList,idControlTrashMessageList"></div>
        <div class="accordion-arrow inner-bind"></div>

        <div class="message-title inner-bind">
            $Subject$
        </div>
        <div class="message-subject">
            $From$
        </div>
    </div>
    <div class="general-content">
        <p>$Content$</p>
    </div><!-- End .general-content -->
</div><!-- End .accordion-container -->
