﻿<!-- ### BEGIN Module Header Widget ### -->
<div id="$Module$" class="$MainClasses$">
    <div class="top-tile">
		<a id="aModuleLink1" href="$ModuleLink$">$ModuleTitle$</a>
        $PopupLink1$
        $PopupLink2$
	</div>

	<div class="middle-tile">
   		<a id="aModuleLink2" class="tile-button" href="$ModuleLink$">
    		<div class="tile-icon"></div>
        </a>

		<div class="tile-icon-color"></div>
			
		<div class="tile-value">
			<div class="right-value $VerticalBar$">$ModuleRightValue$</div><div class="left-value">$ModuleLeftValue$</div>
		</div>
	
	</div>

		<div class="bottom-tile">
		</div>
</div>
<!-- ### END Module Header Widget ### -->

