﻿<div id="data-form">
    <!-- spacing -->
    <div class="twelvecol mobile-twelvecol first">
        <p> </p>
    </div>
    <!-- Filter widgets: search and group dropdown -->
    <div class="twelvecol mobile-twelvecol first">
        <div class="search-box">
            <input name="txtSearch" type="text" id="txtSearch" value="$txtSearch$"/>
        </div>
        <div class="submit-box">
            <div class="submit-popup float-right search-icon"></div>
        </div>
    </div>


    <div class="fivecol mobile-twelvecol first">
        <select name="ddlGroup" id="ddlGroup" class="dropdowns submit-on-change">
                $ddlGroup$
        </select>
    </div>

    <div class="sixcol mobile-twelvecol">
        <br />
    </div>

    <!-- patients / participants table -->
    <table class="styled-table patients-list">
       <thead>
        <tr>
            <th data-sort="string-ins" class="medium-col"><div class="column-name-box">Name</div></th>
            <th data-sort="string"><div class="column-name-box">Last Reading</div></th>
            <th data-sort="int"><div class="column-name-box"><div class="table-text ">mm Hg</div> <span class="tip" data-tip="Blood Pressure" title="Blood Pressure"><div class="table-icon icon1"></div></span></div></th>
            <th data-sort="int"><div class="column-name-box"><div class="table-text ">MG/DL</div> <span class="tip" data-tip="Blood Glucose" title="Blood Glucose"><div class="table-icon icon2"></div></span></div></th>
            <th data-sort="int"><div class="column-name-box"><div class="table-text ">MG/DL</div> <span class="tip" data-tip="Cholesterol" title="Cholesterol"><div class="table-icon icon3"></div></span></div></th>
            <th data-sort="int"><div class="column-name-box"><div class="table-text ">LB</div>  <span class="tip" data-tip="Weight" title="Weight"><div class="table-icon icon4"></div></div></span></th>
            <th class="action-column">Disconnect</th>
        </tr>
        </thead>
        <tbody>
         $ParticipantList$
        </tbody>
    </table>

    <!-- NOTE: if this is going to submit a form, then we need to extend the top div with id=data-form -->

    <div class="twelvecol mobile-twelvecol first">
        <div class='submit-popup gradient-button print-popup float-right'>Print List</div>
    </div>

    <div class="twelvecol mobile-twelvecol first" style="margin-top: 10px;">
        <div class="blue-text-area">$ContactListReportNote$</div>
    </div>

</div>
<script type="text/javascript">
    if ($('.open-on-no-invitations').length > 0) {
        $('.open-on-no-invitations').parents('.general-content').show();
        $('.open-on-no-invitations').parents('.general-content').parent().find('.general-trigger').addClass('general-trigger-selected');
    }
</script>