﻿
<div id="data-form">
    <!-- BEGIN FIRST COLUMN -->
    <div class="eightcol mobile-twelvecol first">

        <div class="twelvecol first">

            <div class="twocol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Salutation</label>
                <select name="ddlSalutation" id="ddlSalutation" class="dropdowns">$ddlSalutation$</select>
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">First Name<span class="required">*</span></label>
                <input name="txtFirstName" type="text" id="txtFirstName" class="required" value="$txtFirstName$"/>
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Last Name<span class="required">*</span></label>
                <input name="txtLastName" type="text" id="txtLastName" class="required" value="$txtLastName$"/>
            </div>
        
        </div>
        
        <div class="twelvecol first">
            <!-- Organization name row -->
            <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Organization Name<span class="required">*</span></label>
                <input name="txtOrganization" type="text" id="txtOrganization" value="$txtOrganization$" />
            </div>

             <!-- Address row -->
            <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Organization Address</label>
                <input name="txtAddress" type="text" id="txtAddress" value="$txtAddress$" />
            </div>

        </div>

         <div class="twelvecol first">
            <!-- City / State Zip row -->
            <div class="fivecol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">City<span class="required">*</span></label>
                <input name="txtCity" type="text" id="txtCity" value="$txtCity$" />
            </div>

            <div class="twocol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">State<span class="required">*</span></label>
                <select name="ddlState" id="ddlState" class="dropdowns">$ddlState$</select>
            </div>

            <div class="fivecol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Zip code<span class="required">*</span></label>
                <input name="txtZipcode" type="text" id="txtZipcode" class="required" value="$txtZipcode$"/>
            </div>
        </div>

        <div class="twelvecol first">
            <!-- Phone numbers row -->
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Contact Phone Number<span class="required">*</span></label>
                <input name="txtPhoneNumber" type="text" id="txtPhoneNumber" value="$txtPhoneNumber$"/>
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Fax Number</label>
                <input name="txtFaxNumber" type="text" id="txtFaxNumber" value="$txtFaxNumber$"/>
            </div>
        </div>

        <div class="twelvecol first">
            <!-- Email row -->
            <div class="sixcol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Email<span class="required">*</span></label>
                <input name="txtEmail" type="text" id="txtEmail" class="required" value="$txtEmail$" />
            </div>
            <div class="sixcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Confirm Email<span class="required">*</span></label>
                <input name="txtConfirmEmail" type="text" id="txtConfirmEmail" class="required" value="$txtConfirmEmail$"/>
            </div>  
        </div>

    </div><!-- End First Column .eight-col -->


    <div class="fourcol mobile-twelvecol">
         <!-- Specialty row, hidden for Volunteer -->

        <div class="twelvecol tablet-twelvecol mobile-twelvecol first $HideSpeciality$">
            <label class="text-left">Specialty<span class="required">*</span></label>
            <select name="ddlSpeciality" id="ddlSpeciality" class="dropdowns">$ddlSpeciality$</select>
        </div>

           <!-- Website row -->
        <div class="twlevecol tablet-twelvecol mobile-twelvecol first">
            <label class="text-left">Website</label>
            <input name="txtWebsite" type="text" id="txtWebsite" value="$txtWebsite$"/>
        </div>

        <!-- Profile message row -->
        <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
            <label class="text-left">Profile Message</label>
            <textarea name="txtMessage" id="txtMessage">$txtMessage$</textarea>
        </div>

    </div>

    <div class="$HideButtons$">
        <p>To save your information, please make sure to click "Update". If you click "Cancel" or navigate away from this page your information will not be saved.</p>
    </div>
    <div class="twelvecol first $HideButtons$">
        <div class='submit-popup gradient-button float-right'>Save</div>
        <div class='reset-button gradient-button float-right'>Cancel</div>
    </div>

</div>