﻿<div class="accordion-container">
    <div class="general-trigger" >

        <div class="edit-icon popuplink" id="idEditNotePopup" data-page="Pages/SingleParticipant" data-method="EditNotePopupHandler" data-id="$EditNoteDataId$" data-refresh-ids="idControlNoteList"></div>
        <div class="trash-icon popuplink" id="idDeleteNotePopup" data-page="Pages/SingleParticipant" data-method="DeleteNotePopupHandler" data-id="$NoteId$" data-refresh-ids="idControlNoteList"></div>
        <div class="accordion-arrow inner-bind"></div>

        <div class="message-title inner-bind">
            $Title$
        </div>
        <div class="message-subject">
            $Date$
        </div>
    </div>
    <div class="general-content">
        <p>$Note$</p>
    </div><!-- End .general-content -->
</div><!-- End .accordion-container -->