﻿<table class="styled-table recieved-invitations">
    <tr>
        <th>Sent from</th>
        <th class="actions-column">Actions</th>
    </tr>
    $InvitationList$
</table>
<script type="text/javascript">
    if ($('.open-on-invitations').length > 0) {
        $('.open-on-invitations').parents('.general-content').show();
        $('.open-on-invitations').parents('.general-content').parent().find('.general-trigger').addClass('general-trigger-selected');
    }
</script>
