﻿<div id="data-form">

    <div class="popup-title">
       REINVITE BY EMAIL
    </div>
    
    <div class="popup-body">
      
            <p>Reinvite $Fullname$?</p>
            <input name="txtInvitationCode" type="hidden" id="txtInvitationCode" value="$InvitationCode$" />

            <div class="cancel-popup gradient-button float-right sixcol first">CANCEL</div>
            <div class="submit-popup gradient-button float-right sixcol">REINVITE</div>
 
    </div>

</div>
