﻿<div class="my-resource">
    <div class="edit-icon popuplink" id="idEditResourcePopup" data-page="Pages/Resources" data-method="EditResourcePopup" data-id="$Id$" data-refresh-ids="idResourceList"></div>
    <div class="trash-icon popuplink" id="idDeleteResourcePopup" data-page="Pages/Resources" data-method="DeleteResourcePopup" data-id="$Id$" data-refresh-ids="idModuleHeader6,idResourceList"></div>
    <div class="resource-title">$Title$</div>
    <br />
    <div class="resource-content">$Content$</div>
</div><!-- End .my-resource -->