﻿<div id="data-form">
    <div class="popup-title">
       SEND US YOUR FEEDBACK
    </div>
    
    <div class="popup-body">
        <div class="twelvecol first tablet-twelvecol mobile-twelvecol">
            <label class="twelvecol first">Feedback Type</label>
            <select name="txtType" id="txtType">
                $FeedbackTypeOptions$
            </select>

            <label class="twelvecol first">Comments</label>
            <textarea class="twelvecol first" id="txtComments" name="txtComments"></textarea>

            <label class="twelvecol first">I would like a response to my feedback.</label>
            <input type="checkbox" name="cbResponse" id="cbResponse" />
            
            <label class="twelvecol first">Email</label>
            <input type="text" name="txtEmail" id="txtEmail" />
        </div>

        <div class="twelvecol first">
            <div class='cancel-popup gradient-button float-right sixcol'>CANCEL</div>
            <div class='submit-popup gradient-button float-right sixcol first'>SUBMIT FEEDBACK</div>
        </div>

    </div>
</div>