﻿<div id="data-form">

    <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
        <h4>PERSONAL INFORMATION</h4>

        $ProfileInfoContent$

        <div class="twelvecol first">
            <!-- Username and Password row -->
            <div class="fourcol tablet-twelvecol mobile-twelvecol first">
                <label class="text-left">Username<span class="required">*</span></label>
                <input name="txtUsername" type="text" id="txtUsername" class="required" />
                <p>Note: Use a name that is easy to remember. This name cannot be changed.</p>
            </div>
            <div class="fourcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Password<span class="required">*</span></label>
                <input name="txtPassword" type="password" id="txtPassword" class="required"/>
            </div>
            <div class="fourcol tablet-twelvecol mobile-twelvecol">
                <label class="text-left">Confirm Password<span class="required">*</span></label>
                <input name="txtConfirmPassword" type="password" id="txtConfirmPassword" class="required"/>
            </div>
        </div>

        <!-- Need some spacing -->
        <div class="twelvecol tablet-twelvecol mobile-twelvecol first">
            <br /><br />
        </div>
        <h4>CONSENT AGREEMENT</h4>

        <div class="twelvecol first">
            <div class="scroll-medium">
                $Agreement$
            </div>
        </div>
        <p>To view AHA's Privacy Policy <a href="http://www.heart.org/HEARTORG/General/Privacy-Policy_UCM_300371_Article.jsp" target="_blank">click here.</a></p>

        <div class="twelvecol first">
            <input id="cbAgreeToTerms" name="cbAgreeToTerms" type="checkbox" style="width:3%;" />
            <label>I AGREE TO THE TERMS OF USE AS STATED ABOVE</label>
        </div>

        <div class="twelvecol first">
            <div class='submit-popup gradient-button float-right'>Continue</div>
            <div class='cancel-button gradient-button float-right'>Cancel</div>
        </div>

    </div>

</div>
