﻿<div class="general-settings-area">	
	<div class="twelvecol first">
	    <div class="settings-title"><label for="reportPeriod">PERIOD OF REPORT</label></div>
	</div>

	<div class="sevencol first">
	    <select required name="standard-reportPeriod" id="standard-reportPeriod">
	        <option value="3m">Last 3 Months</option>
	        <option value="6m">Last 6 Months</option>
	        <option value="9m">Last 9 Months</option>
	        <option value="1y">Last Year</option>
	        <option value="2y">Last 2 Years</option>
	    </select>
	</div>
	
	<div class="twelvecol first">
		<div class="gradient-button float-right" onclick="runReport('standard');">Create Report</div>
	</div>

</div>