﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Start.aspx.cs" Inherits="Heart360Web.Patient.MyLifeCheck.Start" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">	
    <!-- 
    Smart developers always View Source. 
    
    This application was built using Adobe Flex, an open source framework
    for building rich Internet applications that get delivered via the
    Flash Player or to desktops via Adobe AIR. 
    
    Learn more about Flex at http://flex.org 
    // -->
    <head runat="server">
        <title>My Life Check</title>         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Include CSS to eliminate any default margins/padding and set the height of the html element and 
		     the body element to 100%, because Firefox, or any Gecko based browser, interprets percentage as 
			 the percentage of the height of its parent container, which has to be set explicitly.  Initially, 
			 don't display flashContent div so it won't show if JavaScript disabled.
		-->
        <style type="text/css" media="screen"> 
			html, body	{ height:100%; }
			body { margin:0; padding:0; overflow:auto; text-align:center; 
			       background-color: #869ca7; }   
			#flashContent { display:none; }
        </style>
        
        <script language="JavaScript" type="text/javascript">

            <!--// Flash detection; False = redirect to non-Flash page
            var hasFlash = false;
            try {
              var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
              if (fo) {
                hasFlash = true;
              }
              else{
                window.location.href = 'http://mylifecheck.heart.org/mobile/';
              }
            } catch (e) {
              if (navigator.mimeTypes
                    && navigator.mimeTypes['application/x-shockwave-flash'] != undefined
                    && navigator.mimeTypes['application/x-shockwave-flash'].enabledPlugin) {
                hasFlash = true;
              }
              else{
                window.location.href = 'http://mylifecheck.heart.org/mobile/';
              }
            }

		<!--// Extended navigateToUrl interface -->
		function openWindow(pageUrl) {
			var winName = "";
			var winNew = window.open(pageUrl,winName,"toolbar=0,scrollbars=1,location=0,status=0,menubar=0,resizable=1,copyhistory=0,width=1000,height=760");
			if(!winNew) {
				getSwf().openWindowStatus(pageUrl, "FAILED");
			}
			else {
				winNew.moveTo((screen.availWidth - 1000) / 2, (screen.availHeight - 760) / 2);
				winNew.focus();
				getSwf().openWindowStatus(pageUrl, "SUCCESS");
			}
		};
			
		function getSwf() {
			if (navigator.appName.indexOf("Microsoft") != -1) {
				return window["idealcv-flex-app"];
			} 
			else {
				return document["idealcv-flex-app"];
			}
		};
		</script>
		
		<!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
        <!-- BEGIN Browser History required section ${useBrowserHistory}>
        <link rel="stylesheet" type="text/css" href="history/history.css" />
        <script type="text/javascript" src="history/history.js"></script>
        <!${useBrowserHistory} END Browser History required section -->  
		    
        <script type="text/javascript" src="swfobject.js"></script>
        <script type="text/javascript">
            <!--// For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. --> 
            var swfVersionStr = "10.0.0";
            <!--// To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
            var xiSwfUrlStr = "playerProductInstall.swf";
            var flashvars = {
		            		exportLoc:"/Pages/Patient/MyLifeCheck/DataExport.aspx",
            				gender:'<%=strGender%>', 
                    		age:'<%=strAge%>', 
                    		ethnicity:'', 
                    		height:'<%=strHeight%>', 
                    		zipCode:'', 
                    		zipNotUSA:'',
                    		hasExistConditions:'', 
                    		hasDiabetes:'',
                    		weight:'<%=strWeight%>', 
                    		exerciseMod:'', 
                    		exerciseVig:'', 
                    		fruitCups:'', 
                    		vegCups:'', 
                    		eatsFish:'',
                    		eatsWholeGrains:'', 
                    		eatsLessSugar:'', 
                    		eatsLessSodium:'',
                    		sbp:'<%=strSystolic%>',
                    		dbp:'<%=strDiastolic%>',
                    		dontKnowBP:'',
                    		takesMedBP:'',
                    		totChol:'<%=strTC%>',
                    		dontKnowChol:'',
                    		takesMedChol:'',
                    		bloodSugar:'<%=strBG%>',
                    		dontKnowBloodSugar:'',
                    		takesMedBloodSugar:'',
                    		smokingStatus:''};
            var params = {};
            params.quality = "high";
            params.bgcolor = "#869ca7";
            params.allowscriptaccess = "sameDomain";
            params.allowfullscreen = "true";
            var attributes = {};
            attributes.id = "idealcv-flex-app";
            attributes.name = "idealcv-flex-app";
            attributes.align = "middle";
            swfobject.embedSWF(
                "<%=strFlashFile%>", "flashContent", 
                "100%", "100%", 
                swfVersionStr, xiSwfUrlStr, 
                flashvars, params, attributes);
			<!--// JavaScript enabled so display the flashContent div in case it is not replaced with a swf object. -->
			swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>
    </head>
    <body>
        <!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
			 JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
			 when JavaScript is disabled.
		-->
        <div id="flashContent">
        	<p>
	        	To view this page ensure that Adobe Flash Player version 
				10.0.0 or greater is installed. 
			</p>
			<script type="text/javascript">
			    var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
			    document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
								+ pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>"); 
			</script> 
        </div>
	   	
       	<noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="idealcv-flex-app">
                <param name="movie" value="<%=strFlashFile%>" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#869ca7" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="<%=strFlashFile%>" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#869ca7" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                	<p> 
                		Either scripts and active content are not permitted to run or Adobe Flash Player version
                		10.0.0 or greater is not installed.
                	</p>
                <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
	    </noscript>		
   </body>
</html>
