﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    ##PROVIDER_SALUTATION## ##PROVIDER_NAME## has disconnected from you in Heart360<sup>&reg;</sup>.</h2> 
    They are no longer able to view your health information through Heart360<sup>&reg;</sup>.