﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    Follow the link below to create a new password for Heart360<sup>&reg;</sup>.</h2>
<a href="##LINK##" class="black" target="_blank" style=" color: #000;">##LINK##</a>