﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">##PATIENT_NAME##,</h2>
##PROVIDER_NAME## has invited you join Heart360<sup>&reg;</sup>, the American Heart
Association's online cardiovascular wellness center.<br />
<br />
<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">To connect with this Provider or Volunteer Mentor, click the link below and enter this Provider/Volunteer Mentor Code: ##PROVIDER_CODE##</h2>
<br />
<br />
Heart360<sup>&reg;</sup> provides a number of easy-to-use tools that can help you monitor and track your blood pressure, blood glucose, weight, exercise 
and other risk factors-and work with your provider or volunteer mentor to improve your health. Follow the link below to learn more about Heart360<sup>&reg;</sup>. 
<br />
<br />
<a style="color: Black;" href="##INVITATION_URL##" target="_blank">##INVITATION_URL##</a>
<br />
<br />
<span style="font-size: 12px; font-weight: bold;" class="heading">With Heart360<sup>&reg;</sup>
    you can track your:</span><br />
<br />
<img alt="Trackers" src="##SiteUrl##/EmailTemplates/images/TrackerTypes.gif" style="display:block;"/>