﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    Congratulations! ##PROVIDER_NAME## has accepted your invitation to Heart360<sup>&reg;</sup>.</h2>
<p>
    Your provider accepted your invitation to connect with them on Heart360<sup>&reg;</sup>!
    You are now ready to work with them on managing your heart health. Your provider
    can view your progress and send you messages through the Heart360<sup>&reg;</sup> system.</p>
