﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    Congratulations! You have successfully joined Heart360<sup>&reg;</sup>, the leading
    online cardiovascular health management tool that allows you to connect directly
    with individuals to help them monitor and manage their health.</h2>

<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">This is your Provider or Volunteer Mentor Code to connect with your Patients or Participants: ##PROVIDER_CODE##</h2>

With Heart360<sup>&reg;</sup> you can:
<ul>
    <li>Monitor your patients' or participants' health values such as blood pressure, cholesterol and weight and make sure they are logging their most current health data</li>
    <li>Set and receive alerts and notifications</li>
    <li>Group and filter patients or participants by health concerns, data inputs, staff assignment or other
        parameters</li>
    <li>View and print both patient and practice-based or group reports</li>
</ul>
It’s easy to get started! Just log in to your account and click on the “Invite Patient or Participant”
link. From there, you can print or e-mail invitations directly to your connections.<br /><br />
Thank you for joining Heart360<sup>&reg;</sup>!<br />
Heart360<sup>&reg;</sup>–Connect. Monitor. Empower.
<br />
Follow the link below to get started.
<br />
<br />
<a href="##LINK##" style="color: #000;" target="_blank">
    <img style="font-size: 18px;display:block" alt="Sign in" src="##SiteUrl##/EmailTemplates/images/sign-in.gif"
        border="0" /></a>