﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CompositeReportCtrl.ascx.cs"
    Inherits="Heart360Admin.Reports.Ctrls.Common.CompositeReportCtrl" %>
<asp:PlaceHolder EnableViewState="false" ID="ph" runat="server"></asp:PlaceHolder>
