﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LineGraphCtrl.ascx.cs"
    Inherits="Heart360Admin.Reports.Ctrls.Common.LineGraphCtrl" %>
<%@ Register Assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI.DataVisualization.Charting" TagPrefix="asp" %>
<%--<asp:Chart EnableViewState="false" ID="Chart1" runat="server" Width="665px" Height="200px" BorderDashStyle="Solid"
    BackGradientStyle="TopBottom" BorderWidth="2" BorderColor="181, 64, 1" Palette="None">
    <Series>
        <asp:Series IsVisibleInLegend="false" MarkerStyle=Circle Color="#CE2930" BorderWidth="2" BorderColor="#FFFFFF" ChartArea="ChartArea1" Name="Series1"
            ChartType="Line">
        </asp:Series>
    </Series>
    <ChartAreas>
        <asp:ChartArea Name="ChartArea1" Area3DStyle-Enable3D="false">
            <AxisY LineColor="#DEDFEE">
                <LabelStyle IsEndLabelVisible="true" Enabled="true" ForeColor="#ADA6AD" />
                <MajorGrid Enabled="false" />
                <MinorGrid Enabled="false" />
                <MajorTickMark Enabled="false" />
            </AxisY>
            <AxisX IsLabelAutoFit="true" Interval="1" LineColor="#ADA6AD">
                <LabelStyle Enabled="true" ForeColor="#ADA6AD" />
                <MajorGrid Enabled="false" />
                <MinorGrid Enabled="false" />
                <MajorTickMark Enabled="true" />
            </AxisX>
        </asp:ChartArea>
    </ChartAreas>
</asp:Chart>--%>
