﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/Home.Master" AutoEventWireup="true"
    CodeBehind="Login.aspx.cs" Inherits="Heart360Admin.Login" %>

<%@ Register Src="UserCtrls/LoginCtrl.ascx" TagName="LoginCtrl" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="content" class="content">
        <div class="copyBox" id="DivTacker" style="width:600px;">
            <uc1:LoginCtrl ID="LoginCtrl1" runat="server" />
        </div>
    </div>
</asp:Content>
