﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MLCFinal.aspx.cs" Inherits="Heart360Web.Patient.MyLifeCheck.MLCFinal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script type="text/javascript">
        if (window.opener != null) {
            window.opener.location.href = "/Pages/Patient/MyLifeCheck/UploadMLCToHV.aspx";
            window.close();
        }
        else {
            window.location.href = "/Pages/Patient/MyLifeCheck/UploadMLCToHV.aspx";
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
