﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="CreateTips.aspx.cs" Inherits="Heart360Admin.Pages.TipOfTheDay.Patient.CreateTips" %>

<%@ Register Src="~/UserCtrls/TipOfTheDay/Patient/CreateTips.ascx" TagName="CreateTips"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:CreateTips ID="CreateTips1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
