﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="TipList.aspx.cs" Inherits="Heart360Admin.Pages.TipOfTheDay.Patient.TipList" %>

<%@ Register Src="~/UserCtrls/TipOfTheDay/Patient/TipList.ascx" TagName="TipList"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:TipList ID="TipList1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
