﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/PatientPrinterFriendly.Master" AutoEventWireup="true" CodeBehind="PrinterFriendly.aspx.cs" Inherits="Heart360Web.Pages.Patient.PrinterFriendly" %>

<asp:Content ID="Content" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <asp:PlaceHolder ID="phControl" runat="server" />
</asp:Content>
