﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    You have received ##ALERT_MESSAGE## in Heart360<sup>&reg;</sup> in the past 24 hours.</h2>
To view your alerts, click the link below.
<br />
<br />
<a href="##PROVIDER_LINK##" style="color:#000;" target="_blank"><img style="font-size:18px;" alt="Sign in" src="##EmailAssetUrl##/sign-in.gif" border="0" /></a>