﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    You have received an alert in Heart360<sup>&reg;</sup> for one of your patients or participants.</h2>
    To view the alert, click the link below.
<br />
<br />
<a href="##LINK##"  target="_blank"><img alt="Sign in" style="font-size:18px" src="##EmailAssetUrl##/sign-in.gif" border="0" /></a>