﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true" CodeBehind="AddUser.aspx.cs" Inherits="Heart360Admin.Pages.User.AddUser" %>
<%@ Register Src="~/UserCtrls/User/AddUserCtrl.ascx" TagName="AddUserCtrl" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div class="copyBox">
<uc1:AddUserCtrl ID="AddUserCtrl1" DisplayMode="Add" runat="server" />
 <br />
        <br />
    </div>
</asp:Content>
