﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="ChangePassword.aspx.cs" Inherits="Heart360Admin.Pages.User.ChangePassword" %>

<%@ Register Src="~/UserCtrls/User/ChangePasswordCtrl.ascx" TagName="ChangePasswordCtrl"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:ChangePasswordCtrl ID="ChangePasswordCtrl1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
