
/*************
GENERAL STYLES
**************/

.wrap {
	position: relative;
	width: 1024px;
	margin: auto;
	height: auto;
	float: none;
}

#body {

	#grey-lines-area {
		
		h3 {
			font-size: 20px;
			margin-top: 11px;
		}

		p {
			font-size: 18px;
		}

		#login-box {
			
			.tabs-container {

				.tabs-header {

					.tab {
						
					}

					.tab.active {
						
					}

					.tab:first-child {
						
					}


				}

				.tabs-content {
					
				
					.tab-content {
						height: auto;
					}

					p {
						
					}

				}

			}

			#login-buttons {

				.gradient-button {
					
				}

				.forgot-password-front {
					
				}

			}

		}

	}

}


/***************
POPUP WINDOW
***************/

.popup-container {

	.main-popup {
	
		.popup-close-button {
		
		}

		.popup-close-button:hover {
			
		}

		.popup-html {
			height: 500px;
		}

	}

	.dark-bg {
		
	}

}


