#body {

	#grey-lines-area {
		
		h3 {
			font-size: 18px;
			margin-top: 12px;
		}

		p {
			font-size: 18px;
		}

		#login-box {
			
			.tabs-container {

				.tabs-header {

					.tab {
						
					}

					.tab.active {
						
					}

					.tab:first-child {
						
					}


				}

				.tabs-content {
					
				
					.tab-content {
						height: auto;
					}

					p {
						
					}

				}

			}

			#login-buttons {

				.gradient-button {
					
				}

				.forgot-password-front {
					
				}

			}

		}

	}
}

 /****************
SLIDESHOW
****************/

#slideshow-container {

	#bear-slide-window {
		
		height: 135px;

		#bear-inner-window {
			
		}
	}
}


