/****************
HEADER
*****************/

#header {
	#main-navigation {
		display: block;
	}
}


/****************
SLIDESHOW
****************/

#slideshow-container {

	#bear-slide-window {
		
		height: 207px;

		#bear-inner-window {
			
		}
	}
}

