//*** tablet size styles *****/

/**************
GENERAL STYLES
***************/

.container {
	border-top: 8px solid @red-360
}


/***********
HEADER
***********/

#header {

	#logo{
		text-align: left;
		float: left;
		a {
			width: auto;
		}
	}

	#top-small-navigation {

		text-align: left;
		float: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 435px;
		background: none;

		#mobile-search-button {
			display: none;
		} //End #mobile-search-button

		#search-box-wrapper {
			right: 143px;
			position: absolute;
			display: block;
			width: 250px;
			top: 0;
			background: none;

			.search-input {
				float: left;
				position: relative;
			}
			.search-button {
				background-color: #ffffff;
			}

		} //End #search-box-wrapper

		#donate-button {
			padding: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color: @red-360;

			a {
				font-size: 14px;  
				font-family:  @condLt;
			}

		} //End #donate-button

		#social-icons {
			
			.twitter {
				background-position: 0 -3px;
			}
			
			.facebook {
				background-position: 0 176px;
			}

			.feedback {
				background: url('../../library/images/feedback-icon.png');
			}

		} // End #social-icons

	}

	#login-status-area{
		float: right;
		margin-right: 7px;
		margin-top: 7px;
		width: 390px;
	}


	#main-navigation {
		float: left;
		width: auto;
		margin-top: 0;
	}

}

/*************
BODY STYLES
*************/

#body {
	
	margin-top: 12px;

	/*********************
	SMALL TILE ADJUSTMENTS
	**********************/
	.tile {
		margin: 11px;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	/************
	BIG TILES
	************/

	.big {
		
		height: 328px;
		.tile-big-background();
		background-size: 100% 100%;

		.top-tile {
			height: 143px;
		
			a {
				float: left;
				position: relative;
				height: 100%;
				width: 100%;
				font-size: 51px;
				font-family: @condMed;
				text-shadow:3px -1px 1px #ffffff;
				padding-left: 30px;
			}
			
			.action {
				height: 35px;
				right: 5px;
				top: 10px;
				width: 250px;
				font-size: 16px;
				padding-right: 20px;
				padding-top: 5px;
				background-size: auto auto;			
				cursor: pointer;
				line-height: 35px;

				span {
					font-size: 24px;
				}
			}
			
			.action-two {
				height: 35px;
				right: 5px;
				top: 42px;
				width: 250px;
				font-size: 16px;
				padding-right: 20px;
				padding-top: 5px;
				background-size: auto auto;	
				cursor: pointer;
				line-height: 23px;

				span {
					font-size: 24px;
				}

			}				
		}

		.middle-tile {
			.tile-big-lines();
			height: 100px;

			.tile-icon{
				width: 181px;
				height: 178px;
				.tile-big-icons();
				top: -32px;
				background-position: 200px 200px;
				background-repeat:  no-repeat;
				left: 24px;
			}

			.tile-icon-color {
				width: 173px;
				height: 173px;
				.tile-big-color-icons();
				top: -29px;
				background-position: 200px 200px;
				background-repeat:  no-repeat;
				left: 27px;
			}

			

			.tile-value {
				width: 500px;
				font-size: 115px;
				height: 100px;
				top: 0;
				line-height: 72px;

				.left-value {
					height: 86px;
					margin-top: 0;
					padding-left: 8px;
					padding-right: 12px;
					line-height: 86px;
				}

				.right-value {
					height: 86px;
					margin-top: 0;
					padding-left:7px;
					padding-right: 8px;
					padding-top: 0;
					line-height:86px;
				}

			}

		}

		.bottom-tile {
			height: 83px;
		}
		
	}

	/***************
	BIG TILE COLORS
	****************/

	.big.red {
		
		.top-tile {}

		.middle-tile {

			.tile-icon{}

			.tile-icon-color { 
				background-position: 0 0; 
			}

			.tile-value {
				color: @notify-red;
			}
		}

		.bottom-tile {}

	}

	.big.green {

		.top-tile {}

		.middle-tile {
			.tile-icon{}
			.tile-icon-color {  
				background-position: 0 -576px;
			}
			.tile-value {
				color: @notify-green;
			}
		}

		.bottom-tile {}
	}

	.big.orange {

		.top-tile {}

		.middle-tile {
			.tile-icon{}
			.tile-icon-color { 
				 background-position: 0 -384px;
			}
			.tile-value {
				color: @notify-orange;
			}
		}

		.bottom-tile {}

	}

	.big.blue {

		.top-tile {}

		.middle-tile {
			.tile-icon{}

			.tile-icon-color {  
				 background-position: 0 -192px;
			}

			.tile-value {
				color: @notify-blue;
			}
		}
		.bottom-tile {}

	}

	/******************
	BIG TILE TYPES
	*******************/
	.big.signin {
		width: 100%;
		background: none;

		.top-tile {
			width: 800px;
			font-size: 45px;
			text-transform: none;
		}

		.middle-tile {

			.tile-icon{
				background-position: 0 -198px;
			}

			.tile-icon-color {
				 background-position: 0 -192px;
			}

			.tile-icon-color.red {
				 background-position: 0 0;
			}
			.tile-value {
				right: 3px;
				.username {
					margin-top: 3px;
				}

				.password {
					
				}

				.gradient-button {
					margin: 0;
					padding: 0;
					width: 100%;
					margin-top: 3px;
				}

			}

		}
		.bottom-tile {
			top: 238px;
			text-align: right;

			 a, a:active {
			 	
			 }

			 a:hover {
			 	
			 }

			 .forgot-password {
			 	
			 }

			 .forgot-password:hover {
			 
			 }
		}
	}

	.big.participants {

		.top-tile {}

		.middle-tile {

			.tile-icon{
				 background-position: 0 -980px;
			}

			.tile-icon-color {}

			.tile-value {
			
				.invitations {
					height: 91px;
					line-height: 87px;
					margin-top: -4px;
					padding-right: 30px;
					
					.invitations-icon {
						left: 50%;
						top: 113px;
						margin-left: -16px;
						background-size: auto auto;
						width: 35px;
						height: 43px;
					}

				}

				.new-alerts {

					height: 91px;
					line-height: 87px;
					margin-top: -4px;
					padding-left: 30px;
					padding-right: 8px;

					.alerts-icon {
						left: 50%;
						top: 110px;
						margin-left: -4px;
						font-size: 46px;
						height: 46px;
						line-height: 46px;
					}

				}

			}
		}
		.bottom-tile {}		
	}

	.big.my-groups {
		.top-tile {
			.action {
				top: 37px;
			}
		}

		.middle-tile {
			.tile-icon{
				background-position: 0 -394px;
			}

			.tile-icon-color {}

			.title-value {}
		}
		.bottom-tile {}
	}

	.big.alerts {
		.top-tile {
			.action {
				top: 37px;
			}
		}

		.middle-tile {
			.tile-icon{
				 background-position: 0 -590px;
			}

			.tile-icon-color {}

			.title-value {}
		}
		.bottom-tile {}
	}

	.big.resources {
		.top-tile {}

		.middle-tile {
			.tile-icon{
				 background-position: 0 -1176px;
			}

			.tile-icon-color {}

			.tile-value {}
		}
		.bottom-tile {}
	}

	.big.my-profile {
		
		.top-tile {
			.action {
				top: 37px;
			}
		}

		.middle-tile {
			.tile-icon{
				background-position: 0 -198px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}
	}

	.big.messages {
		
		.top-tile {
			.action {
				top: 37px;
			}

			.action-two {

			}

		}

		.middle-tile {
			.tile-icon{
				background-position: 0 0;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}
	}
	
	.big.reports {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -1548px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}
	}	
	
	.big.sponsors {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 2px -1363px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}
	}	

	.big.single-participant {
		
		top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -198px;
			}

			.tile-icon-color {}

			.tile-value {

				right: 5px;
				top: -8px;
				width: 447px;

				.right-value {
					display: none;
				}
				
				.left-value {
					float: left;
					position: relative;
					width: 100%;
					height: auto;
					.info {
						background-color: @white;
						border: 2px solid #d3d3d3;
						p {
							font-size: 18px;
							color: @text-gray;
							line-height: 20px;
							float: left;
							position: relative;
							width: 100%;
							padding: 0;
							margin: 0;
							text-align: left;
							font-family: @condMed;

						}
					}
				}
			}
		}

		.bottom-tile {}
	}

	.big.sign-in {		
		
		.top-tile {
			.forgot-password {
				font-size: 18px;	
				top: 50px;
				right: 20px;
			}
			a.new-account {
				font-size: 18px;
				top: 0px;
				right: 20px;
			}
		}

		.middle-tile {
		
			margin-top: 100px;
		
			.tile-icon{
				background-position: 0 -198px;
			}
			
			.tile-icon-color {}

			.tile-value {
				width: 100%;
				
				.username {
					height: 30px;
					position: absolute;
					right: 200px;
					top: 5px;
					font-size: 16px;
				}
			
				.password {
					height: 30px;
					position: absolute;
					right: 200px;
					top: 50px;
					font-size: 16px;
				}
								
				.gobutton {
					position: absolute;
					right: 20px;
					top: 50px;				
					width: 100px;
				}				
			}
		}
		
		.bottom-tile {}		
	}	
	
	.big.reset-password {		
		.top-tile {}

		.middle-tile {
			.tile-icon {
				background-position: 0 -198px;
			}

			.tile-icon-color {}

			.tile-value {
			
				width: 100%;
				
				.password {
					height: 30px;
					position: absolute;
					right: 200px;
					top: 5px;
					font-size: 16px;
				}
			
				.password2 {
					height: 30px;
					position: absolute;
					right: 200px;
					top: 50px;
					font-size: 16px;
				}
								
				.gobutton {
					position: absolute;
					right: 20px;
					top: 50px;				
					width: 100px;
				}			
			}
		}
		
		.bottom-tile {}
	}	


		/*********************
	THIN PARTICIPANT TILES
	*********************/

	.thin-tile {
		
		margin-top: 18px;
		margin-bottom: 18px;

		.title {
			font-size: 25px;
			top: 6px;
		}

		.icon {
		
		}

		/**************
		SPRITE ICONS
		***************/

		.icon-color {
			
		}

		.white-color {
			
		}

		/**************
		SPRITE COLORS
		***************/

		.value {
			font-size: 45px;
			.left-value {
				
			}

			.right-value {

			}


		}

	} // End .thin-tile

	/*******************
	ACCORDIONS
	*******************/
	.messages {

		.general-trigger {
			
			.edit-icon {
				width: 22px;
				height: 22px;
				right: 62px;
				top: 14px;
			}

			.trash-icon{
				width: 22px;
				height: 22px;
				right: 41px;
				top: 14px;
			}

			.message-title{
				line-height: 5px;
				width: 100%;
			}

			.message-subject{}

		}

		.general-content {

		}

	}

	/*****************
	SIGN IN PAGE
	*****************/

	#grey-lines-area {
	

		h3 {
			font-size: 15px;
			margin-top: 17px;
		}

		p {
			font-size: 16px;
		}


		#login-box {
			

			.tabs-container {

				.tabs-header {

					.tab {
						
					}

					.tab.active {
						
					}

					.tab:first-child {
						
					}


				}

				.tabs-content {
					
				
					.tab-content {
						height: auto;
					}

					p {
						
					}

				}

			}

			#login-buttons {

				.gradient-button {
					
				}

				.forgot-password-front {
					
				}

			}

		}

	}


	/*******************
	PATIENTS LIST TABLE
	*******************/
	
	.patients-list {
		
		tr {
			th {
				.column-name-box {
					.table-text {
					}

					.table-icon {
						display: block;
					}
					.table-icon.icon1 {
						
					}

					.table-icon.icon2 {
						
					}

					.table-icon.icon3 {
						
					}

					.table-icon.icon4 {
					}
				}

			}

			th:hover {
			}

			td {
			}
			.action-column	 {
				.trash-icon {
				}
			}	
		}
	}

} // End #body

#footer {

	.mobile-title {
		display: none;
		.white-arrow {
			display: none;
		}
	}

	.mobile-title.mobile-trigger-selected .white-arrow {
		
	}

	.mobile-title:hover {
	
	}

	.mobile-black-line {
		border: 0;
	}

	.red-side-line {
		border-left: 1px solid @red-360;
	}

	.main-footer-content {

		.mobile-trigger {
			padding: 3px;
			padding-left: 13px;
			.grey-arrow {
				display: none;
			}
		}

		.mobile-trigger.mobile-trigger-selected .grey-arrow {
			display: none;
		}

		.mobile-trigger:hover {
			
		}

		.mobile-content {
			padding-top: 0;
		}

		p {
			font-size: 14px;
			line-height: 14px;
		}

	} //End .main-footer-content

	.footer-links {
		.footer-links-title {
			display: none;

			.white-arrow {
				display: none;
			}
		}

		.footer-links-title:hover {
		
		}

		.mobile-content {
			padding-top: 15px;
			padding-bottom: 15px;
			a {
				
			
			}
		}
	}

	.footer-information {
		background: none;
		text-align: center;
		p {
			color: @text-gray;
		}
	}

} //End footer



/****************************
GENERAL AND SNIPPET CLASSES
*****************************/

.gradient-button {
	width: 150px;
}


/***************
POPUP WINDOW
***************/

.popup-container {

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 997;

	.main-popup {
		position: absolute;
		float: none;
		left: 50%;
		top: 20%;
		width: 400px;
		margin: 0;
		margin-top: -37px;
		margin-left: -186px;
		padding: 15px;
		height: auto;
		border-top: 8px solid @baby-blue;
		z-index: 999;
		background-color: #ffffff;
		padding-left: 0;
		padding-right: 0;

		.popup-close-button {
			position: absolute;
			right: 0;
			top: 0;
			width: 85px;
			height: 25px;
			text-transform: uppercase;
			font-size: 12px;
			font-family: @condLt;
			text-align: center;
		}

		.popup-close-button:hover {
			cursor: pointer;
		}

		.popup-html {
			padding-left: 15px;
			padding-right: 15px;
			height: 400px;
			overflow: auto;
		}

	}


	.dark-bg {
		
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.transparent-black-bg();
		z-index: 998;

	}

}


/********************
PRINT-POPUP
********************/

.print-information-area {
	height: 430px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	position: relative;
	width: 100%;
}



/*** Specific styling for tiles ***/
.dynamic-content-container.small-panel-container {
	height: 175px; //Added so the tiles dont popup all over the place

	.dynamic-content-html {
		height: 175px; //Added so the tiles dont popup all over the place

	}
}
.dynamic-content-container.big-panel-container {
	height: 352px; //Added so the tiles dont popup all over the place

	.dynamic-content-html {
		height: 352px; //Added so the tiles dont popup all over the place

	}
}


/****************
SLIDESHOW
****************/

#slideshow-container {

	#bear-slide-window {
		
		height: 330px;

		#bear-inner-window {
			
		}
	}
}

