/******************************************************************
Stylesheet: Base Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: @sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: @text-gray;
	background: url('../../library/images/top-border-red.gif') repeat-x 0 0 transparent; 
}

.container {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

.wrap {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

.force-hide {
	display: none !important;
}

.soft-hide {
	visibility: hidden !important;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @sans-serif;
	font-weight: bold;
	font-style: normal;
	color: @text-gray;
	text-rendering: optimizeLegibility;
	margin-top: 15px;
	margin-bottom: 15px;

	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
		font-size: 60%;
		color: @text-gray;
		line-height: 0;
	}

	/* removing text decoration from all headivine links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.125em;
	line-height: 1.333em;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.375em;
}

h4, .h4 {
	font-size: 1.125em;
	line-height: 1em;
	font-weight: 400;
}

h5, .h5 {
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: @baby-blue;
	font-weight: normal;
}

h6, .h6 {
	font-size: .9em;
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	margin: 3px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
	height: 1px;
	border: 0;
	background-color: @soft-gray;
	float: left;
	position: relative;
}

/*************
TABLE COLORS
**************/
span.red {
	color: @notify-red;
}

span.green {
	color: @notify-green;
}

span.orange {
	color: @notify-orange;
}

span.blue {
	color: @notify-blue;
}

/********************
GENERAL STYLES
*********************/

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}


.updatePanelContainer {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

.general-success-message {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 4%;
	padding-left: 35px;
	margin: 1%;
	margin-right: 0;
	margin-left: 0;
	background-color: @baby-blue-light;
	.blue-checkmark();
	background-repeat: no-repeat;
	background-position: 4px 28px;
	display: none;
}



/*******************************
HEADER 
*******************************/

#header {

	float: left;
	position: relative;
	height: auto;
	width: 100%;

	#logo {

		width: 100%;
		height: auto;
		float: left;
		position: relative;
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;

		a {
			display: block;
			float: left;
			position: relative;
			height: 100%;
			width: 100%;
		}

	}


	#top-small-navigation {
		float: left;
		position: relative;
		height: 34px;
		width: 100%;
		background-color: @red-360;
		z-index: 2;

		#mobile-search-button {
			width: 100%;
			float: right;
			position: relative;
			display: block;
			.search-sprite();
			background-position: 50% -119px;
			background-repeat: no-repeat;
			width: 50px;
			height: 30px;
			margin-right: 5px;
			cursor: pointer;
			z-index: 4;
		}

		#search-box-wrapper {
			position: absolute;
			top: 34px;
			left: 1px;
			width: 100%;
			height: 40px;
			display: none;
			background-color: @soft-gray;
			z-index: 3;

			.search-input {
				width: 96%;
				height: auto;
				padding: 4px;
				margin-left: 2%;
				margin-right: 2%;
				margin-top: 2%;
			}

			.search-button {
				width: 20px;
				height: 20px;
				display: block;
				float: left;
				border: 0;
				.search-sprite();
				background-position: 50% -4px;
				background-repeat: no-repeat;
				margin-top: 8px;
			}

		}

		#donate-button {
			width: auto;
			float: right;
			position: relative;
			padding: 3px;
			margin-right: 5px;

			a {
				width: 65px;
				height: 40px;
				color: @white;
				font-size: 12px;
				padding-top: 8px;
				text-decoration: none;
				text-transform: uppercase;
				font-family: @condLt, sans-serif;
			}


		} //End #donate-button

		#social-icons {
			width: auto;
			float: right;
			position: relative;
			padding: 3px;
			margin-right: 5px;

			.twitter {
				display: block;
				float: right;
				position: relative;
				.social-sprite();
				background-position: 0 -156px;
				display: block;
				height: 20px;
				width: 30px;
				margin: 5px;
			}
			
			.facebook {
				display: block;
				float: right;
				position: relative;
				.social-sprite();
				background-position: 0 22px;
				display: block;
				height: 20px;
				width: 20px;
				margin: 5px;
			}

			.feedback {
				display: block;
				float: right;
				position: relative;
				background: url('../../library/images/feedback-icon-white.png');
				display: block;
				height: 20px;
				width: 22px;
				margin: 5px;
				cursor: pointer;
			}

		} // End #social-icons

	} //End #top-small-navigation

	#login-status-area {

		float: left;
		position: relative;
		height: auto;
		width: 98%;
		padding-right: 2%;

		.sign-out-button {
			float: right;
			position: relative;
			width: 100%;
			height: auto;
			text-align: right;
			padding-top: 10px;

			a {
				color: @text-gray;
				font-family: @condMed,sans-serif;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 12px;
				display: block;
				float: left;
				position: relative;
				height: auto;
				width: 100%;
				text-align: right;
				line-height: 11px;
			}

			a:hover {
				color: @red-360;
			}

		}

		
		.welcome-message {
			float: right;
			position: relative;
			width: 100%;
			height: auto;
			text-align: right;
			font-size: 20px;
			font-family: @condLt,sans-serif;
			line-height: 20px;
		}

		

	} //End #login-status-area


	/***************
	NAVIGATION
	***************/

	#main-navigation {
		float: left;
		position: relative;
		height: auto;
		width: 100%;

		.provider-code-message {
			float: right;
			position: relative;
			width: 100%;
			height: auto;
			text-align: left;
			color: @red-360;
			font-family: @condMed,sans-serif;
			text-transform: uppercase;
			font-size: 14px;
			padding-right: 17px;
		}
		
	}


} //End #header


/*************
BODY
**************/

#body {

	float: left;
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 4px;

	/****************
	TILES
	****************/

	.tile {

		float: left;
		position: relative;
		height: 154px;
		width: 98%;
		margin: 1%;
		border: 1px solid @text-gray;
		.boxShadow(3px, 3px, 10px, 0, @mid-gray);
		.tile-background();
		background-repeat: no-repeat;

		.top-tile {
			float: left;
			position: relative;
			height: 39px;
			width: 100%;
			padding-top: 8px;
			padding-left: 13px;
			

			a {
				display: block;
				float: left;
				position: relative;
				text-decoration: none;
				font-size: 20px;
				font-family: @condLt;
				color: @text-gray;

			}

			.action {
				height: 25px;
				position: absolute;
				right: 5px;
				top: 3px;
				width: 205px;
				font-size: 12px;
				text-transform: uppercase;
				font-family: @condMed;
				text-align: right;
				padding-right: 5px;
				cursor: pointer;
				background-size: auto auto;	

				span {
					font-size: 16px;
				}
			}
			
			.action-two {
				height: 25px;
				position: absolute;
				right: 5px;
				top: 20px;
				width: 205px;
				font-size: 12px;
				text-transform: uppercase;
				font-family: @condMed;
				text-align: right;
				padding-top: 1px;
				padding-right: 5px;
				cursor: pointer;
				background-size: auto auto;	

				span {
					font-size: 16px;
				}			
			}

		}

		.middle-tile {
			
			float: left;
			position: relative;
			height: 85px;
			width: 100%;
			.tile-small-lines();
			background-repeat: repeat-x;
			background-position: center center;


			.tile-icon {
				position: absolute;
				left: 10px;
				top: 6px;
				height: 77px;
				width: 78px;
				.tile-small-icons();
				z-index: 3;
			}

			/**************
			SPRITE ICONS
			***************/

			.tile-icon-color {
				position: absolute;
				left: 12px;
				top: 8px;
				height: 77px;
				width: 78px;
				.tile-small-color-icons();
				background-repeat: no-repeat;
				z-index: 2;
				background-position: 100px 0;
			}

			/**************
			SPRITE COLORS
			***************/

			.tile-value {
				position: absolute;
				right: 12px;
				top: 8px;
				width: 200px;
				height: 69px;
				font-size: 60px;
				color: @text-gray;
				font-family: @condBold;
				text-align: right;
				line-height: 60px;
				padding-top: 3px;

				.left-value {
					float: right;
					height: 47px;
					margin-top: 7px;
					padding-left: 8px;
					padding-right: 12px;
					position: relative;
					text-align: right;
					width: auto;
					padding-top: 0;
					line-height: 47px;
				}

				.right-value {

					float: right;
					height: 47px;
					margin-top: 7px;
					padding-left:7px;
					padding-right: 8px;
					position: relative;
					text-align: left;
					width: auto;
					padding-top: 0;
					line-height: 47px;
				}
			}

		}

		.bottom-tile {
			float: left;
			position: relative;
			height: 25px;
			width: 100%;
		}

	} // End .tile

	/*************
	TILE COLORS
	**************/

	.red {
		
		.top-tile {}

		.middle-tile {

			.tile-icon{}

			.tile-icon-color { 
				background-position: 0 -196px; 
			}

			.tile-value {
				color: @notify-red;

				.left-sidebar {
					border-left: 6px solid @notify-red;
				}

			}
		}

		.bottom-tile {}
	}

	.green {
		.top-tile {}

		.middle-tile {
			.tile-icon{}
			.tile-icon-color {  
				background-position: 0 -98px; 
			}
			.tile-value {
				color: @notify-green;

				.left-sidebar {
					border-left: 6px solid @notify-green;
				}
			}
		}

		.bottom-tile {}
	}

	.orange {

		.top-tile {}

		.middle-tile {
			.tile-icon{}
			.tile-icon-color { 
				 background-position: 0 0; 
			}
			.tile-value {
				color: @notify-orange;

				.left-sidebar {
					border-left: 6px solid @notify-orange;
				}
			}
		}

		.bottom-tile {}
	}

	.blue {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{}

			.tile-icon-color {  
				background-position: 0 -294px; 
			}

			.tile-value {
				color: @notify-blue;

				.left-sidebar {
					border-left: 6px solid @notify-blue;
				}

			}
		}

		.bottom-tile {}
	}




	/*****************
	TILE TYPES
	*****************/
	.inline-error {
		float:left;
		position: relative;
		padding: 2%;
		margin: 50px 1% 1% 1%;
		width: 100%;
		font-size: 18px;
		text-align: right;
		background-color: @light-bg-red;
		background-position: 20px 22px;
		color: @red-360;
		.red-checkmark();
		background-repeat: no-repeat;
	}


	.signin {
		float: left;
		position: relative;
		height: 154px;
		width: 98%;
		margin: 1%;
		border: 0;
		.boxShadow(0, 0, 0, 0, @mid-gray);
		background: none;
		
		.top-tile {}

		.middle-tile {

			.tile-icon{
			}

			.tile-icon-color {}

			.tile-value {

				right: 12px;
				top: 14px;
				width: 185px;
				height: 99px;
				
				.username {
					position: relative;
					float: left;
					width: 100%;
					margin: 0;
					margin-bottom: 2px;
				}

				.password {
					position: relative;
					float: left;
					width: 100%;
					margin: 0;
				}

				.gradient-button {
					width: 100%;
					padding: 0;
					margin-left: 0;
				}

			}

		}
		.bottom-tile {
			position: absolute;
			top: 146px;
			right: 0;
			width: 197px;
			height: 53px;

			 a, a:active {
			 	font-size: 14px;
			 	color: @baby-blue; 
			 }

			 a:hover {
			 	color: @red-360; 
			 }

			 .forgot-password, .new-account {
			 	font-size: 14px;
			 	color: @baby-blue; 
				text-decoration: none;
			 }

			 .forgot-password:hover, .new-account:hover {
			 	color: @red-360; 
			 }
		}		
	}

	.participants {

		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -505px;
			}

			.tile-icon-color {}

			.tile-value {
				
				right: 0;

				.invitations {
					float: right;
					height: 47px;
					margin-top: 7px;
					padding-left: 8px;
					padding-right: 12px;
					position: relative;
					text-align: right;
					width: auto;
					padding-top: 0;
					line-height: 47px;

					.invitations-icon {
						.big-pending-invitations-icon();
						background-repeat: no-repeat;
						background-size: 24px auto;
						position: absolute;
						top: 57px;
						left: 10px;
						height: 33px;
						width:25px;
					}
				}

				.new-alerts {
					float: right;
					height: 47px;
					margin-top: 7px;
					padding-left: 12px;
					padding-right: 8px;
					position: relative;
					text-align: left;
					width: auto;
					padding-top: 0;
					line-height: 47px;

					.alerts-icon {
						position: absolute;
						top: 58px;
						left: 35px;
						height: 33px;
						width:16px;
						font-size: 25px;
						line-height: 25px;

					}
				}

			}
		}
		.bottom-tile {}	
	}

	.my-groups {
	
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -404px;
			}

			.tile-icon-color {}

			.title-value {}
		}
		.bottom-tile {}	
	}

	.alerts {

		.top-tile {}		

		.middle-tile {
			.tile-icon{
				background-position: -1px -300px;
			}

			.tile-icon-color {}

			.title-value {}
		}
		.bottom-tile {}	
	}

	.resources {
	
		.top-tile {}		

		.middle-tile {
			.tile-icon{
				background-position: 0 -102px;
			}

			.tile-icon-color {}

			.tile-value {}
		}
		
		.bottom-tile {}	
	}

	.my-profile {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 0;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}
	}

	.messages {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -204px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}		
		
	}
	
	.reports {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -601px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}		
		
	}	

	.sponsors {
		
		.top-tile {}

		.middle-tile {
			.tile-icon{
				background-position: 0 -695px;
			}

			.tile-icon-color {}

			.tile-value {}
		}

		.bottom-tile {}		
		
	}	

	.single-participant {
		
		.top-tile {}

		.middle-tile {
			
			background-image: url('../images/lines-small-light.png');

			.tile-icon{
				background-position: 0 0;
			}

			.tile-icon-color {}

			.tile-value {

				right: 31px;
				top: -12px;
				width: 190px;
				.left-value {
					width: 100%;
					float: left;
					.info {
						float: left;
						position: relative;
						height: auto;
						width: 100%;
						border: 0;
						padding: 2px;
						font-size: 12px;
						margin: 0;


						p {
							font-size: 12px;
							line-height: 15px;
							text-align: left;
							margin: 0;

						}
					}
				}
				.right-value {
					display: none;
				}
			}
		}

		.bottom-tile {}
	}
 
	.reset-password {
		
		.top-tile {}

		.middle-tile {

			.tile-icon {
				background-position: 0 0;
			}

			.tile-icon-color {}

			.tile-value {
			
				width: 100%;
			
				.password {
					height: 30px;
					position: absolute;
					right: 120px;
					top: 2px;
					font-size: 16px;
					width: 40%;
				}
			
				.password2 {
					height: 30px;
					position: absolute;
					right: 120px;
					top: 35px;
					font-size: 16px;
					width: 40%;
				}
								
				.gobutton {
					position: absolute;
					right: 20px;
					top: 40px;				
					width: 80px;
				}	
				
			}
		}

		.bottom-tile {}		
	}


	/*********************
	THIN PARTICIPANT TILES
	*********************/

	.thin-tile {

		float: left;
		position: relative;
		height: 56px;
		width: 98%;
		margin: 1%;
		border: 1px solid @text-gray;
		.boxShadow(3px, 3px, 18px, 0, @mid-gray);
		.tile-small-lines();
		background-repeat: repeat-x;
		background-position: center center;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 18px;
		margin-bottom: 18px;

		.title {
			position: absolute;
			width: 100%;
			padding-left: 113px;
			height: auto;
			top: 14px;
			left: 0;
		}

		.icon {
			position: absolute;
			left: 14px;
			top: -12px;
			height: 94px;
			width: 94px;
			.participant-icons();
			background-repeat: no-repeat;
			z-index: 4;
		}

		/**************
		SPRITE ICONS
		***************/

		.icon-color {
			position: absolute;
			left: 16px;
			top: -10px;
			height: 86px;
			width: 89px;
			.participant-colors();
			background-repeat: no-repeat;
			z-index: 3;
			background-position: 100px 0;
		}

		.white-color {
			position: absolute;
			left: 10px;
			top: -17px;
			height: 94px;
			width: 111px;
			.participant-white-bg();
			background-repeat: no-repeat;
			z-index: 2;
		}

		.arrow {
			.colored-arrows();
			background-position: 1px -16px;
			background-repeat: no-repeat;
			height: 12px;
			position: absolute;
			right: 3px;
			top: 21px;
			width: 15px;
		}

		/**************
		SPRITE COLORS
		***************/

		.value {

			position: absolute;
			right: 14px;
			top: 2px;
			width: 200px;
			height: 50px;
			font-size: 24px;
			color: @text-gray;
			font-family: @condBold;
			text-align: right;
			line-height: 45px;
			padding-top: 3px;

			.left-value {
				float: right;
				height: 30px;
				margin-top: 7px;
				padding-left: 8px;
				padding-right: 8px;
				position: relative;
				text-align: right;
				width: auto;
				padding-top: 0;
				line-height: 30px;
			}

			.right-value {

				float: right;
				height: 30px;
				margin-top: 7px;
				padding-left:7px;
				padding-right: 8px;
				position: relative;
				text-align: left;
				width: auto;
				padding-top: 0;
				line-height: 30px;
			}


		}

	} // End .thin-tile

	/***********************
	PARTICIPANT TILE TYPES
	***********************/

	.blood-pressure {
		.icon { 
			 background-position: 0 -550px;	
		}
	}

	.cholesterol {
		.icon { 
			background-position: 0 -440px;
		}
	}

	.blood-glucose {
		.icon { 
			 background-position: 0 -330px;
		}
	}

	.medications {
		.icon { 
			 background-position: 0 -220px;
		}
	}

	.weight {
		.icon { 
			background-position: 0 -110px;
		}
	}

	.physical-activity {
		.icon { 
			background-position: 0 0; 
		}
	}



	/***********************
	PARTICIPANTS TILE COLORS
	***********************/

	.red {
		
		.icon-color { 
			background-position: 0 -107px;
		}

		.value {
			color: @notify-red;

			.left-sidebar {
				border-left: 3px solid @notify-red;
			}

		}

	}

	.green {
	
		.icon-color {  
			background-position: 0 -214px;
		}
		.value {
			color: @notify-green;
			.left-sidebar {
				border-left: 3px solid @notify-green;
			}
		}
		
	}

	.orange {

		.icon-color { 
			 background-position: 0 -321px; 
		}
		.value {
			color: @notify-orange;

			.left-sidebar {
				border-left: 3px solid @notify-orange;
			}
		}

	}

	.blue {
		
		.icon-color {  
			background-position: 0 0;
		}

		.value {
			color: @notify-blue;

			.left-sidebar {
				border-left: 3px solid @notify-blue;
			}

		}

	}



	/*******************************
	DIVS REQUIRED FOR UPDATE PANELS
	********************************/
	.update-panel-wrapper > div {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
		padding: 0;
		margin: 0;
	}


	/***************
	ACCORDIONS
	***************/

	.accordion-container {

		float: left;
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 5px;


		/********************
		BASE ACCORDION STYLES
		********************/

		.general-trigger {
			float: left;
			position: relative;
			width: 100%;
			padding: 2%;
			height: auto;

			.accordion-arrow {

				.colored-arrows();
				background-position: 1px -16px;
				background-repeat: no-repeat;
				height: 12px;
				position: absolute;
				right: 17px;
				top: 18px;
				width: 15px;

			}

			.edit-icon {
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: -4px -239px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 62px;
				top: 14px;
			}

			.trash-icon{
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 41px;
				top: 14px;
			}


			.message-title{
				float: left;
				position: relative;
				height: auto;
				width: 75%;
				padding: 2px;
				font-size: 16px;
				font-family: @condBold;
				color: @baby-blue;
				line-height: 16px;

			}

			.message-subject{

				float: left;
				position: relative;
				height: auto;
				width: 100%;
				padding: 2px;
				font-size: 14px;
				font-family: @condMed;

			}


		}

		
		.general-trigger:hover {
			cursor: pointer;
		}

		.general-content {
			float: left;
			position: relative;
			height: auto;
			width: 100%;


			/***********************
			NESTED ACCORDION STYLES
			************************/

			.accordion-container {
				margin: 0;
				width: 100%;

				.general-trigger {
					padding-left: 40px;
					width: 100%;

					.accordion-arrow {

					}

				}

				.general-trigger.general-trigger-selected {
					.accordion-arrow {
						background-position: 1px 3px; 
					}
				}


				.general-content {
					width: 100%;
					padding-left: 40px;
				}

			}
			
		}


		/****************************
		ACCORDION THEMING CLASSES
		****************************/

		.gradient-title {

			border: 1px solid @gray-ring;
			padding-left: 40px;
			padding-top: 10px;
			background-repeat: no-repeat;
			text-shadow:3px -1px 1px #ffffff;
			text-transform: uppercase;
			font-family: @condMed;
			.accordion-gradient();
			background-repeat: repeat-x;
			background-position: 100% 23px;
			background-color: @off-white;
			height: 45px;
			line-height: 22px;

			.action-icon {
				.small-action-icons();
				position: absolute;
				left: 9px;
				top: 12px;
				height: 25px;
				width: 25px;
			}

			.accordion-arrow {
				background-position: 1px -17px;
			}
			
		}

		.gradient-title:hover {
			color: @maroon;
			.accordion-arrow {
				background-position: 1px -101px;
			}

		}

		.gradient-title.general-trigger-selected {
			.accordion-arrow {
				 background-position: 1px 4px;
			}
		}

		.gradient-title.general-trigger-selected:hover {
			.accordion-arrow {
				background-position: 1px -79px;
			}
		}


	} //End .accordion-container


	.no-accordion-icon {
		.general-trigger {
			padding-left: 13px;
			.action-icon {
				background: none;
			}
		}
	}



	/**********************
	PARTICIPANTS ACCORDIONS
	***********************/

	.accordion-container {
		.general-content {
			.thin-accorion {
				.general-trigger {
					padding-left: 0;
					padding-right: 0;
				}
				
				.general-trigger.general-trigger-selected {
					
					.thin-tile {
						.arrow {
							background-position: 1px 3px;
						}
					}

				}

				.general-content {
					padding-left: 8px;
				}
			}
		}
	}




	/**********************
	MESSAGES ACCORDIONS
	**********************/
	
	.messages {

		.general-trigger {
			.action-icon {
				background-position: 0 321px;
				height: 15px;
				top: 13px;
			}
		}

		.general-content {

			.tabs-container {
				.tabs-header {
					.tab {
						width: 33%;
					}
				}
			}
			
			.accordion-container {

				border-bottom: 1px solid @soft-gray;

				.general-trigger {


					.edit-icon {
						.small-action-icons();
						background-repeat: no-repeat;
						background-position: -4px -239px;
						width: 22px;
						height: 22px;
						position: absolute;
						right: 62px;
						top: 14px;
					}

					.trash-icon{
						.small-action-icons();
						background-repeat: no-repeat;
						background-position: 0 -263px;
						width: 22px;
						height: 22px;
						position: absolute;
						right: 41px;
						top: 14px;
					}


					.message-title{
						float: left;
						position: relative;
						height: auto;
						width: 75%;
						padding: 2px;
						font-size: 16px;
						font-family: @condBold;
						color: @baby-blue;
						line-height: 16px;

					}

					.message-subject{

						float: left;
						position: relative;
						height: auto;
						width: 100%;
						padding: 2px;
						font-size: 14px;
						font-family: @condMed;

					}



				}

				.general-content {

					p {
						float: left;
						position: relative;
						height: auto;
						width: 100%;
					}
					
					
				}
				
			}
		
		}

	} //End .messages

	.compose {

		.general-trigger {
			.action-icon {
				background-position: 0 214px;
				height: 22px;
				top: 14px;
			}
		}

		.general-content {

			.accordion-container {

				.general-trigger {}
				.general-content {}

			}

		}

	} //End .compose

	.sent {
		.general-trigger {
			 .action-icon {
				background-position: 0 344px;
				height: 22px;
				top: 11px;
			}
		}

		.general-content {

			.accordion-container {

				.general-trigger {}
				.general-content {}
				
			}

		}

	}// End .sent

	.trash {
		.general-trigger {
			 .action-icon {
				background-position: 0 191px;
				height: 23px;
				top: 12px;
			}
		}

		.general-content {

			.accordion-container {

				.general-trigger {}
				.general-content {}
				
			}

		}

	} //end .trash

	.message-settings {

		.general-trigger {
			padding-left: 14px;
			.action-icon {
				background: none;
			}

		}

		.general-content {

			.accordion-container {

				.general-trigger {}
				.general-content {}
				
			}

		}

		
	} // .setting



	/**********************
	ALERTS ACCORDIONS
	**********************/	

	//Alerts
	.alerts {

		.general-trigger {
			
			.action-icon {
				.alert-icons();
				background-repeat: no-repeat;
				background-position: 0 -123px;
				height: 15px;
				top: 14px;
				left: 19px
			}

		}

		.general-content {}

	} //End .alerts

	.alerts:hover {
		.general-trigger {
			
			.action-icon {
				background-position: 0 -96px;
			}

		}
	}

	//Alert Triggers
	.alert-triggers {

		.general-trigger {
			
			.action-icon {
				.alert-icons();
				background-repeat: no-repeat;
				background-position: 0 -32px;
				height: 22px;
				top: 11px;
				left: 13px;
			}

		}

		.general-content {}

	} //End .alerts

	.alert-triggers:hover {
		.general-trigger {
			
			.action-icon {
				background-position: 0 -64px;
			}

		}
	}

	//Create Alerts
	.alert-settings {

		.general-trigger {
			padding-left: 13px;
			.action-icon {
				background: none;
			}

		}

		.general-content {


			
		}

	} //End .alerts



	/*******************
	MY GROUPS ACCORDION 
	********************/	

	.my-groups-accordion {
		
		border-bottom: 1px solid @soft-gray;

		.general-trigger {
			padding-left: 0;
			
			.edit-icon {

				.small-action-icons();
				background-repeat: no-repeat;
				background-position: -4px -239px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 62px;
				top: 14px;
			}

			.trash-icon {

				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 41px;
				top: 14px;
			}


			.message-title {
				float: left;
				position: relative;
				height: auto;
				width: 75%;
				padding: 2px;
				font-size: 14px;
				font-family: @condBold;
				color: @baby-blue;
				line-height: 16px;
			}

		}

		.general-trigger:hover {

			.message-title {
				color: @maroon;
			}

			.accordion-arrow {
				background-position: 1px -100px;
			}

		}

		.general-trigger.general-trigger-selected {
			.accordion-arrow {
				background-position: 1px 4px;
			}
		}

		.general-trigger.general-trigger-selected:hover {
			.accordion-arrow {
				background-position: 1px -80px;
			}
		}

		.general-content {

			p {
				float: left;
				position: relative;
				height: auto;
				width: 100%;
			}

			.edit-icon {
				float: right;
				margin-right: 5px;
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: -4px -239px;
				width: 22px;
				height: 22px;
			}

			.trash-icon {
				float: right;
				margin-right: 10px;
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
			}
			
		}
		
			
	}

	/**********************
	RESOURCES ACCORDIONS
	**********************/
	
	.aha-resources {

		.general-trigger {
			padding-left: 13px;
			.action-icon {
					background: none;
				}
		}

		.brief-description {
			border: 2px dashed @soft-gray;
			margin: 10px;
			padding: 10px;

			.description-item {				
			}
		}
	}

	.my-announcements, .my-resources {

		.general-trigger {
			padding-left: 13px;
			.action-icon {
					background: none;
				}
		}

		.general-content {

			.my-announcement, .my-resource {

				border-bottom: 1px solid @soft-gray;

				.edit-icon {
					.small-action-icons();
					background-repeat: no-repeat;
					background-position: -4px -239px;
					width: 22px;
					height: 22px;
					position: relative;
					top: 4px;
					right: 44px;
					float: right;
				}

				.trash-icon {
					.small-action-icons();
					background-repeat: no-repeat;
					background-position: 0 -263px;
					width: 22px;
					height: 22px;
					position: relative;
					top: 4px;
					float: right;
				}

				.announcement-title, .resource-title {
					float: left;
					position: relative;
					height: auto;
					width: 75%;
					padding: 2px;
					font-size: 16px;
					font-family: @condBold;
					color: @baby-blue;
					line-height: 16px;
				}

				.announcement-content, .resource-content {

					p {
						width: 100%;
					}
				}
			}				
		}
	} //End .my-announcements, .my-resources


	/*****************************
	MY PATIENTS/PARTICIPANTS Page
	******************************/	
	.received-invitations {

		.general-trigger {
			padding-left: 37px;
			.action-icon {
				background-position: 0 236px;
				height: 24px;
				top: 10px;
			}

		}

		.general-content {
			
		}

	} //End 

	.sent-invitations {

		.actions-column {
			text-align: right;
			padding-right: 10px;
		}

		.general-trigger {
			padding-left: 37px;
			.action-icon {
				background-position: 0 259px;
				height: 24px;
				top: 10px;
			}

		}

		.general-content {
			
			.popuplink {
				float: right;
				padding-right: 30px;
				color: @link-color;
			}

			.trash-icon {
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
				position: relative;
			}

		}

	} //End

	.my-patients{

		.general-trigger {
			padding-left: 37px;
			.action-icon {
				background-position: 0 306px;
				height: 24px;
				top: 10px;
			}
		}

		.general-content {
			
		}

	} //End

	.notes {

		.general-trigger {
			
			.action-icon {
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -241px;
				height: 22px;
				top: 14px;
				left: 10px;
			}

		}

		.general-content {}

	}

	/******************************
	SEARCH ICON
	*******************************/
	.search-icon {
		width: 27px;
		height: 27px;
		float: left;
		position: relative;
		.search-sprite();
		background-position: 0 -90px;
		background-repeat: no-repeat;
	}

	.search-icon:hover {
		cursor: pointer;
	}

	
	/********************
	GENERAL tABLE STYLES
	*********************/

	.styled-table {

		border-collapse:collapse;
		border-spacing: 1px;
		width: 100%;
		float: left;
		position: relative;
		height: auto;

		tr {
		
			background-color: @off-white;

			th {
				background-color: @off-white;
				color: @text-gray;
				font-family: @condMed;
				font-size: 14px;
				font-weight: normal;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 4px;
				text-align: left;
				text-transform: uppercase;
			}

			th.medium-col {
				min-width: 150px;
			}

			td {
				
				color: @mid-gray;
				font-family: @condMed;
				font-size: 14px;
				font-weight: normal;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 4px;
				text-align: left;

				a {
					text-decoration: none;
					font-family: @condMed;
					color: @baby-blue;
				}

				a:hover {
					color: @maroon;
				}

				/************TRASH ICON ******************/
				.trash-icon {

					.small-action-icons();
					background-repeat: no-repeat;
					background-position: 0 -263px;
					width: 22px;
					height: 22px;
					position: relative;
					float: left;
				
				}

				.edit-icon {
					.small-action-icons();
					background-repeat: no-repeat;
					background-position: -4px -239px;
					width: 22px;
					height: 22px;
					position: relative;
					float: left;

				}

				.trash-icon:hover {
					cursor: pointer;
				}


	
			}

		}

		tr.color-row {
			background-color: #f6f6f6;
		}

	}

	.leftspacing {
		margin-left: 8px;
	}
	.recieved-invitations {
		border-collapse: collapse; 
		tr {
			border-bottom: 1px solid @soft-gray;
			th {

			}

			td {
				font-size: 12px;
				.popuplink {
					float: right;
					position: relative;
					width: auto;
					height: auto;

				}


				.popuplink:hover {
					color: @baby-blue;
				}

			}

			.received-name {
				color: @baby-blue;
				font-family: @condBold;
				font-size: 12px;
			}

			td.actions-column,
			th.actions-column {
				text-align: right;
			}



		}
	}


	/*******************
	MY GROUPS ACCORDION 
	********************/	

	.white-accordion {
		
		border-top: 1px solid @soft-gray;
		border-bottom: 1px solid @soft-gray;

		.general-trigger {
			padding-left: 0;

			h1, h2, h3, h4 {
				margin-top: 0;
				margin-bottom: 0;
			}
			
			.edit-icon {

				.small-action-icons();
				background-repeat: no-repeat;
				background-position: -4px -239px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 62px;
				top: 14px;
			}

			.trash-icon {

				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
				position: absolute;
				right: 41px;
				top: 14px;
			}


			.message-title {
				float: left;
				position: relative;
				height: auto;
				width: 75%;
				padding: 2px;
				font-size: 14px;
				font-family: @condBold;
				color: @baby-blue;
				line-height: 16px;
			}

		}

		.general-trigger:hover {

			.message-title {
				color: @maroon;
			}

			.accordion-arrow {
				background-position: 1px -100px;
			}

		}

		.general-trigger.general-trigger-selected {
			.accordion-arrow {
				background-position: 1px 4px;
			}
		}

		.general-trigger.general-trigger-selected:hover {
			.accordion-arrow {
				background-position: 1px -80px;
			}
		}

		.general-content {

			p {
				float: left;
				position: relative;
				height: auto;
				width: 100%;
			}

			.edit-icon {
				float: right;
				margin-right: 5px;
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: -4px -239px;
				width: 22px;
				height: 22px;
			}

			.trash-icon {
				float: right;
				margin-right: 10px;
				.small-action-icons();
				background-repeat: no-repeat;
				background-position: 0 -263px;
				width: 22px;
				height: 22px;
			}
			
		}
		
			
	}

	.white-accordion:first-child {
		
	}



	/*******************
	PATIENTS LIST TABLE
	*******************/
	
	.patients-list {
		width: 100%;
		tr {
			th {
				background: none;
				color: @dark-gray;
				height: 20px;

				.column-name-box {
					position: relative;
					float: left;
					width: 100%;
					height: auto;

					.table-text {
						float: left;
						position: relative;
						margin: 0;
						height: auto;
					}

					.table-icon {
						.alert-icons-bg();
						position: absolute;
						top: -49px;
						height: 38px;
						width: 38px;
						left: -4px;
						display: none;
					}
					.table-icon.icon1 {
						background-position: 0 0;
					}

					.table-icon.icon2 {
						background-position: 0 121px;
					}

					.table-icon.icon3 {
						
						background-position: 0 83px;
					}

					.table-icon.icon4 {
						background-position: 0 42px;
						left: -11px;
					}
				}

			}

			th:hover {
				cursor: pointer;
				color: @baby-blue;
			}

			td {

			}
			.action-column	 {
				text-align: right;

				.trash-icon {
					float: right;
					margin-right: 26%;
				}
			}	
		}
	}

	/*******************
	POPUP LINK
	*******************/
	.popuplink:hover {
		cursor: pointer;
	}


	/*****************
	ALERTS PAGE
	******************/

	/*****************
	SIGN IN PAGE
	*****************/

	#grey-lines-area {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
		.tile-small-lines();
		background-repeat: repeat-x;
		padding-left: 5px;

		h3 {
			color: @red-360;
			font-size:14px;
			font-family: @condMed;
			font-weight: normal;
			margin-top: 7px;
		}

		p {
			font-size: 18px;
			color: @text-gray;
		}

		#login-box {
			border: 1px solid @border-gray;
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			.popup-bg();
			background-color: #ffffff;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top: 15px;

			.tabs-container {

				.tabs-header {

					.tab {
						float: left;
						position: relative;
						.gradient-button-bg();
						background-repeat: repeat-x;
						background-position: center bottom;
						background-color: #ffffff;
						width: 33.3%;
						height: 40px;
						padding-top: 16px;
						padding-bottom: 8px;
						font-size: 12px;
						color: @text-gray;
						line-height: 12px;
						text-transform: uppercase;
						font-family: @condMed;
						text-align: center;
						border: 0;
						border-bottom: 1px solid @border-gray;
						border-left: 1px solid @border-gray;
						margin: 0;
						text-shadow: 1px 1px 0 #ffffff;
					}

					.active {
						background: none;
						border-bottom: 0;
						color: @red-360;
					}

					.tab:first-child {
						border-left: 0;
					}


				}

				.tabs-content {
					
					padding: 8px;
					min-height: 175px;
					.tab-content {
						height: auto;
					}

					p {
						margin-top: 0;
						padding: 2%;
						font-size: 16px;
						color: @red-360;
						font-size: @condLt;
					}

				}

			}

			#login-buttons {

				float: left;
				position: relative;
				height: auto;
				width: 100%;
				margin-top: 34px;

				.gradient-button {
					width: 48%;
					margin: 1%;
					height: 38px;
					padding-top: 14px;
				}

				input.gradient-button {

				}

				.forgot-password-front {
					position: absolute;
					top: -20px;
					right: 6px;
					width: auto;
					color: @text-gray;
					font-style: italic;
					padding: 3px;
					font-size: 14px;
					font-family: @condLt;
				}

			}

		}

	}		

} //End #body



/********************************
SETTINGS and GENERAL INPUT STYLES
*********************************/

.general-settings-area {

	padding-left: 14px;
	padding-top: 8px;

	.settings-title {
		color: @baby-blue;
		text-transform: uppercase;
	}

	hr {
		margin: 3px;
		margin-top: 8px;
		margin-bottom: 8px;
		width: 100%;
		height: 1px;
		border: 0;
		background-color: @soft-gray;
		float: left;
		position: relative;
	}

	input {
		float: left;
		position: relative;
		height: auto;
		padding: 3px;
		border: 1px solid @button-border-gray;
		width: 98%;
		margin: 1%;
		margin: 1% 0 8px 1%;
		font-family: @condLt;
		font-size: 14px;
		line-height: 14px;
		font-family: @condMed;
		color: @text-gray;

		&[type="checkbox"], &[type="radio"] {
			width: 20px;	
			margin-left: 0;					
			width: 14px;
			margin-right: 5px;
			margin-top: 0;
		}
	}

	input[type="radio"] {
		margin-top: 30px;
		margin-left: 0;
		width: 14px;
		margin-right: 5px;
		margin-top: 0;
	}

	textarea {
		float: left;
		position: relative;
		height: auto;
		padding: 3px;
		border: 1px solid @button-border-gray;
		width: 98%;
		margin: 1% 0 8px 1%;
		font-family: @condMed;
		color: @text-gray;
		font-size: 14px;
		line-height: 14px;
		height: 210px;
		margin-left: 0;
		padding-left: 0;
	}

	textarea.short {
		height: 45px;

	}

	select {
		float: left;
		position: relative;
		height: auto;
		padding: 3px;
		border: 1px solid @button-border-gray;
		width: 98%;
		margin: 1% 0 8px 1%;
		font-family: @condMed;
		font-size: 14px;
		line-height: 14px;
		color: @text-gray;
	}

	label {
		font-family: @condMed;
		font-size: 14px;
		line-height: 14px;
		color: @text-gray;
	}


	.scroll-area {
		float: left;
		position: relative;
		width: 100%;
		height: auto;
		background-color: @baby-blue-light;
	}
}


.blue-text-area {
	float: left;
	position: relative;
	height: auto;
	padding: 4%;
	width: 100%;
	background-color: @baby-blue-light;

	h3 {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 10px;
		font-family: @condBold;
		color: @baby-blue;
		font-weight: normal;
	}

	p {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 10px;
		font-family: @condLt;
		color: @text-gray;
		font-weight: normal;
		line-height: 21px;

		span {
			color: @baby-blue; 
		}
	}

}

.blue-text-area.scroll-small {
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.blue-text-area.scroll-large {
	height: 450px;
	overflow: scroll;
}



/***************
General Scroll Area
****************/

.scroll-small {
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	position: relative;
	width: 100%;
}

.scroll-medium {
	height: 400px;
	overflow: scroll;
	float: left;
	position: relative;
	width: 100%;
}

.scroll-large {
	height: 600px;
	overflow: scroll;
	float: left;
	position: relative;
	width: 100%;
}


/**************
FOOTER
***************/

#footer {	
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid @soft-gray;
	padding-top: 15px;

	h5, .h5 {
		font-size: .95em;
		line-height: 1.5em;
	}

	a {
		color: @text-blue;
		text-decoration: none;
	}

	.mobile-title {
		background-color: @red-360;
		padding: 10px;
		padding-left: 3%;
		padding-right: 0;
		width: 100%;
		color: #ffffff;
		text-transform: uppercase;
		background-repeat: no-repeat;


		.white-arrow {
			.colored-arrows();
			background-position: 0 22px;
			height: 10px;
			position: absolute;
			right: 25px;
			top: 33px;
			width: 10px;
		}

	}

	.mobile-title.mobile-trigger-selected .white-arrow {
		background-position: 0 42px;
	}

	.mobile-title:hover {
		cursor: pointer;
	}

	.mobile-black-line {
		border-bottom: 1px solid #000000;
	}

	.main-footer-content {

		* {
			box-sizing: content-box;
		}

		.mobile-trigger {
			padding: 12px;
			float: left;
			position: relative;
			height: auto;
			width: 100%;

			.grey-arrow {
				.colored-arrows();
				background-position: 0 192px;
				height: 10px;
				position: absolute;
				right: 25px;
				top: 18px;
				width: 10px;
			}

		}

		.mobile-trigger.mobile-trigger-selected .grey-arrow {
			background-position: 0 212px;
		}

		.mobile-trigger:hover {
			cursor: pointer;
		}

		.mobile-content {
			padding: 12px;
			float: left;
			position: relative;
			height: auto;
			width: 100%;

			p {
				font-size: .89em;
				font-weight: 300;
				font-style: normal;
				line-height: 1.6em;
				margin: 0px;
				padding: 0px;
			}

			h6 {
				font-weight: normal;
				margin: 0px;
			}
		}

		.contact-us {

			p {
				margin-bottom: 10px;
			}

			.heading {
				color: @text-gray;
			}

			.rss {
				font-weight: normal;
			}
		}


	} //End .main-footer-content



	.footer-links {
		float: left;
		position: relative;
		width: 100%;
		color: #ffffff;
		text-transform: uppercase;
		background-repeat: no-repeat;
		margin-top: px;
		border-top: 1px solid @soft-gray;

		.footer-links-title {
			background-color: @red-360;
			padding: 10px;
			padding-left: 3%;
			padding-right: 0px;
			width: 100%;
			color: #ffffff;
			text-transform: uppercase;
			background-repeat: no-repeat;

			.white-arrow {
				.colored-arrows();
				background-position: 0 22px;
				height: 10px;
				position: absolute;
				right: 25px;
				top: 18px;
				width: 10px;
			}

		}

		.footer-links-title:hover {
			cursor: pointer;
		}

		.mobile-content {
			float: left;
			position: relative;
			width: 100%;
			text-align: center;
			padding-left: 3%;
			padding-right: 3%;
			padding-bottom: 0px !important;
			margin-bottom: 0px;
			color: @text-gray;
			font-size: 11px;
			text-transform: none;	

			a {
				text-decoration: none;
				color: @text-gray;
				font-size: 11px;			
			}
		}

	}

	.footer-information {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
		background-color: @red-360;
		border-top: 3px solid #ffffff;

		p {
			color: #ffffff;
			font-size: 12px;
			text-transform: none;
			margin: 0px;
		}
	}

}


/***************
POPUP WINDOW
***************/

.popup-container {
	display: none;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	z-index: 997;
	 -webkit-backface-visibility:hidden; /*Most Important*/

	.main-popup {

		position: relative;
		float: left;
		width: 100%;
		margin: 0;
		padding: 15px;
		padding-left: 0;
		padding-right: 0;
		height: auto;
		border-top: 8px solid @baby-blue;
		z-index: 999;
		background-color: #ffffff;
		.popup-bg();
		background-repeat: no-repeat;
		background-position: center center;

		.popup-html {

			float: left;
			position: relative;
			height: auto;
			width: 100%;
			margin-top: 10px;
			overflow-y: auto;
			overflow-x: hidden;
			padding-left: 10px;
			padding-right: 10px;

			.popup-tab {
				display: inline;
			}

			#data-form {

				float: left;
				position: relative;
				height: auto;
				width: 100%;

				/* FIXME - elements not aligning quite right */
				.inline {
					
					width: 98%;
					display: inline-block;
					vertical-align: middle;

					input {
						float: left;
						position: relative;
						width: 40px;
						font-family: @condMed;
					}

					label {
						float: left;
						position: relative;
						padding-right: 5px;
					}
				}



				input {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @button-border-gray;
					width: 98%;
					margin: 1% 0 8px 1%;
					margin-left: 0;
					padding-left: 0;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					color: @text-gray;


					&[type="checkbox"], &[type="radio"] {
						width: 20px;						
						margin-left: 0;
						width: 14px;
						margin-right: 5px;
						margin-top: 0;
					}
				}

				textarea {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @button-border-gray;
					width: 98%;
					margin: 1% 0 8px 1%;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					height: 210px;
					color: @text-gray;
				}

				textarea.short {
					height: 45px;
				}

				select {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @button-border-gray;
					width: 98%;
					margin: 1% 0 8px 1%;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					margin-left: 0;
					padding-left: 0;
					color: @text-gray;
				}

				label {
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					color: @text-gray;
				}


				.scroll-area {
					float: left;
					position: relative;
					width: 100%;
					height: auto;
					background-color: @baby-blue-light;
				}


				/*******************************
				Radio Buttons and other lined up stuff
				*******************************/
				.inline-input {

					float: left;
					position: relative;
					width: auto;
					height: auto;
					margin: 3px;

					input[type="text"] {
						width: 70px;
						height: 25px;
						font-family: @condMed;
					}

					input[type="radio"] {
						width: auto;
						margin-top: 8px;
						margin-left: 0;
						width: 14px;
						margin-right: 5px;
						margin-top: 0;
					}

					input[type="checkbox"] {
						width: auto;
						margin-top: 8px;
					}

				}

				.inline-text {
					float: left;
					position: relative;
					width: auto;
					height: auto;
					margin: 3px;
					margin-left: 4px;
					margin-top: 8px;
					line-height: 14px;
					
				}


				/**********************
				REPEATER CUSTOM STYLES
				**********************/

				.group-rule-entry {
					input {
						padding-left: 0;
						margin-left: 0;
						width: 100%;
						margin-right: 0;
						padding-right: 0;
						font-family: @condMed;
					}
				}

			}

			.popup-title {
				float: left;
				position: relative;
				height: auto;
				width: 100%;
			}

			.popup-body {
				float: left;
				position: relative;
				height: auto;
				width: 100%;

				.gradient-button {
					width: 49%;
				}


			}

		}

		.popup-message {

			float: left;
			position: relative;
			height: auto;
			width: 100%;
			padding: 4%;
			padding-left: 35px;
			margin: 1%;
			margin-right: 0;
			margin-left: 0;
			background-color: @baby-blue-light;
			.blue-checkmark();
			background-repeat: no-repeat;
			background-position: 4px 28px;
			display: none;
		}

		.popup-message.error-message {
			background-color: @light-bg-red;
			background-position: 4px 16px;
			color: @red-360;
			.red-checkmark();
			background-repeat: no-repeat;
		}

		.popup-close-button {
			position: absolute;
			right: 0;
			top: 0;
			width: 85px;
			height: 25px;
			text-transform: uppercase;
			font-size: 12px;
			font-family: @condLt;
			text-align: center;
		}

		.popup-close-button:hover {
			cursor: pointer;
		}

	}
	.dark-bg {	
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.transparent-black-bg();
		z-index: 998;
	}

}

.popup-title {
	color: @heading-gray;
	font-size: 20px;
}

/********************
PRINT-POPUP
********************/

.print-information-area {
	height: 424px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	position: relative;
	width: 100%;

	p {
		font-family: @condLt;
		font-size: 14px;
		line-height: 14px;
	}

	.small-text {
		font-size: 10px;
		line-height: 12px;
	}
}




/***********************
DYNAMIC LOADING CONTENT
************************/

	/*** Main Structure ***/
	.dynamic-content-container {

		float: left;
		position: relative;
		height: auto;
		width: 100%;

		.dynamic-content-message{
			float: left;
			position: relative;
			height: auto;
			width: 100%;
			padding: 4%;
			padding-left: 35px;
			margin: 1%;
			margin-right: 0;
			margin-left: 0;
			background-color: @baby-blue-light;
			.blue-checkmark();
			background-repeat: no-repeat;
			background-position: 4px 28px;
			display: none;
		}


		.dynamic-content-message.error-message {
			background-color: @light-bg-red;
			background-position: 4px 28px;
			color: @red-360;
			.red-checkmark();
		}

		.dynamic-content-html {

			float: left;
			position: relative;
			height: auto;
			width: 100%;
			display: none;

			#data-form {

				float: left;
				position: relative;
				height: auto;
				width: 100%;

				input {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @text-gray;
					width: 98%;
					margin: 1%;
					margin: 1% 0 8px 1%;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					color: @text-gray;
				}

				textarea {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @text-gray;
					width: 98%;
					margin: 1% 0 8px 1%;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					height: 210px;
					color: @text-gray;
				}

				select {
					float: left;
					position: relative;
					height: auto;
					padding: 3px;
					border: 1px solid @text-gray;
					width: 98%;
					margin: 1% 0 8px 1%;
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
					color: @text-gray;
				}

				label {
					font-family: @condMed;
					font-size: 14px;
					line-height: 14px;
				}



				/*******************************
				Radio Buttons and other lined up stuff
				*******************************/
				.inline-input {

					float: left;
					position: relative;
					width: auto;
					height: auto;
					margin: 3px;

					input[type="text"] {
						width: 70px;
						height: 25px;
					}

					input[type="radio"] {
						width: 15px;
						margin-top: 8px;
						margin-left: 0;
						width: 14px;
						margin-right: 5px;
						margin-top: 0;
					}

					input[type="checkbox"] {
						width: 15px;
						margin-top: 7px;

					}

				}

				.inline-text {
					
					float: left;
					position: relative;
					width: auto;
					height: auto;
					margin: 3px;
					margin-left: 4px;
					margin-top: 8px;
					line-height: 14px;
					
				}


			}
		}

		.dynamic-loader {
			z-index: 50;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: none;
			.dynamic-loader-gif {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -16px;
				margin-top: -16px;
				width: 32px;
				height: 32px;
			}
		}


	}

	/*** Specific styling for tiles ***/
	.dynamic-content-container.small-panel-container {
		height: 175px; //Added so the tiles dont popup all over the place

		.dynamic-content-html {
			height: 175px; //Added so the tiles dont popup all over the place

		}
	}
	.dynamic-content-container.big-panel-container {
		height: 175px; //Added so the tiles dont popup all over the place

		.dynamic-content-html {
			height: 175px; //Added so the tiles dont popup all over the place

		}
	}

	/***************************************
	CUSTOM STYLING FOR VARIOUS ACCORDIONS
	****************************************/

	#idControlPatientList {
		
		.dynamic-content-html {
			#txtSearch {
				padding-left: 0;
				margin-left: 0;
			}
			#ddlGroup {
				padding-left: 0;
				margin-left: 0;
			}

			.search-box {
				float: left;
				position: relative;
				width: 90%;
				height: auto;
			}

			.submit-box {
				float: left;
				position: relative;
				width: 5%;
				height: auto;
			}
		}

		.dynamic-loader {

			.dynamic-loader-gif {

				position: absolute;
				left: 100%;
				top: 35px;
				margin-left: -33px;
				margin-top: -16px;
				width: 32px;
				height: 32px;		
			
			}

		}
	}



/***********************
TABS 
***********************/
.tabs-container {

	float: left;
	position: relative;
	height: auto;
	width: 100%;

	.tabs-header {

		float: left;
		position: relative;
		height: auto;
		width: 100%;

		.tab {
			float: left;
			position: relative;
			width: auto;
			padding: 15px;
			height: auto;
			border: 1px solid @soft-gray;
		}

		.tab:hover {
			cursor: pointer;
		}

		.tab.active {
			border-bottom: 0;
			color: @baby-blue;
		}

	}

	.tabs-content {
		float: left;
		position: relative;
		height: auto;
		width: 100%;

		.tab-content {
			float: left;
			position: relative;
			height: auto;
			width: 100%;
			display: none;
		}

		.tab-content.active {
			display: block;
		}

	}

}


/***********************
REPEATER FIELDS
************************/

.group-rule-list {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

.add-button-column {
	position: relative;
	float: right;
	width: 100%;
	height: auto;

	.create-fields {
		position: relative;
		float: right;
		height: auto;
		width: 85px;
		padding: 6px;
		color: @baby-blue;
	}

	.create-fields:hover {
		cursor: pointer;
	}

}

.repeater-fields {
	position: relative;
	float: right;
	width: 100%;
	height: auto;

	.repeat-area {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 15px;
		border-bottom: 1px solid @border-gray;
		padding-bottom: 15px;

		.group-rule-entry {
			float: left;
			position: relative;
			height: auto;
			width: 100%;

			.add-button {
				/* FIXME, should be .add-button() */
				// background-image: url("../images/light-blue-plus-button.png");
				background-repeat: no-repeat;
				background-color: transparent;
				width: 24px;
				height: 22px;
				float: left;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 999;
			}

			.add-button:hover {
				cursor: pointer;
			}

			.remove-button {
				.remove-button();
				background-repeat: no-repeat;
				background-color: transparent;
				width: 24px;
				height: 22px;
				float: left;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 999;
			}

			.remove-button:hover {
				cursor: pointer;
			}

			input {
				padding-left: 0;
				margin-left: 0;
				font-family: @condMed;
			}
		}

	}


}


/****************************
GENERAL AND SNIPPET CLASSES
*****************************/

/*** COLOR HEADERS ***/

.blue-page-title {
	font-size: 15px;
	font-family: @condMed;
	color: @baby-blue;
	margin-top: 16px;
	margin-bottom: 15px;
	font-weight: normal;
	float: left;
	position: relative;
	width: 100%;
}

.gradient-button {

	float: left;
	position: relative;
	.gradient-button-bg();
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ffffff;
	width: 100%;
	height: 32px;
	padding-top: 10px;
	font-size: 12px;
	color: @text-gray;
	line-height: 12px;
	text-transform: uppercase;
	font-family: @condMed;
	text-align: center;
	border: 1px solid @button-border-gray;
	margin: 1%;
	text-shadow: 1px 1px 0 #ffffff;
}

input.gradient-button {
	padding-top: 4px;
}

select.gradient-button {
	padding-top: 4px;
}

.gradient-button:hover {
	cursor: pointer;
}

.gradient-button.float-left {
	float: left;
	position: relative;
	margin-left: 0;
	margin-right: 1%;
}

.gradient-button.float-right {
	float: right;
	position: relative;
	margin-left: 1%;
	margin-right: 0;
}

.gradient-button.center {
	float: none;
	margin-left: auto;
	margin-right: auto;	
}

/*********************
CALENDAR WIDGET
**********************/

.beatpicker-clear {
	float: left;
	position: relative;
	.gradient-button-bg();
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ffffff;
	width: 175px;
	height: 32px;
	padding-top: 4px;
	font-size: 12px;
	color: @text-gray;
	line-height: 12px;
	text-transform: uppercase;
	font-family: @condMed;
	text-align: center;
	border: 1px solid @button-border-gray;
	margin: 1%;
	text-shadow: 1px 1px 0 #ffffff;

}

button.beatpicker-clear {

}

#tDate {
	.calendar-widget();
	height: 25px !important;
	background-position: 100% 1px;
}


.beatpicker .footer {
	display: none !important;
}


/****************
SLIDESHOW
****************/

#slideshow-container {

	#bear-slide-window {
		
		height: 102px;

		#bear-inner-window {
			
		}
	}
}

/****************
RICH TEXT EDITOR - nicEditor
****************/
.nicEdit-panelContain {
	float: left;
}
.nicEdit-panel {
	float: left;
}




