/*********************
TYPOGRAPHY 
*********************/

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=617c8a90-435c-4fc9-b43c-e56d5bbca88e&fontids=673383,673386,692686,692689,692698,692710,692722,692734,692743");


@font-face{
font-family:"HelveticaNeueW01-ThinCn 673383";
src:url("../Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix");
src:url("../Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix") format("eot"),url("../Fonts/673383/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),url("../Fonts/673383/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype"),url("../Fonts/673383/67ccdd14-5fcd-479c-9829-ec39a60795fa.svg#67ccdd14-5fcd-479c-9829-ec39a60795fa") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-ThinCn 673386";
src:url("../Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix");
src:url("../Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix") format("eot"),url("../Fonts/673386/2906fb00-117f-4f5d-8e80-5c0658969b92.woff") format("woff"),url("../Fonts/673386/1e030520-a37b-4e02-b7cd-d514be1cbebb.ttf") format("truetype"),url("../Fonts/673386/fca2f769-a4e5-4857-a18c-c435c3b7025f.svg#fca2f769-a4e5-4857-a18c-c435c3b7025f") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692686";
src:url("../Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix");
src:url("../Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("../Fonts/692686/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("../Fonts/692686/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("../Fonts/692686/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692689";
src:url("../Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix");
src:url("../Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix") format("eot"),url("../Fonts/692689/aa6913f7-e674-4d61-973b-002422ac447e.woff") format("woff"),url("../Fonts/692689/857b0b99-c6b3-4ad8-a049-28506caba502.ttf") format("truetype"),url("../Fonts/692689/af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794.svg#af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-57Cn";
src:url("../Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
src:url("../Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("../Fonts/692698/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("../Fonts/692698/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("../Fonts/692698/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-67MdCn 692710";
src:url("../Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("../Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("../Fonts/692710/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("../Fonts/692710/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("../Fonts/692710/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("../Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("../Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("../Fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("../Fonts/692722/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("../Fonts/692722/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-87HvCn 692734";
src:url("../Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix");
src:url("../Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix") format("eot"),url("../Fonts/692734/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),url("../Fonts/692734/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype"),url("../Fonts/692734/9d3bb5f2-6932-419e-a56f-382131ffd4b8.svg#9d3bb5f2-6932-419e-a56f-382131ffd4b8") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-97Blac";
src:url("../Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix");
src:url("../Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix") format("eot"),url("../Fonts/692743/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff"),url("../Fonts/692743/843152a1-f5b5-4cbf-a5d3-e9ccaccddd2a.ttf") format("truetype"),url("../Fonts/692743/0fd53488-84fc-474e-b665-23a72ffda266.svg#0fd53488-84fc-474e-b665-23a72ffda266") format("svg");
}



@sans-serif:        "HelveticaNeueW01-57Cn",sans-serif;
@serif:             "Georgia", Cambria, Times New Roman, Times, serif;

@condThin:			"HelveticaNeueW01-ThinCn 673383";
@condThinObl:		"HelveticaNeueW01-ThinCn 673386";
@condLt:			"HelveticaNeueW01-47LtCn 692686";
@condLtObl:			"HelveticaNeueW01-47LtCn 692689";
@condMed:			"HelveticaNeueW01-67MdCn 692710";
@condBold:			"HelveticaNeueW01-77BdCn 692722";
@condHeavy:			"HelveticaNeueW01-87HvCn 692734";
@condBlack:			"HelveticaNeueW01-97Blac";

@texgyBold:			"texgyreheroscnbold";
@texgyBoldObl:		"texgyreheroscnbold_italic";
@texgyReg:			"texgyreheroscnregular";
@texgyRegObl:		"texgyreheroscnitalic";