/******************************************************************
Site Name: Push WP
Author: Push Development Team

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/



  .onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
  .twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
  .threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
  .fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
  .fivecol   { width: 39.055248616%; }       /* 39.45%; } /* grid_5  */
  .sixcol    { width: 48%; }       /* 48%;    } /* grid_6  */
  .sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
  .eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
  .ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
  .tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
  .elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
  .twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */


  // layout & column defaults
  .onecol, .twocol, .twocol-custom, .two-point-five-col, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 15px;
  }




@media only screen and (max-width: 767px) {

    .mobile-onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
    .mobile-twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
    .mobile-threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
    .mobile-fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
    .mobile-fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
    .mobile-sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
    .mobile-sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
    .mobile-eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
    .mobile-ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
    .mobile-tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
    .mobile-elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
    .mobile-twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

  //for mobile
  .small-onecol, .small-twocol, .small-threecol, .small-fourcol, .small-fivecol, .small-sixcol, .small-sevencol, .small-eightcol, .small-ninecol, .small-tencol, .elevencol, .twelvecol {
    position: relative;
      float: left;

  }

  .mobile-twelvecol {
    margin-left: 0;
  }

}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .tablet-onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
    .tablet-twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
    .tablet-threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
    .tablet-fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
    .tablet-fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
    .tablet-sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
    .tablet-sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
    .tablet-eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
    .tablet-ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
    .tablet-tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
    .tablet-elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
    .tablet-twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

  //for tablet
  .tablet-onecol, .tablet-twocol, .tablet-threecol, .tablet-fourcol, .tablet-fivecol, .tablet-sixcol, .tablet-sevencol, .tablet-eightcol, .tablet-ninecol, .tablet-tencol, .tablet-elevencol, .tablet-twelvecol {
    position: relative;
      float: left;
  }

  .tablet-twelvecol {
    margin-left: 0;
  }

}



/******************
GENERAL GRID STYLES
*******************/

.first {
  margin-left: 0;
}

.last {
  float: right;
}

.row {
  width: 100%;
  float: left;
  position: relative;
  height: auto;
  display: block;
}

