/******************************************************************
Site Name: Push WP
Author: Push Development Team

Stylesheet: INTERNET EXPLORER GRID SHEET

This is needed because > IE9 does not support floating point numbers in CSS :(

******************************************************************/



  .onecol    { width: 5%;  }       /* 4.85%;  } /* grid_1  */
  .twocol    { width: 14%; }       /* 13.45%; } /* grid_2  */
  .threecol  { width: 22%; }       /* 22.05%; } /* grid_3  */
  .fourcol   { width: 31%; }       /* 30.75%; } /* grid_4  */
  .fivecol   { width: 40%; }       /* 39.45%; } /* grid_5  */
  .sixcol    { width: 48%; }       /* 48%;    } /* grid_6  */
  .sevencol  { width: 57%; } /* 56.75%; } /* grid_7  */
  .eightcol  { width: 65%; }  /* 65.4%;  } /* grid_8  */
  .ninecol   { width: 74%; }        /* 74.05%; } /* grid_9  */
  .tencol    { width: 82%; }  /* 82.7%;  } /* grid_10 */
  .elevencol { width: 91%; }       /* 91.35%; } /* grid_11 */
  .twelvecol { width: 99%; }       /* 100%;   } /* grid_12 */


  // layout & column defaults
  .onecol, .twocol, .twocol-custom, .two-point-five-col, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 15px;
  }




@media only screen and (max-width: 767px) {

  .mobile-onecol    { width: 5%;  }       /* 4.85%;  } /* grid_1  */
  .mobile-twocol    { width: 14%; }       /* 13.45%; } /* grid_2  */
  .mobile-threecol  { width: 22%; }       /* 22.05%; } /* grid_3  */
  .mobile-fourcol   { width: 31%; }       /* 30.75%; } /* grid_4  */
  .mobile-fivecol   { width: 40%; }       /* 39.45%; } /* grid_5  */
  .mobile-sixcol    { width: 48%; }       /* 48%;    } /* grid_6  */
  .mobile-sevencol  { width: 57%; } /* 56.75%; } /* grid_7  */
  .mobile-eightcol  { width: 65%; }  /* 65.4%;  } /* grid_8  */
  .mobile-ninecol   { width: 74%; }        /* 74.05%; } /* grid_9  */
  .mobile-tencol    { width: 82%; }  /* 82.7%;  } /* grid_10 */
  .mobile-elevencol { width: 91%; }       /* 91.35%; } /* grid_11 */
  .mobile-twelvecol { width: 99%; }       /* 100%;   } /* grid_12 */

  //for mobile
  .small-onecol, .small-twocol, .small-threecol, .small-fourcol, .small-fivecol, .small-sixcol, .small-sevencol, .small-eightcol, .small-ninecol, .small-tencol, .elevencol, .twelvecol {
    position: relative;
      float: left;

  }

  .mobile-twelvecol {
    margin-left: 0;
  }

}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .desktop-onecol    { width: 5%;  }       /* 4.85%;  } /* grid_1  */
    .desktop-twocol    { width: 14%; }       /* 13.45%; } /* grid_2  */
    .desktop-threecol  { width: 22%; }       /* 22.05%; } /* grid_3  */
    .desktop-fourcol   { width: 31%; }       /* 30.75%; } /* grid_4  */
    .desktop-fivecol   { width: 40%; }       /* 39.45%; } /* grid_5  */
    .desktop-sixcol    { width: 48%; }       /* 48%;    } /* grid_6  */
    .desktop-sevencol  { width: 57%; } /* 56.75%; } /* grid_7  */
    .desktop-eightcol  { width: 65%; }  /* 65.4%;  } /* grid_8  */
    .desktop-ninecol   { width: 74%; }        /* 74.05%; } /* grid_9  */
    .desktop-tencol    { width: 82%; }  /* 82.7%;  } /* grid_10 */
    .desktop-elevencol { width: 91%; }       /* 91.35%; } /* grid_11 */
    .desktop-twelvecol { width: 99%; }       /* 100%;   } /* grid_12 */

  //for tablet
  .tablet-onecol, .tablet-twocol, .tablet-threecol, .tablet-fourcol, .tablet-fivecol, .tablet-sixcol, .tablet-sevencol, .tablet-eightcol, .tablet-ninecol, .tablet-tencol, .tablet-elevencol, .tablet-twelvecol {
    position: relative;
      float: left;
  }

  .tablet-twelvecol {
    margin-left: 0;
  }

}



/******************
GENERAL GRID STYLES
*******************/

.first {
  margin-left: 0;
}

.last {
  float: right;
}

.row {
  width: 100%;
  float: left;
  position: relative;
  height: auto;
  display: block;
}

