/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/

/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

@alert-yellow:      #ebe16f;
@alert-red:         #fbe3e4;
@alert-green:       #e6efc2;
@alert-blue:        #d5edf8;

@notify-blue:		#3a94b5;
@notify-green:		#2aac2a;
@notify-orange:		#E25C26;
@notify-red:		#d30505;

@black:             #000;
@white:             #fff;
@off-white: 		#fefefe;
@soft-gray:			#F2F2F2;
@mid-gray:			#949391;
@gray-ring:			#D5D5D5;
@red-360:			#D91C24;
@maroon:			#7D1024;
@dark-gray: 		#333333;


@heading-gray:		#818181;

@text-gray: 		#666666;
@text-blue:			#4695B0;
@text-gray-footer:	#AF878E;

@light-bg-red: 		#fff4f5;

@border-gray:		#CCCCCC;

@baby-blue:         #44AFE3;
@baby-blue-light: 	#f4fafd;
@bones-blue:        #1990db;

@button-border-gray: #bababa;

@link-color:        @baby-blue;
@link-hover:        darken(@link-color, 9%);


/********************
SPRITES
*********************/

.social-sprite() {
	background-image: url("../images/sprite-icons-social.png");
} 

.search-sprite() {
	background-image: url("../images/sprite-search.png");
} 

.tile-background() {
	background-image: url("../images/gradient-box.jpg");
}

.tile-big-background() {
	background-image: url("../images/gradient-box-lrg.png");
}

.tile-small-lines() {
	background-image: url("../images/lines-small.png");
}

.tile-big-lines() {
	background-image: url("../images/lines-lrg.png");
}

.tile-small-icons() {
	background-image: url("../images/provider-icons-small.png");
}

.tile-big-icons() {
	background-image: url("../images/sprite-large-icons.png");
}

.tile-small-color-icons() {
	background-image: url("../images/provider-icons-small-color.png");
}

.tile-big-color-icons() {
	background-image: url("../images/provider-large-color-icons.png");
}

.colored-arrows() {
	background-image: url("../images/sprite-arrows.png");
}

.big-compose-message-icon() {
	background-image: url("../images/big-compose-message-icon.png");
}

.big-pending-invitations-icon() {
	background-image: url("../images/pending-invitations-icons.png");
}


.small-action-icons() {
	background-image: url("../images/sprite-icons-1.png");
}

.blue-checkmark() {
	background-image: url("../images/blue-checkmark.png");
}

.red-checkmark() {
	background-image: url("../images/red-checkmark.png");
}

.accordion-gradient() {
	background-image: url("../images/accordion-gradient.png")
}

.transparent-black-bg() {
	background-image: url("../images/transparent-bg.png");
}

.gradient-button-bg() {
	background-image: url("../images/button-gradien-bg.gif");
}

.alert-icons() {
	background-image: url("../images/alerts-icons.png");
}

.alert-icons-bg() {
	background-image: url("../images/small-table-icons.png");
}

.popup-bg() {
	background-image: url("../images/popup-gradient-bg.jpg");
}

.add-buton() {
	background-image: url("../images/light-blue-plus-button.png");
}

.remove-button() {
	background-image: url("../images/light-blue-remove-button.png");
}

.participant-icons() {
	background-image: url("../images/participant-icons.png");
}

.participant-colors() {
	background-image: url("../images/participants-colors.png");
}

.participant-white-bg() {
	background-image: url("../images/white-circle-bg.png");
}

.calendar-widget() {
	background-image: url("../images/calendar-button.png") !important;
}


// .sprite-alerts-icons_0000_Vector-Smart-Object{ background-position: 0 0; width: 18px; height: 22px; } 
// .sprite-alerts-icons_0001_Vector-Smart-Object{ background-position: 0 -32px; width: 16px; height: 22px; } 
// .sprite-alerts-icons_0002_Vector-Smart-Object{ background-position: 0 -64px; width: 16px; height: 22px; } 
// .sprite-alerts-icons_0003_Vector-Smart-Object{ background-position: 0 -96px; width: 5px; height: 17px; } 
// .sprite-alerts-icons_0004_Vector-Smart-Object{ background-position: 0 -123px; width: 5px; height: 17px; } 


// .sprite-icons-small_0000_Vector-Smart-Object{ background-position: 0 0; width: 78px; height: 77px; } 
// .sprite-icons-small_0001_Vector-Smart-Object{ background-position: 0 -102px; width: 78px; height: 77px; } 
// .sprite-icons-small_0002_Vector-Smart-Object{ background-position: 0 -204px; width: 78px; height: 77px; } 
// .sprite-icons-small_0003_Vector-Smart-Object{ background-position: 0 -306px; width: 74px; height: 73px; } 
// .sprite-icons-small_0005_Vector-Smart-Object{ background-position: 0 -404px; width: 77px; height: 76px; } 
// .sprite-icons-small_0006_Vector-Smart-Object{ background-position: 0 -505px; width: 78px; height: 77px; } 


// .sprite-iconscolors_0007_Vector-Smart-Object{ background-position: 0 0; width: 74px; height: 73px; } 
// .sprite-iconscolors_0008_Vector-Smart-Object{ background-position: 0 -98px; width: 74px; height: 73px; } 
// .sprite-iconscolors_0009_Vector-Smart-Object{ background-position: 0 -196px; width: 74px; height: 73px; } 
// .sprite-iconscolors_0010_Vector-Smart-Object{ background-position: 0 -294px; width: 74px; height: 73px; } 


// .sprite-bigiconscolor_0000_Vector-Smart-Object{ background-position: 0 0; width: 179px; height: 178px; } 
// .sprite-bigiconscolor_0001_Vector-Smart-Object{ background-position: 0 -198px; width: 177px; height: 176px; } 
// .sprite-bigiconscolor_0002_Vector-Smart-Object{ background-position: 0 -394px; width: 177px; height: 176px; } 
// .sprite-bigiconscolor_0003_Vector-Smart-Object{ background-position: 0 -590px; width: 175px; height: 174px; } 
// .sprite-bigiconscolor_0004_Vector-Smart-Object{ background-position: 0 -784px; width: 177px; height: 176px; } 
// .sprite-bigiconscolor_0008_Vector-Smart-Object{ background-position: 0 -980px; width: 177px; height: 176px; } 
// .sprite-bigiconscolor_0010_Vector-Smart-Object{ background-position: 0 -1176px; width: 174px; height: 173px; } 


// .sprite-bigiconscolor_0005_Vector-Smart-Object{ background-position: 0 0; width: 173px; height: 172px; } 
// .sprite-bigiconscolor_0006_Vector-Smart-Object-copy{ background-position: 0 -192px; width: 173px; height: 172px; } 
// .sprite-bigiconscolor_0007_Vector-Smart-Object-copy-2{ background-position: 0 -384px; width: 173px; height: 172px; } 
// .sprite-bigiconscolor_0008_Vector-Smart-Object-copy-3{ background-position: 0 -576px; width: 173px; height: 172px; } 




// .sprite-participants-icons_0000_Vector-Smart-Object{ background-position: 0 0; width: 86px; height: 85px; } 
// .sprite-participants-icons_0001_Vector-Smart-Object{ background-position: 0 -110px; width: 86px; height: 85px; } 
// .sprite-participants-icons_0002_Vector-Smart-Object{ background-position: 0 -220px; width: 86px; height: 85px; } 
// .sprite-participants-icons_0003_Vector-Smart-Object{ background-position: 0 -330px; width: 86px; height: 85px; } 
// .sprite-participants-icons_0004_Vector-Smart-Object{ background-position: 0 -440px; width: 86px; height: 85px; } 
// .sprite-participants-icons_0005_Layer-1{ background-position: 0 -550px; width: 86px; height: 85px; } 




// .sprite-participants-colos_0000_Vector-Smart-Object{ background-position: 0 0; width: 83px; height: 82px; } 
// .sprite-participants-colos_0001_Layer-1{ background-position: 0 -107px; width: 83px; height: 82px; } 
// .sprite-participants-colos_0002_Vector-Smart-Object{ background-position: 0 -214px; width: 83px; height: 82px; } 
// .sprite-participants-colos_0003_Vector-Smart-Object{ background-position: 0 -321px; width: 83px; height: 82px; } 




/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/*********************
TRANISTION
*********************/

/* .transition(all,2s); */
.transition(@what: all, @time: 0.2s, @transition: ease-in-out) {
	-webkit-transition: @what @time @transition;
	-moz-transition:    @what @time @transition;
	-ms-transition:     @what @time @transition;
	-o-transition:      @what @time @transition;
	transition:         @what @time @transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* .css-gradient(#dfdfdf,#f8f8f8); */
.css-gradient(@from: #dfdfdf, @to: #f8f8f8) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
	background-image: -o-linear-gradient(top, @from, @to);
	background-image: linear-gradient(to bottom, @from, @to);
}

/*********************
BOX SHADOW
*********************/

/* .boxShadow(0,0,4px,0,#444); */
.boxShadow(@x: 0, @y: 0, @radius: 4px, @spread: 0, @color: rgba(0,0,0,0.5)) when (isnumber(@x)) {
	-webkit-box-shadow: @x @y @radius @spread @color;
	   -moz-box-shadow: @x @y @radius @spread @color;
			box-shadow: @x @y @radius @spread @color;
}
/* .boxShadow(none); */
.boxShadow(@x: none) when (iskeyword(@x)) {
	-webkit-box-shadow: @x;
	   -moz-box-shadow: @x;
			box-shadow: @x;
}









