/******************************************************************
Site Name: American Heart Association, Heart360
Stylesheet: Main Stylesheet
******************************************************************/
//
// IMPORTING STYLES
//

// import normalize
@import "_normalize.less";

// import mixins
@import "_mixins.less";

// import mixins
@import "_fonts.less";

// import grids
@import "_grid.less";
	
/*
BASE STYLES
This are the base styles. It's for global styles. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/


// styles in base.scss
@import "_base.less";

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s+) and iPad (2,3+) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	// styles in 2x.scss
	@import "_2x.less";
} // end of media query



/*
iPHONE 4 MEDIA QUERY
iPHONE 3G MEDIA QUERY
*/
@media only screen and (min-width: 320px) {
	@import "_320up.less";
}


@media only screen and (min-width: 480px)  {
	@import "_480up.less";
} // end of media query


/*
iPHONE 5 MEDIA QUERY
*/
@media only screen and (min-width: 568px)  {
	@import "_568up.less";
}


/*
iPHONE S4 MEDIA QUERY
*/
@media only screen and (min-width: 640px)  {
	@import "_640up.less";
}

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/

@media only screen and (min-width : 768px) {
	@import "_768up.less";
}


@media only screen and (min-width : 1024px)  { 
	@import "_1024up.less";
}

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
	@import "_1240up.less";

} // end of media query




/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
	@import "_print.less";
}