﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Heart360Admin.MasterPages.Admin" %>

<%@ Register Src="../UserCtrls/Common/Header.ascx" TagName="Header" TagPrefix="uc1" %>
<%@ Register Src="../UserCtrls/Common/AHAHeader.ascx" TagName="AHAHeader" TagPrefix="uc2" %>
<%@ Register Src="../UserCtrls/Common/AHAFooter.ascx" TagName="AHAFooter" TagPrefix="uc3" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="/Css/Style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
<link href="/Css/ie6fix.css" rel="stylesheet" type="text/css" />
<![endif]-->

    <script src="/JScripts/Resource.en-US.js" type="text/javascript"></script>

    <script src="/JScripts/Utility.js" type="text/javascript"></script>

    <script type="text/javascript">
        function OnConfirmDelete(val) {
            return confirm(val);
        }
    </script>

</head>
<body class="provider">
    <form id="form1" runat="server">
    <div id="divProgressBarHider" runat="server">
        <div id="divProgressBar" class="DivProgressBar"></div>
    </div>
    <div id="DivMaskTracker" class="popupmask">
    </div>
    <div id="divPopupContainer" class="DivPopupContainer">
    </div>
    <div id="divMask" class="DivMask">
    </div>
    
    <div id="site">
        <uc2:AHAHeader ID="AHAHeader1" runat="server" />
        <uc1:Header ID="Header1" runat="server" />
        <div id="contentWrapper">
            <div id="content" runat="server" class="content">
                <asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <uc3:AHAFooter ID="AHAFooter1" runat="server" />
        <img alt=" " src="/images/save_over.png" class="hiddenimages" />
        <img alt=" " src="/images/aha-small-bu-bg-hover.png" class="hiddenimages" />
        <img alt=" " src="/images/aha-small-bu-l-hover.png" class="hiddenimages" />
        <img alt=" " src="/images/aha-small-bu-r-hover.png" class="hiddenimages" />
        <img alt=" " src="/images/a-aha-small-bu-r-hover.png" class="hiddenimages" />
    </div>



    </form>
</body>
</html>
