﻿.sub-nav .sub-nav-left-curve
{
	width: 104px;
	padding: 13px 0 0 0;
}
/*.patientFullMenu a {padding:13px 19px 0 19px;width:auto;}*/
.patientFullMenu a
{
	width: 105px;
}
.patientFullMenu a.link-top-bg
{
	width: 120px;
}
.aha-move-down, .aha-move-up
{
	width: 38px;
}
.aha-expand, .aha-collapse
{
	width: 105px;
}
/*html body .patient-group a {padding:13px 29px 0;width:auto;}*/
html body .patient-group a
{
	width: 130px;
}
html body .patient-group a.patientGroup
{
	width: 165px;
}
.boxcontent .total-Medication
{
	width: 238px;
}
html body .provider-full-width .rightbox
{
	width: 500px;
}
.medication
{
	width: 256px;
}
.medication .boxcontent .med-holder
{
	width: 218px;
}
html body .patient-information a
{
	width: 85px;
}
.patient-information.sub-nav .sub-nav-left-curve
{
	width: 80px;
	padding: 13px 0 0 0;
}
.ahaLogo
{
	background: url(/newimages/aha-es_logo.png) no-repeat;
	width: 155px;
	height: 67px;
	display: -moz-inline-stack;
	display: inline-block;
}
.record .Dossage, .provider-grid .Dossage
{
	width: 63px;
}
#rightBox .provider-quicklinks a.aha-provider-invitation-mail
{
	height: auto;
	position:static;
	min-height:16px;
	display:block;
}

.formtable .table-cell
{
	padding-right: 14px;
}
html body .patient-information a {width:84px;}

html body .patient-information a.medication-mx{width:98px;}

.aha-blood-glucose-mx th{padding-left:0px !important;}
