﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PatientPopup.Master.cs" Inherits="Heart360Web.MasterPages.PatientPopup" %>
<!DOCTYPE html>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>


<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->

<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
	    <meta name="viewport" content="width=device-width" />
          
        <link rel="stylesheet" href="<%=AppVirtualPath%>/library/css/style.css" />
        <link rel="stylesheet" href="<%=AppVirtualPath%>/library/css/Heart360.css" />
         <link rel="stylesheet" href="<%=AppVirtualPath%>/library/css/iframe.css" />  

        <link rel="shortcut icon" href="<%=AppVirtualPath%>/images/favicon.ico" type="image/x-icon" />
    </asp:ContentPlaceHolder>
    <!--[if IE]>
        <script src="/library/shiv/dist/html5shiv.js"></script>
        <link rel="stylesheet" href="/library/css/iegrid.css" />
    <![endif]-->
    <!-- this css below fixes a known problem with asp:checkbox and its label -->
    <style type="text/css">
        span.cbox > label { display : inline; margin-left:0.5em; }
    </style> 
</head>


       
	

<body class="no-m iframe-popup" >
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" AsyncPostBackTimeout="300">
        <Services>
            <asp:ServiceReference Path="/Services/AHAJSUtility.asmx" />
        </Services>
    </asp:ToolkitScriptManager>

    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolderMain" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>

    </form>

    <asp:PlaceHolder runat="server" >
        <script type="text/javascript" src="<%=AppVirtualPath%>/js/vendor/jquery.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/vendor/custom.modernizr.js"></script>
        <script type="text/javascript" src="<%=AppVirtualPath%>/js/vendor/Heart360.js"></script>

	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation.min.js"></script>	
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.alerts.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.clearing.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.dropdown.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.forms.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.orbit.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.reveal.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.section.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.tooltips.js"></script>
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/foundation/foundation.topbar.js"></script>
	
	    <script type="text/javascript">
	        $(document).foundation();
	    </script>
    	
	    <script type="text/javascript" src="<%=AppVirtualPath%>/js/front-end.js"></script>
    </asp:PlaceHolder>
</body>


</html>
