﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PatientPrinterFriendly.master.cs" Inherits="Heart360Web.MasterPages.PatientPrinterFriendly" %>
<!DOCTYPE html>

<%@ Register Src="~/Controls/Common/IncludeItems.ascx" TagName="IncludeItems" TagPrefix="Common" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>


<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->


<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        <Common:IncludeItems runat="server" ID="IncludeItemsCtrl" />
    </asp:ContentPlaceHolder>
    <!--[if IE]>
        <script src="/library/shiv/dist/html5shiv.js"></script>
        <link rel="stylesheet" href="/library/css/iegrid.css" />
    <![endif]-->
    <!-- this css below fixes a known problem with asp:checkbox and its label -->
    <style type="text/css">
        span.cbox > label { display : inline; margin-left:0.5em; }
        html body section .printbar { border:1px solid #000; border-width:2px 0 1px 0; background:none; color:#000; }
        html body section .printfooter { border-top:1px dotted #666; padding:10px; font-size:11px; color:#888; margin-top:20px; }
        #redbar { padding: 5px 10px; font-size: 13px; font-weight: bold; color: #fff; background: #666; }
    </style> 
    <style media="print" type="text/css">
        html body .hideforprinter { display:none;}
        .showhideprinterlogo{display: block;}
   </style>
</head>

<body class="large-screen">
    <div class="printer-header hideforprinter full">
        <div class="row spt" >
            <div class="large-2 small-12 columns fr">
                <a href="javascript:self.print();" class="gray-button full" id="A1"><%=GetGlobalResourceObject("Reports", "Text_PrintThisPage")%></a>
            </div>
            <div class="large-2 small-12 columns">
                <a href="javascript:self.close();" class="gray-button full" id="ctl00_FeedbackForm1_lnkSend"><%=GetGlobalResourceObject("Reports", "Text_Close")%></a>
            </div>
       </div> 
    </div>
    <form id="form1" runat="server" class="printWrapper">
        <asp:ScriptManager ID="ScriptManager1" runat="server" AsyncPostBackTimeout="300">
        </asp:ScriptManager>
    
        <div id="container">                                                                                                                                                                                                                <div id="header-wrap" class="full">
		    <header class="header row">

                    <!-- AHA Logo -->
	                <section id="logo" class="small-12 large-5 columns fl">
		                <h1><a href='<%=GetGlobalResourceObject("Common", "URL_AHA")%>'><%=GetGlobalResourceObject("Common", "Header_Text_AHA")%></a></h1>
	                </section>
                    <img src="../../images/logo@2x.png" class="showhideprinterlogo" />
            </header>
        
            <section id="tracker-details" class="small-12 large-12 columns">
                <div id="redbar" class="printbar">
                    <%=strReportHeading %>
                </div>
                <div class="content">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolderMain" runat="server"/>
                </div>          
                <div class="printfooter"> <%=strFooter%></div>      
            </section>
            
        </div>
    </form>
</body>



</html>
