﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="GrantSupportList.aspx.cs" Inherits="Heart360Admin.Pages.GrantSupport.Provider.GrantSupportList" %>

<%@ Register Src="~/UserCtrls/GrantSupport/Provider/GrantSupportList.ascx" TagName="GrantSupportList"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:GrantSupportList ID="GrantSupportList1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
