﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PreviewCurrentResource.aspx.cs"
    Inherits="Heart360Admin.Pages.ResourceGraphics.Patient.PreviewCurrentResource" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.opener.document.forms[0].target = '';
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <object type="application/x-shockwave-flash" data="/Pages/ResourceGraphics/Patient/PreviewCurrentResourceGraphics.aspx"  width="1038" height="380">
            <param name="movie" value="/Pages/ResourceGraphics/Patient/PreviewCurrentResourceGraphics.aspx" />
        </object>
    </div>
    </form>
</body>
</html>
