﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="GuidingTextList.aspx.cs" Inherits="Heart360Admin.Pages.GuidingText.Patient.GuidingTextList" %>

<%@ Register Src="~/UserCtrls/Guidingtext/Patient/GuidingTextList.ascx" TagName="GuidingTextList"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:GuidingTextList ID="GuidingTextList1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
