﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AllProviderVisits.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Provider.AllProviderVisits" %>
<%@ Register src="../Common/CompositeReportCtrlRollUp.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="provider(s) visited" ID="ucCompositeReportCtrl" runat="server" />