﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NewProviderVisits.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Provider.NewProviderVisits" %>
<%@ Register src="../Common/CompositeReportCtrlRollUp.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="provider(s)" ID="ucCompositeReportCtrl" runat="server" />