﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PatientCount.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Provider.PatientCount" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="" GraphYText="provider(s)" ID="ucCompositeReportCtrl" runat="server" />