﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Providers.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Provider.Providers" %>
<%@ Register src="../Common/CompositeReportCtrlRollUp.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="" GraphYText="provider(s)" ID="ucCompositeReportCtrl" runat="server" />