﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Gender.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Patient.Gender" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Gender" GraphYText="% user(s)" ID="ucCompositeReportCtrl" runat="server" />