﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NewUserVisits.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Patient.NewUserVisits" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="user(s)" ID="ucCompositeReportCtrl" runat="server" />