﻿<%@ Page Title="Heart360 - Welcome" Language="C#" MasterPageFile="~/MasterPages/Visitor.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Heart360Provider._Default" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<asp:Content runat="server" ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMain">

<h1>Provider Portal Development</h1>

    <a id="btnProviderSignIn" style="font-size: xx-large;" runat="server">Provider Sign-In</a>
    <br /><br />
    <a id="btnVolunteerSignIn" style="font-size: xx-large;" runat="server">Volunteer Sign-In</a>

</asp:Content>
