﻿/*************************
RANDOM MESSAGES STYLING
*************************/


.messages-table-container {
	float: left;
	position: relative;
	width: 100%;
	height: auto;
}

/******************************
MAIN NAVIGATION WHEN SIGNED IN
******************************/

nav#main-nav {
	margin-top: 20px;
}

nav#main-nav ul.dropdown li a {
	height: 28px;
}

nav#main-nav ul.dropdown li a {
	-moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    float: left;
    position: relative; 
    width: 100%;
    height: 100%;
}

nav#main-nav ul.dropdown li:hover {
 	border: none; 
 	background: none;
}

nav#main-nav ul.dropdown li a:hover {

  background: -moz-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #fbfbfb), color-stop(51%, whitesmoke), color-stop(100%, #e7e8e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  padding-left: 9px;
  padding-top: 5px;  
}
/* TODO - tweak the sizing once names are finalized */
nav#main-nav ul.dropdown li.first {
	width: 100px;
	display:
}
nav#main-nav ul.dropdown li.nav-participants {
	width: 100px;
}
nav#main-nav ul.dropdown li.nav-groups {
	width: 60px;
}
nav#main-nav ul.dropdown li.nav-alerts {
	width: 60px;
}
nav#main-nav ul.dropdown li.nav-messages {
	width: 80px;
}
nav#main-nav ul.dropdown li.nav-publications {
	width: 100px;
}
nav#main-nav ul.dropdown li.nav-profile {
	width: 60px;
}
nav#main-nav ul.dropdown li.last a {
	padding-right: 0;
}

/*************************
ACCORIAN GENEARL STYLING
*************************/

div.accordion div.toggle-btn h4:hover {
	color: #7D1024;
	cursor: pointer;
}

#tracker-details .info-stats div.accordion div.toggle-btn h4:hover > span.gray-arrow {
	background-position: 0 -101px;
}

section#tracker-details section.info-stats div.accordion div.dt-selected h4:hover > span.gray-arrow {
	background-position: 0 -80px;
}



/*************************
ANALOG STYLING
*************************/

.analogMeterPointer
{
	width: 79px;
	height: 45px;
	background: url(/images/clock-point.png) no-repeat 0 0;
	position: absolute;
	left: 18px;
	top: 18px;
}
.analogMeter
{
	background: url(/images/clock.png) no-repeat 0 0;
	height: 115px;
	width: 115px;
	position: relative;
}

.analogMeterPhil
{
    position: relative;
}
    

.analogMeterValue
{
	cursor: default;
	background: none;
	color: #333;
	border: none;
	font-family: Arial;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	height: 40px;
	width: 60px;
	text-align: center;
	position: absolute;
	left: 26px;
	top: 65px;
}
.analogMeterShadowValue
{
	cursor: default;
	background: none;
	color: #e3f6fb;
	font-family: Arial;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	height: 40px;
	width: 60px;
	text-align: center;
	position: absolute;
	left: 26px;
	top: 67px;
}
.analogMeterCenter
{
	background: url(/images/meter-center.png) no-repeat 0 0;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 53px;
	top: 53px;
}
.analogMeterContainer
{
    height: 72px;
    width: 72px;
}

.mlc-meter-holder
{
}

.mlc-meter
{
	position: relative;
	right: -110px;
	top: 0px;
	height: 72px;
	width: 72px;
}
.dropdowns
{
      border: 1px solid #cccccc;
      padding: 6px 0;
      color: #5d5d5d;
      display: inline-block;
      font-size: .85em;
      font-weight: 400;
      text-transform: capitalize;
      text-decoration: none;
      text-align: left;
      text-shadow: 0 1px white;
      cursor: pointer;
      margin-bottom: 1em;
      line-height: 1.52em;
}
.radButtons td
{
    vertical-align: middle;
}
.termsbox
{
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    overflow:auto;
    height:120px;
    text-align:left;
    padding: 6px;
    font-family: inherit;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.2em;
}
.popupBackground 
{
    background-color: rgba(0, 0, 0, 0.65);
}



.messageBox {
    border-top: 10px solid #3a94b5;
    padding: 1.875em;
    z-index: 900;
    background-image: linear-gradient(right top, white 17%, #f2f2f2 47%, white 80%);
    background-image: -o-linear-gradient(right top, white 17%, #f2f2f2 47%, white 80%);
    background-image: -moz-linear-gradient(right top, white 17%, #f2f2f2 47%, white 80%);
    background-image: -webkit-linear-gradient(right top, white 17%, #f2f2f2 47%, white 80%);
    background-image: -ms-linear-gradient(right top, white 17%, #f2f2f2 47%, white 80%);
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0.17, white), color-stop(0.47, #f2f2f2), color-stop(0.8, white));
}

.accordionParentContainer {
    padding: 5px 0;
}
.accordionParent {
    margin-bottom: .25em;
}
.accordionParentHeader span.gray-arrow {
    background: url("../../images/sprite-arrows.png") no-repeat transparent;
    display: block;
    width: 15px;
    height: 11px;
    background-position: 0 -17px;
    float: right;
    margin-top: 4px;
}
.accordionParentHeaderSelected span.gray-arrow {
    background: url("../../images/sprite-arrows.png") no-repeat transparent;
    display: block;
    width: 15px;
    height: 11px;
    background-position: 0 3px;
    float: right;
    margin-top: 4px;
}
.accordionParentHeader {
    background: linear-gradient(to bottom, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%) repeat scroll 0% 0% transparent;
    border: 1px solid rgb(204, 204, 204);  
    margin: 0;
    padding: 0.2em 1em 0.2em 1.75em
}
.accordionParentHeaderSelected {
    background: linear-gradient(to bottom, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%) repeat scroll 0% 0% transparent;
    border: 1px solid rgb(204, 204, 204);  
    margin: 0;
    padding: 0.2em 1em 0.2em 1.75em
}
.accordionParentHeader:hover, .accordionParentHeaderSelected:hover {
    background: linear-gradient(to bottom, white 0%, rgb(242, 242, 242) 100%) repeat scroll 0% 0% transparent;
}
.accordionParentHeaderText {
    margin: 10px 0;
    font-size: 1em;
    text-transform: uppercase;    
}
.accordionParentContent {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1em;
    font-size: .85em;
    position: relative;

}



/.accordionChild {
    cursor: pointer;
    padding: 20px 29px;
}
.accordionChildHeader span.blue-arrow {
    background: url("../../images/sprite-arrows.png") no-repeat transparent;
    display: block;
    width: 15px;
    height: 11px;
    background-position: 0 -143px;
    float: right;
}
.accordionChildHeaderSelected span.blue-arrow {
    background: url("../../images/sprite-arrows.png") no-repeat transparent;
    display: block;
    width: 15px;
    height: 11px;
    background-position: 0 -124px;
    float: right;
}

.accordionChildHeaderText, .accordionChildHeaderText.h4 {
    color: #4695B0;
    margin: 0;
    padding: 0em;
    font-size: 16px;  
    text-transform: uppercase;
}

.accordionChildContent {
    padding: 1em 1em 0 0;
}
.checkboxlistReminders 
{
    text-align: center;
}


/******************************
CALENDER POPUP THEMEING
******************************/

.calendar-popup-button {
	background-image: url('../../images/calendar-button.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	background-position: 0 -1px;
	position: absolute;
	top: 7px;
	right: 15px;
}



.popup_cal {
	
	width: 100%;
	height: auto;
	
}

.ajax__calendar_container {
	width: 250px !important;
	height: 280px !important;
	background-color: #ffffff;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.ajax__calendar_body {
	width: 250px !important;
	height: 220px !important;
}

.ajax__calendar_body table {
	
}

.ajax__calendar_body table tbody {

}

.ajax__calendar_body table tbody tr {
	
}


.ajax__calendar_body table tbody tr td {
	padding: 8px;
}



.ajax__calendar_header {
	
	
}

.ajax__calendar_day {
}






/******************************
ANNOUNCEMENTS
******************************/

section.my-announcements div.accordion div.content ul.inner-accordion ul.inner-accordion li div.trigger-wrap p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#tracker-details .info-stats div.accordion div.content p {
	margin-top: 5px;
	margin-bottom: 5px;
}





/*******************************
TAB AREAS - INVITE PROVIDER
*******************************/

div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_header.ajax__tab_header span#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn_tab span.ajax__tab_outer span.ajax__tab_inner a#__tab_ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn.ajax__tab_tab span span#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn_spanTabMessages.msg-unread span {
	color: #44AFE3;
}

.nested-tabs {
	float: left;
	position: relative;
	width: 100%;
	height: auto;
}

div#ctl00_ContentPlaceHolderMain_MyMessages_UpdateMyMessage {
	
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	
}

div#ctl00_ContentPlaceHolderMain_MyMessages_UpdateMyMessage div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg.ajax__tab_container {
	
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	
}

div#ctl00_ContentPlaceHolderMain_MyMessages_UpdateMyMessage div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg.ajax__tab_xp div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_header.ajax__tab_header {
	
	float: left;
	position: relative;
	height: 50px;
	width: 100%;
	
}




/***********************
AJAX TAB BODY
***********************/
 
.ajax__tab_body 
{
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}


.ajax__tab_body .ajax__tab_panel {
	
}








.inbox .paginated thead{	display: none !important;

}


/* MY CONNECTIONS CENTER -> PROVIDERS VOLOUNTEERS IFRAME */
.go-blue {
    color: #3a94b5 !important;
}

/* Take care of white space at top of IE browser */

#aspnetForm {
	position: relative;
	height: auto;
	width: 100%;
}

/***************************
MAIN CONTAINER
***************************/
#ctl00_mainContent {
	margin-bottom: 20px;
}

/****************************
HOME PAGE
****************************/
ol.orbit-bullets li {
    height: 10px;
    width: 10px;
}

#utility ul li div.search-field input[type="text"] {
	width: 190px;
	color: #939598;
	font-style: italic;
}


.section-container .providers div.content div p, .section-container .volunteers div.content div p {
    color: #D91C24;
    font-weight: 300;
}

.login-portal .section-container section div.content div div.signin-wrap a.forgot {
    font-size: 0.8em;
}





/*****************************
CHECKBOXES
*****************************/

input[type="checkbox"] {
	
	margin-right: 8px; 
	
}


/******************************
IDS OF THE MESSAGE CENTER TABS
*******************************/

#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn_tab,
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_composebtn_tab,
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_sentbtn_tab,
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_trashbtn_tab {
	
	width: 25%;
	
}

#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn_tab span.tab-title, 
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_composebtn_tab span.tab-title,
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_sentbtn_tab span span.tab-title,
#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_trashbtn_tab span span.tab-title	{

	margin-top: 18px !important;

}







/****************************
LARGE PANELS
****************************/

div.tile-inner header.tile-title .add-reading {
	font-size: 11px;
}


div.tile-inner section.tile-content div.tile-reading span.my-goals {
    width: 87%;
}


article.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span {
	font-family: "HelveticaNeueW01-77BdCn 692722", sans-serif;
}


	/*****************
	PHYSICAL ACTIVITY
	*****************/
	
	article#my-activity-large.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.fitness-data {
		margin-top: 15px;
	}
	
	/*****************
	MY WEIGHT
	*****************/
	
	article#my-weight-large.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.weight-data {
		margin-top: 15px;
	}
	
	/*****************
	GLUCOSE DATA
	*****************/
	
	article#my-glucose-large.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.glucose-data {
		margin-top: 15px;
	}
	
	/*****************
	CHOLESTEROL
	*****************/
	
	article#my-cholesterol-large.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.cholesterol-data {
		margin-top: 15px;
	}
	
	/*****************
	MY MEDICATIONS
	*****************/
	
	article#my-medications-large.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data {
		margin-top: 9px;
		font-family: "HelveticaNeueW01-77BdCn 692722", sans-serif;
	}
	
	article#my-medications-large.tile-large div.tile-inner header.tile-title a.add-this {
		margin-top: 24px;
	}
	
	

div.tile-inner header.tile-title h3 {
    width: 60%;
}

div.tile-inner header.tile-title .add-reading {
    width: 39%;
    line-height: 23px;

}

#my-center div header h3 {
	width: 70%;
}



div.tile-inner section.tile-content div.tile-reading span.my-goals .systolic-data {

    display: inline-block;
    text-align: center;
    width: 20%;
    font-family: 'HelveticaNeueW01-77BdCn 692722' sans-serif;
}


article.tile-large {
    margin-bottom: 19px;
    min-height: 20.5em;
}

article.tile-large div.tile-inner {
	background: none;
    background-image: url("../../images/gradient-box-lrg.png");
    background-origin: inherit;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 327px
}



article.tile-large div.tile-inner footer.notifications span.last-reading {
    display: block;
}

article.tile-large div.tile-inner footer.notifications span.last-reading span.status {
    display: inline-block;
}

article.tile-large div.tile-inner footer.notifications span.last-reading span.status span {
    width: 25px;
    height: 28px;
}

article.tile-large div.tile-inner header.tile-title .add-reading {
	font-size: 14px;
	font-weight: bold;
}

article.tile-large div.tile-inner section.tile-content div.tile-reading span.my-goals {
	font-size: 16px;
	margin-right: 8px;
}








/******************************
SMALL TRACKER READINGS
******************************/



div.tile-inner header.tile-title h3 {
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    width: 60%;
}


div.tile-inner section.tile-content div.tile-reading span.tile-data .systolic-data {
   
    display: block;
    text-align: right;
    width: auto;
    height: 40px;
    float: right;
    position: relative;
    padding-top: 0;
    font-family: 'HelveticaNeueW01-77BdCn 692722' sans-serif;
}

div.tile-inner section.tile-content div.tile-reading span.tile-data .diastolic-data {
    border: none;
    display: block;
    padding-top: 2px;
    text-align: left;
    width: auto;
	height: 40px;
	float: right;
    position: relative;
    margin-right: 6%;
    padding-top: 0;
    font-family: 'HelveticaNeueW01-77BdCn 692722' sans-serif;
}


div.tile-inner section.tile-content div.tile-reading span.tile-data .reading-bar {
    display: block;
    text-align: center;
    width: 4px;
    border-right: 4px solid;
    height: 40px;
    float: right;
    position: relative;
    margin: 2px 7px -1px 6px;
    padding-top: 0;
}



article.tile div.tile-inner section.tile-content div.tile-reading span.tile-data span {
	font-family: 'HelveticaNeueW01-77BdCn 692722' sans-serif;
}


/*****************************
LARGE TRACKER READINGS
*****************************/




article.tile-large div.tile-inner section.tile-content div.tile-reading {
    margin-top: 0;
}

article.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data {
	
	height: 111px;
	
}

article.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data .systolic-data {
   	border: none;
    height: 100%;
    float: right;
    position: relative;
    width: auto;
    padding-top: 3%;
    padding-right: 2%;
    
}

article.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.diastolic-data {
	
	height: 100%;
	float: right;
	position: relative;
	width: auto;
	padding-top: 3%;
	border-right: 6px;
	padding-left: 2%;
}

article.tile-large div.tile-inner section.tile-content div.tile-reading span.tile-data span.reading-bar {
	
	height: 80%;
	margin-top: 3%;
	float: right;
	position: relative;
	width: 6px;
	
}







/************************
ACCORDIAN ADJUSTMENTS
************************/

section.global-resources div.accordion div.content,
section.local-resources div.accordion div.content,
section.my-actions div.accordion div.content,
section.learn-about div.accordion div.content,
section.compatibility div.accordion div.content
{
	 padding: 29px;
	 padding-top: 5px;
	 padding-bottom: 5px;
}

section.learn-about div.accordion div.content {
	
	padding-top: 15px;
	
}

.accordionChild .accordionChildHeader div.trigger-wrap h4.accordionChildHeaderText {
	 padding: 29px;
	 padding-top: 5px;
	 padding-bottom: 5px;
}


div#ctl00_ContentPlaceHolderMain_ctl03_accPaneRemindMe_content_accSetupSMS.accordionChild {
	
	 padding: 29px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 border: none;
	
}


div#ctl00_ContentPlaceHolderMain_Connections_divInvitation ul li div#ctl00_ContentPlaceHolderMain_Connections_accInvitation.accordionChild {
	padding: 0;
}

#invite-provider .accordianChild {
	border: none;
}


div#ctl00_ContentPlaceHolderMain_Connections_accInvitation.accordionChild div#ctl00_ContentPlaceHolderMain_Connections_accPaneInvitation_header.accordionChildHeader div.trigger-wrap h4.accordionChildHeaderText {
	
	padding: 0;
	
}


#tracker-details .info-statsa div.accordion, #ctl00_ContentPlaceHolderMain_ctl03_accRemindMe {
    margin-bottom: 4px;
}

.toggle-btn {
	margin-bottom: 0;
}

.info-stats.full {
    float: left;
    position: relative;
}

.icon-announce {
    margin-right: 12px;
}

.icon-messages {
 	margin-right: 12px;
}

#tracker-details .info-stats div.accordion div.toggle-btn h4 span.gray-arrow {	
    margin-top: 0;
}

#tracker-details section.my-announcements div.accordion div.toggle-btn h4 span.gray-arrow,
#tracker-details section.my-messages div.accordion div.toggle-btn h4 span.gray-arrow
 {
	margin-top: 2px;
}

#ctl00_ContentPlaceHolderMain_ctl03_accPaneRemindMe_content_accSetupSMS {
	border: none;
}

#accordionChildHeaderText {
	font-size: 15px;	
}

.connection-center div.content ul.inner-accordion li div.trigger-wrap {
	padding: 13px;
}

div.trigger-wrap h4.inner-trigger span.blue-arrow {
	margin-top: 7px;
}


div#ctl00_ContentPlaceHolderMain_MyMessages_UpdateMyMessage div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg.ajax__tab_xp div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_body.ajax__tab_body div#ctl00_ContentPlaceHolderMain_MyMessages_tabMsg_inboxbtn.ajax__tab_panel section.inbox div.full table.paginated tbody tr td ul.inner-accordion li div.trigger-wrap h4.inner-trigger span.blue-arrow {
	margin-top: 0;
}

div.trigger-wrap h4.accordionChildHeaderText span.blue-arrow {
	margin-top: 7px;
}


.gray-button {
	width: 30%;
	font-size: 11px;
}

#ctl00_ContentPlaceHolderMain_GlobalResources_divContent {
	margin: 5px;	
}

.red-circle-check {
	margin-right: 10px;
	height: 24px;
}

section.my-actions div.accordion div.content ul li p a {
	line-height: 25px;
}


.accordionParent .accordionParentHeader {
	
	background-image: -webkit-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55); /* Standard syntax; must be last */
	background: 		linear-gradient(to bottom, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%) repeat scroll 0% 0% transparent !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(204, 204, 204);
	padding: 6px 0px;
	
}

.accordionParent .accordionParentHeader .accordionParentContainer .accordionParentHeaderText  {
    font-size: 1em;
    margin: 0;
    padding: 0.5em 1em 0.25em 1.75em;
    text-transform: uppercase;
}

/**************************
TABLE HEADER STYLING 
**************************/
 
section div.accordion div.content div div.full table.paginated thead tr th {
	
	color: #666666;
	font-weight: 600;
	
}






/***************************
PROVIDERS AND VOLOUNTERERS
***************************/
	


	ul.inner-accordion {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
		margin: 0;
	}
	
	#tracker-details #my-providers.info-stats div.accordion div.content input.match-button {
		height: auto;
	    padding-bottom: 10px;
	    padding-top: 9px;
	}
	
	
	/**************************
	TERMS AND CONDITIONS
	**************************/

	#tracker-details #my-providers.info-stats div.accordion div.content div.providers-terms-and-con p {
		line-height: 21px;
	}
	
	
	#tracker-details #my-providers.info-stats div.accordion div.content section.by-code {
		
	}

	/**************************
	INVITE A PROVIDER
	**************************/
	
	ul.inner-accordion li#invite-provider {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	ul.inner-accordion li#invite-provider div ul li div div div.trigger-wrap div.accordionChildHeaderText span.add-contact{
		
		margin-right: 16px;
			 
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap, #my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap {
		position: relative;
		float: left;
		position: relative;
		height: auto;
		padding: 0;
		width: 100%;
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText,#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 13px;
		padding-top: 0;
		
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText span.add-contact, #my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText span.add-contact {
	
		float: left;
		position: relative;
		height: 23px;
		width: 27px;
		margin-top: 8px;
		margin-right: 16px;
		
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText span.provider-contact-name, #my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText span.provider-contact-name {
		float: left;
		position: relative;
		height: auto;
		margin-top: 11px;
		margin-right: 16px;
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText span.blue-arrow, #my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText span.blue-arrow{
	
		float: right;
		position: relative;
		margin-top: 17px;
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected {
		float: right;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	#my-providers.info-stats div.accordion div.content div ul.inner-accordion li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div {
		float: right;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	
	/**************************
	PROVIDER LIST
	**************************/
	
	ul.inner-accordion li.provider {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	ul.inner-accordion li.provider div.trigger-wrap {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger {
		float: left;
		position: relative;
		height: auto;
		width: 100%;
	}
	
	section#my-providers.info-stats div.accordion div.content div ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.provider-contact-name {
		margin-right: 10px;
		text-transform: uppercase;
		color: #4695B0;
	}
	
	section#my-providers.info-stats div.accordion div.content div ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.confirmed-contact {
		margin-right: 16px;
		
	}
	

	
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.confirmed-contact {
		float: left;
		position: relative;
		height: 23px;
		width: 27px;
		display: block;
		margin-right: 16px;
	}
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.provider-contact-name {
		float: left;
		position: relative;
		height: 20px;
		width: auto;
		display: block;
		margin-top: 2px;
	}
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.contact-number {
		float: left;
		position: relative;
		height: 20px;
		width: auto;
		display: block;
		margin-top: 2px;
	}
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.blue-arrow {
		float: left;
		position: relative;
		height: 20px;
		width: auto;
		display: block;
	}
	
	.connection-center div.content ul.inner-accordion li div.trigger-wrap .trash {
	    cursor: pointer;
	    position: absolute;
	    right: 42px;
	    top: 15px;
	}
		
	

.connection-center div.content ul.inner-accordion li div.trigger-wrap div.inner-trigger span.blue-arrow {

  background: url("../../images/sprite-arrows.png") no-repeat transparent;
  display: block;
  width: 15px;
  height: 11px;
  background-position: 0 -143px;
  float: right;
  margin-top: 7px;

}


.connection-center div.content ul.inner-accordion li div.trigger-wrap div.inner-trigger.trigger-selected span.blue-arrow {
  background: url("../../images/sprite-arrows.png") no-repeat transparent;
  display: block;
  width: 15px;
  height: 11px;
  background-position: 0 -124px;
  float: right;
   margin-top: 8px;
}


/**************************
MY MESSAGES
**************************/


section#my-messages.info-stats div.accordion div.toggle-btn h4 span.gray-arrow {
	margin-top: 1px;
}



/***************************
GLOBAL RESOURCES
***************************/

section.global-resources div.accordion div.content p {
	margin-bottom: 8px;
	color: #44AFE3;
}

section.global-resources div.accordion div.content div#ctl00_ContentPlaceHolderMain_GlobalResources_upGlobalResources div#ctl00_ContentPlaceHolderMain_GlobalResources_divContent {
	font-size: 14px;
	color: #949391;
	font-style: italic;
}

/***************************
LARGE ICONS
***************************/


article.tile-large div.tile-inner section.tile-content .tile-button {	
	border: none;
	background: url('../../images/sprite-all-icons.png') no-repeat;
	height: 179px;
    width: 179px;
    box-shadow: 0px;
    background-size: 972px 4238px;
}



/***************************
NAVIGATION
***************************/

.sub-menu li {
	padding: 3px;
}

/*************************
PAGINATION BUTTONS 
*************************/

div.pager .active {
    background: none repeat scroll 0 0 #b2b2b2;
}


div.pager span {

    font-size: 12px;
    height: 20px;
    line-height: 1.8;
    margin-right: 0.5em;
    text-align: center;
    width: 20px;
}


/*******************************
POPUP WINDOW CHANGES
*******************************/

.iframe-popup p {
	
	margin-top: 8px;
	margin-bottom: 8px;
	line-height: 14px;
}

body .modal-bg {
	overflow: hidden;
}

body .modal-bg .modal-wrap {
	height: 100%;
	overflow: hidden;
	max-height: 550px;
}

body .modal-bg .modal-wrap .inner-modal {
    height: 94%;
    margin-bottom: 1.75em;
	-webkit-overflow-scrolling: touch;
    padding-bottom: 62.25%;
    padding-top: 30px;
    position: relative;
}

body .modal-bg .modal-wrap .inner-modal iframe {
}

body .shadowbox {
	background: none;
	background-image: url('../../images/modal-bg.png');
	background-repeat: repeat;
	background-size: auto auto;
	
}

body .modal-bg .modal-wrap {
	background-image: -webkit-linear-gradient(right top, white 17%, #F2F2F2 47%, white 80%); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(right top, white 17%, #F2F2F2 47%, white 80%); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(right top, white 17%, #F2F2F2 47%, white 80%); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(right top, white 17%, #F2F2F2 47%, white 80%); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to top,  white 17%, #F2F2F2 47%, white 80%); /* Standard syntax; must be last */
	background: 		linear-gradient(to top, white 17%, #F2F2F2 47%, white 80%) repeat scroll 0% 0% transparent !important;
}

body .modal-bg .bg-popup{
	max-height: 525px;
}
body .modal-bg .bp-popup{
	max-height: 600px;
	width: 450px;
}

body .modal-bg .ch-popup{
	max-height: 540px;
}

body .modal-bg .cc-popup{
	max-height: 490px;
} /* (for connection center) */

body .modal-bg .md-popup{
	max-height: 490px;
} /* (for medications) */

body .modal-bg .pa-popup{
	max-height: 520px;
}

body .modal-bg .pf-popup{
	max-height: 490px;
} /* (for profile) */

body .modal-bg .wt-popup{
	max-height: 490px;
}   /* (for weight) */


.validation-error ul {
	margin-bottom: 0;
}

/***************************
MY PROFILE
***************************/

.my-profile-warning {
	color: #7D1024;
	font-family: "HelveticaNeueW01-77BdCn 692722";
}

section.edit-profile div.accordion div.content div.row div.large-12 {
	padding: 37px;
	padding-top: 4px;
	padding-bottom: 0;
}

section.my-graph div.accordion div.content div.row div.large-12 {
	padding: 37px;
	padding-top: 4px;
	padding-bottom: 0;
}

/****************************
POPUP WINDOWS
****************************/





/*************************
HEADER UPDATES
*************************/

#utility ul li div.search-field {
    width: 236px;
}

utility ul li div.search-field input[type="text"] {
    width: 188px;
}

ctl00_ContentPlaceHolderMain_Connections_accInvitation {
	padding: 2px;
}

div#container div#header-wrap.full header.header div#main-nav-wrap.full div#ctl00_divNavigation1 nav#main-nav.hide-for-small {
	display: block !important;
}

.hide-for-small {
    display: block !important;
}

div.tile-inner section.tile-content .tile-button {
	border: none;
	background: url("../../images/sprite-all-icons-small.png") 0 0 no-repeat rgb(242, 242, 242);
	background-size: 730px 2030px;
}


/* MY PARTICIPANTS ICONS */
	#my-participants .tile-button {
		background-position: -390px -650px;
	}
	#my-participants .tile-button:hover {
		background-position: -390px -780px;
	}
	
	#my-participants.neutral-blue .tile-button {
	  background-position: 0 -1820px;
	}
	#my-participants.neutral-blue .tile-button:hover {
	   background-position: -130px 0;
	}	
	
	#my-participants.excellent-green .tile-button {
	   background-position: -260px -260px; 
	}
	#my-participants.excellent-green .tile-button:hover {
	   background-position: -260px -390px;
	}	
	
	#my-participants.needsimprovement-orange .tile-button {
	  background-position: -520px -1040px;
	}
	#my-participants.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -1170px;
	}
		
	#my-participants.warning-red .tile-button {
	   background-position: -650px -1430px;
	}
	#my-participants.warning-red .tile-button:hover {
	   background-position: -650px -1560px;
	}
	
/* MY GROUPS ICONS -- TODO */	
/* ALERTS ICONS -- TODO */	
/* MESSAGES ICONS -- TODO */	
/* PUBLICATIONS ICONS -- TODO */	
	
/* MY PROFILE ICONS */

	#my-profile .tile-button {
		background-position: -390px -650px;
	}
	#my-profile .tile-button:hover {
		background-position: -390px -780px;
	}
	
	#my-profile.neutral-blue .tile-button {
	  background-position: 0 -1820px;
	}
	#my-profile.neutral-blue .tile-button:hover {
	   background-position: -130px 0;
	}
	
	
	#my-profile.excellent-green .tile-button {
	   background-position: -260px -260px; 
	}
	#my-profile.excellent-green .tile-button:hover {
	   background-position: -260px -390px;
	}
	
	
	#my-profile.needsimprovement-orange .tile-button {
	  background-position: -520px -1040px;
	}
	#my-profile.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -1170px;
	}
	
	
	#my-profile.warning-red .tile-button {
	   background-position: -650px -1430px;
	}
	#my-profile.warning-red .tile-button:hover {
	   background-position: -650px -1560px;
	}
	

/* MY PRESSURE ICONS  */

	#my-pressure .tile-button {
		background-position: -260px -1040px; 
	}
	
	#my-pressure .tile-button:hover {
		background-position: -260px -1170px;
	}
	
	#my-pressure.neutral-blue .tile-button {
	    background-position: 0 -260px; 
	}
	#my-pressure.neutral-blue .tile-button:hover {
	   background-position: 0 -390px;
	}
	
	
	#my-pressure.excellent-green .tile-button {
	    background-position: -130px -650px;
	}
	#my-pressure.excellent-green .tile-button:hover {
	   background-position: -130px -780px;
	}
	
	
	#my-pressure.needsimprovement-orange .tile-button {
	   background-position: -390px -1430px; 
	}
	#my-pressure.needsimprovement-orange .tile-button:hover {
	   background-position: -390px -1560px;
	}
	
	
	#my-pressure.warning-red .tile-button {
	    background-position: -520px -1820px;
	}
	#my-pressure.warning-red .tile-button:hover {
	 	 background-position: -650px 0;
	}
	

/* MY WEIGHT ICONS */

	#my-weight .tile-button {
		background-position: -390px -910px;
	}
	#my-weight .tile-button:hover {
		background-position: -390px -1040px;
	}
	
	
	
	#my-weight.neutral-blue .tile-button {
	  	background-position: -130px -130px; 
	}
	#my-weight.neutral-blue .tile-button:hover {
	   	background-position: -130px -260px;
	}
	
	
	
	
	#my-weight.excellent-green .tile-button {
	   background-position: -260px -520px;
	}
	#my-weight.excellent-green .tile-button:hover {
	    background-position: -260px -650px;
	}
	
	
	#my-weight.needsimprovement-orange .tile-button {
	    background-position: -520px -1300px; 
	}
	#my-weight.needsimprovement-orange .tile-button:hover {
	 	 background-position: -520px -1430px; 
	}
	
	
	#my-weight.warning-red .tile-button {
	 	 background-position: -650px -1690px;
	}
	#my-weight.warning-red .tile-button:hover {
	    background-position: -650px -1820px; 
	}
	

/* MY ACTIVITY ICONS */

	#my-activity .tile-button {
		background-position: -260px -780px; 
	}
	#my-activity .tile-button:hover {
		 background-position: -260px -910px; 
	}
	
	#my-activity.neutral-blue .tile-button {
	   background-position: 0 0;
	}
	#my-activity.neutral-blue .tile-button:hover {
	    background-position: 0 -130px;
	}
	
	
	#my-activity.excellent-green .tile-button {
	   background-position: -130px -390px;
	}
	#my-activity.excellent-green .tile-button:hover {
	   background-position: -130px -520px;
	}
	
	
	#my-activity.needsimprovement-orange .tile-button {
	    background-position: -390px -1170px;
	}
	#my-activity.needsimprovement-orange .tile-button:hover {
	    background-position: -390px -1300px;
	}
	
	
	#my-activity.warning-red .tile-button {
	  background-position: -520px -1560px;
	}
	#my-activity.warning-red .tile-button:hover {
	   background-position: -520px -1690px;
	}
	


/* MY GLUCOSE */

	#my-glucose .tile-button {
		background-position: -260px -1820px;
	}
	#my-glucose .tile-button:hover {
		background-position: -390px 0; 
	}
	
	
	
	#my-glucose.neutral-blue .tile-button {
	    background-position: 0 -1040px;
	}
	#my-glucose.neutral-blue .tile-button:hover {
		 background-position: 0 -1170px;
	}
	
	
	
	#my-glucose.excellent-green .tile-button {
	    background-position: -130px -1430px;
	}
	#my-glucose.excellent-green .tile-button:hover {
	    background-position: -130px -1560px;
	}
	
	
	
	#my-glucose.needsimprovement-orange .tile-button {
	    background-position: -520px -260px;
	}
	#my-glucose.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -390px; 
	}
	
	
	
	
	#my-glucose.warning-red .tile-button {
	   background-position: -650px -650px;
	}
	#my-glucose.warning-red .tile-button:hover {
	     background-position: -650px -780px;
	}
	
	


/* MY CHOLESTEROL */

	#my-cholesterol .tile-button {
		background-position: -260px -1560px;
	}
	#my-cholesterol .tile-button:hover {
		background-position: -260px -1690px;
	}
	
	
	#my-cholesterol.neutral-blue .tile-button {
	    background-position: 0 -780px;
	}
	#my-cholesterol.neutral-blue .tile-button:hover {
	    background-position: 0 -910px;
	}
	
	#my-cholesterol.excellent-green .tile-button {
	     background-position: -130px -1170px;
	}
	#my-cholesterol.excellent-green .tile-button:hover {
	  	 background-position: -130px -1300px;
	}
	
	
	
	#my-cholesterol.needsimprovement-orange .tile-button {
	   background-position: -520px 0;
	}
	#my-cholesterol.needsimprovement-orange .tile-button:hover {
	   background-position: -520px -130px;
	}
	
	
	#my-cholesterol.warning-red .tile-button {
	    background-position: -650px -390px;
	}
	#my-cholesterol.warning-red .tile-button:hover {
	    background-position: -650px -520px;
	}
	

/* MY MEDICATIONS */

	#my-medications .tile-button {
		background-position: -390px -390px;
	}
	#my-medications .tile-button:hover {
		background-position: -390px -520px;
	}
	
	
	#my-medications.neutral-blue .tile-button {
	   background-position: 0 -1560px;
	}
	#my-medications.neutral-blue .tile-button:hover {
	   background-position: 0 -1690px;
	}
	
	
	#my-medications.excellent-green .tile-button {
	    background-position: -260px 0;
	}
	#my-medications.excellent-green .tile-button:hover {
	    background-position: -260px -130px;
	}
	
	
	#my-medications.needsimprovement-orange .tile-button {
	    background-position: -520px -780px;
	}
	#my-medications.needsimprovement-orange .tile-button:hover {
	    background-position: -520px -910px;
	}
	
	
	#my-medications.warning-red .tile-button {
	    background-position: -650px -1170px;
	}
	#my-medications.warning-red .tile-button:hover {
	 	background-position: -650px -1300px;
	}
	

/* MY LIFECHECK */

	#my-lifecheck .tile-button {
		background-position: -390px -130px;
	}
	#my-lifecheck .tile-button:hover {
		background-position: -390px -260px;
	}
	

	#my-lifecheck.neutral-blue .tile-button {
	   background-position: 0 -1300px;
	}
	#my-lifecheck.neutral-blue .tile-button:hover {
	  background-position: 0 -1430px;
	}
	
	
	
	#my-lifecheck.excellent-green .tile-button {
	   background-position: -130px -1690px;
	}
	#my-lifecheck.excellent-green .tile-button:hover {
	   background-position: -130px -1820px;
	}
	
	
	#my-lifecheck.needsimprovement-orange .tile-button {
	   background-position: -520px -520px;
	}
	#my-lifecheck.needsimprovement-orange .tile-button:hover {
	    background-position: -520px -650px;
	}
	
	
	#my-lifecheck.warning-red .tile-button {
	   background-position: -650px -910px;
	}
	#my-lifecheck.warning-red .tile-button:hover {
	   background-position: -650px -1040px;
	}
	

/* LARGE MY PARTICIPANTS ICONS -- TODO */	
/* LARGE MY GROUPS ICONS -- TODO */	
/* LARGE ALERTS ICONS -- TODO */	
/* LARGE MESSAGES ICONS -- TODO */	
/* LARGE PUBLICATIONS ICONS -- TODO */	
	
	
/* LARGE MY PROFILE ICONS */

	#my-profile-large .tile-button {
		background-position: 0 -930px;
	}
	#my-profile-large .tile-button:hover {
		background-position: 0 -1174px;
	}
	
	#my-profile-large.neutral-blue .tile-button {
	  background-position: -793px -930px;
	}
	#my-profile-large.neutral-blue .tile-button:hover {
	   background-position: -793px -1174px;
	}
	
	
	#my-profile-large.excellent-green .tile-button {
	   background-position: -594px -930px; 
	}
	#my-profile-large.excellent-green .tile-button:hover {
	   background-position: -594px -1174px;
	}
	
	
	#my-profile-large.needsimprovement-orange .tile-button {
	  background-position: -398px -930px;
	}
	#my-profile-large.needsimprovement-orange .tile-button:hover {
	  background-position: -398px -1174px;
	}
	
	
	#my-profile-large.warning-red .tile-button {
	   background-position: -198px -930px;
	}
	#my-profile-large.warning-red .tile-button:hover {
	   background-position: -198px -1174px;
	}
	

/* LARGE MY PRESSURE ICONS  */

	#my-pressure-large .tile-button {
		background-position: 0 -13px; 
	}
	
	#my-pressure-large .tile-button:hover {
		background-position: 0 -227px;
	}
	
	#my-pressure-large.neutral-blue .tile-button {
	    background-position: -793px -13px; 
	}
	#my-pressure-large.neutral-blue .tile-button:hover {
	   background-position: -793px -227px;
	}
	
	
	#my-pressure-large.excellent-green .tile-button {
	    background-position: -594px -13px;
	}
	#my-pressure-large.excellent-green .tile-button:hover {
	   background-position: -594px -227px;
	}
	
	
	#my-pressure-large.needsimprovement-orange .tile-button {
	   background-position: -398px -13px; 
	}
	#my-pressure-large.needsimprovement-orange .tile-button:hover {
	   background-position: -398px -227px;
	}
	
	
	#my-pressure-large.warning-red .tile-button {
	    background-position: -198px -13px;
	}
	#my-pressure-large.warning-red .tile-button:hover {
	 	 background-position: -198px -227px;
	}
	

/* LARGE MY WEIGHT ICONS */

	#my-weight-large .tile-button {
		background-position: 0 -1407px;
	}
	#my-weight-large  .tile-button:hover {
		background-position: 0 -1638px;
	}
	
	
	#my-weight-large.neutral-blue .tile-button {
	  	background-position: -793px -1407px; 
	}
	#my-weight-large.neutral-blue .tile-button:hover {
	   	background-position: -793px -1638px;
	}

	
	#my-weight-large.excellent-green .tile-button {
	   background-position: -594px -1407px;
	}
	
	#my-weight-large.excellent-green .tile-button:hover {
	    background-position: -594px -1638px;
	}
	
	
	#my-weight-large.needsimprovement-orange .tile-button {
	    background-position: -398px -1407px; 
	}
	#my-weight-large.needsimprovement-orange .tile-button:hover {
	 	 background-position: -398px -1638px; 
	}
	
	
	#my-weight-large.warning-red .tile-button {
	 	 background-position: -198px -1407px;
	}
	#my-weight-large.warning-red .tile-button:hover {
	    background-position: -198px -1638px; 
	}
	

/* LARGE MY ACTIVITY ICONS */

	#my-activity-large .tile-button {
		background-position: 0 -1889px; 
	}
	#my-activity-large .tile-button:hover {
		 background-position: 0 -2103px; 
	}
	
	#my-activity-large.neutral-blue .tile-button {
	   background-position: -793px -1889px;
	}
	#my-activity-large.neutral-blue .tile-button:hover {
	    background-position: -793px -2103px;
	}
	
	
	#my-activity-large.excellent-green .tile-button {
	   background-position: -594px -1889px;
	}
	#my-activity-large.excellent-green .tile-button:hover {
	   background-position: -594px -2103px;
	}
	
	
	#my-activity-large.needsimprovement-orange .tile-button {
	    background-position: -398px -1889px;
	}
	#my-activity-large.needsimprovement-orange .tile-button:hover {
	    background-position: -398px -2103px;
	}
	
	
	#my-activity-large.warning-red .tile-button {
	  background-position: -198px -1889px;
	}
	#my-activity-large.warning-red .tile-button:hover {
	   background-position: -198px -2103px;
	}
	


/* LARGE MY GLUCOSE */

	#my-glucose-large .tile-button {
		background-position: 0 -2330px;
	}
	#my-glucose-large .tile-button:hover {
		background-position: 0 -2565px; 
	}
	
	
	
	#my-glucose-large.neutral-blue .tile-button {
	    background-position: -793px -2330px;
	}
	#my-glucose-large.neutral-blue .tile-button:hover {
		 background-position: -793px -2565px;
	}
	
	
	
	#my-glucose-large.excellent-green .tile-button {
	    background-position: -594px -2330px;
	}
	#my-glucose-large.excellent-green .tile-button:hover {
	    background-position: -594px -2565px;
	}
	
	
	
	#my-glucose-large.needsimprovement-orange .tile-button {
	    background-position: -398px -2330px;
	}
	#my-glucose-large.needsimprovement-orange .tile-button:hover {
	  background-position: -398px -2565px; 
	}
	
	
	
	
	#my-glucose-large.warning-red .tile-button {
	   background-position: -198px -2330px;
	}
	#my-glucose-large.warning-red .tile-button:hover {
	     background-position: -198px -2565px;
	}
	
	


/* LARGE MY CHOLESTEROL */

	#my-cholesterol-large .tile-button {
		background-position: 0 -2806px;
	}
	#my-cholesterol-large .tile-button:hover {
		background-position: 0 -3050px;
	}
	
	
	#my-cholesterol-large.neutral-blue .tile-button {
	    background-position: -793px -2806px;
	}
	#my-cholesterol-large.neutral-blue .tile-button:hover {
	    background-position: -793px -3050px;
	}
	
	#my-cholesterol-large.excellent-green .tile-button {
	     background-position: -594px -2806px;
	}
	#my-cholesterol-large.excellent-green .tile-button:hover {
	  	 background-position: -594px -3050px;
	}
	
	
	
	#my-cholesterol-large.needsimprovement-orange .tile-button {
	   background-position: -398px -2806px;
	}
	#my-cholesterol-large.needsimprovement-orange .tile-button:hover {
	   background-position: -398px -3050px;
	}
	
	
	#my-cholesterol-large.warning-red .tile-button {
	    background-position: -198px -2806px;
	}
	#my-cholesterol-large.warning-red .tile-button:hover {
	    background-position: -198px -3050px;
	}
	

/*  LARGE MY MEDICATIONS */

	#my-medications-large .tile-button {
		background-position: 0 -3286px;
	}
	#my-medications-large .tile-button:hover {
		background-position: 0 -3518px;
	}
	
	
	#my-medications-large.neutral-blue .tile-button {
	   background-position: -793px -3286px;
	}
	#my-medications-large.neutral-blue .tile-button:hover {
	   background-position: -793px -3518px;
	}
	
	
	#my-medications-large.excellent-green .tile-button {
	    background-position: -594px -3286px;
	}
	#my-medications-large.excellent-green .tile-button:hover {
	    background-position: -594px -3518px;
	}
	
	
	#my-medications-large.needsimprovement-orange .tile-button {
	    background-position: -398px -3286px;
	}
	#my-medications-large.needsimprovement-orange .tile-button:hover {
	    background-position: -398px -3518px;
	}
	
	
	#my-medications-large.warning-red .tile-button {
	    background-position: -198px -3286px;
	}
	#my-medications-large.warning-red .tile-button:hover {
	 	background-position: -198px -3518px;
	}
	

/* LARGE MY LIFECHECK */

	#my-lifecheck-large .tile-button {
		background-position: 0 -3991px;
	}
	#my-lifecheck-large .tile-button:hover {
		background-position: 0 -3747px;
	}
	

	#my-lifecheck-large.neutral-blue .tile-button {
	   background-position: -793px -3991px;
	}
	#my-lifecheck-large.neutral-blue .tile-button:hover {
	  background-position: -793px -3747px;
	}
	
	
	
	#my-lifecheck-large.excellent-green .tile-button {
	   background-position: -594px -3991px;
	}
	#my-lifecheck-large.excellent-green .tile-button:hover {
	   background-position: -592px -3747px;
	}
	
	
	#my-lifecheck-large.needsimprovement-orange .tile-button {
	   background-position: -398px -3991px;
	}
	#my-lifecheck-large.needsimprovement-orange .tile-button:hover {
	    background-position: -398px -3747px;
	}
	
	
	#my-lifecheck-large.warning-red .tile-button {
	   background-position: -198px -3991px;
	}
	#my-lifecheck-large.warning-red .tile-button:hover {
	   background-position: -198px -3747px;
	}
	







@media screen and (max-width: 480px) {

.nested-tabs .tabs-nav .tab-btn .tab-title {
	font-size: 14px;
	display: none !important;
}

	
	
	
	/****************************
	BIG TILE
	*****************************/
	
	.connection-center #tracker-details footer.notifications  {
		height: 30px;
		padding: 0 22px 0 0;
	}
	
	/*****************************
	LITTLE TILES
	*****************************/
	
	
	 
	article#my-center.tile,
	article#my-profile.tile,
	article#my-pressure.tile,
	article#my-weight.tile,
	article#my-activity.tile,
	article#my-glucose.tile,
	article#my-cholesterol.tile,
	article#my-medications.tile,
	article#my-lifecheck.tile  {
		padding-right: 0;
		padding-left: 0;
	}
	
	section#side-tiles.small-12 article#my-pressure.tile div.tile-inner section.tile-content div.tile-reading span.tile-data span.diastolic-data {
		font-family: "HelveticaNeueW01-77BdCn 692722", sans-serif;
	}
	
	section#side-tiles article#my-center div.tile-inner section.tile-content div.tile-reading span.tile-data span.diastolic-data {
		font-family: "HelveticaNeueW01-77BdCn 692722", sans-serif;
	}
	
	
	
	/*****************************
	FRONT INFO BOX
	*****************************/

	
	.section-container .participants div.content {
		height: 154px;
	}
	
	
	div#container div#header-wrap.full header.header div#main-nav-wrap.full div#ctl00_divNavigation1 nav#main-nav.hide-for-small {
		display: none !important;
	 }

	.hide-for-small {
	    display: none !important;
	}
	
	section#side-tiles article.tile div.tile-inner section.tile-content div.tile-reading {
		width: 66%;
	}
	
	
	

	body .modal-bg .modal-wrap {
		
		left: 3%;
		
		position: absolute;
		margin-left: 0;
		top: 5%;
		width: 93%;
		height: 90%;
		
	}
	
	body .modal-bg .modal-wrap .inner-modal {
		
		height: 96%;
		
	}
	
	body .modal-bg .modal-wrap .inner-modal iframe{
		overflow: scroll;
	}
	
	#my-profile section.tile-content div.tile-reading {
		width: 61%;
	}
	
	div.tile-inner header.tile-title .add-reading {
		width: 40%;
	}
	
	div.tile-inner header.tile-title h3 a {
		font-size: 15px;
	}
	
	div.tile-inner header.tile-title .add-reading {
	    line-height: 15px;
	}
	
	article.tile-large div.tile-inner section.tile-content .tile-button {
		box-shadow: inherit;
		
	}
	
	
	div.tile-inner section.tile-content div.tile-reading {
		margin-top: 0;
	}
	
	
	
	
	/************************
	PROVIDERS AND VOLUNTEERS
	*************************/
	
	.connection-center div.content ul.inner-accordion li div.trigger-wrap .trash {
		right: 44px;
	}
	section#my-providers.info-stats div.accordion div.content div ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.confirmed-contact {
		margin-right: 7px;
	}
	
	#my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText span.add-contact, #my-providers div.accordion div.content li#invite-provider div.asp-container-start ul.asp-container-ul li.asp-container-li div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText span.add-contact {
	    margin-right: 5px;

	}
	
	ul.inner-accordion li.provider div.trigger-wrap div.inner-trigger span.contact-number {
		display: none;
	}
	
	
		/*********************
		INVITE A PROVIDER
		*********************/
		
		.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.tab-title {
		
		    font-size: 10px;
		    line-height: 12px;
		    margin-bottom: 10px !important;
		    margin-left: 0 !important;
		    margin-top: 8px !important;
		    padding: 0 !important;
		    text-align: center;
		    text-transform: uppercase;
		    vertical-align: top;
		    width: 100%;
		}



	div.tile-inner section.tile-content .tile-button {
		border: none;
		background: url("../../images/sprite-all-icons-small.png") 0 0 no-repeat rgb(242, 242, 242);
		background-size: 730px 2030px;
		box-shadow:inherit;
	}

  /* LARGE/480 MY PARTICIPANTS ICONS */	

  #my-participants-large .tile-button {
		background-position: -390px -650px;
	}
	#my-participants-large .tile-button:hover {
		background-position: -390px -780px;
	}
	
	#my-participants-large.neutral-blue .tile-button {
	  background-position: 0 -1820px;
	}
	#my-participants-large.neutral-blue .tile-button:hover {
	   background-position: -130px 0;
	}
		
	#my-participants-large.excellent-green .tile-button {
	   background-position: -260px -260px; 
	}
	#my-participants-large.excellent-green .tile-button:hover {
	   background-position: -260px -390px;
	}
		
	#my-participants-large.needsimprovement-orange .tile-button {
	  background-position: -520px -1040px;
	}
	#my-participants-large.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -1170px;
	}
		
	#my-participants-large.warning-red .tile-button {
	   background-position: -650px -1430px;
	}
	#my-participants-large.warning-red .tile-button:hover {
	   background-position: -650px -1560px;
	}

/* LARGE/480 MY GROUPS ICONS -- TODO */	
/* LARGE/480 ALERTS ICONS -- TODO */	
/* LARGE/480 MESSAGES ICONS -- TODO */	
/* LARGE/480 PUBLICATIONS ICONS -- TODO */	
	
/* MY PROFILE ICONS */

	#my-profile-large .tile-button {
		background-position: -390px -650px;
	}
	#my-profile-large .tile-button:hover {
		background-position: -390px -780px;
	}
	
	#my-profile-large.neutral-blue .tile-button {
	  background-position: 0 -1820px;
	}
	#my-profile-large.neutral-blue .tile-button:hover {
	   background-position: -130px 0;
	}
		
	#my-profile-large.excellent-green .tile-button {
	   background-position: -260px -260px; 
	}
	#my-profile-large.excellent-green .tile-button:hover {
	   background-position: -260px -390px;
	}
		
	#my-profile-large.needsimprovement-orange .tile-button {
	  background-position: -520px -1040px;
	}
	#my-profile-large.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -1170px;
	}
		
	#my-profile-large.warning-red .tile-button {
	   background-position: -650px -1430px;
	}
	#my-profile-large.warning-red .tile-button:hover {
	   background-position: -650px -1560px;
	}
	
/* MY PRESSURE ICONS  */

	#my-pressure-large .tile-button {
		background-position: -260px -1040px; 
	}
	
	#my-pressure-large .tile-button:hover {
		background-position: -260px -1170px;
	}
	
	#my-pressure-large.neutral-blue .tile-button {
	    background-position: 0 -260px; 
	}
	#my-pressure-large.neutral-blue .tile-button:hover {
	   background-position: 0 -390px;
	}
		
	#my-pressure-large.excellent-green .tile-button {
	    background-position: -130px -650px;
	}
	#my-pressure-large.excellent-green .tile-button:hover {
	   background-position: -130px -780px;
	}
		
	#my-pressure-large.needsimprovement-orange .tile-button {
	   background-position: -390px -1430px; 
	}
	#my-pressure-large.needsimprovement-orange .tile-button:hover {
	   background-position: -390px -1560px;
	}
		
	#my-pressure-large.warning-red .tile-button {
	    background-position: -520px -1820px;
	}
	#my-pressure-large.warning-red .tile-button:hover {
	 	 background-position: -650px 0;
	}
	
/* MY WEIGHT ICONS */

	#my-weight-large .tile-button {
		background-position: -390px -910px;
	}
	#my-weight-large .tile-button:hover {
		background-position: -390px -1040px;
	}
		
	#my-weight-large.neutral-blue .tile-button {
	  	background-position: -130px -130px; 
	}
	#my-weight-large.neutral-blue .tile-button:hover {
	   	background-position: -130px -260px;
	}
		
	#my-weight-large.excellent-green .tile-button {
	   background-position: -260px -520px;
	}
	#my-weight-large.excellent-green .tile-button:hover {
	    background-position: -260px -650px;
	}
		
	#my-weight-large.needsimprovement-orange .tile-button {
	    background-position: -520px -1300px; 
	}
	#my-weight-large.needsimprovement-orange .tile-button:hover {
	 	 background-position: -520px -1430px; 
	}
		
	#my-weight-large.warning-red .tile-button {
	 	 background-position: -650px -1690px;
	}
	#my-weight-large.warning-red .tile-button:hover {
	    background-position: -650px -1820px; 
	}
	
/* MY ACTIVITY ICONS */

	#my-activity-large .tile-button {
		background-position: -260px -780px; 
	}
	#my-activity-large .tile-button:hover {
		 background-position: -260px -910px; 
	}
	
	#my-activity-large.neutral-blue .tile-button {
	   background-position: 0 0;
	}
	#my-activity-large.neutral-blue .tile-button:hover {
	    background-position: 0 -130px;
	}
		
	#my-activity-large.excellent-green .tile-button {
	   background-position: -130px -390px;
	}
	#my-activity-large.excellent-green .tile-button:hover {
	   background-position: -130px -520px;
	}
		
	#my-activity-large.needsimprovement-orange .tile-button {
	    background-position: -390px -1170px;
	}
	#my-activity-large.needsimprovement-orange .tile-button:hover {
	    background-position: -390px -1300px;
	}
		
	#my-activity-large.warning-red .tile-button {
	  background-position: -520px -1560px;
	}
	#my-activity-large.warning-red .tile-button:hover {
	   background-position: -520px -1690px;
	}
	
/* MY GLUCOSE */

	#my-glucose-large .tile-button {
		background-position: -260px -1820px;
	}
	#my-glucose-large .tile-button:hover {
		background-position: -390px 0; 
	}
		
	#my-glucose-large.neutral-blue .tile-button {
	    background-position: 0 -1040px;
	}
	#my-glucose-large.neutral-blue .tile-button:hover {
		 background-position: 0 -1170px;
	}
	
	#my-glucose-large.excellent-green .tile-button {
	    background-position: -130px -1430px;
	}
	#my-glucose-large.excellent-green .tile-button:hover {
	    background-position: -130px -1560px;
	}
	
	#my-glucose-large.needsimprovement-orange .tile-button {
	    background-position: -520px -260px;
	}
	#my-glucose-large.needsimprovement-orange .tile-button:hover {
	  background-position: -520px -390px; 
	}
	
	#my-glucose-large.warning-red .tile-button {
	   background-position: -650px -650px;
	}
	#my-glucose-large.warning-red .tile-button:hover {
	     background-position: -650px -780px;
	}
	
/* MY CHOLESTEROL */

	#my-cholesterol-large .tile-button {
		background-position: -260px -1560px;
	}
	#my-cholesterol-large .tile-button:hover {
		background-position: -260px -1690px;
	}
	
	#my-cholesterol-large.neutral-blue .tile-button {
	    background-position: 0 -780px;
	}
	#my-cholesterol-large.neutral-blue .tile-button:hover {
	    background-position: 0 -910px;
	}
	
	#my-cholesterol-large.excellent-green .tile-button {
	     background-position: -130px -1170px;
	}
	#my-cholesterol-large.excellent-green .tile-button:hover {
	  	 background-position: -130px -1300px;
	}
	
	#my-cholesterol-large.needsimprovement-orange .tile-button {
	   background-position: -520px 0;
	}
	#my-cholesterol-large.needsimprovement-orange .tile-button:hover {
	   background-position: -520px -130px;
	}
	
	#my-cholesterol-large.warning-red .tile-button {
	    background-position: -650px -390px;
	}
	#my-cholesterol-large.warning-red .tile-button:hover {
	    background-position: -650px -520px;
	}

/* MY MEDICATIONS */

	#my-medications-large .tile-button {
		background-position: -390px -390px;
	}
	#my-medications-large .tile-button:hover {
		background-position: -390px -520px;
	}
	
	#my-medications-large.neutral-blue .tile-button {
	   background-position: 0 -1560px;
	}
	#my-medications-large.neutral-blue .tile-button:hover {
	   background-position: 0 -1690px;
	}
	
	#my-medications-large.excellent-green .tile-button {
	    background-position: -260px 0;
	}
	#my-medications-large.excellent-green .tile-button:hover {
	    background-position: -260px -130px;
	}
	
	#my-medications-large.needsimprovement-orange .tile-button {
	    background-position: -520px -780px;
	}
	#my-medications-large.needsimprovement-orange .tile-button:hover {
	    background-position: -520px -910px;
	}
	
	#my-medications-large.warning-red .tile-button {
	    background-position: -650px -1170px;
	}
	#my-medications-large.warning-red .tile-button:hover {
	 	background-position: -650px -1300px;
	}

/* MY LIFECHECK */

	#my-lifecheck-large .tile-button {
		background-position: -390px -130px;
	}
	#my-lifecheck-large .tile-button:hover {
		background-position: -390px -260px;
	}
	
	#my-lifecheck-large.neutral-blue .tile-button {
	   background-position: 0 -1300px;
	}
	#my-lifecheck-large.neutral-blue .tile-button:hover {
	  background-position: 0 -1430px;
	}
	
	#my-lifecheck-large.excellent-green .tile-button {
	   background-position: -130px -1690px;
	}
	#my-lifecheck-large.excellent-green .tile-button:hover {
	   background-position: -130px -1820px;
	}
	
	#my-lifecheck-large.needsimprovement-orange .tile-button {
	   background-position: -520px -520px;
	}
	#my-lifecheck-large.needsimprovement-orange .tile-button:hover {
	    background-position: -520px -650px;
	}
	
	#my-lifecheck-large.warning-red .tile-button {
	   background-position: -650px -910px;
	}
	#my-lifecheck-large.warning-red .tile-button:hover {
	   background-position: -650px -1040px;
	}
	
} /* END @media screen max-width 480 */


/***********************
HIDEPRINT STUFF
***********************/

.showhideprinterlogo {
	display: none;
}

ul.asp-container-ul li.asp-container-li div div.accordionChild div div#.accordionChildContent div.row div.large-12 div#mobile-step-1.full div.row div.large-12 div.termsbox {
	height: 300px !important;
	overflow: scroll !important;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.termsbox, 
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.termsbox {
	overflow: scroll !important;
}