@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=617c8a90-435c-4fc9-b43c-e56d5bbca88e&fontids=673383,673386,692686,692689,692698,692710,692722,692734,692743");
@font-face{
font-family:"HelveticaNeueW01-ThinCn 673383";
src:url("/library/Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix");
src:url("/library/Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix") format("eot"),url("/library/Fonts/673383/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),url("/library/Fonts/673383/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype"),url("/library/Fonts/673383/67ccdd14-5fcd-479c-9829-ec39a60795fa.svg#67ccdd14-5fcd-479c-9829-ec39a60795fa") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-ThinCn 673386";
src:url("/library/Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix");
src:url("/library/Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix") format("eot"),url("/library/Fonts/673386/2906fb00-117f-4f5d-8e80-5c0658969b92.woff") format("woff"),url("/library/Fonts/673386/1e030520-a37b-4e02-b7cd-d514be1cbebb.ttf") format("truetype"),url("/library/Fonts/673386/fca2f769-a4e5-4857-a18c-c435c3b7025f.svg#fca2f769-a4e5-4857-a18c-c435c3b7025f") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692686";
src:url("/library/Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix");
src:url("/library/Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("/library/Fonts/692686/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("/library/Fonts/692686/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("/library/Fonts/692686/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692689";
src:url("/library/Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix");
src:url("/library/Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix") format("eot"),url("/library/Fonts/692689/aa6913f7-e674-4d61-973b-002422ac447e.woff") format("woff"),url("/library/Fonts/692689/857b0b99-c6b3-4ad8-a049-28506caba502.ttf") format("truetype"),url("/library/Fonts/692689/af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794.svg#af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-57Cn";
src:url("/library/Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
src:url("/library/Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("/library/Fonts/692698/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("/library/Fonts/692698/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("/library/Fonts/692698/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-67MdCn 692710";
src:url("/library/Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("/library/Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("/library/Fonts/692710/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("/library/Fonts/692710/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("/library/Fonts/692710/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("/library/Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("/library/Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("/library/Fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("/library/Fonts/692722/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("/library/Fonts/692722/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-87HvCn 692734";
src:url("/library/Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix");
src:url("/library/Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix") format("eot"),url("/library/Fonts/692734/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),url("/library/Fonts/692734/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype"),url("/library/Fonts/692734/9d3bb5f2-6932-419e-a56f-382131ffd4b8.svg#9d3bb5f2-6932-419e-a56f-382131ffd4b8") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-97Blac";
src:url("/library/Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix");
src:url("/library/Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix") format("eot"),url("/library/Fonts/692743/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff"),url("/library/Fonts/692743/843152a1-f5b5-4cbf-a5d3-e9ccaccddd2a.ttf") format("truetype"),url("/library/Fonts/692743/0fd53488-84fc-474e-b665-23a72ffda266.svg#0fd53488-84fc-474e-b665-23a72ffda266") format("svg");
}

body {
  padding: 0;
}

body form fieldset {
  border: none;
  padding: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/******************************************************************
Site Name:
Author:

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
  
/*********************
BUTTONS
*********************/
.gray-button,
.gray-button:visited {
  background: -moz-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #fbfbfb), color-stop(51%, whitesmoke), color-stop(100%, #e7e8e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  padding: 10px 0;
  color: #666666;
  display: inline-block;
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px white;
  cursor: pointer;
  margin-bottom: 0px;
  line-height: 1.52em; }
  .gray-button:hover, .gray-button :active,
  .gray-button:visited:hover,
  .gray-button:visited :active {
    background: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f2f2f2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #f2f2f2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #cccccc; }
    .gray-button:hover a, .gray-button :active a,
    .gray-button:visited:hover a,
    .gray-button:visited :active a {
      text-align: center; }
      .gray-button:hover a:hover, .gray-button:hover a :active, .gray-button :active a:hover, .gray-button :active a :active,
      .gray-button:visited:hover a:hover,
      .gray-button:visited:hover a :active,
      .gray-button:visited :active a:hover,
      .gray-button:visited :active a :active {
        color: #7d1024; }

.red-button,
.red-button:visited {
  background: #d74552;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3NDU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q2NDU0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxMWIyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjA5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d74552), color-stop(50%, #d64549), color-stop(51%, #d11b2a), color-stop(100%, #cb091d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d74552', endColorstr='#cb091d',GradientType=0 );
  /* IE6-8 */
  border: 1px solid #f2f2f2;
  padding: 10px 0;
  color: white;
  display: inline-block;
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px black;
  cursor: pointer;
  margin-bottom: 0px;
  line-height: 1.52em; }
  .red-button:hover, .red-button :active,
  .red-button:visited:hover,
  .red-button:visited :active {
    background: #ce4648;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlNDY0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlNDY0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NjMmUzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzJlMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ce4648), color-stop(50%, #ce4648), color-stop(51%, #cc2e39), color-stop(100%, #cc2e39));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce4648', endColorstr='#cc2e39',GradientType=0 );
    /* IE6-8 */
    border: 1px solid #cccccc;
    color: #f2f2f2; }
    .red-button:hover a, .red-button :active a,
    .red-button:visited:hover a,
    .red-button:visited :active a {
      text-align: center; }
      .red-button:hover a:hover, .red-button:hover a :active, .red-button :active a:hover, .red-button :active a :active,
      .red-button:visited:hover a:hover,
      .red-button:visited:hover a :active,
      .red-button:visited :active a:hover,
      .red-button:visited :active a :active {
        color: #f2f2f2; }

.toggle-btn {
  background: -moz-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #fbfbfb), color-stop(51%, whitesmoke), color-stop(100%, #e7e8e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #fbfbfb 50%, whitesmoke 51%, #e7e8e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cccccc;
  padding: 10px 0; }
  .toggle-btn:hover {
    background: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f2f2f2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f2f2f2 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, white 0%, #f2f2f2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    /* IE6-9 */ }
    
/******************************************************************
Site Name: American Heart Association
Author: Clint Hubbard Jr

Stylesheet: Foundation-4 Grid Stylesheet

******************************************************************/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html.ie9,
.ie9 body {
	background: white;
}

html,
body {
  font-size: 100%; }

body {
  background: transparent;
  color: #666666;
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueW01-57Cn", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

iframe {
	background-color: transparent;
}
a:hover {
  cursor: pointer; }

a:focus {
  outline: none; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr; }

/* Default Link Styles */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit; }

a:hover, a:focus {
  color: #2795b6; }

a img {
  border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility; }

p aside {
  font-size: 0.875em;
  line-height: 1.35em;
  font-style: italic; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c; }

/* Lists */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit; }

ul, ol {
  margin-left: 0; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */ }

ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }

ul.square {
  list-style-type: square; }

ul.circle {
  list-style-type: circle; }

ul.disc {
  list-style-type: disc; }

ul.no-bullet {
  list-style: none; }

/* Ordered Lists */
ol li ul,
ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold; }

dl dd {
  margin-bottom: 0.75em; }

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

abbr {
  text-transform: none; }

/* Blockquotes */
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd; }

blockquote cite {
  display: block;
  font-size: 0.8125em;
  color: #555555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a,
blockquote cite a:visited {
  color: #555555; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f; }

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25em 0;
  border: 1px solid #dddddd;
  padding: 0.625em 0.75em; }

.vcard li {
  margin: 0;
  display: block; }

.vcard .fn {
  font-weight: bold;
  font-size: 0.9375em; }

.vevent .summary {
  font-weight: bold; }

.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625em; }
  
/* OOCSS */
.full {
  width: 100% !important; }

.spt {
  margin-top: 20px !important; }

.spb {
  margin-bottom: 20px !important; }

.spl {
  margin-left: 20px !important; }

.spr {
  margin-right: 20px !important; }

.dspt {
  margin-top: 40px !important; }

.no-p {
  padding: 0 !important; }

.no-m {
  margin: 0 !important; }

.no-mt {
  margin-top: 0px !important; }

.no-mb {
  margin-bottom: 0px !important; }

.first {
  margin-left: 0px !important; }

.last {
  margin-right: 0px !important; }

.pad-b {
  padding-bottom: 20px; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* Grid HTML Classes */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 64em;
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }

.row .row {
  width: auto;
  margin-left: -0.65em;
  margin-right: -0.65em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  position: relative;
  padding-left: .65em;
  padding-right: .65em;
  width: 100%;
  float: left; }

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: .65em;
    padding-right: .65em;
    float: left; }

  .small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }

  .small-offset-0 {
    position: relative;
    margin-left: 0%; }

  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .small-offset-3 {
    position: relative;
    margin-left: 25%; }

  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .small-offset-6 {
    position: relative;
    margin-left: 50%; }

  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .small-offset-9 {
    position: relative;
    margin-left: 75%; }

  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
/* Styles for screens that are atleast 768px; */
  .large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-0 {
    position: relative;
    margin-left: 0%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

/* } */

/* Standard Forms */
form {
  margin: 0 0 1em; }

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.5em; }

form .row .row .column,
form .row .row .columns {
  padding: 0 0.5em; }

form .row .row.collapse {
  margin: 0; }

form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0; }

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5em; }

/* Label Styles */
label {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em; }

label.right {
  float: none;
  text-align: right; }

label.inline {
  margin: 0 0 1em 0;
  padding: 0.625em 0; }

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em; }

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125em; }

.prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125em; }

.prefix.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.postfix.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.prefix.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

.postfix.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

/* Separate prefix and postfix styles when on span so buttons keep their own */
span.prefix {
  background: #f2f2f2;
  border-color: #d9d9d9;
  border-right: none;
  color: #333333; }

span.prefix.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

span.postfix {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333; }

span.postfix.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/* Input groups will automatically style first and last elements of the group */
.input-group.radius > *:first-child, .input-group.radius > *:first-child * {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.input-group.radius > *:last-child, .input-group.radius > *:last-child * {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.input-group.round > *:first-child, .input-group.round > *:first-child * {
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

.input-group.round > *:last-child, .input-group.round > *:last-child * {
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none; }

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  background-color: #dddddd; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em 0; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25em;
  margin: 1.125em 0; }

fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em; }
  
  /* Tables */
table {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd; }

table thead,
table tfoot {
  background: whitesmoke;
  font-weight: bold; }

table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  text-align: left; }

table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222; }

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9; }

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 1.125em; }

/* Image Thumbnails */
.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.th:hover, .th:focus {
  -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
  box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); }

.th.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px; }

a.th {
  display: inline-block; }

/* Tooltips */
.has-tip {
  border-bottom: dotted 1px #cccccc;
  cursor: help;
  font-weight: bold;
  color: #333333; }

.has-tip:hover, .has-tip:focus {
  border-bottom: dotted 1px #196177;
  color: #2ba6cb; }

.has-tip.tip-left, .has-tip.tip-right {
  float: none !important; }

.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: black;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.tooltip > .nub {
  display: block;
  left: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent black transparent;
  top: -10px; }

.tooltip.opened {
  color: #2ba6cb !important;
  border-bottom: dotted 1px #196177 !important; }

.tap-to-close {
  display: block;
  font-size: 0.625em;
  color: #888888;
  font-weight: normal; }

@media only screen and (min-width: 768px) {
  .tooltip > .nub {
    border-color: transparent transparent black transparent;
    top: -10px; }

  .tooltip.tip-top > .nub {
    border-color: black transparent transparent transparent;
    top: auto;
    bottom: -10px; }

  .tooltip.tip-left, .tooltip.tip-right {
    float: none !important; }

  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent black;
    right: -10px;
    left: auto;
    top: 50%;
    margin-top: -5px; }

  .tooltip.tip-right > .nub {
    border-color: transparent black transparent transparent;
    right: auto;
    left: -10px;
    top: 50%;
    margin-top: -5px; } }
@media only screen and (max-width: 767px) {
  .f-dropdown {
    max-width: 100%;
    left: 0; } }
/* Foundation Dropdowns */
.f-dropdown {
  position: absolute;
  top: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px; }

.f-dropdown > *:first-child {
  margin-top: 0; }

.f-dropdown > *:last-child {
  margin-bottom: 0; }

.f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99; }

.f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98; }

.f-dropdown.right:before {
  left: auto;
  right: 10px; }

.f-dropdown.right:after {
  left: auto;
  right: 9px; }

.f-dropdown li {
  font-size: 0.875em;
  cursor: pointer;
  line-height: 1.125em;
  margin: 0; }

.f-dropdown li:hover, .f-dropdown li:focus {
  background: #eeeeee; }

.f-dropdown li a {
  display: block;
  padding: 0.3125em 0.625em;
  color: #555555; }

.f-dropdown.content {
  position: absolute;
  top: -9999px;
  list-style: none;
  margin-left: 0;
  padding: 1.25em;
  width: 100%;
  height: auto;
  max-height: none;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  max-width: 200px; }

.f-dropdown.content > *:first-child {
  margin-top: 0; }

.f-dropdown.content > *:last-child {
  margin-bottom: 0; }

.f-dropdown.tiny {
  max-width: 200px; }

.f-dropdown.small {
  max-width: 300px; }

.f-dropdown.medium {
  max-width: 500px; }

.f-dropdown.large {
  max-width: 800px; }
  

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #44afe3;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #209cd9; }
  a:link, a:visited:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "HelveticaNeueW01-57Cn", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #666666;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
  /* removing text decoration from all headline links */ }
  h1 h1 small, h1 h2 small, h1 h3 small, h1 h4 small, h1 h5 small, h1 h6 small, .h1 h1 small, .h1 h2 small, .h1 h3 small, .h1 h4 small, .h1 h5 small, .h1 h6 small, h2 h1 small, h2 h2 small, h2 h3 small, h2 h4 small, h2 h5 small, h2 h6 small, .h2 h1 small, .h2 h2 small, .h2 h3 small, .h2 h4 small, .h2 h5 small, .h2 h6 small, h3 h1 small, h3 h2 small, h3 h3 small, h3 h4 small, h3 h5 small, h3 h6 small, .h3 h1 small, .h3 h2 small, .h3 h3 small, .h3 h4 small, .h3 h5 small, .h3 h6 small, h4 h1 small, h4 h2 small, h4 h3 small, h4 h4 small, h4 h5 small, h4 h6 small, .h4 h1 small, .h4 h2 small, .h4 h3 small, .h4 h4 small, .h4 h5 small, .h4 h6 small, h5 h1 small, h5 h2 small, h5 h3 small, h5 h4 small, h5 h5 small, h5 h6 small, .h5 h1 small, .h5 h2 small, .h5 h3 small, .h5 h4 small, .h5 h5 small, .h5 h6 small {
    font-size: 60%;
    color: #666666;
    line-height: 0; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }

h1, .h1 {
  font-size: 2.125em;
  line-height: 1.333em;
  text-transform: uppercase; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  text-transform: uppercase; }

h3, .h3 {
  font-size: 1.375em;
  margin-bottom: 0.375em; }

h4, .h4 {
  font-size: 1.125em;
  line-height: 1em;
  font-weight: 400; }

h5, .h5 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.275em; }

h6, .h6 {
  font-size: .9em;
  margin-bottom: 0.275em; }
  
/* VALIDATION ERROR STYLES */
  
.validation-error {
	background-color: #D91C24 !important;
	color: #ffffff !important;
	padding: .75em !important;
) {