﻿<p style="line-height:18px;">
    Thanks for participating in the Check It, Change It program! Our records indicate
    you are soon due for a follow up appointment with your healthcare provider. Please
    be sure to call your doctor's office <u>today</u> to schedule or confirm your appointment.
    We look forward to seeing you again!
</p>
<p style="line-height:18px;">
    Have questions? Visit www.CheckItChangeIt.org!
</p>
