﻿<p style="line-height:18px;">
    Congratulations on your successful first 6 weeks in the Check It, Change It program!
    You have reached your goal blood pressure - keep up the great work! We're very excited
    about your progress and would like to encourage you to continue tracking your health
    information on Heart360. And, don't forget to discuss your latest results with your
    doctor during your next scheduled appointment!
</p>
<p style="line-height:18px;">
    If you need more information about managing your blood pressure and the program
    resources we can provide you, visit www.CheckItChangeIt.org to find out more.
</p>
