﻿<p>
    We've missed you! Don’t forget to log in to Heart360<sup>&reg;</sup> to and upload your blood pressure
    and other health information at least one (1) time per week so that your provider
    can help you meet your health goals. Regular monitoring of your blood pressure and
    other health factors is an important way for you to get high blood pressure under
    control! Log in today to track your progress!
</p>
<p>
    <a href="##CAMPAIGN_URL##">Log in today to get your blood pressure on track!</a>
</p>
<p>
    Want to find out more about high blood pressure and program resources and events?
    Visit www.CheckItChangeIt.org to access videos, information, scheduled events, and
    more.
</p>
<p>
    Tracking your health doesn't have to be hard- we can help! <a href="http://www.CheckItChangeIt.org" target="_blank">Click here to
        locate blood pressure stations in your area</a>!
</p>
