﻿<p>
    Getting your blood pressure under control doesn't have to be hard - we can help!
    It's easy! Simply click here <a href="##CAMPAIGN_URL##">##CAMPAIGN_URL##</a> to start tracking your blood
    pressure and other health information on Heart360<sup>&reg;</sup>.
</p>
<p>
    Have questions? Find out more about your high blood pressure and the Durham Blood
    Pressure Challenge, go to <a href="http://www.CheckItChangeIt.org" target="_blank">www.CheckItChangeIt.org</a>
</p>
<p>
    Have a question about Heart360 or Microsoft<sup>&reg;</sup> HealthVault<sup>TM</sup>? <a href="https://support.healthvault.com/default.aspx?productkey=healthvault2&mkt=en-us&rmproc=true&st=1&wfxredirect=1"
        target="_blank">Click here</a> to contact Microsoft HealthVault customer support.
</p>
