﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AllProviderVisitsPercentage.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.CampaignProvider.AllProviderVisitsPercentage" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="% provider(s) visited" ID="ucCompositeReportCtrl" runat="server" />