﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NewProviderVisitsPercentage.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.CampaignProvider.NewProviderVisitsPercentage" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="% provider(s) visited" ID="ucCompositeReportCtrl" runat="server" />