
body {
	margin-top: 5px;
}

body .modal-bg .modal-wrap {
		background: #ffffff !important;
		overflow: auto;
}

body .modal-bg .modal-wrap .inner-modal {
		padding: 8px;
}

body header.header {
	padding-top: 10px;
}

div#container div#header-wrap.full header.header div#main-nav-wrap.full div#ctl00_divNavigation1 nav#main-nav.hide-for-small {
	display: block !important;
}

.hide-for-small {
    display: block !important;
}

.hide-gt-tablet.hide-port-tablet {
	display: none;
}

#welcome {
	width: 40%;
}


div#header-wrap.full div#ctl00_mainContent.row section#tracker-details.blue-theme section#my-reminders.info-stats div#ctl00_ContentPlaceHolderMain_ctl03_accRemindMe.accordionParent {
	background-image: -webkit-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55); /* Standard syntax; must be last */
	background: 		linear-gradient(to bottom, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%) repeat scroll 0% 0%;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 ); /* IE6-9 */
}


.h360info h3 {
	margin-top: 14px;
}


.tabs .content {
	background-color: #ffffff !important;
}

header.header {
	min-height: 120px !important;
}

.volunteers p.title {
	border-right-width: 1px !important;
	border-right-style: solid !important;
	border-right-color: #cccccc;
}