  .large-1 {
    position: relative;
    width: 8%; }

  .large-2 {
    position: relative;
    width: 16%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33%; }

  .large-5 {
    position: relative;
    width: 41%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58%; }

  .large-8 {
    position: relative;
    width: 66%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83%; }

  .large-11 {
    position: relative;
    width: 91%; }

  .large-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-0 {
    position: relative;
    margin-left: 0%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83%; }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91%; }

  .push-1 {
    position: relative;
    left: 8%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91%;
    left: auto; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important; } 