
.search-btn {
	
	background-image: url("../../images/sprite-search.png");
	background-repeat: no-repeat;
	background-postion: 0 -6px;
	background-color: #ffffff;
	
}
#txtSearch {
	margin-top: 9px !important;
}

