
html {
	padding: 0;
	margin: 0;
}

.search-iframe {
	background: none;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	border: none;
	margin: 0;
	padding: 0;
	
}

#form1 {
	background: none;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}
		
 .search-field {
 	background: none;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}	
		
#getFormStuff {
			
 	background: none;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	
}			

.search-btn {
	
	background: url("../../images/sprite-search.png") no-repeat scroll 50% -6px rgba(0, 0, 0, 0);
	border: medium none;
	display: block;
	float: right;
	height: 31px;
	position: relative;
	width: 14%;			
	margin-top: 9px;
	
	
}

.search-btn:focus {
	outline: none;
}

.search-btn:hover {
	cursor: pointer;
}

			 	
#txtSearch {
	float: right;
	position: relative;
	width: 80%;
	height: 25px;
	margin-top: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
	text-align: center;
}





			 	
