﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="CreateGrantSupport.aspx.cs" Inherits="Heart360Admin.Pages.GrantSupport.Patient.CreateGrantSupport" %>

<%@ Register Src="~/UserCtrls/GrantSupport/Patient/CreateGrantSupport.ascx" TagName="CreateGrantSupport"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:CreateGrantSupport ID="CreateGrantSupport1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
