﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AuditInfo.aspx.cs" Inherits="Heart360Admin.Pages.Reports.AuditInfo" %>

<%@ Register Src="../../UserCtrls/AuditTrailCtrl.ascx" TagName="AuditTrailCtrl" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../../Css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="popuppage">
        <uc1:AuditTrailCtrl ID="AuditTrailCtrl1" runat="server" />
    </div>
    </form>
</body>
</html>
