﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="CreateResources.aspx.cs" Inherits="Heart360Admin.Pages.Resources.Patient.CreateResources" %>

<%@ Register Src="~/UserCtrls/Resources/Patient/CreateResources.ascx" TagName="CreateResources"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:CreateResources ID="CreateResources1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
