﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true" CodeBehind="CreateGuidingText.aspx.cs" Inherits="Heart360Admin.Pages.GuidingText.Provider.CreateGuidingText" %>
<%@ Register Src="~/UserCtrls/Guidingtext/Provider/CreateGuidingText.ascx" TagName="CreateGuidingText" TagPrefix="uc1"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
<uc1:CreateGuidingText ID="CreateGuidingText1"  runat="server" />
 <br />
        <br />
    </div>
</asp:Content>
