﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AllUserVisits.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.AllUserVisits" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Range" GraphYText="user(s) visited" ID="ucCompositeReportCtrl" runat="server" />