﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Campaign.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.Campaign" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="" GraphYText="provider(s)" ID="ucCompositeReportCtrl" runat="server" />