﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Ethnicity.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.Ethnicity" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Ethnicity" GraphYText="% user(s)" ID="ucCompositeReportCtrl" runat="server" />