﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Tracker.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.Tracker" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Tracker" GraphYText="% users used this" ID="ucCompositeReportCtrl" runat="server" />