﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UploadTracker.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.UploadTracker" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Method of Upload" GraphYText="% users used this" ID="ucCompositeReportCtrl" runat="server" />