﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Users.ascx.cs" Inherits="Heart360Admin.Reports.Ctrls.Campaign.Users" %>
<%@ Register src="../Common/CompositeReportCtrl.ascx" tagname="CompositeReportCtrl" tagprefix="uc1" %>
<uc1:CompositeReportCtrl Cell00Name="Users" GraphYText="user(s)" ID="ucCompositeReportCtrl" runat="server" />