﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true" CodeBehind="CreateBusiness.aspx.cs" Inherits="Heart360Admin.Pages.Businesses.CreateBusiness" %>

<%@ Register src="~/UserCtrls/Business/BusinessForm.ascx" tagname="BusinessForm" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:BusinessForm ID="BusinessForm1" runat="server" />
     <br />
        <br />
    </div>
</asp:Content>
