/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*******************************
HIDE CONFLICTING PHONE ELEMENTS
SHOW DESKTOP ELEMENTS 
*******************************/

/*
html .phone {
	display: none;
}

html .desktop {
	display: block;
}
*/

/*********************
HEADER STYLES
*********************/

header.header {
	min-height: 160px;
	padding-top: 10px;
	
	#logo {
		min-height: 80px;
		
		h1 {
			background: url('../../images/logo.png') no-repeat 0 0 transparent;
			text-indent: -9999px;
			min-height: 80px;
			width: 100%;
			margin: 0;
			
			a {
				display: block;
				min-height: 80px;
				height: 100%;
				width: 100%;
			}
			
		}
		
	}
	
}
/******************************************************************
NAVIGATION STYLES
******************************************************************/

#meta-social-wrap {
	background-color: none;
	margin-bottom: 10px;
}

#utility {
	min-height: 70px;
	
	ul {
		float: right;
		height: 40px;
		
		li {
			float: right;
			margin-right: 0px;
			position: relative;
			height: 40px;
			
			span.translate {
				display: block;
			    height: 40px;
			    margin-right: 10px;
			    padding-top: 12px;
			    text-align: right;
			    text-transform: uppercase;
			}
			
			a.search-icon {
				display: none;
				
			}
			
			div.search-field {
				position: relative;
				float: right;
				width: 185px;
				height: 40px;
				top: 0;
				right: 0;
				
				input[type="text"] {
					border-right: 1px solid #CCCCCC;
				    display: inline-block;
				    float: right;
				    height: 30px;
				    margin-top: 10px;
				    width: 145px;
				}
				
				input[type="submit"] {
					@include sprite-search;
					float: right;
					border-left: 0px;
					border-right: 0px;
					border-top: 0px;
					border-bottom: 0px;
					height: 35px;
					border-radius: 0px;
					margin: 5px 0px 0px 0px;
					color: $white;
					text-indent: 9999px;
				}
				
			}
			
			span.donate-button {
				display: block;
			    height: 40px;
			    line-height: 30px;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			    vertical-align: middle;
			    /* border-radius: 0 0 5px 5px; */
			    background: $red-360;
			    color: $white;
			    margin: 0px;
			    width: 65px;
			    
			    a {
			    	background: $red-360;
				    width: 65px;
				    height: 40px;
				    color: $white;
				    font-size: .9em;
				    display: block;
				    padding-top: 8px;
				    /* border-radius: 0 0 5px 5px; */
			    }
			    
			}
			
		}
		
		li.color-legend {
			width: 105px;
			position: relative;
			
			a {
				float: left;
				text-align: center;
				vertical-align: middle;
				display: block;
				width: 30px;
				height: 30px;
				margin-top: 10px;
				padding-top: 4px;
			}
			
			a.red-info {
				background-color: $notify-red;
				color: $white;
				margin-right: 5px;
			}
			
			a.orange-info {
				background-color: $notify-orange;
				color: $white;
				margin-right: 5px;
			}
			
			a.green-info {
				background-color: $notify-green;
				color: $white;
				margin-right: 5px;
			}
			
			div.color-tip {
				position: absolute;
				top: 50px;
				left: -50%;
				width: 300px;
				height: auto;
				padding: 0 10px;
			}
			
			.red-tip {
				border-top: 1px solid $notify-red;
				
				span {
					color: $notify-red;
				}	
			} 
			
			.orange-tip {
				border-top: 1px solid $notify-orange;
				
				span {
					color: $notify-orange;
				}	
			}
			
			.green-tip {
				border-top: 1px solid $notify-green;
				
				span {
					color: $notify-green;
				}	
			}
			
		}
		
		li.social-media {
			width: 72px;
			height: 40px;
			float: right;
			padding-top: 15px;
		}
		
	}
	
}

div#main-nav-wrap {
	min-height: 55px;
	float: left;
}

#campaign-area {
	min-height: 55px;
	
	h2 {
		text-align: right;
		margin: 25px 25px 0 0;
		color: $red-360;
		text-transform: inherit;
		width: 80%;
		float: right;
		font-weight: 300;
		font-size: 1.15em;
	}
	
	span.promo-1 {
		/* background: url('../../images/logo-brentwood.png') no-repeat 0 0 transparent; */
		width: 57px;
		height: 45px;
		display: inline-block;
		float: right;
		margin-top: 8px;
	}
	
}

/* PHONE NAVIGATION */
nav#phone-nav {
	display: none !important;
}

/*********************
CONTENT STYLES
*********************/
body.port-ipad div#main-content {
	
}
/* START OF REGISTER PAGE CONTENT */
section.banner {
	
	
	div#register-slider {
		
	}
	
}

div.orbit-container {
	
	ul.orbit-slides-container {
		
		li {
			
			img {
				
				
			}
			
		}
		
	}
	
}

ol.orbit-bullets {
	
	li {
	
		&.active {
		    
		}
		
		&:last-child {
			
		}
		
	}
	
}

section.info-portal-wrap {
	min-height: 275px;
}

.info-portal {
	
}


/* END OF REGISTER PAGE CONTENT */

article.tile-large {
	min-height: 285px;
}

/*
body.port-ipad section#tracker-details.large-8 {
	width: 66.66667%;
}
*/

section#tracker-details.large-8 {
	width: 66.66667%;
}

/*
section#side-tiles.large-4 {
	width: 33.33333%;	
}
*/

/*
body.port-ipad section#side-tiles.large-4 {
	width: 33.33333%;	
}
*/

section#side-tiles.large-4 {
	width: 33.33333%;	
}

/*
body.land-ipad section#side-tiles .tile.columns {
	padding-left: 0em;
	padding-right: 0em;	
}
*/

/******************************************************************
FORM STYLES
******************************************************************/



/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

/******************************************************************
 SHADOW BOX STYLES
******************************************************************/

body .shadowbox {

    
    .modal-wrap {
	    height: auto;
	    left: 50%;
	    margin-left: -30%;
	    top: 10%;
	    width: 60%;
	    z-index: 3001;
    	
		 a.close-modal {
		    
		}
		   
    }
    
}


/*********************
FOOTER STYLES
*********************/

footer.footer {
	margin-top: 40px;
	
	h4 {
	    font-size: 1em;
	    line-height: 1em;
	    margin: 0 0 2px;
	    padding: 1em 1em 1em 1.75em;
	    text-transform: uppercase;
		background-color: $red-360;
		color: $white;
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -186px;
			float: right;
		}
		
	}
	
	h4.trigger-selected:first-of-type {
		margin: 0;
		
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
}

ul {

	li {

		.about.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					p {
						
					}
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.causes.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.sites.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.contact.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
						
			
			ul.content {
				padding: 0px 1em;
				
				li {
					
					h6 {
						
					}
					
					ul {
					
						li {
							
							h6.rss {
								
								a {
									
								}
							}
							
						}
							
						li {
							
							ul {
								
								li {
									
								}
								
							}
							
							a {
								
							}	
							
						}
						
					}
					
				}
			
			}
			
		}
		
	}
	
}

.legal {
	
	p {
		
		span {
			
			a {
				
			}
			
		}
		
	}
	
	h5:first-of-type {
		width: 100%;
		padding: 0.5em 1em 0.25em 1.75em;
		background-color: $red-360;
		color: $white;
		text-indent: -9999px;
		margin-bottom: 0px;
		margin-top: 0px;
		a {
			display: inline-block;
			color: $white;
			
			&:hover {
				
			}
		}
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -176px;
			margin: 10px auto;
		}
		
	}
	
	h5.trigger-selected:first-of-type {
	
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
	
	ul.next-content {
	
		li:first-of-type {
			padding-top: 10px;
		}
	}
	
}

.hon {
	
	p {
		
		
	}
	
	.hon-logo {
		
		
		a {
			
		}
	}
	
	p {
		
	}
	
}

.mobile-copyright {
	background: $red-360;
	height: auto;
	float: left;
	
	p {
		margin: .5em .75em .5em 1em;
		color: $white;
		line-height: 1em;
		font-size: .75em;
		height: auto;
	}
	
	p.copyright {
		/* width: 32%; */
		height: auto;
	}
	
	p.disclaimer {
		/* width: 60%; */
		height: auto;
	}
}


/* MORE HIDE CLASSES */




.hide-tablet {
	display: none !important;
}

section#utility ul li.first.hide-lt-tablet {
	 width: 230px;
	 padding-top: 7px;
}

.first.hide-lt-tablet {
    width: 230px;
}

.hide-gt-port-tablet {
	display: none !important;
}



section#my-messages.info-stats div.accordion div.content div.nested-tabs div > div.ajax__tab_xp div.ajax__tab_body div.ajax__tab_panel section.inbox div.full table.paginated tbody tr td ul.inner-accordion li div.trigger-wrap input.trash {
	top: 18px;
}




	#login-box {
			position: absolute;
float: none;
right: 26px;
width: 396px;
			.tabs-containerz {

				.tabs-headerz {

					.tabz {
						
					}

					.tabz.active {
						
					}

					.tabz:first-child {
						
					}


				}

				.tabs-contentz {
					
				
					.tab-contentz {
						height: auto;
					}

					p {
						
					}

				}

			}

			#login-buttons {

				.gradient-button {
					
				}

				.forgot-password-front {
					
				}

			}

		}



