/******************************************************************

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*******************************
HIDE CONFLICTING PHONE ELEMENTS
SHOW DESKTOP ELEMENTS 
*******************************/

/*
html .phone {
	display: none;
}

html .desktop {
	display: block;
}
*/


/*********************
HEADER STYLES
*********************/

header.header {
	min-height: 160px;
	padding-top: 10px;
	
	#logo {
		min-height: 80px;
		
		h1 {
			background: url('../../images/logo.png') no-repeat 0 0 transparent;
			text-indent: -9999px;
			min-height: 80px;
			width: 100%;
			max-width: 351px;
			margin: 0;
			
			a {
				display: block;
				min-height: 80px;
				height: 100%;
				width: 100%;
			}
			
		}
		
	}
	
}
/******************************************************************
NAVIGATION STYLES
******************************************************************/

#meta-social-wrap {
	background-color: none;
	margin-bottom: 10px;
}

#utility {
	min-height: 80px;
	
	ul {
		float: right;
		height: 40px;
		
		li {
			float: right;
			margin-right: 0px;
			position: relative;
			height: 40px;
			
			span.translate {
				display: block;
			    height: 40px;
			    margin-right: 10px;
			    padding-top: 12px;
			    text-align: right;
			    text-transform: uppercase;
			}
			
			a.search-icon {
				display: none;
				
			}
			
			div.search-field {
				position: relative;
				float: right;
				width: 185px;
				height: 40px;
				top: 0;
				right: 0;
				
				input[type="text"] {
					border-right: 1px solid #CCCCCC;
				    display: inline-block;
				    float: right;
				    height: 30px;
				    margin-top: 10px;
				    width: 145px;
				}
				
				input[type="submit"] {
					@include sprite-search;
					float: right;
					border-left: 0px;
					border-right: 0px;
					border-top: 0px;
					border-bottom: 0px;
					height: 35px;
					border-radius: 0px;
					margin: 5px 0px 0px 0px;
					color: $white;
					text-indent: 9999px;
				}
				
			}
			
			span.donate-button {
				display: block;
			    height: 40px;
			    line-height: 30px;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			    vertical-align: middle;
			    /* border-radius: 0 0 5px 5px; */
			    background: $red-360;
			    color: $white;
			    margin: 0px;
			    width: 65px;
			    
			    a {
			    	background: $red-360;
				    width: 65px;
				    height: 40px;
				    color: $white;
				    font-size: .9em;
				    display: block;
				    padding-top: 8px;
				    /* border-radius: 0 0 5px 5px; */
			    }
			    
			}
			
		}
		
		li.color-legend {
			width: 105px;
			position: relative;
			
			a {
				float: left;
				text-align: center;
				vertical-align: middle;
				display: block;
				width: 30px;
				height: 30px;
				margin-top: 10px;
				padding-top: 4px;
			}
			
			a.red-info {
				background-color: $notify-red;
				color: $white;
				margin-right: 5px;
			}
			
			a.orange-info {
				background-color: $notify-orange;
				color: $white;
				margin-right: 5px;
			}
			
			a.green-info {
				background-color: $notify-green;
				color: $white;
				margin-right: 5px;
			}
			
			div.color-tip {
				position: absolute;
				top: 50px;
				left: -50%;
				width: 300px;
				height: auto;
				padding: 0 10px;
			}
			
			.red-tip {
				border-top: 1px solid $notify-red;
				
				span {
					color: $notify-red;
				}	
			} 
			
			.orange-tip {
				border-top: 1px solid $notify-orange;
				
				span {
					color: $notify-orange;
				}	
			}
			
			.green-tip {
				border-top: 1px solid $notify-green;
				
				span {
					color: $notify-green;
				}	
			}
			
		}
		
		li.social-media {
			width: 72px;
			height: 40px;
			float: right;
			padding-top: 15px;
			
			.twitter {
				
			}
		}
		
	}
	
}

/* PHONE NAVIGATION */
nav#phone-nav {
	display: none !important;
}

/*********************
CONTENT STYLES
*********************/
body.port-ipad div#mainContent {
	
}
/* START OF REGISTER PAGE CONTENT */
section.banner {
	
	
	div#register-slider {
		
	}
	
}

div.orbit-container {
	
	ul.orbit-slides-container {
		
		li {
			
			img {
				
				
			}
			
		}
		
	}
	
}

ol.orbit-bullets {
	
	li {
	
		&.active {
		    
		}
		
		&:last-child {
			
		}
		
	}
	
}

section.info-portal-wrap {
	min-height: 275px;
}

.info-portal {
	
}


.h360info {
	
	h3 {
		line-height: 1.2em;
		font-size: 1.2em;
		padding: 14px 2% 2%;
		padding-left: 0;
	}

}



.login-portal {
		
}

.section-container {
	background-position-y: 36px;
}

.section-container section.participants.active,
.section-container section.providers.active,
.section-container section.volunteers.active  {
	padding-top: 44px !important;
}

.section-container section.participants.active p.title a,
.section-container section.providers.active p.title a,
.section-container section.volunteers.active p.title a {
	
}



/* END OF REGISTER PAGE CONTENT */

/*
article.tile-large {
	min-height: 285px;
}
*/

body.land-ipad section#side-tiles .tile.columns {
	padding-left: 0em;
	padding-right: 0em;	
}

body.large-screen section#side-tiles .tile.columns {
	padding-left: 0em;
	padding-right: 0em;	
}

/******************************************************************
FORM STYLES
******************************************************************/



/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}


/*********************
FOOTER STYLES
*********************/

footer.footer {
	
}

.about {
	
	h5 {
		
		a {
			
			&:hover {
				
			}
		}
		
	}
	
	ul {
		
		li {
			
			p {
				
			}
			
			a {
				
			}	
			
		}
		
	}
	
}

.causes {
	
	h5 {
		
		a {
			
			&:hover {
				
			}
		}
		
	}
	
	ul {
		
		li {
			
			a {
				
			}	
			
		}
		
	}
	
}

.sites {
	
	h5 {
		
		a {
			
			&:hover {
				
			}
		}
		
	}
	
	ul {
		
		li {
			
			a {
				
			}	
			
		}
		
	}
	
}

.contact {
	
	h5 {
		
		a {
			
			&:hover {
				
			}
		}
		
	}
	
	ul {
		
		li {
			
			h6 {
				
			}
			
			ul {
			
				li {
					
					h6.rss {
						
						a {
							
						}
					}
					
				}
					
				li {
					
					ul {
						
						li {
							
						}
						
					}
					
					a {
						
					}	
					
				}
				
			}
			
		}
	
	}
	
}

.legal {
	
	p {
		
		span {
			
			a {
				
			}
			
		}
		
	}
	
}

.hon {
	
	p {
		
		
	}
	
	.hon-logo {
		
		
		a {
			
		}
	}
	
	p {
		
	}
	
}


/* MORE HIDE CLASSES */
.hide-gt-tablet {
	display: none !important;
}


section#utility ul li.first.hide-lt-tablet {
	 width: 230px;
	 padding-top: 7px;
}

section#my-messages.info-stats div.accordion div.content div.nested-tabs div > div.ajax__tab_xp div.ajax__tab_body div.ajax__tab_panel section.inbox div.full table.paginated tbody tr td ul.inner-accordion li div.trigger-wrap input.trash {
	top: 18px;
}











#login-box {
			
	position: absolute;
float: none;
right: 26px;
width: 396px;
	
		.tabs-containerz {

			.tabs-headerz {

				.tabz {
					
				}

				.tabz.active {
					
				}

				.tabz:first-child {
					
				}


			}

			.tabs-contentz {
				
			
				.tab-contentz {
					height: auto;
				}

				p {
					
				}

			}

		}

		#login-buttons {

			.gradient-button {
				
			}

			.forgot-password-front {
				
			}

		}

	}
