/******************************************************************

Stylesheet: 320px - 480px Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/********************************
HIDE CONFLICTING DESKTOP AND TABLET ELEMENTS
SHOW PHONE ELEMENTS
********************************/

/*
html body .desktop,
html body .tablet {
	display: none;
}

html body .phone {
	display: block;
}
*/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #343434;
	background: none; 
}

	
/*********************
HEADER STYLES
*********************/
#header-wrap {	
	
}

header.header {
	padding-top: 0px;
		
	#logo {
		min-height: 90px;
		
		h1 {
			margin-left: 5%;
			min-height: 90px;
			a {
				
			}
			
		}
		
	}
	
}
/*********************
NAVIGATION STYLES
*********************/

#meta-social-wrap {
	background-color: $red-360;
	margin-bottom: 10px;
}

#utility {
	min-height: 33px;
	
	ul {
		height: 33px;
		margin-bottom: 0px;
		width: 85%;
		
		li {
			height: 33px;
			padding-top: 3px;
			
			span.translate {
			
			}
			
			a.search-icon {
				height: 30px;
			}
			
			div.search-field {
				
				input[type="text"] {
					margin-top: 0px;
				}
				
				input[type="submit"] {
					margin-top: 0px;
				}
				
			}
			
			span.donate-button {
			    height: 30px;
			    width: 73px;
			    
			    a {
			    	width: 70px;
			    	height: 30px;
			    	padding-top: 0px;
			    	font-size: .7em;
			    }
			    
			}
			
		}
		
		li.social-media {
			width: 60px;
			height: 30px;
			float: right;
			padding-top: 6px;
			
			.twitter {
				background-position: 0 -154px;
				margin-right: 0px;
				margin-top: 2px;
			}
			
			.facebook {
				background-position: 0 -336px;
				margin-right: 0px;
				margin-top: 2px;
			}
			
		}
		
	}
	
	a#search-icon.phone {
		@include sprite-search;
		position: relative;
		/* right: 0px; */
		background-position: 50% -119px;
		height: 33px;
		width: 15%;
		border-left: 2px solid #FFFFFF;
		float: right;
	}
	
}

div.search-field.phone {
	position: relative;
	float: right;
	width: 100%;
	height: 36px;
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	
	input[type="text"] {
		border: 1px solid #CCCCCC;
	    display: inline-block;
	    float: right;
	    height: 33px;
	    margin-top: 0px;
	    width: 85%;
	    margin-bottom: 0px;
	}
	
	input[type="submit"] {
		width: 15%;
		display: inline-block;
		float: right;
		border-left: 2px solid #FFFFFF;
		border-right: 2px solid $red-360;
		border-top: 0px;
		border-bottom: 0px;
		height: 33px;
		border-radius: 0px;
		margin: 0px 0px 0px 0px;
		background: $red-360;
		color: $white;
		text-indent: 0px;
		padding-top: 3px;
	}
	
}

div#main-nav-wrap {
	min-height: 40px;
}

nav#main-nav {
	
	ul {
		
		li {
			
			a {
				font-size: .9em;
				
				&:not(.button) {
					background: none repeat 0 0 transparent;
					padding: 0 15px 0 10px;
					line-height: 30px;
				}
				
			}
			
			a#phone-nav-trigger {
				font-size: .9em;
			}
			
		}
		
	}
	
}

#campaign-area {
	min-height: 40px;
	h2 {
		font-size: 1em;
		margin: 10px 0 0;
		width: 100%;
		text-align: left;
	}
	
	span.promo-1 {
		
	}
	
}

#welcome {
	float: left;
	position: relative;
	width: 100%;
	margin-top: 0;
	
	h4 {
		font-size: 1em;
	}
	
}


div#main-nav-wrap.full div#ctl00_divNavigation1 nav#main-nav.small-5 {
	
}


/* PHONE NAVIGATION */
nav#phone-nav {
	display: none;
	background-color: $soft-gray;
	position: relative;
	left: 0px;
	top: 10%;
	min-height: 2000px;
	height: 100%;
	width: 50%;
	float: left;
	
	ul {
		width: 100%;
		margin-left: 0px;
		
		li {
			width: 100%;
			border-bottom: 1px solid $text-gray;
			background-color: $soft-gray;
			color: $text-gray;
			padding: 10px 0 10px 10px;
			
			a {
				color: $text-gray;
			}
			
		}
		
	}
	
}

/*********************
CONTENT STYLES
*********************/
div#mainContent {
	
}
/* START OF REGISTER PAGE CONTENT */
section.banner {
	
	div#register-slider {
		
	}
	
}

div.orbit-container {
	
	ul.orbit-slides-container {
		
		li {
			
			img {
				
				
			}
			
		}
		
	}
	
}

ol.orbit-bullets {
	
	li {
		width: 10px;
		height: 10px;
		margin-right: 8px;
		
		&.active {
		    
		}
		
		&:last-child {
			
		}
		
	}
	
}


section.info-portal-wrap {

}

.info-portal {
	
}

.h360info {
	
	h3 {
		line-height: 1.2em;
		font-size: 1.2em;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;

	}
	
	p {
		font-size: .85em;	
	}
	
	h5 {
		
		i {
				
		}
		
	}
	
}

.login-portal {
	margin-top: 5px;
	height: auto;
	overflow: hidden;
	
		
	.section-container section.participants.active div.content,
	.section-container section.providers.active div.content,
	.section-container section.volunteers.active div.content {
		top: -4px;
	}
	
	.section-container .active {
		padding-top: 44px !important;
	}

}

.login-portal .section-container .participants div.content div div.signin-wrap a,
.login-portal .section-container .providers div.content div div.signin-wrap a,
.login-portal .section-container .volunteers div.content div div.signin-wrap a {
		font-size: .7em;
}



.section-container {
	
}


/* END OF REGISTER PAGE CONTENT */

/**********************************************
 START OF DASHBOARD PAGE CONTENT 
**********************************************/

article.tile {
	
}

div.tile-inner {
	
	header.tile-title {
		
		h3 {
			float: left;
		    font-size: 1.1em;
		    margin: 0;
		    width: 68%;
		    
		    a {
			    
			    &:hover {
			    
			    }
			    
		    }
		    
		}
		
		.add-reading {
		    font-size: 0.5em;
		    width: 32%;
		    color: $text-gray;
		    
		    &:hover {
			    
		    }
		    
		    b {
			    font-size: 1.5em;
			    font-weight: 600;
		    }
		    
		}
		
	}
	
	section.tile-content {
		
		
		.tile-button {
			
		}
		
		div.tile-reading {
		    margin-top: 1.2em;
		    width: 65%;
			
			span.tile-data {
			    font-size: 2.75em;
			    width: 100%;
			    
			    span.announce {
			    	
			    }
			    
			    span.messages {
			    	
			    }
			    
			    span.pending {
			    	
			    }
			    
			    .systolic-data {
				    
			    }
			    
			    .diastolic-data {
			    	
			    }
			    
			    .completion-data {
				    
			    }
			    
			    .weight-data {
				    
			    }
			    
			    .fitness-data {
				    
			    }
			    
			    .glucose-data {
				    
			    }
			    
			    .cholesterol-data {
				    
			    }
			    
			}
			
		}
		
	}
	
	footer.notifications {
		
		span.last-reading {
		    font-size: 13px;
		    width: 76%;
			
			span.col-1 {
			    width: 44%;
			    padding-left: 9px;
			    padding-top: 2px;
			    
			    span {

			    }
			    
			    .icon-announce {

			    }
			    
		    }
		    
		    span.col-2 {
			    width: 28%;
			    padding-left: 9px;
			    padding-top: 2px;
			    
			    span {

			    }
			    
			    .icon-messages {

			    }
			    
		    }
		    
		    span.col-3 {
			    width: 28%;
			    padding-left: 9px;
			    
			    span {
					
			    }
			    
			    .icon-invites {

			    }
			    
		    }
		    	
			span.status {

					
				a {
					
				}
				
			}
				
		}
		
	}
	
}

#tracker-details .info-stats {
	
	div.accordion {
		margin-bottom: .25em;
		div.toggle-btn {
			
			h4 {
				font-size: .9em;
				
				span.gray-arrow {

				}
				
			}
			
		}
		
		div.toggle-btn.dt-selected {
			
			h4 {
				font-size: .9em;

				
				span.gray-arrow {

				}
				
			}
			
		}
		
		div.content {
			
			p {
				font-size: .75em;
			}
			
			form {
				
				fieldset {

				}
				
			}
			
			ul.family-members {
				
				li {
					
					span.member {

					}
					
				}
				
			}
			
			a {

				
				span.plus {

				}
				
			}
			
		}
		
	}
	
}

.info-stats form {
	
	fieldset {
		border: none;
		
		label {
			font-size: .55em;
			color: $mid-gray;
		}
		
		input {
			
		}
		
		input::-webkit-input-placeholder,
		input:-moz-placeholder,
		input::-moz-placeholder,
		input:-ms-input-placeholder {
		   	font-size: .65em;
			color: $mid-gray;
		}	
		
		textarea {
			
		}
		
		textarea::-webkit-input-placeholder,
		textarea:-moz-placeholder,
		textarea::-moz-placeholder,
		textarea:-ms-input-placeholder {
		   	font-size: .65em;
			color: $mid-gray;
		}
		
	}
	
}

div.content {

	div.history-table-wrap {

	}
	
	table.paginated {
		width: 100%;
		
		thead {
			
			tr {
				
				th {
					font-size: .5em;
				}
				
			}
			
		}
		
		tfoot {
			
		}
		
		tbody {
			
			tr {
				
				td {
					font-size: .55em;
					
					div.edit-row-cell {

						
						a.edit-trigger {

							
							&:hover {

							}
							
						}
						
						div.edit-content {
							
							
							.edit-btn-wrap {

								
								a {

									
									&:hover {

									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	div.my-graph {

		
		div.inner-trigger {
			
			h4 {
				font-size: .9em;
			}
			
		}
		
	}
	
	div.my-status-controls {
		min-height: 80px;
	}
	
}





/*****************************
 END OF DASHBOARD 
 CHILD PAGE CONTENT 
*****************************/

/**********************************************
 END OF DASHBOARD PAGE CONTENT 
**********************************************/

/******************************************************************
FORM STYLES
******************************************************************/


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

/******************************************************************
 SHADOW BOX STYLES
******************************************************************/

body .shadowbox {

    
    .modal-wrap {
	    height: auto;
	    left: 50%;
	    margin-left: -40%;
	    top: 10%;
	    width: 80%;
	    z-index: 3001;
    	
		 a.close-modal {
		    
		}
		   
    }
    
}

/*********************
FOOTER STYLES
*********************/

footer.footer {
	margin-top: 40px;
	
	h4 {
	    font-size: .9em;
	    line-height: 1em;
	    margin: 0 0 2px;
	    padding: 1em 1em 1em 1.75em;
	    text-transform: uppercase;
		background-color: $red-360;
		color: $white;
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -186px;
			float: right;
		}
		
	}
	
	h4.trigger-selected:first-of-type {
		margin: 0;
		
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
}

ul {

	li {
		
		.about.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					p {
						
					}
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.causes.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.sites.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.contact.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
						
			
			ul.content {
				padding: 0px 1em;
				
				li {
					
					h6 {
						
					}
					
					ul {
					
						li {
							
							h6.rss {
								
								a {
									
								}
							}
							
						}
							
						li {
							
							ul {
								
								li {
									
								}
								
							}
							
							a {
								
							}	
							
						}
						
					}
					
				}
			
			}
			
		}
		
	}
	
}

.legal {
	
	p {
		
		span {
			
			a {
				
			}
			
		}
		
	}
	
	h5:first-of-type {
		width: 100%;
		padding: 0.5em 1em 0.25em 1.75em;
		background-color: $red-360;
		color: $white;
		text-indent: -9999px;
		margin-bottom: 0px;
		margin-top: 0px;
		a {
			display: inline-block;
			color: $white;
			
			&:hover {
				
			}
		}
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -176px;
			margin: 10px auto;
		}
		
	}
	
	h5.trigger-selected:first-of-type {
	
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
	
	ul.next-content {
	
		li:first-of-type {
			padding-top: 10px;
		}
	}
	
}

.hon {
	
	p {
		
		
	}
	
	.hon-logo {
		
		
		a {
			
		}
	}
	
	p {
		
	}
	
}

.mobile-copyright {
	background: $red-360;
	height: auto;
	float: left;
	
	p {
		margin: .5em .75em .5em 1em;
		color: $white;
		line-height: 1em;
		font-size: .75em;
		height: auto;
	}
	
	p.copyright {
		/* width: 32%; */
		height: auto;
	}
	
	p.disclaimer {
		/* width: 60%; */
		height: auto;
	}
}

/* MORE HIDE CLASSES */



#utility ul li.hide-lt-tablet {

	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	z-index: 90;
	padding-top: 0;
	height: 42px;
	display: none;
	
	iframe.no-scrollbar {
		background-color: $soft-gray;
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
		padding-top: 4px;
		overflow: hidden;
		
	}
	
	
	.phone {
		background-color: $soft-gray;
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
		padding-top: 4px;
		
		#getFormStuff {
		
			width: 100%;
			height: 100%;
			float: left;
			position: relative;
			
			input {
				float: right;
				position: relative;
				width: 84%;
			}
			
			input.search-btn {
				position: relative;
				float: right;
				width: 13%;
				background: url("../../images/sprite-search.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
			}
			
		}
		
	}

}


/**********************
SEARCH BOX
**********************/

.search-iframe {
	#form1 {
		.search-field {
			#getFormStuff {
			
			 	.search-btn {
				    margin-top: 0;	 	
			 	}
			 	
			 	#txtSearch {
				 	margin-top: 0;
			 	}
			 	
		 	} 
		 	
		 }
		 
	}
	
}





.hide-lt-port-tablet {
	display: none !important;
}


/***************************
ASP MESSAGES TABS
****************************/

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.icon-messages{
    margin-left: 22px !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.add-note {
	 margin-left: 22px !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.icon-send-message {
	 margin-left: 22px !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.trash {
	 margin-left: 22px !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.tab-title {
	 margin-left: 22px !important;
}



/***************************
REMIND ME ACCORDIONS
***************************/

section#tracker-details section#my-reminders.info-stats div.accordion div.content div ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild {
    padding-bottom: 11px;	
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap {
	padding: 9px 8px;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText .sms-edit-list-title,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText .sms-edit-list-title {
	font-size: 12px;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText .trash,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText .trash {
	right: 23px;
}


/**************************
SMS REMINDERS
**************************/
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div > div > div > div > div > div.row > div ul.inner-accordion li div.trigger-wrap div.inner-trigger span.sms-list-reminder-title {
	text-transform: uppercase;
	color: $text-gray;
	font-size: 12px;
	width: 88%;
	float: left;
	position: relative;

}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div > div > div > div > div > div.row > div ul.inner-accordion li div.trigger-wrap div.inner-trigger span.blue-arrow{
	width: 15px;
	float: right;
	position: relative;
}



ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeader div.trigger-wrap div.inner-trigger span.sms-edit-list-title,
ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeaderSelected div.trigger-wrap div.inner-trigger span.sms-edit-list-title {
	text-transform: uppercase;
	color: #4695B0;
	font-size: 12px;
	width: 88%;
	float: left;
	position: relative;
}

ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeader div.trigger-wrap div.inner-trigger span.blue-arrow,
ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeaderSelected div.trigger-wrap div.inner-trigger span.blue-arrow  {
	width: 15px;
	float: right;
	position: relative;
	
}

.Custom_SuggestionsOuterDiv {
	top: 164px !important;
	width: 93% !important;
}
