/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*******************************
HIDE CONFLICTING PHONE ELEMENTS
SHOW TABLET ELEMNETS
SHOW DESKTOP ELEMENTS 
*******************************/

/*
html .phone {
	display: none;
}

html .tablet,
html .desktop {
	display: block;
}
*/

/*********************
HEADER STYLES
*********************/

header.header {
	min-height: 160px;
	padding-top: 10px;
	
	#logo {
		min-height: 80px;
		
		h1 {
			background: url('../../images/logo.png') no-repeat 0 0 transparent;
			text-indent: -9999px;
			min-height: 80px;
			width: 100%;
			margin: 0;
			background-size: 100%;
			
			a {
				display: block;
				min-height: 80px;
				height: 100%;
				width: 100%;
			}
			
		}
		
	}
	
}
/******************************************************************
NAVIGATION STYLES
******************************************************************/

#meta-social-wrap {
	background-color: none;
	margin-bottom: 10px;
}

#utility {
	min-height: 80px;
	
	ul {
		float: right;
		height: 40px;
		
		li {
			float: right;
			margin-right: 0px;
			position: relative;
			height: 40px;
			
			span.translate {
				display: block;
			    height: 40px;
			    margin-right: 10px;
			    padding-top: 12px;
			    text-align: right;
			    text-transform: uppercase;
			}
			
			a.search-icon {
				display: none;
				
			}
			
			div.search-field {
				position: relative;
				float: right;
				width: 185px;
				height: 40px;
				top: 0;
				right: 0;
				
				input[type="text"] {
					border-right: 1px solid #CCCCCC;
				    display: inline-block;
				    float: right;
				    height: 30px;
				    margin-top: 10px;
				    width: 145px;
				}
				
				input[type="submit"] {
					@include sprite-search;
					float: right;
					border-left: 0px;
					border-right: 0px;
					border-top: 0px;
					border-bottom: 0px;
					height: 35px;
					border-radius: 0px;
					margin: 5px 0px 0px 0px;
					color: $white;
					text-indent: 9999px;
				}
				
			}
			
			span.donate-button {
				display: block;
			    height: 40px;
			    line-height: 30px;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			    vertical-align: middle;
			    /* border-radius: 0 0 5px 5px; */
			    background: $red-360;
			    color: $white;
			    margin: 0px;
			    width: 65px;
			    
			    a {
			    	background: $red-360;
				    width: 65px;
				    height: 40px;
				    color: $white;
				    font-size: .9em;
				    display: block;
				    padding-top: 8px;
				    /* border-radius: 0 0 5px 5px; */
			    }
			    
			}
			
		}
		
		li.color-legend {
			width: 105px;
			position: relative;
			
			a {
				float: left;
				text-align: center;
				vertical-align: middle;
				display: block;
				width: 30px;
				height: 30px;
				margin-top: 10px;
				padding-top: 4px;
			}
			
			a.red-info {
				background-color: $notify-red;
				color: $white;
				margin-right: 5px;
			}
			
			a.orange-info {
				background-color: $notify-orange;
				color: $white;
				margin-right: 5px;
			}
			
			a.green-info {
				background-color: $notify-green;
				color: $white;
				margin-right: 5px;
			}
			
			div.color-tip {
				position: absolute;
				top: 50px;
				left: -50%;
				width: 300px;
				height: auto;
				padding: 0 10px;
			}
			
			.red-tip {
				border-top: 1px solid $notify-red;
				
				span {
					color: $notify-red;
				}	
			} 
			
			.orange-tip {
				border-top: 1px solid $notify-orange;
				
				span {
					color: $notify-orange;
				}	
			}
			
			.green-tip {
				border-top: 1px solid $notify-green;
				
				span {
					color: $notify-green;
				}	
			}
			
		}
		
		li.social-media {
			width: 72px;
			height: 40px;
			float: right;
			padding-top: 15px;
		}
		
	}
	
}

div#main-nav-wrap {
	min-height: 55px;
	float: left;
}


nav#main-nav {
	height: 40px;
	margin-top: 30px;
    background: none repeat scroll 0 0 transparent;
    line-height: 45px;
    margin-bottom: 0em;
		
	ul {
		background: none no-repeat scroll 0 0 transparent;
		float: left;
		margin: 0;
		padding-top: 0px;
		height: 30px;
		
		li {
			float: left;
			margin-right: 0px;
			position: relative;
			height: 30px;
			
			a {
				background: none repeat 0 0 transparent;
				font-size: .9em;
				text-transform: inherit;
				color: $text-gray;
				
				&:hover {
					color: $maroon;
				}
				
				&:not(.button) {
					background: none repeat 0 0 transparent;
					padding: 0 20px 0 10px;
					line-height: 30px;
				}
				
			}
			
			&:hover {
				@include gray-button-bg2;
				border-right: 1px solid #CCCCCC;
				border-top: 1px solid #CCCCCC;
				border-left: 1px solid #CCCCCC;
			}
			
		}
	
		li.has-slidedown {
			z-index: 100;
			width: 30%;
			
			&:hover {
				@include gray-button-bg2;
				border-right: 1px solid #CCCCCC;
				border-top: 1px solid #CCCCCC;
				border-left: 1px solid #CCCCCC;
				
				ul.dropdown {
					visibility: visible;
				}
			}
			
			a:after {
				content: ""; 
				display: block; 
				width: 0; 
				height: 0; 
				border: solid 5px; 
				border-color: #CCCCCC transparent transparent transparent; 
				margin-right: 15px; 
				margin-top: -2.5px; 
				position: absolute; 
				right: 0; 
				top: 50%;
			}
			
			ul.dropdown {
				border: 1px solid #CCCCCC;
				visibility: hidden;
				height: auto; 
				min-width: 200px;
					
				li {
					@include gray-button-bg2;
					border: none;
					width: 100%;
					
					a:after {
						content: ""; 
						display: none; 
						width: 0; 
						height: 0; 
						border: solid 5px; 
						border-color:transparent; 
						margin-right: 15px; 
						margin-top: -2.5px; 
						position: absolute; 
						right: 0; 
						top: 50%;
					}
					
				}
				
			}
			
		}
	
	}
			
}

#campaign-area {
	height: 55px;
	
	h2 {
		text-align: right;
		margin: 25px 25px 0 0;
		color: $red-360;
		text-transform: inherit;
		width: 80%;
		float: right;
		font-weight: 300;
		font-size: 1.2em;
	}
	
	span.promo-1 {
		/* background: url('../../images/logo-brentwood.png') no-repeat 0 0 transparent; */
		width: 67px;
		height: 55px;
		display: inline-block;
		float: right;
	}
	
}

#welcome {
	height: 40px;
	margin-top: 30px;
	
	a.logout {
		float: right;
	    font-size: 0.8em;
	    margin: 0;
	    text-align: right;
	    text-transform: uppercase;
	    line-height: .9em;
	    color: $text-gray;
	}
	
	h4 {
		text-align: right;
		margin: 0px;
		color: $red-360;
		float: right;
		clear: both;
	}
	
}

/* PHONE NAVIGATION */
nav#phone-nav {
	display: none !important;
}

/*********************
CONTENT STYLES
*********************/
body.port-ipad div#mainContent {
	
}
/* START OF REGISTER PAGE CONTENT */
section.banner {
	max-height: 330px;
	height: 246px;
	
	div#register-slider {
		
	}
	
}

div.orbit-container {
	
	ul.orbit-slides-container {
		
		li {
			
			img {
				
				
			}
			
		}
		
	}
	
}

ol.orbit-bullets {
	
	li {
	
		&.active {
		    
		}
		
		&:last-child {
			
		}
		
	}
	
}

section.info-portal-wrap {
	min-height: 275px;
}

.info-portal {
	
}

body.port-ipad .h360info.large-7,
body.port-ipad .login-portal.large-5 {
	width: 50%;
}

.h360info {
	
	h3 {
		font-size: 1.15em;
		margin-top: 4px;
	}
	
	p {
		font-size: .875em;
	}
	
	h5 {
		
		i {
				
		}
		
	}
	
}

.login-portal {
		
}

.section-container {
	background-position-y: 36px;
}




.login-portal .section-container .participants {
	
	div.content {
		
		padding-top: 44px !important;
		
	}
	
		
}

.login-portal .section-container .providers {

	div.content {
		padding-top: 44px !important;
	}

	
}

.login-portal .section-container .volunteers {	
	
	div.content {
		padding-top: 44px !important;
	}
	
}






body.port-ipad .section-container section.providers p.title {
	left: 118px;
}

body.port-ipad .section-container section.providers.active p.title {
	left: 118px;
}

body.port-ipad .section-container section.volunteers p.title {
	left: 235px;
}

body.port-ipad .section-container section.volunteers.active p.title {
	left: 235px;
}



/* END OF REGISTER PAGE CONTENT */

/**********************************************
 START OF DASHBOARD PAGE CONTENT 
**********************************************/

body.port-ipad.dashboard .large-4 {
    position: relative;
    width: 50%;
}

body.port-ipad section#tracker-details.large-8 {
	width: 100%;
}

body.port-ipad section#side-tiles.large-4 {
	width: 100%;	
}

body.port-ipad section#side-tiles .tile.large-12 {
	width: 50%;	
}

/*
body.land-ipad section#side-tiles .tile.columns {
	padding-left: 0em;
	padding-right: 0em;	
}
*/

article.tile-large {
	min-height: 285px;
}

/******************************************************************
FORM STYLES
******************************************************************/


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

/******************************************************************
 SHADOW BOX STYLES
******************************************************************/

body .shadowbox {

    
    .modal-wrap {
	    height: auto;
	    left: 50%;
	    margin-left: -30%;
	    top: 10%;
	    width: 60%;
	    z-index: 3001;
    	
		 a.close-modal {
		    
		}
		   
    }
    
}



/*********************
FOOTER STYLES
*********************/

footer.footer {
	margin-top: 40px;
	
	h4 {
	    font-size: 1em;
	    line-height: 1em;
	    margin: 0 0 2px;
	    padding: 1em 1em 1em 1.75em;
	    text-transform: uppercase;
		background-color: $red-360;
		color: $white;
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -186px;
			float: right;
		}
		
	}
	
	h4.trigger-selected:first-of-type {
		margin: 0;
		
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
}

ul {

	li {

		.about.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					p {
						
					}
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.causes.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.sites.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.contact.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
						
			
			ul.content {
				padding: 0px 1em;
				
				li {
					
					h6 {
						
					}
					
					ul {
					
						li {
							
							h6.rss {
								
								a {
									
								}
							}
							
						}
							
						li {
							
							ul {
								
								li {
									
								}
								
							}
							
							a {
								
							}	
							
						}
						
					}
					
				}
			
			}
			
		}
		
	}
	
}

.legal {
	
	p {
		
		span {
			
			a {
				
			}
			
		}
		
	}
	
	h5:first-of-type {
		width: 100%;
		padding: 0.5em 1em 0.25em 1.75em;
		background-color: $red-360;
		color: $white;
		text-indent: -9999px;
		margin-bottom: 0px;
		margin-top: 0px;
		a {
			display: inline-block;
			color: $white;
			
			&:hover {
				
			}
		}
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -176px;
			margin: 10px auto;
		}
		
	}
	
	h5.trigger-selected:first-of-type {
	
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
	
	ul.next-content {
	
		li:first-of-type {
			padding-top: 10px;
		}
	}
	
}

.hon {
	
	p {
		
		
	}
	
	.hon-logo {
		
		
		a {
			
		}
	}
	
	p {
		
	}
	
}

.mobile-copyright {
	background: $red-360;
	height: auto;
	float: left;
	
	p {
		margin: .5em .75em .5em 1em;
		color: $white;
		line-height: 1em;
		font-size: .75em;
		height: auto;
	}
	
	p.copyright {
		/* width: 32%; */
		height: auto;
	}
	
	p.disclaimer {
		/* width: 60%; */
		height: auto;
	}
}


/* MORE HIDE CLASSES */


.first.hide-lt-tablet {
    width: 230px;
}

section#utility ul li.first.hide-lt-tablet {
	 width: 230px;
	 padding-top: 7px;
}


/**********************
SEARCH BOX
**********************/




.hide-port-tablet {
	display: none !important;
}



#login-box {

	position: absolute;
	float: none;
	right: 26px;
	width: 396px;

	.tabs-containerz {

		.tabs-headerz {

			.tabz {
				
			}

			.tabz.active {
				
			}

			.tabz:first-child {
				
			}


		}

		.tabs-contentz {
			
		
			.tab-contentz {
				height: auto;
			}

			p {
				
			}

		}

	}

	#login-buttons {

		.gradient-button {
			
		}

		.forgot-password-front {
			
		}

	}

}




























