/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-gray;
	background: url('../../images/top-border-red.gif') repeat-x 0 0 transparent; 
}

/*********************
LINK STYLES
*********************/

a, a:visited {

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	font-weight: bold;
	font-style: normal;
	color: $text-gray;
	text-rendering: optimizeLegibility;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 1.2125em; 

	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
		font-size: 60%;
		color: $text-gray;
		line-height: 0;
		}

	/* removing text decoration from all headivine links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.125em;
	line-height: 1.333em;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.375em;
	margin-bottom: 0.375em;
}

h4, .h4 {
	font-size: 1.125em;
	line-height: 1em;
	font-weight: 400;
}

h5, .h5 {
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 0.275em;
}

h6, .h6 {
  	font-size: .9em;
  	margin-bottom: 0.275em; 
}

div#container {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	height: auto;
}
/*********************
HEADER STYLES
*********************/

header.header {
	min-height: 160px;
	padding-top: 10px;
	
	#logo {
		min-height: 80px;
		margin-top: 10px;
		
		h1 {
			background: url('../../images/logo.png') no-repeat 0 0 transparent;
			text-indent: -9999px;
			min-height: 80px;
			width: 100%;
			margin: 0;
			
			a {
				display: block;
				min-height: 80px;
				height: 100%;
				width: 100%;
			}
			
		}
		
	}
	
}
/******************************************************************
NAVIGATION STYLES
******************************************************************/

#meta-social-wrap {
	background-color: transparent;
	margin-bottom: 10px;
}

#utility {
	min-height: 80px;
	
	ul {
		float: right;
		height: 40px;
		width: 100%;
		
		li {
			float: right;
			margin-right: 0px;
			position: relative;
			height: 40px;
			
			span.translate {
				display: block;
			    height: 40px;
			    margin-right: 10px;
			    padding-top: 12px;
			    text-align: right;
			    text-transform: uppercase;
			}
			
			a.search-icon {
				display: none;
				
			}
			
			div.search-field {
				position: relative;
				float: right;
				width: 235px;
				height: 40px;
				top: 0;
				right: 0;
				
				input[type="text"] {
					border-right: 1px solid #CCCCCC;
				    display: inline-block;
				    float: right;
				    height: 30px;
				    margin-top: 10px;
				    width: 200px;
				    border-radius: 0px;
				    font-size: 0.75em;
				}
				
				input[type="submit"] {
					@include sprite-search;
					float: right;
					border-left: 0px;
					border-right: 0px;
					border-top: 0px;
					border-bottom: 0px;
					height: 35px;
					border-radius: 0px;
					margin: 5px 0px 0px 0px;
					color: $white;
					text-indent: 9999px;
					width: 30px;
				}
				
			}
			
			span.donate-button {
				display: block;
			    height: 40px;
			    line-height: 30px;
			    text-align: center;
			    text-decoration: none;
			    text-transform: uppercase;
			    vertical-align: middle;
			    /* border-radius: 0 0 5px 5px; */
			    background: $red-360;
			    color: $white;
			    margin: 0px;
			    width: 65px;
			    
			    a {
			    	background: $red-360;
				    width: 65px;
				    height: 40px;
				    color: $white;
				    font-size: .9em;
				    display: block;
				    padding-top: 8px;
				    /* border-radius: 0 0 5px 5px; */
			    }
			    
			}
			
		}
		
		li.color-legend {
			width: 105px;
			position: relative;
			
			a {
				float: left;
				text-align: center;
				vertical-align: middle;
				display: block;
				width: 30px;
				height: 30px;
				margin-top: 10px;
				padding-top: 4px;
			}
			
			a.red-info {
				background-color: $notify-red;
				color: $white;
				margin-right: 5px;
			}
			
			a.orange-info {
				background-color: $notify-orange;
				color: $white;
				margin-right: 5px;
			}
			
			a.green-info {
				background-color: $notify-green;
				color: $white;
				margin-right: 5px;
			}
			
			div.color-tip {
				position: absolute;
				top: 50px;
				left: -50%;
				width: 300px;
				height: auto;
				padding: 0 10px;
			}
			
			.red-tip {
				border-top: 1px solid $notify-red;
				
				span {
					color: $notify-red;
				}	
			} 
			
			.orange-tip {
				border-top: 1px solid $notify-orange;
				
				span {
					color: $notify-orange;
				}	
			}
			
			.green-tip {
				border-top: 1px solid $notify-green;
				
				span {
					color: $notify-green;
				}	
			}
			
		}
		
		li.social-media {
			width: 72px;
			height: 40px;
			float: right;
			padding-top: 15px;
			
			.twitter {
				margin-right: 6px;
			}
			
			.facebook {
				margin-right: 6px;
			}
		}
		
	}
	
}

div#main-nav-wrap {
	min-height: 70px;
	float: left;
}


nav#main-nav {
	min-height: 40px;
	margin-top: 30px;
		
	ul.dropdown {
		width: 100%;
		-webkit-font-smoothing:antialiased;
		li {
			float: left;
			min-width: 16%;
			position: relative;
			
			a {
				padding: 6px 10px 6px 10px;
				color: $text-gray;
				text-decoration: none;
			    -webkit-transition: all .25s ease;
			    -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			    -o-transition: all .25s ease;
			    transition: all .25s ease;
				
				&:hover {
					color: $maroon;
				}
				
			}
			
			&:hover {
				@include gray-button-bg2;
				border: 1px solid #CCCCCC;
			}
			
			ul.sub-menu {
				border: 1px solid #CCCCCC;
				visibility: hidden;
				opacity: 0;
				height: auto; 
				width: 200px;
				margin-left: 0px;
				position: absolute;
				top: 100%;
				left: -1px;
				z-index: 100;
				-webkit-transition: all .25s ease;
			    -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			    -o-transition: all .25s ease;
			    transition: all .25s ease;
					
				li {
					@include gray-button-bg2;
					border: none;
					width: 100%;
					float: none;
					
					a:after {
						content: ""; 
						display: none; 
						width: 0; 
						height: 0; 
						border: solid 5px; 
						border-color:transparent; 
						margin-right: 15px; 
						margin-top: -2.5px; 
						position: absolute; 
						right: 0; 
						top: 50%;
					}
					
				}
				
			}
			
			span.show-sub-menu {
				display: inline-block;
				width: 30px;
				height: 30px;
				
				a.sub-menu-btn {
					@include sprite-arrows;
					display: inline-block;
					background-position: 50% 4px;
					width: 100%;	
					
				}
				
			}
			
		}
	
	}
			
}

nav#main-nav ul.dropdown li:hover ul.sub-menu {
	opacity: 1;
    top: 100%;
    visibility: visible;
}

#campaign-area {
	min-height: 70px;
	
	h2 {
		text-align: right;
		margin: 25px 25px 0 0;
		color: $red-360;
		text-transform: inherit;
		width: 80%;
		float: right;
		font-weight: 300;
	}
	
	span.promo-1 {
		/* background: url('../../images/logo-brentwood.png') no-repeat 0 0 transparent; */
		width: 77px;
		height: 65px;
		display: inline-block;
		float: right;
	}
	
}

#welcome {
	min-height: 40px;
	margin-top: 30px;
	
	a.logout {
		float: right;
	    font-size: 0.8em;
	    margin: 0;
	    text-align: right;
	    text-transform: uppercase;
	    line-height: .9em;
	    color: $text-gray;
	}
	
	h4 {
		text-align: right;
		margin: 0px;
		color: $red-360;
		float: right;
		clear: both;
	}
	
}

/* PHONE NAVIGATION */
nav#phone-nav {
	display: none;
	background-color: $soft-gray;
	position: relative;
	left: 0px;
	top: 10%;
	min-height: 2000px;
	height: 100%;
	width: 50%;
	float: left;
	
	ul {
		width: 100%;
		margin-left: 0px;
		
		li {
			width: 100%;
			border-bottom: 1px solid $text-gray;
			background-color: $soft-gray;
			color: $text-gray;
			padding: 10px 0 10px 10px;
			
			a {
				color: $text-gray;
			}
			
		}
		
	}
	
}

/******************************************************************
 START OF CONTENT STYLES
******************************************************************/
div#mainContent {
	
}
/**********************************************
 START OF REGISTER PAGE CONTENT 
**********************************************/
section.banner {
	height: auto;
	position: relative;
	
	div#register-slider {
		height: auto;
		overflow: hidden;
		max-height: 334px;
		
		.orbit-timer {
			display: none;
		}
	}
	
}

ol.orbit-bullets {
	position: absolute;
	top: 90%;
	width: 66px;
	left: 46%;
	margin: 0 auto;
	
	li {
		background: none repeat scroll 0 0 $mid-gray;
		border: 0px;
		height: 15px;
		margin-right: 10px;
		width: 15px;
	
		&.active {
		    background: none repeat scroll 0 0 $white;
		}
		
		&:last-child {
			margin-right: 0px;
		}
		
	}
	
}

section.info-portal-wrap {

}

.info-portal {
	background: url('../../images/lines.png') repeat-x 0 0 transparent;
	padding-top: 5px;
	float: left;
}

.h360info {
	
	h3 {
	
		color: $red-360;
		font-weight: 400;
		font-size: 1em;
		line-height: 1.2em;
		margin-top: 0;
		padding: 0 2% 2%;
		padding-left: 0;
		
	}
	
	p {
		
	}
	
	h5 {
		
		i {
			font-weight: 400;	
		}
		
	}
	
}

.login-portal {
	@include gray-diagonal-bg;
	margin-top: 5px;
	height: auto;
	overflow: hidden;	
	
		.section-container .participants {
			
			padding-top: 0 !important;
			
			p.title {
				@include tabs-signin;
				border-bottom: 1px solid #CCCCCC;

				a {
					font-family: $condMed;
				}
			}
			
			div.content {
				
				height: 186px;
				background-color: transparent;
				
				div {
						
					p {
						color: $red-360;
						font-size: 1em;
					    font-weight: 400;
					    line-height: 1.2em;
					}
					
					div.signin-wrap {
					
						@include signin-buttons;
						
						a.forgot {
							color: $text-gray;
							font-size: .8em;
							text-align: right;
							float: right;
							text-transform: none;
							
							i {
								
							}
							
						}
						
						a.no-account {
							font-size: .8em;
						}
						
					}
				
				}
						
			}
				
		}
			
		.section-container .providers {
			
			padding-top: 0 !important;
				
			p.title {
				@include tabs-signin;
				border-bottom: 1px solid #CCCCCC;
					a {
						font-family: $condMed;
					}
			}
			
			div.content {

				height: 186px;
				background-color: transparent;
				
					div {
						
						p {
							color: $red-360;
							font-size: 1em;
						    font-weight: 400;
						    line-height: 1.2em;

						}
						
						div {
							padding-left: 10px;
						
							input[type="text"].username {
								margin: 0 0 0.5em;
							}
							
							input[type="text"].password {
								margin: 0 0 0.5em;
							}
							
						}
						
						div.signin-wrap {
						
							@include signin-buttons;
							
							a.forgot {
								color: $text-gray;
								font-size: .8em;
								text-align: right;
								float: right;
								text-transform: none;
								i {
									
								}
								
							}
							
						}
						
					}
						 
			}
	
		}
		
		.section-container .volunteers {
		
			padding-top: 0 !important;
			
			p.title {

				@include tabs-signin;
				border-bottom: 1px solid #CCCCCC;

				a {
					font-family: $condMed;
				}
			}
			
			div.content {
			
				height: 186px;
				background-color: transparent;
				
					div {
						
						p {
							color: $red-360;
							font-size: 1em;
						    font-weight: 400;
						    line-height: 1.2em;

						}
						
						div {
							padding-left: 10px;
						
							input[type="text"].username {
								margin: 0 0 0.5em;
							}
							
							input[type="text"].password {
								margin: 0 0 0.5em;
							}
							
						}
						
						div.signin-wrap {
							@include signin-buttons;
							
							a.forgot {
								color: $text-gray;
								font-size: .8em;
								text-align: right;
								float: right;
								text-transform: none;
								
								i {
									
								}
								
							}
							
						}
						
					}
				
			}
	
		}
		
		.section-container section.participants.active p.title,
		.section-container section.providers.active p.title,
		.section-container section.volunteers.active p.title {
			// @include gray-button-bg1;
			background: none;
			border-bottom: 0;
			
		}
		
		.section-container section.participants.active p.title a,
		.section-container section.providers.active p.title a,
		.section-container section.volunteers.active p.title a {
			color: $red-360;
			// text-shadow: 0 1px rgba(255,255,255,1);	
		}
		
		
		.section-container section.participants.active div.content,
		.section-container section.providers.active div.content,
		.section-container section.volunteers.active div.content {
			top: -4px;
		}
		
		.section-container .active {
			padding-top: 44px !important;
		}

	
}

.login-portal .section-container .participants div.content div div.signin-wrap a,
.login-portal .section-container .providers div.content div div.signin-wrap a,
.login-portal .section-container .volunteers div.content div div.signin-wrap a {
		font-size: .7em;
}


.h360info {
	
	h3 {
		line-height: 1.2em;
		font-size: 1.2em;
		padding-left: 0;
		margin-top: 0;
	}

}



.section-container {
	
	height: auto;
	overflow: hidden;
}

.section-container.tabs {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	
}

.ie9 .section-container {
	background: url('../../images/gradient-box.jpg') no-repeat;
	height: auto;
	overflow: hidden;
}


/**********************************************
 END OF REGISTER PAGE CONTENT 
**********************************************/

/***********************************************************
 START OF DASHBOARD PAGE CONTENT 
***********************************************************/

article.tile {
	min-height: 167px;
	padding-bottom: 1.25em;
}

div.tile-inner {
	@include box-shadows;
	position: relative;
	float: left;
	background: url('../../images/gradient-box.jpg') no-repeat 0 0 transparent;
	/* padding: 0.5em; */
	width: 100%;
	overflow: hidden;
	border: 1px solid $text-gray;
	min-height: 153px;
	
	header.tile-title {
		float: left;
		padding: 2.5% 4% 2% 4%;
	    width: 100%;
		
		h3 {
			float: left;
		    font-size: 1.2em;
		    font-weight: 400;
		    margin: 0;
		    width: 68%;
		    
		    a {
			    color: $text-gray;
			    
			    &:hover {
				    color: $maroon;
			    }
			    
		    }
		    
		}
		
		.add-reading {
			float: right;
		    font-size: 0.59em;
		    font-weight: 500;
		    line-height: 1.1em;
		    width: 31%;
		    text-align: right;
		    color: $text-gray;
		    
		    &:hover {
			    color: $maroon;
		    }
		    
		    b {
			    font-size: 1.8em;
			    font-weight: 600;
			    color: $text-gray;
			    
		    }
		    
		}
		
	}
	
	section.tile-content {
		float: left;
		width: 100%;
		padding: 0% 4% 0% 4%;
		background: url('../../images/lines2.png') repeat-x 0 50% transparent;
		
		.tile-button {
			display: block;
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: url('../../images/sprite-tile-buttons-sm.png');
			background-color: $soft-gray;
			background-repeat: no-repeat;
			background-size: 100%;
			border: 6px solid $gray-ring;
			box-shadow: -1px -1px 1px $soft-gray;
			float: left;
		}
		
		div.tile-reading {
			float: right;
		    height: 100%;
		    /* margin-top: 1.2em; */
		    min-height: 3em;
		    width: 67%;
			
			span.tile-data {
				float: right;
			    font-size: 2.85em;
			    font-weight: 600;
			    line-height: 0.925em;
			    text-align: right;	
			    color: $mid-gray;
			    width: 100%;
			    font-family: $condBold;
			    
			    span.announce {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 34%;
				    text-align: center;
				    padding-top: 0px;
			    }
			    
			    span.messages {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 34%;
				    text-align: center;
				    border-left: 4px solid;
					border-right: 4px solid;
					padding-top: 0px;
			    }
			    
			    span.pending {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 31%;
				    text-align: center;
				    padding-top: 0px;
			    }
			    
			    .systolic-data {
				    display: inline-block;
				    width: 44%;
				    text-align: center;
				    padding-top: 2px;
			    }
			    
			    .diastolic-data {
			    	display: inline-block;
				    width: 44%;
				    text-align: center;
				    padding-top: 2px;
				    
			    }
			    
			    .completion-data {
			    	display: inline-block;
				    padding-top: 2px;
			    }
			    
			    .weight-data {
			    	display: inline-block;
				    padding-top: 2px;
			    }
			    
			    .fitness-data {
			    	display: inline-block;
				    padding-top: 2px;
			    }
			    
			    .glucose-data {
			    	display: inline-block;
				    padding-top: 2px;
			    }
			    
			    .cholesterol-data {
			    	display: inline-block;
				    padding-top: 2px;
			    }
			    
			}
			
			span.my-goals {
				float: right;
				margin-bottom: 3.5%;
				padding-right: 0%;
			    font-size: 0.8em;
			    font-weight: 500;
			    line-height: 0.9em;
			    width: 50%;
			    text-align: right;	
			    color: $mid-gray;
			    
			    .systolic-data {
				    border-right: 1px solid;
				    display: inline-block;
				    width: 20%;
				    text-align: center;
			    }
			    
			    .diastolic-data {
				    display: inline-block;
				    width: 20%;
				    text-align: center;
			    }
			    			    
			}
			
		}
		
	}
	
	
	div.tile-inner section.tile-content div.tile-reading span.tile-data .systolic-data {
		border: none;
	}
	
	footer.notifications {
		width: 100%;
		float: left;
		padding: 0 4%;
		
		span.last-reading {
			float: right;
		    font-size: 0.6em;
		    padding: 0;
		    text-align: right;
		    text-transform: uppercase;
		    width: 67%;
			
			span.col-1 {
				position: relative;
			    float: left;
			    width: 34%;
			    height: 1.85em;
			    
			    .icon-announce {
			    	position: absolute;
			    	top: 3px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
		    }
		    
		    span.col-2 {
		    	position: relative;
			    float: left;
			    width: 34%;
			    height: 1.85em;
			    
			    .icon-messages {
			    	position: absolute;
			    	top: 4px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
		    }
		    
		    span.col-3 {
		    	position: relative;
			    float: left;
			    width: 31%;
			    height: 1.85em;
			    
			    .icon-invites {
			    	position: absolute;
			    	top: -3px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
		    }
		    	
			span.status {
				float: right;
				text-align: left;
					
				span {
					display: inline-block;
					float: right;
					width: 12px;
					height: 12px;
					font-weight: 500;
					border-bottom: 0 none;
				}
				
			}
				
		}
		
	}
	
}

#my-pressure span.my-goals {
    padding-right: 5%;
}

#my-center section.tile-content div.tile-reading,
#my-profile section.tile-content div.tile-reading,
#my-medications section.tile-content div.tile-reading,
#my-lifecheck section.tile-content div.tile-reading {
	float: right;
    height: 100%;
    margin-top: 1.2em;
    min-height: 3em;
    width: 67%;
}

#my-center .tile-button {
	background-position: 0px -145px;
	
	&:hover {
		background-position: 0px -217px;
	}
}

#my-profile .tile-button {
	background-position: 0px -290px;
	
	&:hover {
		background-position: 0px -363px;
	}
}

#my-pressure .tile-button {
	background-position: 0px 0px;
	
	&:hover {
		background-position: 0px -72px;
	}
}

#my-weight .tile-button {
	background-position: 0px -436px;
	
	&:hover {
		background-position: 0px -510px;
	}
}

#my-activity .tile-button {
	background-position: 0px -584px;
	
	&:hover {
		background-position: 0px -656px;
	}
}

#my-glucose .tile-button {
	background-position: 0px -728px;
	
	&:hover {
		background-position: 0px -803px;
	}
}

#my-cholesterol .tile-button {
	background-position: 0px -878px;
	
	&:hover {
		background-position: 0px -950px;
	}
}

#my-medications .tile-button {
	background-position: 0px -1023px;
	
	&:hover {
		background-position: 0px -1096px;
	}
}

#my-lifecheck .tile-button {
	background-position: 0px -1170px;
	
	&:hover {
		background-position: 0px -1243px;
	}
}


/******************************************
 START OF DASHBOARD CHILD PAGE CONTENT 
******************************************/

article.tile-large {
	margin-bottom: 20px;
    min-height: 20.5em;
}

article.tile-large div.tile-inner {
	position: relative;
	float: left;
	background: url('../../images/gradient-box-lrg.jpg') no-repeat 0 0 transparent;
	width: 100%;
	overflow: hidden;
	border: 1px solid $text-gray;
	
	header.tile-title {
		float: left;
		padding: 4.55% 4% 2.5% 4%;
	    width: 100%;
		
		h3 {
			float: left;
		    font-size: 2.5em;
		    font-weight: 400;
		    margin: 0;
		    width: 70%;
		    
		    a {
			    color: $text-gray;
			    
			    &:hover {
				    color: $maroon;
			    }
			    
		    }
		    
		}
		
		.add-reading {
			color: $text-gray;
			clear: right;
		    display: inline-block;
		    float: left;
		    font-size: 1.23em;
		    font-weight: 300;
		    height: 25px;
		    line-height: 1.1em;
		    text-align: right;
		    width: 30%;
		    
		    &:hover {
			    color: $maroon;
		    }
		    
		    b {
			    display: inline-block;
			    font-size: 1.7em;
			    height: 20px;
			    width: 20px;
		    }
		    
		}
		
	}
	
	section.tile-content {
		float: left;
		width: 100%;
		padding: 0% 4%;
		background: url('../../images/lines-lrg.png') repeat-x 0 50% transparent;
		
		.tile-button {
			display: block;
			width: 10.5em;
			height: 10.5em;
			border-radius: 50%;
			background: url('../../images/sprite-tile-buttons-lrg.png');
			background-color: $soft-gray;
			background-repeat: no-repeat;
			background-size: 100%;
			border: 12px solid $gray-ring;
			box-shadow: -1px -1px 1px $soft-gray;
			float: left;
		}
		
		div.tile-reading {
			float: right;
		    height: 100%;
		    margin-top: 1.5%;
		    min-height: 3em;
		    width: 67%;
			
			span.tile-data {
				float: left;
			    font-size: 5.5em;
			    font-weight: 600;
			    line-height: 0.925em;
			    text-align: right;	
			    color: $mid-gray;
			    width: 100%;
			    
			    span.announce {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 33%;
				    text-align: center;
			    }
			    
			    span.messages {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 34%;
				    text-align: center;
				    border-left: 6px solid;
					border-right: 6px solid;
			    }
			    
			    span.pending {
			    	display: inline-block;
				    float: left;
				    margin: 0 0 0 0;
				    width: 33%;
				    text-align: center;
			    }
			    
			    .systolic-data {
				    border-right: 6px solid;
				    display: inline-block;
				    width: 44%;
				    text-align: center;
			    }
			    
			    .diastolic-data {
				    display: inline-block;
				    width: 44%;
				    text-align: center;
			    }
			    
			}
			
			span.my-goals {
			    float: right;
			    font-size: 1.2em;
			    font-weight: 600;
			    line-height: 1em;
			    margin-bottom: 3%;
			    padding-right: 0%;
			    text-align: right;
			    width: 50%;	
			    color: $mid-gray;
			    
			    .systolic-data {
				    border-right: 3px solid;
				    display: inline-block;
				    width: 20%;
				    text-align: right;
				    padding-right: 6px;
			    }
			    
			    .diastolic-data {
				    display: inline-block;
				    width: 20%;
				    text-align: left;
				    padding-left: 2px;
			    }
			    
			}
			
		}
		
	}
	
	footer.notifications {
		width: 100%;
		float: left;
		padding: 0 4% 4.55%;
		
		span.last-reading {
			float: right;
		    font-size: 1.23em;
		    padding: 0;
		    text-align: right;
		    text-transform: uppercase;
		    width: 67%;
			
			span.col-1 {
				position: relative;
			    float: left;
			    width: 34%;
			    height: 30px;
			    
			    .icon-announce {
			    	position: absolute;
			    	top: 3px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
			    .icon-announce-lrg {
			    	position: absolute;
			    	top: 3px;
			    	left: 50%;
			    	margin-left: -15px;
			    }
			    
		    }
		    
		    span.col-2 {
		    	position: relative;
			    float: left;
			    width: 34%;
			    height: 30px;
			    
			    .icon-messages {
			    	position: absolute;
			    	top: 4px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
			    .icon-messages-lrg {
			    	position: absolute;
			    	top: 4px;
			    	left: 50%;
			    	margin-left: -15px;
			    }
			    
		    }
		    
		    span.col-3 {
		    	position: relative;
			    float: left;
			    width: 31%;
			    height: 30px;
			    
			    .icon-invites {
			    	position: absolute;
			    	top: -3px;
			    	left: 50%;
			    	margin-left: -13px;
			    }
			    
			    .icon-invites-lrg {
			    	position: absolute;
			    	top: -3px;
			    	left: 50%;
			    	margin-left: -15px;
			    }
			    
		    }
		    	
			span.status {
				float: right;
				text-align: left;
					
				span {
					display: inline-block;
					float: right;
					width: 12px;
					height: 12px;
					font-weight: 500;
					border-bottom: 0 none;
				}
				
			}
				
		}
		
	}
	
}


section#side-tiles article#my-pressure.tile div.tile-inner section.tile-content div.tile-reading span.tile-data span.systolic-data {
	border: none;
}

#my-pressure-large span.my-goals {
    padding-right: 5%;
}

#my-center-large section.tile-content div.tile-reading,
#my-profile-large section.tile-content div.tile-reading,
#my-medications-large section.tile-content div.tile-reading,
#my-lifecheck-large section.tile-content div.tile-reading {
	float: right;
    height: 100%;
    margin-top: 6.5%;
    min-height: 3em;
    width: 67%;
}

#my-center-large .tile-button {
	background-position: 0px -293px;
	
	&:hover {
		background-position: 0px -439px;
	}
}

#my-profile-large .tile-button {
	background-position: 0px -585px;
	
	&:hover {
		background-position: 0px -732px;
	}
}

#my-pressure-large .tile-button {
	background-position: 0px -1px;
	
	&:hover {
		background-position: 0px -147px;
	}
}

#my-weight-large .tile-button {
	background-position: 0px -879px;
	
	&:hover {
		background-position: 0px -1026px;
	}
}

#my-activity-large .tile-button {
	background-position: 0px -1172px;
	
	&:hover {
		background-position: 0px -1320px;
	}
}

#my-glucose-large .tile-button {
	background-position: 0px -1467px;
	
	&:hover {
		background-position: 0px -1613px;
	}
}

#my-cholesterol-large .tile-button {
	background-position: 0px -1760px;
	
	&:hover {
		background-position: 0px -1906px;
	}
}

#my-medications-large .tile-button {
	background-position: 0px -2053px;
	
	&:hover {
		background-position: 0px -2199px;
	}
}

#my-lifecheck-large .tile-button {
	background-position: 0px -2492px;
	
	&:hover {
		background-position: 0px -2346px;
	}
}

#tracker-details .info-stats {
	
	div.accordion {
		margin-bottom: .25em;
		
		div.toggle-btn {
			
			h4 {
				font-size: 1em;
				margin: 0;
				padding: 0.5em 1em 0.25em 1.75em;
				text-transform: uppercase;
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
					margin-top: 4px;
				}
				
			}
			
		}
		
		div.toggle-btn.dt-selected {
			
			h4 {
				font-size: 1em;
				margin: 0;
				padding: 0.5em 1em 0.25em 1.75em;
				text-transform: uppercase;
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
					margin-top: 4px;
				}
				
			}
			
		}
		
		div.content {
			
			p {
				margin-top: 1.25em;
				line-height: 1em;
				font-size: .85em;
				
				a {
					font-size: 1em;
				}
				
			}
			
			form {
				
				fieldset {
					padding: 0px;
				}
				
			}
			
			ul.family-members {
				
				li {
					border-bottom: 1px solid $text-gray;
					padding: 0.75em 0 0.5em 1em;
					
					span.member {
						color: $text-gray;
						line-height: 1.5em;
						font-size: 1em;
					}
					
				}
				
			}
			
			a {
				font-size: .75em;
				
				span.plus {
					color: $text-gray;
					float: right;
					font-size: 1.5em;
				}
				
			}
			
		}
		
	}
	
}

.my-actions div.accordion div.content {
	
	ul {
	
		li {
			min-height: 1.5em;
			
			span {
				
			}
			
			p {
				line-height: 1.6em;
				margin-top: 1em;
				
				a {
					
				}
				
			}
			
		}
		
	}
	
}

.info-stats form {
	
	fieldset {
		border: none;
		
		label {
			font-size: .55em;
			color: $mid-gray;
		}
		
		input {
			
		}
		
		input::-webkit-input-placeholder,
		input:-moz-placeholder,
		input::-moz-placeholder,
		input:-ms-input-placeholder {
		   	font-size: .65em;
			color: $mid-gray;
		}	
		
		textarea {
			
		}
		
		textarea::-webkit-input-placeholder,
		textarea:-moz-placeholder,
		textarea::-moz-placeholder,
		textarea:-ms-input-placeholder {
		   	font-size: .65em;
			color: $mid-gray;
		}
		
	}
	
}

div.content {

	div.history-table-wrap {
		border-bottom: 1px solid $mid-gray;
		margin-bottom: 5px;
	}
	
	table.paginated {
		width: 100%;
		
		thead {
			
		}
		
		tfoot {
			
		}
		
		tbody {
			
			tr {
				
				td {
				
					div.edit-row-cell {
						position: relative;
						
						a.edit-trigger {
							@include edit-gear;
							background-position: 0 0;
							
							&:hover {
								background-position: 0 -15px;
							}
							
						}
						
						div.edit-content {
							@include gray-diagonal-bg;
							position: absolute;
							top: 0px;
							right: 16px;
							width: 160px;
							height: auto;
							z-index: 600;
							border: 1px solid $mid-gray;
							display: none;
							
							.edit-btn-wrap {
								border-top: 5px solid $maroon;
								height: 100%;
								
								a {
									@include gray-button-bg2;
									color: $text-gray;
									padding: .5em;
									display: block;
									
									&:hover {
										@include gray-button-bg1;
										color: $maroon;
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	div.my-graph {
		border-bottom: 1px solid $mid-gray;
		margin-bottom: 30px;
		
		div.trigger-wrap {
			
			h4.inner-trigger {
				font-size: 1em;
			    margin: 0;
			    padding: 1em 1em 1em 1.75em;
			    text-transform: uppercase;
			}
			
		}
		
	}
	
	div.my-status-controls {
		min-height: 80px;
	}
		
}



div.size-stats textarea {
	min-height: 13.5em;
}

#tracker-details div.questions div label {
	font-size: .75em;
}

.red-theme .info-stats.learn-about {
	
	div.accordion {
	
		div.toggle-btn {
			
			h4 {
				
			}
			
		}
		
		div {
		
			ul {
				
				li {
					
					p {
						color: $red-360;
					}
					
				}
				
			}
			
		}
		
	}
	
}

.blue-theme .info-stats.learn-about {
	
	div.accordion {
	
		div.toggle-btn {
			
			h4 {
				
			}
			
		}
		
		div {
		
			ul {
				
				li {
					
					p {
						color: $text-blue;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/**********************************************
 START MY CONNECTION CENTER
**********************************************/
#my-center .tile-content .tile-reading {
	margin-right: -16px;
	margin-top: 1.3em;
	
}

#my-center footer.notifications .last-reading {
	margin-right: -16px;
	
}

.connection-center #tracker-details .tile-content {
	padding: 0% 0 0 4%;
	
}

.connection-center #tracker-details footer.notifications {
	padding: 0 0 4.55% 4%;
	
}

.trigger-wrap h4 {
	cursor: pointer;
}

.connection-center div.content {

	ul.inner-accordion {
		margin-left: 0px;
		
		li {
			
			div.trigger-wrap {
				padding: 1.5em 1em 1em 2em;
				position: relative;
				
				h4.inner-trigger {
					color: $text-gray;
					font-size: 1em;
				    margin: 0;
				    padding: 0em;
				    text-transform: uppercase;
				    
				    span.msg-unread {
					    color: $notify-blue;
				    }
				    
				    span.blue-arrow {
					    @include sprite-arrows;
						background-position: 0 -143px;
						float: right;
				    }
				    
				}
				
				h4.inner-trigger.trigger-selected {
				    
				    span.blue-arrow {
					    @include sprite-arrows;
						background-position: 0 -124px;
						float: right;
				    }
				    
				}
				
				span.message-date {
					color: $text-gray;
					line-height: 3em;
					vertical-align: top;
				}
				
				.trash {
					position: absolute;
					top: 18px;
					right: 42px;
					cursor: pointer;
				}
				
				.add-note {
					position: absolute;
					top: 19px;
					right: 80px;
					cursor: pointer;
				}
				
			}
			
			div.inner-content {
				padding: 0em 2em;
				
				input[type="checkbox"] {
					margin-top: 5px;
				}
				
				label.check-text {
					padding-left: 1.5em;
				}
				
				label.pin {
					text-align: left;
					color: $notify-blue;
					font-size: 1.2em;
				}
				
			}
			
		}
		
		#three-step-mobile,
		li#my-mobile-number,
		li#my-mobile-number,
		li#add-my-sms-reminders,
		li#my-sms-reminders,
		li#my-ivr-pin,
		li#my-ivr-reminder,
		li.provider,
		li#invite-provider {
			border-bottom: 1px solid $mid-gray;
		}
		
	}
	
	.nested-tabs {
		width: 100%;
		
		ul.tabs-nav {
			width: 100%;
			float: left;
			
			li.tab-btn {
				padding: 1em 1em 0.5em;
				float: left;
				background: $soft-gray;
				// border: 1px solid $mid-gray;
				
				.tab-title {
					display: inline-block;
					font-size: .9em;
					vertical-align: top;
					line-height: 2.1em;
				}
				
				a {
					display: inline-block;
					vertical-align: top;
					margin-top: 4px;
				}
			}
			
			li.tab-btn.active-tab {
				border-bottom: none;
				background: $white;
			}
			
		}
		
		.tab-content {
			width: 100%;
			padding: 5em 0 1em;
			
			form {
				
				textarea {
					min-height: 160px;
				}
				
			}
			
		}
		
		.tab-content.active-content {
			display: block;
		}
		
	}
	
}


/*****************************
ANNOUCEMENTS
*****************************/

section.my-announcements div.accordion div.content ul.inner-accordion li > div {
	float: left;
	position: relative;
	display: block;
	padding: 8px;
	padding-left: 15px;
}

section.my-announcements div.accordion div.content ul.inner-accordion li > div > span {
	float: left;
	position: relative;
	display: block;
	padding: 8px;
	padding-left: 15px;
}

section.my-announcements div.accordion div.content ul.inner-accordion > li {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}


section.my-announcements div.accordion div.content ul.inner-accordion > li div.trigger-wrap {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

section.my-announcements div.accordion div.content ul.inner-accordion > li div.trigger-wrap h4.inner-trigger {

	text-transform: uppercase;
	color: $text-blue;

}

/* div.trigger-wrap h4.inner-trigger */


#my-messages div.accordion div.content {

	.nested-tabs {
		
		ul.tabs-nav {
			
			li.tab-btn {
				width: 25%;
				
			}
			
			li#inbox-btn {
				
				.icon-messages {
					margin-top: 7px;
				}
				
			}
			
		}
		
		.tab-content {
		
			form {
				
				textarea {
					min-height: 160px;
				}
				
			}
		}
		
	}
	
}

#my-reminders div.accordion div.content {

	.inner-accordion {
	
		form {
			
			textarea {
				min-height: 270px;
			}
			
		}
		
		.test-confirm-blue {
			color: $notify-blue;
			font-size: .95em;
		}
		
		.go-gray {
			color: $text-gray !important;
		}
		
		.go-blue {
			color: $notify-blue !important;
		}
		
		#mobile-sms {
			
			.edit-sms-trigger {
				position: relative;
				padding-top: 0px;
				padding-left: 10px;
				
				.edit-pencil {
					position: absolute;
					right: -7px;
					top: 0px;
				}
				
				h4 {
					font-size: 1em;
					color: $notify-blue;
					padding-right: 30px;
					
				}
				
			}
			
			.edit-sms {
				padding: 0 2em 0 10px;
			}
			
			#confirm-edited-sms-setup {
				
				h4 {
					color: $notify-blue;
					font-size: 1em;
				}
				
			}
			
		}
		
		#my-ivr {
			
			#ivr-reminder-trigger {
				position: relative;
				padding-right: 2.35em;
				
				.edit-pencil {
					position: absolute;
					right: 13px;
					top: 25px;
				}
				
				h4 {
					font-size: 1em;
					color: $notify-blue;
					padding-right: 30px;
					
				}
				
			}
			
		}
		
	}
	
	#three-step-mobile {
		margin-left: 0px;
	}
	
}

#my-providers div.accordion div.content {
	
	li.provider {
		
		.confirmed-contact,
		.pending-contact,
		.add-contact {
			margin-right: 10%;
		}
		
	}
	
	li#invite-provider {
		
		.add-contact {
			margin-right: 10%;
		}
		
		.nested-tabs-inv {
			width: 100%;
		
			ul.tabs-nav-inv {
				width: 100%;
				float: left;
				margin-left: 0;
				
				li.tab-btn-inv {
					padding: 1em 1em 0.5em;
					float: left;
					background: $soft-gray;
					border: 1px solid $mid-gray;
					width: 20%;
					
					.tab-title-inv {
						display: inline-block;
						font-size: .9em;
						vertical-align: top;
						line-height: 2.1em;
					}
					
					a {
						display: inline-block;
						vertical-align: top;
						margin-top: 4px;
					}
				}
				
				li.tab-btn-inv.active-tab {
					border-bottom: none;
					background: $white;
				}
				
			}
			
			.tab-content-inv {
				width: 100%;
				padding: 5em 0 1em;
				
				form {
					
					textarea {
						min-height: 160px;
					}
					
				}
				
			}
			
			.tab-content-inv.active-content {
				display: block;
			}
			
		}
		
	}
	
	.go-gray {
		color: $text-gray !important;
	}
	
	.go-blue {
		color: $notify-blue !important;
	}
	
}

/**********************************************
 END MY CONNECTION CENTER
**********************************************/
/**********************************************
 START MY BLOOD PRESSURE
**********************************************/
#my-pressure .tile-content {
	padding: 0% 0 0 4%;
	
}

.blood-pressure #tracker-details .tile-content {
	padding: 0% 0 0 4%;
}


/**********************************************
 END MY BLOOD PRESSURE
**********************************************/





/**********************************************
 END OF DASHBOARD CHILD PAGE CONTENT 
**********************************************/

/***********************************************************
 END OF DASHBOARD PAGE CONTENT 
***********************************************************/

/**********************************************
 START OF EASY STEPS ACCOUNT PAGE CONTENT 
**********************************************/
div#easy-steps {
	@include gray-horizonal-bg;
	height: auto;
	overflow: hidden;
	
	header {
		height: auto;
	    margin-bottom: 30px;
	    min-height: 80px;
	    overflow: hidden;
		
		div {
		
			h2 {
				color: $red-360;
				font-weight: 400;
				font-size: 2em;
				line-height: 1.1em;
				text-transform: none;
				
			}
			
		}
		
		div {
		
			div.get-started {
			
				a {
					display: inline-block;
					font-size: .8em;
					padding: 10px 30px;
					text-transform: uppercase;
					margin: 3em 1.5em;
				}
				
			}
			
		}
		
		
	}
	
	.process {
		background: url('../../images/lines2.png') repeat-x 0 15% transparent;
		height: auto;
		overflow: hidden;
	
		.steps {
			
			div.process-graphic {
				min-height: 470px;
				background-size: 100%;
			}
			
			div.process-message {
				margin-top: 30px;
				
				h5 {
					color: $red-360;
					margin-bottom: 20px;
				}
				
				p {
					font-size: .8em;
				}
				
			}
			
		}
		
		#step-1 {
		
			div.process-graphic {
				background: url('../../images/step-1.png') no-repeat 0 0 transparent;
				background-size: 100%;
			}
			
			div.process-message {
				
				div.lower-process-graphic {
					background: url('../../images/step-1b.png') no-repeat 0 0px transparent;
					background-size: 100%;
					min-height: 470px; 
				}
				
			}
			
		}
		
		#step-2 .process-graphic {
			background: url('../../images/step-2.png') no-repeat 0 0 transparent;
			background-size: 100%;
		}
		
		#step-3 .process-graphic {
			background: url('../../images/step-3.png') no-repeat 0 0 transparent;
			background-size: 100%;
		}
		
		#step-4 .process-graphic {
			background: url('../../images/step-4.png') no-repeat 0 0 transparent;
			background-size: 100%;
		}
		
	}
	
	footer {
		min-height: 40px;
		
		a {
			width: 111px;
			height: 44px;
			background: url('../../images/logo-healthvault.jpg') no-repeat 0 0 transparent;
		}
		
	}
	
}




/**********************************************
 END OF EASY STEPS ACCOUNT PAGE CONTENT 
**********************************************/

/**********************************************
 START NEW USER FORM FINISH ACCOUNT CONTENT
**********************************************/

.finish-account {
	
	header {
	
		h2 {
			color: $text-gray;
			text-transform: none;
			font-weight: 300;
			font-size: 1.75em;
			line-height: 1em;
			
			&:first-child {
				color: $red-360;
			}
			
		}
		
	}
	
	form {
	
		fieldset {
			border: medium none;
		    margin: 2em 0;
		    padding: 0;
		    
		    label {
			    padding-top: 0.4em;
		    }
		    
		    label.check-text {
			    font-size: 0.6em;
			    margin-left: 3%;
			    padding-top: 0;
			    width: 90%;
		    }
		    
		    input[type="text"] {
			    height: 2em;
		    }
		    
		}
		
	}
	
}

.new-user-form {
	margin: 2em 0;
	clear: left;
	
	div {
		
		h5 {
			color: $red-360;
		}
		
	}
	
	form {
		
		fieldset {
			border: medium none;
		    margin: 2em 0;
		    padding: 0;
		    
		    label {
			    padding-top: 0.4em;
		    }
		    
		    input[type="text"] {
			    height: 2em;
		    }
		    
		}
		
	}
	
}

/**********************************************
 END NEW USER FORM FINISH ACCOUNT CONTENT 
**********************************************/

/**********************************************
 START TERMS AND CONDITIONS CONTENT
**********************************************/

.terms h1 {
	color: $red-360;
}


/**********************************************
 END TERMS AND CONDITIONS CONTENT
**********************************************/


/**********************************************
 REVEAL LIGHTBOX STYLES
**********************************************/

.reveal-modal {
	z-index: 900;
	@include gray-diagonal-bg;
	padding: 0;
	
	.close-reveal-modal {
		color: $text-gray;
	    cursor: pointer;
	    font-size: 1em;
	    font-weight: 500;
	    line-height: 1;
	    position: absolute;
	    right: 0.6875em;
	    top: 1.25em;
	}
	
	div.page-red {
		border-top: 10px solid $red-360;
		padding: 1.875em;
		
		h3 {
			color: $red-360;
		}
		
		form {
			
			fieldset {
				border: none;
				padding: 0;
			}
			
		}
		
	}
	
	div.page-blue {
		border-top: 10px solid $notify-blue;
		padding: 1.875em;
		
		h1,h2,h3,h4,h5 {
			color: $notify-blue;
		}
		
		form {
			
			fieldset {
				border: none;
				padding: 0;
			}
			
		}
		
	}
	
}


/**********************************************
 END OF REVEAL LIGHTBOX STYLES
**********************************************/

/**********************************************
FORM STYLES
**********************************************/

table.paginated {
	
}

div.pager {
    text-align: left;
    margin: 1em 0;
    
    span {
	    display: inline-block;
	    width: 1.8em;
	    height: 1.8em;
	    line-height: 1.8;
	    text-align: center;
	    cursor: pointer;
	    background: #000;
	    color: #fff;
	    margin-right: 0.5em;
		
	}
	
	.active {
	    background: #c00;
	}
	
}

/*********************
 SIDEBARS & ASIDES
*********************/

.sidebar {}

/*****************************************
 STATUS COLOR CHANGE STYLING 
*****************************************/

/* WARNING RED COLOR CHANGES */
#my-center-large.warning-red,
#my-center.warning-red,
#my-profile-large.warning-red,
#my-profile.warning-red,
#my-pressure-large.warning-red,
#my-pressure.warning-red,
#my-weight-large.warning-red,
#my-weight.warning-red,
#my-activity-large.warning-red,
#my-activity.warning-red,
#my-glucose-large.warning-red,
#my-glucose.warning-red,
#my-cholesterol-large.warning-red,
#my-cholesterol.warning-red,
#my-medications-large.warning-red,
#my-medications.warning-red,
#my-lifecheck-large.warning-red,
#my-lifecheck.warning-red {
	
	.tile-content {
		
		.tile-button {
			border-color: $notify-red;
		}
		
		div.tile-reading {
			
			span.tile-data {
				color: $notify-red;
			}
			
		}
		
	}
	
	footer.notifications {
		
		span.last-reading {
			
			span.status {
				color: $notify-red;
				
				a {
					color: $notify-red;
					
					&:hover,
					&:visited {
						color: $notify-red;
					}
					
				}
				
				span {
					color: $notify-red;
					
					&:hover,
					&:visited {
						color: $notify-red;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* NEEDS IMPROVEMENT ORANGE COLOR CHANGES */
#my-center-large.needsimprovement-orange,
#my-center.needsimprovement-orange,
#my-profile-large.needsimprovement-orange,
#my-profile.needsimprovement-orange,
#my-pressure-large.needsimprovement-orange,
#my-pressure.needsimprovement-orange,
#my-weight-large.needsimprovement-orange,
#my-weight.needsimprovement-orange,
#my-activity-large.needsimprovement-orange,
#my-activity.needsimprovement-orange,
#my-glucose-large.needsimprovement-orange,
#my-glucose.needsimprovement-orange,
#my-cholesterol-large.needsimprovement-orange,
#my-cholesterol.needsimprovement-orange,
#my-medications-large.needsimprovement-orange,
#my-medications.needsimprovement-orange,
#my-lifecheck-large.needsimprovement-orange,
#my-lifecheck.needsimprovement-orange {
	
	.tile-content {
		
		.tile-button {
			border-color: $notify-orange;
		}
		
		div.tile-reading {
			
			span.tile-data {
				color: $notify-orange;
			}
			
		}
		
	}
	
	footer.notifications {
		
		span.last-reading {
			
			span.status {
				color: $notify-orange;
				
				a {
					color: $notify-orange;
					
					&:hover,
					&:visited {
						color: $notify-orange;
					}
					
				}
				
				span {
					color: $notify-orange;
					
					&:hover,
					&:visited {
						color: $notify-orange;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* EXCELLENT GREEN COLOR CHANGES */
#my-center-large.excellent-green,
#my-center.excellent-green,
#my-profile-large.excellent-green,
#my-profile.excellent-green,
#my-pressure-large.excellent-green,
#my-pressure.excellent-green,
#my-weight-large.excellent-green,
#my-weight.excellent-green,
#my-activity-large.excellent-green,
#my-activity.excellent-green,
#my-glucose-large.excellent-green,
#my-glucose.excellent-green,
#my-cholesterol-large.excellent-green,
#my-cholesterol.excellent-green,
#my-medications-large.excellent-green,
#my-medications.excellent-green,
#my-lifecheck-large.excellent-green,
#my-lifecheck.excellent-green {
	
	.tile-content {
		
		.tile-button {
			border-color: $notify-green;
		}
		
		div.tile-reading {
			
			span.tile-data {
				color: $notify-green;
			}
			
		}
		
	}
	
	footer.notifications {
		
		span.last-reading {
			
			span.status {
				color: $notify-green;
				
				a {
					color: $notify-green;
					
					&:hover,
					&:visited {
						color: $notify-green;
					}
				}
				
				span {
					color: $notify-green;
					
					&:hover,
					&:visited {
						color: $notify-green;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* NEUTRAL BLUE COLOR CHANGES */
#my-center-large.neutral-blue,
#my-center.neutral-blue,
#my-profile-large.neutral-blue,
#my-profile.neutral-blue,
#my-pressure-large.neutral-blue,
#my-pressure.neutral-blue,
#my-weight-large.neutral-blue,
#my-weight.neutral-blue,
#my-activity-large.neutral-blue,
#my-activity.neutral-blue,
#my-glucose-large.neutral-blue,
#my-glucose.neutral-blue,
#my-cholesterol-large.neutral-blue,
#my-cholesterol.neutral-blue,
#my-medications-large.neutral-blue,
#my-medications.neutral-blue,
#my-lifecheck-large.neutral-blue,
#my-lifecheck.neutral-blue {
	
	.tile-content {
		
		.tile-button {
			border-color: $notify-blue;
		}
		
		div.tile-reading {
			
			span.tile-data {
				color: $notify-blue;
			}
			
		}
		
	}
	
	footer.notifications {
		
		span.last-reading {
			
			span.status {
				color: $notify-blue;
				
				a {
					color: $notify-blue;
					
					&:hover,
					&:visited {
						color: $notify-blue;
					}
					
				}
				
				span {
					color: $notify-blue;
					
					&:hover,
					&:visited {
						color: $notify-blue;
					}
					
				}
				
			}
			
		}
		
	}
	
}

td.notify-red {
	color: $notify-red;
	font-weight: bold;
}

td.notify-orange {
	color: $notify-orange;
	font-weight: bold;
}

td.notify-green {
	color: $notify-green;
	font-weight: bold;
}

td.notify-blue {
	color: $notify-blue;
	font-weight: bold;
}


/******************************************************************
 END OF CONTENT STYLES
******************************************************************/




/******************************************************************
 FOOTER STYLES
******************************************************************/

footer.footer {
	
	ul {
		margin-left: 0px;
		height: auto;
		overflow: hidden;
	}
}

ul {
	
	li {
		
		.about {
			border-left: 1px $red-360 solid;
			border-bottom: none;
			
			
			
			h5 {
				color: $text-gray;
				font-weight: 400;
				padding: 0.5em 1em 0.25em 0;
				
				a {
					color: $text-gray;
					
					&:hover {
						color: $maroon;
					}
				}
				
			}
			
			ul {
				
				li {
					
					p {
						font-size: .89em;
					}
					
					a {
						font-size: .89em;
						color: $text-blue;
					}	
					
				}
				
			}
			
		}
		
		.causes {
			border-left: 1px $red-360 solid;
			border-bottom: none;
			
			h5:first-of-type {
				padding: 0.5em 1em 0.25em 0;
			}
			
			h5 {
				color: $text-gray;
				font-weight: 400;
				padding: 0.5em 1em 0.25em 0;
				
				a {
					color: $text-gray;
					
					&:hover {
						color: $maroon;
					}
				}
				
			}
			
			ul {
				
				li {
					
					a {
						font-size: .89em;
						color: $text-blue;
					}	
					
				}
				
			}
			
		}
		
		.sites {
			border-left: 1px $red-360 solid;
			border-bottom: none;
			
			h5:first-of-type {
				padding: 0.5em 1em 0.25em 0;
			}
			
			h5 {
				color: $text-gray;
				font-weight: 400;
				padding: 0.5em 1em 0.25em 0;
				
				a {
					color: $text-gray;
					&:hover {
						color: $maroon;
					}
				}
				
			}
			
			ul {
				
				li {
					
					a {
						font-size: .89em;
						color: $text-blue;
					}	
					
				}
				
			}
			
		}
		
		.contact {
			border-left: 1px $red-360 solid;
			border-bottom: none;
			
			h5:first-of-type {
				padding: 0.5em 1em 0.25em 0;
			}
			
			h5 {
				color: $text-gray;
				font-weight: 400;
				padding: 0.5em 1em 0.25em 0;
				
				a {
					color: $text-gray;
					
					&:hover {
						color: $maroon;
					}
				}
				
			}
			
			ul {
				
				li {
					
					h6 {
						color: $text-gray;
						font-weight: 300;
						
					}
					
					ul {
					
						li {
							color: $red-360;
							
							h6.rss {
								background: url('http://static.heart.org/ahaanywhere/images/rss_icon.gif') no-repeat 0 4px transparent;
								padding-left: 20px;
								
								a {
									font-size: 1em;
								}
							}
							
						}
							
						li {
							
							ul {
								
								li {
									font-size: .89em;
									color: $red-360;
								}
								
							}
							
							a {
								font-size: .89em;
							}	
							
						}
						
					}
					
				}
			
			}
			
		}
		
	}

}

.legal {
			
	p {
		font-size: .75em;
		
		span {
			clear: right;
			display: inline-block;
			
			a {
				color: $text-gray;
				
			}
		}
		
	}
	
}

.hon {
			
	p {
		font-size: .75em;
		
	}
	
	.hon-logo {
		margin: 0 auto;
		width: 43px;
		height: 60px;
		
		a {
			width: 43px;
			height: 60px;
			display: block;
		}
	}
	
	p {
		font-size: .75em;
		
	}
	
}


/******************************************************************
 SHADOW BOX STYLES
******************************************************************/

body .shadowbox {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, .65);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3000;
}

body .modal-bg {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: transparent;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3001;
    
    .modal-wrap {
    	@include gray-diagonal-bg;
    	/* border: 1px solid #666666; */
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	    display: none;
	    height: auto;
	    max-height: 80%;
	    left: 50%;
	    margin-left: -20%;
	    padding: .5em 1.25em 1.25em;
	    position: absolute;
	    top: 10%;
	    display: none;
	    width: 40%;
	    z-index: 3002;
	    overflow: auto;
    	
		.inner-modal {
			position: relative;
		    padding-bottom: 62.25%; /* ratio for youtube embed */
		    padding-top: 30px;
		    margin-bottom: 1.75em;
		    height: auto;
		    overflow: visible;
		    
		    a.close-modal {
				color: #666666;
				cursor: pointer;
				font-size: 1em;
				font-weight: 500;
				line-height: 1;
				position: absolute;
				right: 0;
				top: 0;
			}
		    
		    iframe,
		    object,
		    embed {
			    position: absolute;
			    top: 25px;
			    left: 0;
			    width: 100%;
			    height: 100%;
		    }
		    
		}
		   
    }
    
    .modal-wrap.page-red {
	    border-top: 10px solid $red-360;
    }
    
    .modal-wrap.page-blue {
	    border-top: 10px solid $notify-blue;
    }
    
    .modal-wrap.confirm{
	    
	    .inner-modal {
		    
		    a.close-modal {
				display: none;
			}
			
	    }
	    
    }
    
}

.ie9 body .modal-bg .modal-wrap {
    background-color: $white;
}

/* VALIDATION ERROR STYLES */
.validation-error {
	background-color: #D91C24 !important;
	color: #ffffff !important;
	padding: .75em !important;
}


/* MORE HIDE CLASSES */

.hide-tablet {
	display: none;
}

.hide-port-tablet {
	display: none;
}



/**********************************
ASP AJAX TABS FOR MESSAGES
**********************************/

.ajax__tab_header 
{
    height: 50px;
    width: 100%;
    float: left;
    display: block;
}

.ajax__tab_header span 
{
    float: left;
    position: relative;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
    display: block;
    border: 1px solid #949391;
    background-color: #f2f2f2;
   
}

.ajax__tab_body {
	margin-bottom: 15px;
}


.ajax__tab_header .ajax__tab_disabled 
{
     background-color: #f2f2f2;
}
.ajax__tab_header span .ajax__tab_outer 
{
    float: left;
    position: relative;
    height: 100% !important;
    width: 101%;
    margin: 0;
    padding: 0 !important;
    display: block;
    background: none !important;
    margin: 0 !important;
    border: none;
    background-image: none !important;
     background-color: transparent;
}

.ajax__tab_header .ajax__tab_active
{
   
    background-color: #ffffff !important;
    background-image: none !important;
    border-bottom: none !important;

}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner
{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background: none !important;
    border: none;
}



.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    display: block;
    border: none; 
    background: none !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span
{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    padding: 8px 8px 2px;
    float: left;
    display: block;
    border: none;
    background: none !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span
{
    display: inline-block;
    font-size: 17px;
    vertical-align: top;
    color: #666666;
    line-height: 2em;
    margin-top: 4px;
    border: none;
    padding: 0 !important;
    font-family: 'HelveticaNeueW01-57Cn', Sans-Serif;
    background: none !important;
}

.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.icon-messages
{
    border: none;
    padding: 0 !important;
    background: url("../../images/sprite-icons-1.png") no-repeat scroll 0 -132px transparent !important;
    display: inline-block;
    height: 15px;
    width: 26px;
    margin-top: 15px !important;
    margin-left: 8px !important;
          
}
      
.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.add-note
{
    border: none;
    padding: 0 !important;
    background: url("../../images/sprite-icons-1.png") no-repeat scroll 0 -240px transparent !important;
    display: inline-block;
    height: 21px;
    width: 26px;
    margin-top: 13px !important;
    margin-left: 8px !important;
          
}
      
.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.icon-send-message
{
    border: none;
    padding: 0 !important;
    background: url("../../images/sprite-icons-1.png") no-repeat scroll 0 -111px transparent !important;
    display: inline-block;
    height: 21px;
    width: 26px;
    margin-top: 11px !important;
                    margin-left: 8px !important;
          
}
      
.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.trash
{
    border: none;
    padding: 0 !important;
    background: url("../../images/sprite-icons-1.png") no-repeat scroll 0 -263px transparent !important;
    display: inline-block;
    height: 22px;
    width: 26px;
    margin-top: 9px !important;
                    margin-left: 8px !important;
          
}
      
.ajax__tab_header span .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab span span.tab-title
{
          
    border: medium none;
	padding: 0px !important;
	margin-bottom: 13px !important;
    margin-left: 5px !important;
    margin-top: 14px !important;
	line-height: 12px;
	font-size: 12px;
	vertical-align: top;
	width: auto;
	text-align: right;
	text-transform: uppercase;
          
}



/*********************************
REMIND ME ACCORDIANS
*********************************/


section#tracker-details section#my-reminders.info-stats div.accordion div.content div ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild {
    padding: 11px 14px;
    padding-top: 0;
    padding-bottom: 11px;	
}

section#my-reminders.info-stats div.accordion div.content {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

section#my-reminders.info-stats div.accordion div.dt-selected {
	
}

section#my-reminders.info-stats div.accordion div.dt-selected {

	background-image: -webkit-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55); /* Standard syntax; must be last */
	background: 		linear-gradient(to bottom, white 0%, rgb(251, 251, 251) 50%, whitesmoke 51%, rgb(231, 232, 232) 100%) repeat scroll 0% 0%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #CCCCCC;
    padding: 10px 0;
    
}

/**********************************
IVR
**********************************/

.ivr-number {
	color: $text-blue;
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRSetupEdit div.trigger-wrap {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 0 0 13px;
	padding-top: 0;
	
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRReminder div.trigger-wrap {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 0 0 13px;
	padding-bottom: 0;
	padding-top: 0;
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRReminder {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 13px;
	padding-top: 0;
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRSetupEdit{
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 13px;
	padding-bottom: 0;
	padding-top: 0;
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRSetupEdit div.trigger-wrap div.inner-trigger {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #949391;
	padding: 13px 9px;
}

section#tracker-details section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRReminder div.trigger-wrap div.inner-trigger {
	text-transform: uppercase;
	color: #4695B0;
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 13px 9px;
}

section#tracker-details section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRSetupEdit div.trigger-wrap div.inner-trigger:hover > span  {
	color: #7D1024;	
	cursor: pointer;
}

section#tracker-details section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRReminder div.trigger-wrap div.inner-trigger:hover > span {
	color: #7D1024;	
	cursor: pointer;
} 

section#tracker-details section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRReminder div.trigger-wrap div.inner-trigger {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 13px 11px;
	padding-bottom: 0;
	padding-top: 0;
	color: #4695B0;
}

section#my-reminders.info-stats div.accordion div.content div#ctl00_ContentPlaceHolderMain_RemindMe_upanelRemindMe ul.inner-accordion li div#ctl00_ContentPlaceHolderMain_RemindMe_divIVRSetupEdit div.trigger-wrap div.inner-trigger span.sms-edit-list-title{
	text-transform: uppercase;
	color: #4695B0;
}



ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeader div.trigger-wrap div.inner-trigger span.sms-edit-list-title,
ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeaderSelected div.trigger-wrap div.inner-trigger span.sms-edit-list-title {
	text-transform: uppercase;
	color: #4695B0;
}

ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeader div.trigger-wrap div.inner-trigger span.blue-arrow,
ul.asp-container-ul li.asp-container-li div > div.accordionChild > div.accordionChildHeaderSelected div.trigger-wrap div.inner-trigger span.blue-arrow  {
	
	float: right;
	position: relative;
	
}

/********************************
END IVR
********************************/


ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild  {
	overflow: hidden !important;
	padding-bottom: 0 !important;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div {
	float: left;
	position: relative;
	height: auto;
	overflow: hidden !important;
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}


ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.inner-accordionChildHeaderText,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.inner-accordionChildHeaderText {
	color: #4695B0;
}



ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.inner-accordionChildHeaderText .blue-arrow,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.inner-accordionChildHeaderText .blue-arrow {
	margin-top: 7px;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader  {
	border-bottom: 1px solid #949391;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText:hover > span {
	color: #7D1024;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.inner-accordionChildHeaderText:hover > span {
	color: #7D1024;
}


ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected + div  {
	border-bottom: 1px solid #949391;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap {
	padding: 13px;
	padding-left: 8px;
	padding-right: 8px;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText input.trash,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText input.trash{
	top: 0;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeaderSelected div.trigger-wrap div.accordionChildHeaderText span.blue-arrow,
ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div.accordionChildHeader div.trigger-wrap div.accordionChildHeaderText span.blue-arrow {
	margin-top: 5px;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div .accordionChildContent {
	padding: 8px;
	overflow: visible !important;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row {
	
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion  {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion li {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
}



ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion li div.inner-content{
	overflow: hidden;
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 8px;
}


ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion li div.trigger-wrap {
	float: left;
	position: relative;
	height: auto;
	width: 100%;
	padding: 8px;
	
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion li div.trigger-wrap {
	text-transform: uppercase;
}

ul.inner-accordion li div.asp-container-start ul.asp-container-ul li.asp-container-li div div.accordionChild div div.accordionChildContent div.row div ul.inner-accordion li div.trigger-wrap input.trash {
	top: 9px;
}

		/*****************************
		REMIND ME - EDIT SMS
		*****************************/
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-sms  {
			float: left;
			position: relative;
			height: auto;
			width: 100%;
			color: #4695B0;
			text-transform: uppercase;
			 
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-sms div.trigger-wrap {
			float: left;
			position: relative;
			height: auto;
			width: 100%;
			border-bottom: 1px solid #949391;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-sms div.inner-content {
			float: left;
			position: relative;
			height: auto;
			width: 100%;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		


		/*****************************
		REMIND ME - EDIT REMINDERS
		*****************************/

		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			color: #4695B0;
			text-transform: uppercase;
		}
		
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.trigger-wrap {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			border-bottom: 1px solid #949391;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			border: none;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap div.inner-trigger {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap div.inner-trigger .sms-list-reminder-title {
			
			float: left;
			position: relative;
			height: auto;
			width: 75%;
			padding: 3px;
			font-size: 14px;
			text-transform: uppercase;
			color: #4695B0;
			
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap div.inner-trigger .sms-list-reminder-date {
			
			float: left;
			position: relative;
			height: auto;
			width: 100%;
			padding: 3px;
			font-size: 12px;
			color: #666666;
			
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap div.inner-trigger .blue-arrow {
			
			float: left;
			position: absolute;
			height: auto;
			width: 100%;
			padding: 3px;
			font-size: 12px;
			right: 0;
			width: 15px;
			height: 13px;
			top: 5px;
			
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap div.inner-trigger .blue-arrow:hover {
			cursor: pointer;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap input.add-note {
			
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-edit-reminders  div.inner-content div ul li div.trigger-wrap input.trash {
			top: 19px;
		}
		
		
		/*****************************
		REMIND ME - ADD REMINDERS
		*****************************/

		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-add-reminders  {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			color: #4695B0;
			text-transform: uppercase;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-add-reminders  div.trigger-wrap {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
			border-bottom: 1px solid #949391;
		}
		
		section#my-reminders.info-stats div.accordion div.content ul.inner-accordion li div.remind-me-add-reminders  div.inner-content {
			float: left;
			position: relative;
			width: 100%;
			height: auto;
		}



/************************
ADD MEDICATIONS DIV
************************/

span#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBOuterDivID.Custom_DropDownOuterDiv {
	
	display: block;
	width: 100%;
	float: left;
	height: auto;
	position: relative;
	
}

span#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBOuterDivID.Custom_DropDownOuterDiv span#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBPenultimateDivID.Custom_DropDownPenultimateDiv {
	display: block;
	width: 100%;
	float: left;
	height: auto;
	position: relative;
}

span#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBOuterDivID.Custom_DropDownOuterDiv span#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBPenultimateDivID.Custom_DropDownPenultimateDiv input#ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch_CBTextBoxID {
	
	font-size: 16px !important;
	
}

.Custom_SuggestionsOuterDiv {
	top: 164px !important;
	width: 93% !important;
}

span#ddivContainer_ctl00_ContentPlaceHolderMain_ctl00_autoSuggestSearch.Custom_SuggestionsOuterDiv span {
	font-size: 16px !important;
}


.no-scrollbar {
	overflow: hidden;
	width: 100%;
}


.search-iframe {
	background: none;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	
	#form1 {
		background: none;
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
		 .search-field {
		 	
		 	background: none;
			width: 100%;
			height: 100%;
			float: left;
			position: relative;
			
			#getFormStuff {
			
			 	background: none;
				width: 100%;
				height: 100%;
				float: left;
				position: relative;
				
			 	.search-btn {
				 	
				 	background: url("../../images/sprite-search.png") no-repeat scroll 50% 1px rgba(0, 0, 0, 0);
				    border: medium none;
				    display: block;
				    float: right;
				    height: 31px;
				    position: relative;
				    width: 8%;			
				    margin-top: 9px;	 	
			 	}
			 	
			 	#txtSearch {
			 	
				 	float: right;
				 	position: relative;
				 	width: 90%;
				 	height: auto;
				 	margin-top: 6px;
			 	}
			 	
		 	} 
		 	
		 }
		 
	}
	
}


#login-box {
	border: 1px solid $border-gray;
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	background-image: url("../../images/popup-gradient-bg.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 15px;

	.tabs-containerz {

		.tabs-headerz {

			.tabz {
				float: left;
				position: relative;
				background-image: url("../../images/button-gradien-bg.gif");
				background-repeat: repeat-x;
				background-position: center bottom;
				background-color: #ffffff;
				width: 33.3%;
				height: 40px;
				padding-top: 16px;
				padding-bottom: 8px;
				font-size: 12px;
				color: $text-gray;
				line-height: 12px;
				text-transform: uppercase;
				font-family: $condMed;
				text-align: center;
				border: 0;
				border-bottom: 1px solid $border-gray;
				border-left: 1px solid $border-gray;
				margin: 0;
				text-shadow: 1px 1px 0 #ffffff;
			}

			.tabz.active {
				background: none;
				color: $red-360;
				border-bottom: 0;
			}

			.tabz:hover {
				cursor: pointer;
			}

			.tabz:first-child {
				border-left: 0;
			}

			.tabz-content {

			}



		}

		.tabs-contentz {
			
			padding: 8px;
			min-height: 175px;

			.tab-contentz {
				height: auto;
				display: none;
			}

			.tab-contentz.active {
				display: block !important;
			}

			p {
				margin-top: 0;
				padding: 2%;
				font-size: 16px;
				color: $red-360;
				font-size: $condLt;
			}

		}


	}

	#login-buttons {

		float: left;
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 34px;

		.gradient-button {
			width: 48%;
			margin: 1%;
			height: 38px;
			padding-top: 14px;
		}

		.forgot-password-front {
			position: absolute;
			top: -20px;
			right: 6px;
			width: auto;
			color: $text-gray;
			font-style: italic;
			padding: 3px;
			font-size: 14px;
			font-family: $condLt;
		}

	}

}

.gradient-button {

	float: left;
	position: relative;
	background-image: url("../../images/button-gradien-bg.gif");
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ffffff;
	width: 100%;
	height: 32px;
	padding-top: 10px;
	font-size: 12px;
	color: $text-gray;
	line-height: 12px;
	text-transform: uppercase;
	font-family: $condMed;
	text-align: center;
	border: 1px solid #bababa;
	margin: 1%;
	text-shadow: 1px 1px 0 #ffffff;

}

.gradient-button:hover {
	cursor: pointer;
}

.gradient-button.float-left {
	float: left;
	position: relative;
	margin-left: 0;
	margin-right: 1%;
}

.gradient-button.float-right {
	float: right;
	position: relative;
	margin-left: 1%;
	margin-right: 0;
}


.nested-tabs .tabs-nav {
	width: 100%;
	margin: 0 !important;
}

.nested-tabs .tabs-nav .tab-btn {
    padding: 10px;
    float: left;
    background: none repeat scroll 0% 0% #F2F2F2;
    border: 1px solid #949391;
    height: 50px;
    width: 24.9%;
}

.nested-tabs .tabs-nav .tab-btn:hover {
	cursor: pointer;
}

.nested-tabs .tabs-nav .active-btn {
    padding: 10px;
    float: left;
    background: none repeat scroll 0% 0% #ffffff;
    border: 1px solid #949391;
    height: 50px;
    width: 24.7%;
    border-bottom: 0;
}
























