/******************************************************************
Site Name: American Heart Assocation Heart 360
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/

/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$notify-blue:		#3a94b5;
$notify-green:		#2aac2a;
$notify-orange:		#E25C26;
$notify-red:		#d30505;

$black:             #000;
$white:             #fff;
$soft-gray:			#F2F2F2;
$mid-gray:			#949391;
$gray-ring:			#D5D5D5;
$red-360:			#D91C24;
$maroon:			#7D1024;

$heading-gray:		#818181;

$text-gray: 		#666666;
$text-blue:			#4695B0;
$text-gray-footer:	#AF878E;

$border-gray:		#CCCCCC;

$baby-blue:         #44AFE3;
$bones-blue:        #1990db;

$link-color:        $baby-blue;
$link-hover:        darken($link-color, 9%);


/*********************
TYPOGRAPHY 
*********************/

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=617c8a90-435c-4fc9-b43c-e56d5bbca88e&fontids=673383,673386,692686,692689,692698,692710,692722,692734,692743");
@font-face{
font-family:"HelveticaNeueW01-ThinCn 673383";
src:url("/library/Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix");
src:url("/library/Fonts/673383/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix") format("eot"),url("/library/Fonts/673383/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),url("/library/Fonts/673383/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype"),url("/library/Fonts/673383/67ccdd14-5fcd-479c-9829-ec39a60795fa.svg#67ccdd14-5fcd-479c-9829-ec39a60795fa") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-ThinCn 673386";
src:url("/library/Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix");
src:url("/library/Fonts/673386/980df724-09f2-4cbb-b493-f682b8c6c590.eot?#iefix") format("eot"),url("/library/Fonts/673386/2906fb00-117f-4f5d-8e80-5c0658969b92.woff") format("woff"),url("/library/Fonts/673386/1e030520-a37b-4e02-b7cd-d514be1cbebb.ttf") format("truetype"),url("/library/Fonts/673386/fca2f769-a4e5-4857-a18c-c435c3b7025f.svg#fca2f769-a4e5-4857-a18c-c435c3b7025f") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692686";
src:url("/library/Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix");
src:url("/library/Fonts/692686/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("/library/Fonts/692686/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("/library/Fonts/692686/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("/library/Fonts/692686/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-47LtCn 692689";
src:url("/library/Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix");
src:url("/library/Fonts/692689/08bfcfa5-cfb6-462a-8047-8398a026a60e.eot?#iefix") format("eot"),url("/library/Fonts/692689/aa6913f7-e674-4d61-973b-002422ac447e.woff") format("woff"),url("/library/Fonts/692689/857b0b99-c6b3-4ad8-a049-28506caba502.ttf") format("truetype"),url("/library/Fonts/692689/af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794.svg#af9d9c5b-b4f4-4d6f-9809-26fb6a2bb794") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-57Cn";
src:url("/library/Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
src:url("/library/Fonts/692698/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("/library/Fonts/692698/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("/library/Fonts/692698/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("/library/Fonts/692698/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-67MdCn 692710";
src:url("/library/Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("/library/Fonts/692710/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("/library/Fonts/692710/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("/library/Fonts/692710/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("/library/Fonts/692710/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("/library/Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("/library/Fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("/library/Fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("/library/Fonts/692722/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("/library/Fonts/692722/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-87HvCn 692734";
src:url("/library/Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix");
src:url("/library/Fonts/692734/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix") format("eot"),url("/library/Fonts/692734/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),url("/library/Fonts/692734/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype"),url("/library/Fonts/692734/9d3bb5f2-6932-419e-a56f-382131ffd4b8.svg#9d3bb5f2-6932-419e-a56f-382131ffd4b8") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-97Blac";
src:url("/library/Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix");
src:url("/library/Fonts/692743/7d437e5f-fe70-4acd-968d-ed4beaaf6183.eot?#iefix") format("eot"),url("/library/Fonts/692743/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff"),url("/library/Fonts/692743/843152a1-f5b5-4cbf-a5d3-e9ccaccddd2a.ttf") format("truetype"),url("/library/Fonts/692743/0fd53488-84fc-474e-b665-23a72ffda266.svg#0fd53488-84fc-474e-b665-23a72ffda266") format("svg");
}



$sans-serif:        "HelveticaNeueW01-57Cn",sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$condThin:			"HelveticaNeueW01-ThinCn 673383";
$condThinObl:		"HelveticaNeueW01-ThinCn 673386";
$condLt:			"HelveticaNeueW01-47LtCn 692686";
$condLtObl:			"HelveticaNeueW01-47LtCn 692689";
$condMed:			"HelveticaNeueW01-67MdCn 692710";
$condBold:			"HelveticaNeueW01-77BdCn 692722";
$condHeavy:			"HelveticaNeueW01-87HvCn 692734";
$condBlack:			"HelveticaNeueW01-97Blac";

$texgyBold:			"texgyreheroscnbold";
$texgyBoldObl:		"texgyreheroscnbold_italic";
$texgyReg:			"texgyreheroscnregular";
$texgyRegObl:		"texgyreheroscnitalic";


/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/*********************
TRANSITION
*********************/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */

@mixin gray-diagonal-bg {
	background-image: linear-gradient(right top, rgb(255,255,255) 17%, rgb(242,242,242) 47%, rgb(255,255,255) 80%);
	background-image: -o-linear-gradient(right top, rgb(255,255,255) 17%, rgb(242,242,242) 47%, rgb(255,255,255) 80%);
	background-image: -moz-linear-gradient(right top, rgb(255,255,255) 17%, rgb(242,242,242) 47%, rgb(255,255,255) 80%);
	background-image: -webkit-linear-gradient(right top, rgb(255,255,255) 17%, rgb(242,242,242) 47%, rgb(255,255,255) 80%);
	background-image: -ms-linear-gradient(right top, rgb(255,255,255) 17%, rgb(242,242,242) 47%, rgb(255,255,255) 80%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0.17, rgb(255,255,255)),
		color-stop(0.47, rgb(242,242,242)),
		color-stop(0.8, rgb(255,255,255))
	);
}

@mixin gray-horizonal-bg {
	background-image: linear-gradient(left , rgb(255,255,255) 10%, rgb(239,239,239) 50%, rgb(255,255,255) 90%);
	background-image: -o-linear-gradient(left , rgb(255,255,255) 10%, rgb(239,239,239) 50%, rgb(255,255,255) 90%);
	background-image: -moz-linear-gradient(left , rgb(255,255,255) 10%, rgb(239,239,239) 50%, rgb(255,255,255) 90%);
	background-image: -webkit-linear-gradient(left , rgb(255,255,255) 10%, rgb(239,239,239) 50%, rgb(255,255,255) 90%);
	background-image: -ms-linear-gradient(left , rgb(255,255,255) 10%, rgb(239,239,239) 50%, rgb(255,255,255) 90%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.1, rgb(255,255,255)),
		color-stop(0.5, rgb(239,239,239)),
		color-stop(0.9, rgb(255,255,255))
	);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

/*********************
BOX SHADOW
*********************/

@mixin box-shadows {
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    3px 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow:         3px 3px 10px rgba(0, 0, 0, 0.5);
}




/*********************
BUTTONS
*********************/

@mixin gray-button-bg1 {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

@mixin gray-button-bg2 {
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 50%, #f5f5f5 51%, #e7e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fbfbfb), color-stop(51%,#f5f5f5), color-stop(100%,#e7e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 50%,#f5f5f5 51%,#e7e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 50%,#f5f5f5 51%,#e7e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 50%,#f5f5f5 51%,#e7e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 50%,#f5f5f5 51%,#e7e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e8e8',GradientType=0 ); /* IE6-9 */

}

@mixin red-button-bg1 {
	background: #d74552; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3NDU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q2NDU0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxMWIyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjA5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d74552 0%, #d64549 50%, #d11b2a 51%, #cb091d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d74552), color-stop(50%,#d64549), color-stop(51%,#d11b2a), color-stop(100%,#cb091d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d74552 0%,#d64549 50%,#d11b2a 51%,#cb091d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d74552 0%,#d64549 50%,#d11b2a 51%,#cb091d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d74552 0%,#d64549 50%,#d11b2a 51%,#cb091d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d74552 0%,#d64549 50%,#d11b2a 51%,#cb091d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d74552', endColorstr='#cb091d',GradientType=0 ); /* IE6-8 */
}

@mixin red-button-bg2 {
	background: #ce4648; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlNDY0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlNDY0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NjMmUzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzJlMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ce4648 0%, #ce4648 50%, #cc2e39 51%, #cc2e39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce4648), color-stop(50%,#ce4648), color-stop(51%,#cc2e39), color-stop(100%,#cc2e39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce4648 0%,#ce4648 50%,#cc2e39 51%,#cc2e39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce4648 0%,#ce4648 50%,#cc2e39 51%,#cc2e39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce4648 0%,#ce4648 50%,#cc2e39 51%,#cc2e39 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce4648 0%,#ce4648 50%,#cc2e39 51%,#cc2e39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4648', endColorstr='#cc2e39',GradientType=0 ); /* IE6-8 */
}

.gray-button,
.gray-button:visited {
	@include gray-button-bg2;
	border: 1px solid $border-gray;
	padding: 10px 0;
	color: $text-gray;
	display: inline-block;
	font-size: .85em;
	font-weight: 400;
	font-family: $sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 1px rgba(255,255,255,1);
	cursor: pointer;
	margin-bottom: 0px;
	line-height: 1.52em;
	
	&:hover,:active {
		@include gray-button-bg1;
		border: 1px solid $border-gray;
		
		a {
			text-align: center;
			&:hover,:active {
				color: $maroon;
			}
			
		}
		
	}
	
}

.red-button,
.red-button:visited {
	@include red-button-bg1;
	border: 1px solid $soft-gray;
	padding: 10px 0;
	color: $white;
	display: inline-block;
	font-family: $sans-serif;
	font-size: .85em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 1px rgba(000,000,000,1);
	cursor: pointer;
	margin-bottom: 0px;
	line-height: 1.52em;
	
	&:hover,:active {
		@include red-button-bg2;
		border: 1px solid $border-gray;
		color: $soft-gray;
		
		a {
			text-align: center;
			&:hover,:active {
				color: $soft-gray;
			}
			
		}
		
	}
	
}

.toggle-btn {
	@include gray-button-bg2;
	border: 1px solid $border-gray;
	padding: 10px 0;
	
	&:hover {
		@include gray-button-bg1;	
	}
	
}

@mixin signin-buttons {
	bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    position: absolute;
    width: 100%;
    font-family: $sans-serif;
	
	a {
		color: $text-gray;
		text-transform: uppercase;
		margin-right: 2%;
		width: 49%;
		display: inline-block;
		float: left;
		font-size: 0.85em;
		text-align: center;
		
		&:hover,:active {
			color: $maroon;
		}
		
	}
	
	input::-moz-focus-inner { 
	    border: 0;
	    padding: 0.3em 0;
	}
	
	input[type="submit"] {
		color: $text-gray;
		text-transform: uppercase;
		margin-right: 0;
		width: 49%;
		display: inline-block;
		float: left;
		font-size: 0.8em;
		padding: 10px 0;
	}
}

/*********************
TABS
*********************/

@mixin tabs-signin {
	@include gray-button-bg2;
	width:33.333%;
	left: 0;
	font-weight: 400;
	text-transform: uppercase;
	
	&:hover,:active {
		@include gray-button-bg1;
		
		a {
			color: $maroon;
			text-shadow: 0 1px rgba(255,255,255,1);
		}
		
	}
	
	a {
		text-align: center;
		padding: 0.5em 0;
		text-shadow: 0 1px rgba(255,255,255,1);
	}
}


/*********************
 ICON SPRITES
*********************/

@mixin sprite-icons-1 {
	background: url('../../images/sprite-icons-1.png') no-repeat transparent;
}

.red-circle-check,
.green-circle-check,
.orange-circle-check,
.blue-circle-check,
.default-circle-check,
.maroon-circle-check,
.icon-announce,
.icon-send-message,
.icon-messages,
.icon-invites,
.add-contact,
.confirmed-contact,
.pending-contact,
.add-note,
.trash,
.pdf,
.print,
.edit-pencil {
	@include sprite-icons-1;
}

.red-circle-check {
	background-position: 0 0;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.green-circle-check {
	background-position: 0 -24px;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.orange-circle-check {
	background-position: 0 -47px;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.blue-circle-check {
	background-position: 0 -70px;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.maroon-circle-check {
	background-position: 0 -329px;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.default-circle-check {
	background-position: 0 -354px;
	display: block;
	width: 26px;
	height: 23px;
	float: left;	
}

.icon-announce {
	background-position: 0 -94px;
	display: inline-block;
	width: 26px;
	height: 15px;	
}

.icon-send-message {
	background-position: 0 -111px;
	display: inline-block;
	width: 26px;
	height: 22px;	
}

.icon-messages {
	background-position: 0 -132px;
	display: inline-block;
	width: 26px;
	height: 15px;	
}

.icon-invites {
	background-position: 0 -146px;
	display: inline-block;
	width: 26px;
	height: 24px;
}

.add-contact {
	background-position: 0 -170px;
	display: inline-block;
	width: 26px;
	height: 24px;	
}

.confirmed-contact {
	background-position: 0 -194px;
	display: inline-block;
	width: 26px;
	height: 24px;	
}

.pending-contact {
	background-position: 0 -217px;
	display: inline-block;
	width: 26px;
	height: 24px;	
}

.add-note {
	background-position: 0 -240px;
	display: inline-block;
	width: 26px;
	height: 22px;	
}

.trash {
	background-position: 0 -263px;
	display: inline-block;
	width: 26px;
	height: 22px;	
}

.pdf {
	background-position: 0 -286px;
	display: inline-block;
	width: 26px;
	height: 20px;
	margin-top: 10px;	
}

.print {
	background-position: 0 -306px;
	display: inline-block;
	width: 26px;
	height: 22px;
	margin-top: 10px;	
}

.edit-pencil {
	background-position: 0 -379px;
	display: inline-block;
	width: 26px;
	height: 21px;
	margin-top: 0px;
	cursor: pointer;	
	
	&:hover {
		background-position: 0 -404px;
	}
	
}

@mixin sprite-arrows {
	background: url('../../images/sprite-arrows.png') no-repeat transparent;
	display: block;
	width: 15px;
	height: 11px;
}

@mixin edit-gear {
	background: url('../../images/edit-gear.png') no-repeat transparent;
	display: block;
	width: 15px;
	height: 14px;
}

@mixin sprite-search {
	background: url('../../images/sprite-search.png')	no-repeat 50% 5px transparent;
	display: block;
	width: 40px;
	height: 40px;
}

@mixin sprite-icons-social {
	background: url('../../images/sprite-icons-social.png') no-repeat transparent;
	display: inline-block;
	width: 30px;
}

.twitter {
	@include sprite-icons-social;
	background-position: 0 -5px;
	display: block;
	height: 18px;
	
	&:hover {
		background-position: 0 -66px
	}
}

.facebook {
	@include sprite-icons-social;
	background-position: 0 -186px;
	display: block;
	height: 20px;
	
	&:hover {
		background-position: 0 -245px;
	}
}

@mixin cc-icons-lrg {
	background: url('../../images/cc-icons-lrg.png') no-repeat transparent;
}


.icon-announce-lrg,
.icon-messages-lrg,
.icon-invites-lrg {
	@include cc-icons-lrg;
}

.icon-announce-lrg {
	background-position: 0 0px;
	display: inline-block;
	width: 30px;
	height: 30px;	
}

.icon-messages-lrg {
	background-position: 0 -63px;
	display: inline-block;
	width: 30px;
	height: 30px;	
}

.icon-invites-lrg {
	background-position: 0 -128px;
	display: inline-block;
	width: 30px;
	height: 30px;
}








