/******************************************************************

Stylesheet: BREAK POINT OVERRIDE FOR DESKTOP


******************************************************************/


/*********************
FRONT PAGE STYLING
*********************/


.login-portal .section-container .participants div.content div div.signin-wrap a,
.login-portal .section-container .providers div.content div div.signin-wrap a,
.login-portal .section-container .volunteers div.content div div.signin-wrap a {
		font-size: .7em;
}


.h360info {
	
	h3 {
		line-height: 1.2em;
		font-size: 1.2em;
		padding: 14px 2% 2%;
		padding-left: 0;
	}

}

.login-portal .section-container .participants {
	
	div.content {
	
		/* padding-top: 44px !important; */
		
	}
	
		
}

.login-portal .section-container .providers {

	div.content {
		
		/* padding-top: 44px !important; */
	}

	
}

.login-portal .section-container .volunteers {	
	
	div.content {
		
		/* padding-top: 44px !important; */
	}
	
}




/*********************
FOOTER STYLES
*********************/

footer.footer {
	margin-top: 40px;
	
	h4 {
	    font-size: 1em;
	    line-height: 1em;
	    margin: 0 0 2px;
	    padding: 1em 1em 1em 1.75em;
	    text-transform: uppercase;
		background-color: $red-360;
		color: $white;
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -186px;
			float: right;
		}
		
	}
	
	h4.trigger-selected:first-of-type {
		margin: 0;
		
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
}

ul {

	li {

		.about.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					p {
						
					}
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.causes.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.sites.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
			ul.next-content {
				padding: 0px 1em;
				
				li {
					
					a {
						
					}	
					
				}
				
			}
			
		}
		
		.contact.full {
			border-left: none;
			border-bottom: 1px solid $text-gray;
			
			h5:first-of-type {
				width: 100%;
				padding: 0.5em 1em 0.25em 1.75em;
				
				a {
					display: inline-block;
					
					&:hover {
						
					}
				}
				
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 -17px;
					float: right;
				}
				
			}
			
			h5.trigger-selected:first-of-type {
			
				span.gray-arrow {
					@include sprite-arrows;
					background-position: 0 3px;
					float: right;
				}
				
			}
			
						
			
			ul.content {
				padding: 0px 1em;
				
				li {
					
					h6 {
						
					}
					
					ul {
					
						li {
							
							h6.rss {
								
								a {
									
								}
							}
							
						}
							
						li {
							
							ul {
								
								li {
									
								}
								
							}
							
							a {
								
							}	
							
						}
						
					}
					
				}
			
			}
			
		}
		
	}
	
}

.legal {
	
	p {
		
		span {
			
			a {
				
			}
			
		}
		
	}
	
	h5:first-of-type {
		width: 100%;
		padding: 0.5em 1em 0.25em 1.75em;
		background-color: $red-360;
		color: $white;
		text-indent: -9999px;
		margin-bottom: 0px;
		margin-top: 0px;
		a {
			display: inline-block;
			color: $white;
			
			&:hover {
				
			}
		}
		
		span.white-arrow {
			@include sprite-arrows;
			background-position: 0 -176px;
			margin: 10px auto;
		}
		
	}
	
	h5.trigger-selected:first-of-type {
	
		span.white-arrow {
			background-position: 0 -167px;
		}
	}
	
	ul.next-content {
	
		li:first-of-type {
			padding-top: 10px;
		}
	}
	
}

.hon {
	
	p {
		
		
	}
	
	.hon-logo {
		
		
		a {
			
		}
	}
	
	p {
		
	}
	
}

.mobile-copyright {
	background: $red-360;
	height: auto;
	float: left;
	
	p {
		margin: .5em .75em .5em 1em;
		color: $white;
		line-height: 1em;
		font-size: .75em;
		height: auto;
	}
	
	p.copyright {
		/* width: 32%; */
		height: auto;
	}
	
	p.disclaimer {
		/* width: 60%; */
		height: auto;
	}
}

/* MORE HIDE CLASSES */

section#utility ul li.first.hide-lt-tablet {
	 width: 230px;
	 padding-top: 7px;
}

.hide-tablet {
	display: none !important;
}

.hide-gt-port-tablet {
	display: none !important;
}




























