/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


//
// IMPORTING STYLES
//

// import normalize
@import "normalize";

// import mixins
@import "mixins";


// import grids
@import "grid";
	
	
/*
BASE STYLES
This are the base styles. It's for global styles. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/

// styles in base.scss
@import "base";


/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "2x";

} // end of media query

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

	@import "1240up";

} // end of media query

/*
SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1025px) and (max-width: 1239px){

	@import "1025up";

} // end of media query

/*******************************************************************
 THIS IS FOR RANDOM SNAPPING FOR DESKTOP 
*******************************************************************/
@media only screen and (min-width: 1000px) and (max-width: 1024px) {
   
	@import "snap1000-1024";
  
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
   
	@import "snap768-999";
  
}



/*
TABLET 
*/



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	@import "768up";

}


@media only screen and (min-width: 768px) {

	#login-box {

		position: absolute;
		float: none;
		right: 26px;
		width: 39%;

		.tabs-container {

			.tabs-header {

				.tab {
					
				}

				.tab.active {
					
				}

				.tab:first-child {
					
				}


			}

			.tabs-content {
				
			
				.tab-content {
					height: auto;
				}

				p {
					
				}

			}

		}

		#login-buttons {

			.gradient-button {
				
			}

			.forgot-password-front {
				
			}

		}

	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	
	@import "1024up";
	
}

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/

/*
iPHONE S4 MEDIA QUERY
*/
@media only screen and (min-width: 640px) and (max-width: 767px) {
  
	@import "640up";
  
}

/*
iPHONE 5 MEDIA QUERY
*/
@media only screen and (min-width: 568px) and (max-width: 639px) {
  
	@import "568up";
  
}

@media only screen and (min-width: 480px) and (max-width: 567px) {

	@import "480up";

} // end of media query



/*
iPHONE 4 MEDIA QUERY

iPHONE 3G MEDIA QUERY
*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
   
	@import "320up";
  
}



/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {

	@import "print";
	
}
