﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="Announcement.aspx.cs" Inherits="Heart360Admin.Pages.Announcement" %>

<%@ Register Src="../UserCtrls/AnnouncementCtrl.ascx" TagName="AnnouncementCtrl"
    TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:AnnouncementCtrl ID="AnnouncementCtrl1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
