﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="CreatePatientEdu.aspx.cs" Inherits="Heart360Admin.Pages.CreatePatientEdu" %>

<%@ Register Src="../UserCtrls/PatientEduForm.ascx" TagName="PatientEduForm" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:PatientEduForm ID="PatientEduForm1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
