﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="Home.aspx.cs" Inherits="Heart360Admin.Home" %>

<%@ Register Src="../UserCtrls/HomeCtrl.ascx" TagName="HomeCtrl" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:HomeCtrl ID="HomeCtrl1" runat="server" />
        <br />
        <br />
    </div>
</asp:Content>
