﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true"
    CodeBehind="PatientEdu.aspx.cs" Inherits="Heart360Admin.PatientEdu" %>

<%@ Register Src="../UserCtrls/PatientEduCtrl.ascx" TagName="PatientEduCtrl" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="copyBox">
        <uc1:PatientEduCtrl ID="PatientEduCtrl1" runat="server" />
        <br /><br />
    </div>
</asp:Content>
