﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GuidingText.ascx.cs" Inherits="Heart360Web.Controls.Provider.GuidingText" %>
<h3 runat="server" id="hZoneTitle"></h3>
<asp:Literal ID="litGuidingText" runat="server" />
