﻿html, body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .85em;
	color: #333333;
	margin: 0;
	padding: 0;
	background-color:#e9e9e9;
}

textarea
{
	font-family: Arial, Helvetica, sans-serif;
}
a
{
	color: #333333;
	text-decoration: underline;
}
a:hover
{
	color: #333333;
	text-decoration: none;
}
h1
{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	margin-bottom: 10px;
}
fieldset, form
{
	margin: 0;
	padding: 0;
	border: none;
}

.clear
{
	clear: both;
}
.clearleft
{
	clear:left;
}
#Wrapper
{
	width:990px;
	margin:auto;
	padding:0 0 0 10px;
	background:	url(../images/wrapper-shdow-l.gif) repeat-y 0 0;

}

#Wrappershadow
{
	
background:#ffffff url(../images/wrapper-shdow-r.gif) repeat-y right 0;
	padding:0 10px 0 0px;
}

#Wrapperbtm
{
	width:1000px;
	margin:auto;
	padding:0px;
	background:#d8d8d8 url(../images/footer_btm_bg.gif) repeat-x bottom;
}

#Wrapperbtm div
{
	padding:0px;
	background:url(../images/footer_btm_left.gif) no-repeat left bottom;
}

#Wrapperbtm div div
{
	height:19px;
	padding:0px;
	background:url(../images/footer_btm_right.gif) no-repeat right top;
}

/* Created by Vijay on Aug 05th starts here */

#WrapperPlain
{
	width:990px;
	margin:auto;
	padding:0 0 0 0px;
	border:1px solid black;
}

.divtopbar
{
 background:url(../images/top_bar_bg.gif) repeat-x right;
 margin:10px 5px 0px 5px !important;
 margin:0px 5px 0px 5px;
}

.divtopbar div 
{
 background:url(../images/top_bar_left.gif) no-repeat left;
 height:7px;
 border:none;
}

.divtopbar div div
{
 background:url(../images/top_bar_right.gif) no-repeat right;
 border:none;
}

.divbottombar
{
 background:url(../images/bottom_bar_bg.gif) repeat-x right;
 margin:0px 0px 5px 0px;
}

.divbottombar div 
{
 background:url(../images/bottom_bar_left.gif) no-repeat left;
 height:5px;
 border:none;
}

.divbottombar div div
{
 background:url(../images/bottom_bar_right.gif) no-repeat right;
 border:none;
}

.headerquote
{
	font-weight:bold;
	vertical-align:bottom;
	clear:both;
	text-align:justify;
	padding:20px 0px 0px 10px;
	color:#333333;
	border:1px red hidden;
}

.MainContentAreaPlain
{
	padding:10px;
	width:970px;
	border:1px red hidden;
}

/* Created by Vijay on Aug 05th ends here */

.inner
{
	width: 980px;
	margin: auto;
}

#Header
{
	background-color: #FFFFFF;
	height:97px;
	
}
#Header .inner
{
	color: #999999;
}
#Header .inner a
{
	text-decoration: none;
	color: #999999;
}
#Header .inner a:hover
{
	text-decoration: underline;
}
#Header .inner img
{
	float: right;
}
#Header .inner .Logo
{
	float: left;
	margin: 20px 0px 0 10px;
	vertical-align:bottom;

}
#Header .inner .Logo img
{
	display: block;
	float: left;
	margin: 10px 0 0 0;
}

.TopNavigation
{
	background-color: #CE2931;
	min-height:28px;
	
	
	
	

}
.TopNavigation .inner a
{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	outline: none;
	padding: 8px 20px 5px 20px;
	display: block;
	float: left;
	
	
	
}

.TopNavigation .inner a.active
{
	background-color: #B6E4FE;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
	cursor: default;
	color: #5B72A4;
}
.TopNavigation .inner a:hover
{
	text-decoration: none;
	color: white;
}
.TopNavigation .inner a:hover
{
	background-color: #B6E4FE;
	color: #5B72A4;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
}
.TopNavigation .inner .sidemenu
{
	float: right;
	padding-right: 10px;
}
.TopNavigation .inner .sidemenu .sep
{
	color: white;
	float: left;
	padding: 6px;
}
.TopNavigation .inner .sidemenu a
{
	padding: 6px;
	text-decoration: underline;
}
.TopNavigation .inner .sidemenu a:hover
{
	background-image:none;
	background-color:Transparent;
	padding: 6px;
	color:White;
	text-decoration: none;
}
.TopNavigation .sidemenu a.messages
{
	margin-right: 60px;
}

.content
{
	clear:both;
}
.inner .RightColumn
{
	clear:both;
	float: right;
	width: 244px;
	background-color: #DCEAF5;
	padding: 0px 10px 10px 0px;
	margin-top:10px;
}

.inner .RightColumn .hvimg
{
	padding-top: 220px;
	margin-left: 22px;
	/* padding-top: 140px;
	background: url(../images/Tile_HealthVaultBlue_200.png) bottom center no-repeat; 	height:244px; */
}

.footer
{
	clear: both;
	background: #d8d8d8;
	padding: 5px 0 5px 10px;
	color: #666666;
	font-size: .95em;
	text-align: left;
}
.footer a
{
	color: #596da0;
}

.MainContentArea
{
	padding:10px 10px 10px 10px;
	float:left;
	width:694px;
}

.MainContentAreaMarginless
{
	padding:1px 0px 0px 0px;
	*padding:0px;
	width:714px;
	margin-top:-12px;
	*margin-top:0px;
}

.blueround-box
{
	background: #869DC9 url(../images/blue-curve-left-top-white.gif) top left no-repeat;
	
}
.blueround-box div.right
{
	background: transparent url(../images/blue-curve-right-top-white.gif) top right no-repeat;
}
.blueround-box div.right div.bottomright
{
	background:transparent url(../images/blue-curve-right-bottom-white.gif) bottom right no-repeat;
}

.blueround-box div.right div.bottomright div.bottomLeft
{
	padding:20px;
	background:transparent url(../images/blue-curve-left-bottom-white.gif) bottom left no-repeat;
	color: #FFFFFF;
	height:auto;
}

.roundedbox
{
	border: 2px solid #5B72A4;
	background:#ffffff url(../images/right-box-shadow.gif) repeat-x top left;
	padding:10px;
}
.roundedbox h1
{
	color:#999999;
	border-bottom:#dddddd solid 1px;
	padding-bottom:3px;
}
.roundedboxtop 
{ 

	height:1px;
	position:relative;
	
}
.roundedboxtop img
{ 
	position:absolute;
	top:1px;
}
.roundedboxbottom
{
	height:1px;
	position:relative;
}
.roundedboxbottom img
{ 
	position:absolute;
	top:-15px;
}

.righBoxImg
{
	background-color:#ffffff;
	padding:15px 10px 0 10px;
	margin:10px auto;
	width:210px;
}
.righBoxImg img
{
	margin:0 auto 15px 6px;

}
.rightLinkBox
{
	padding: 0 10px 10px 10px;
}

.rightLinkBox a
{
	display: block;
	margin: .4em 0 0 0;
}
.grayHeading
{
	color: #666666;
	font-size: 1.7em;
	font-weight: normal;
	text-align: center;
	display: block;
	border-style:none !important;
	
}
.grayHeading span
{
	color: #FF3700;
}
.grayHeading a
{
	display: block;
	margin-top: 5px;
	color: #5B72A4;
}
.red
{
	font-size:1.5em;
	color: #CE2931;
}


/*common styles*/
#VisitorBanner
{

	height:305px;
	position:relative;
	
}

#VisitorBanner .VisitorBanner-bg
{
	background:#e8f2fb url(../images/Visitor_Banner.jpg) repeat-y left 0;
	height:312px;
	width:707px;
	position:absolute;
	top:-10px;
	left:-10px;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent
{

	width:353px;
	margin:30px 0 0 305px;

}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent h1
{
	font-size:18px;
	font-weight:normal;
	color:#CE2931;
	margin:0;
	padding:0;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent p
{
	margin:0;
	padding:4px 0px 2px 0px;
	text-align:justify;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent ol
{
	margin-top:0px;
	padding-TOP:0px;

}
div.WhiteBox-Container
{
	
	
	
		
}
div.WhiteBox-Container div.Box-left
{
    background-image: url(../images/content-block-left-Tab.gif);
	background-repeat: no-repeat;
	display:block;
	
	
}
div.WhiteBox-Container div.Box-right
{
	background-image: url(../images/content-block-right-Tab.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-left:17px;
	padding-right:17px;
}
div.WhiteBox-Container div.Box-middle
{
	height:15px;
	background-image: url(../images/content-block-top-Tab.gif);
	background-repeat: repeat-x;
	background-position: left top;
	overflow:hidden;
		
	
}
div.WhiteBox-Container div.Box-middle-left
{
	background-image: url(../images/content-block-mid-left-Tab.gif);
	background-repeat: repeat-y;
	background-position: left top;	
	display:block;
}
div.WhiteBox-Container div.Box-middle-right
{
	background-image: url(../images/content-block-mid-r-Tab.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left:15px;
	padding-right:15px;
}
div.WhiteBox-Container div.Box-middle-middle
{
/*border:1px solid #ff00ff;*/
background-color:#FFFFFF;
	
	
	
}
div.WhiteBox-Container div.Box-bottom-left
{
	background-image: url(../images/content-block-bot-l-Tab.gif);
	background-repeat: repeat-y;
	background-position: left top;
	display:block;	
}
div.WhiteBox-Container div.Box-bottom-right
{
	background-image: url(../images/content-block-bot-r-Tab.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left:17px;
	padding-right:17px;
}
div.WhiteBox-Container div.Box-bottom-middle
{
	height:17px;
	background-image: url(../images/content-block-bot-Tab.gif);
	background-repeat: repeat-x;
	overflow:hidden;
	
}
#VisitorBoxes
{
	
	
	
}
#VisitorBoxes div.WhiteBox-Container
{
	float:left;
	width:342px;
	margin-right:4px;

}
#VisitorBoxes div.WhiteBox-Container img
{
	margin:10px auto 10px auto;
	display:block;

}
#VisitorBoxes div.WhiteBox-Container h1
{
	margin:0;
	padding:0;
	color:#5B72A4;
	font-size:18px;
	font-weight:normal;
}
#VisitorBoxes div.WhiteBox-Container p
{
	margin:0;
	padding:0;
}
.dropdownMenu
{
	float:left;
	position:relative;
	width:auto;
	z-index:800;
	
	
	

}

.dropdownMenu .dropdownMenuItems
{
	float:none;
	
	left:0px;
	top:28px;
	/*clip:rect(auto auto 30px auto);*/
	
	position:absolute;
	border-top:1px solid #5B72A4;
	background-color:#e3f1fa;
	visibility:hidden;
	
	/*background:#f5f5f5;*/

	
	
}
.dropdownMenu .dropdownMenuItems a
{
	display:block;
	float:none;
	white-space:nowrap;
	border:1px solid #5B72A4;
	border-width:0px 1px 1px 1px;
	background-color:#e3f1fa;
	color:#5B72A4;
	
	
	
}
.dropdownMenu .dropdownMenuItems a:hover
{
	
	background-color:#ffffff;
	color:#CE2931;
	background-image:none;
	
	
	
}
.dropdownMenu a.activeDrop
{
    background-color:#B6E4FE;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
	color: #5B72A4;
}
.GetStartBannerBody
{
	position:relative;
	
}

.TransparentBlueBox
{
	padding:20px;
	background-image: url(../images/blue-transparent.png);
	_background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="../images/blue-transparent.png");
}
.TransparentBlueBox a
{
	position:relative;
}

.GetStartBannerBody .GetStartBannerRight
{
	position:absolute;
	top:15px;
	left:290px;
	width:330px;
	
	
	
}
.GetStartBannerBody .GetStartBannerRight .TransparentBlueBox
{
	width:100%;
	padding:30px;
	font-size:1.2em;
	
	
	

	
}
.GetStartBannerBody .GetStartBannerRight .TransparentBlueBox h1
{
color:#5B72A4;
font-size:1.7em;
font-weight:bold;
}

.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText 
{
	font-size:1.3em;
	padding:0 0 0 50px;



	
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText  a,.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText  ol
{
	font-weight:bold;
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText input
{
	margin:auto;
	display:block;
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText span.styled 
{
	display:block;
	margin:10px auto;
	color:#5B72A4;
	width:auto;
	text-align:center;
	font-weight:bold;
	

}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText span.styled a
{
	color:#5B72A4;
	font-size:.85em;

}
#PatiantBanner
{

	height:305px;
	position:relative;
	
}

#PatiantBanner .PatiantBanner-bg
{
	
	background:transparent url(../images/Patiant-Banner.jpg) no-repeat left 0;
	height:312px;
	width:707px;
	position:absolute;
	top:-10px;
	left:-10px;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent
{

	width:353px;
	margin:30px 0 0 305px;

}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent h1
{
	font-size:18px;
	font-weight:normal;
	color:#CE2931;
	margin:0;
	padding:0;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent p
{
	margin:0;
	padding:5px 0;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent ol
{
	margin-top:0px;
	padding-TOP:0px;

}
.PatiantHomeContent
{
	background:#e8f2fb url(../images/patiant-form.jpg)  no-repeat 0 0;

}

.PatiantHomeContent fieldset
{

	color:white;
	float:left;
	width:200px;
	padding:10px 0 0 20px;
	margin-top:30px;

}
.PatiantHomeContent fieldset table td
{
	padding:3px 0;
}
.PatiantHomeContent fieldset .cust-textbox
{
	width:150px;
}
.PatiantHomeContent .WhiteBox-Container
{
	float:left;
	width:472px;
	
}


/* for borderless image on graph */
.borderless_imagetable
{
	border:none;
	outline:none;
}

.borderless_imagetable img
{
	border:none;
	outline:none;
}


.borderless_imagetable table 
{
	border:none;
	outline:none;
}


.bubble
{
border:1px solid #999999;
padding:3px;
text-align:center;
background-color:#ffffcc;
}
/* end for borderless image on graph */

/* printer friendly start */

.Printerpage
{
	margin:10px;
	width:98%;
}

.Printerpage .h1
{
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
}


.Printerpage tr td
{
	background-color:#ffffff;
	padding:10px;
}

.Printerpage .tdgrey
{
	background-color:#f0f0f0;
	text-align:right;
	padding:10px;
	width:200px;
	font-weight:bold;
}

/* printer friendly end */

.sponsortbl td 
{
    vertical-align:top;
    padding:0px 10px 0px 10px;
}

.sponsortbl img 
{
    vertical-align:top;
    padding:0px 0px 30px 20px;
}

