﻿.cust-textbox
{
	background: url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: url(../images/cust-textbox-left.gif) no-repeat left 0; /*float: left;*/
	padding: 0 13px 0 13px;
}

.cust-textbox div
{
	background: url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 13px 0 0; /*float: left;*/
	height: 28px;
	width: 100%;
}

.cust-textbox div input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 3px;
	padding-top: 3px;
	outline: none;
	width: 100%;
	font-size: 13px;
}

.labelunits
{
	padding: 5px 0 0 20px; 
	*padding:5px 0 0 10px;
	float:left;
}

.labelunitstd
{
	padding: 5px 0 0 2px; *padding:5px000px;
margin-left:-10px;
vertical-align:middle;
text-align:justify;
}

td.labelunits
{
	float: none;
}

.radiobuttonList
{
	clear: both;
}

.radiobuttonList .radiobutton
{
	clear: both;
	margin: 2px 0 2px 0;
}

.radiobuttonList .radiobutton span
{
	padding: 0 .3em 0 .3em;
	position: relative;
	
	top: 4px;
}

.radiobuttonList .radiobutton img
{
	height: 25px;
	width: 25px;
	float: left;
}

.radiobuttonRow
{
	clear: both;
}

.radiobuttonRow span
{
	margin: 2px 0 2px 0;
	-margin: 5px 0 2px 0;
	float: left;
}

.radiobuttonRow span span
{
	padding: 0 .3em 0 .3em;
	top: 4px;
}

.radiobuttonRow span img
{
	height: 25px;
	width: 25px;
	float: left;
	margin-top:-3px;
	-margin-top:0px;
	
}

/* form control styles */
/* always add filedset whn u need a form controls
fieldset
{
	margin: 10px 0;
}
fieldset ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
}
fieldset ul li
{
	float: left;
	margin:4px 0 4px 0;
}
fieldset ul li.label
{
	width: 15%;
	padding-right: 2%;
	padding-top: 5px;
border-top: 1px dotted red;
	text-align: right;
	font-weight: bold;
}

fieldset ul li.control
{
	width: 83%;
	border-top: 1px dotted yellow;
	_height:35px;
	min-height:35px;
	
}
fieldset ul li.control span.error
{
	color:red;
	clear:left;
	display:block;
	position:relative;
	left:15px;
	top:0px;

}
fieldset ul li.control span
{
	position:relative;
	top:5px;
}
fieldset ul li.control div.cust-textbox
{
	width: 380px;
}



fieldset ul li.mediumControl
{
	width: 78%;
}
fieldset ul li.mediumLabel
{
	width: 20%;
}
fieldset ul li.radiobuttonspace .radiobuttonRow 
{
	margin: 0 20px 0 15px;
	border:1px solid red;
}
fieldset ul li.smallControl
{
	width: 125px;
}
fieldset ul li.smalllabel
{
	width: 10%;
	text-align: left;
	padding-left: 5px;
	font-weight: normal;
}
fieldset ul li.smallControl div.cust-textbox
{
	width: 100px;
}
fieldset ul li.tinyControl
{
	width: 85px;
}
fieldset ul li.tinylabel
{
	width:30px;

}
fieldset ul li.tinyControl div.cust-textbox
{
	width: 50px;
}
fieldset ul li.zip
{
	width: 117px;
}
fieldset ul li.zip div.cust-textbox
{
	width: 80px;
}
fieldset ul li.control .cust-datecontrol .cust-textbox
{
	width:20px;
	margin:0 20px 0 0;
	
	
}
fieldset ul li.control .cust-datecontrol .year
{
	width:30px;
}*/

fieldset table td
{
	padding: 5px 3px 5px 0;
}

fieldset table td .cust-textbox
{
	width: 380px;
}

fieldset table td.smallControl
{
	width: 100px;
}

fieldset table td.smallControl .cust-textbox
{
	width: 70px;
}

fieldset table td.tinylabel
{
	width: auto;
	padding-left: 5px;
	text-align: right;
}

fieldset table td.tinyControl
{
	width: 80px;
}

fieldset table td.tinyControl .cust-textbox
{
	width: 40px;
}

fieldset table td.dropdown
{
	width: 140px;
}

fieldset table td.dropdown div.AHADropDownOuterDiv div.AHADropDownPenultimateDiv *
{
	border: 1px none red;
}

/* Added by Doni Jose Mannanal */
.ahagrid
{
	border: 1px solid #cccccc;
	border-width: 1px 0 0 1px;
}

.ahagrid table
{
	margin: 0 0 0 auto;
	border: none;
}

.ahagrid table td
{
	border: none;
}

.ahagrid td
{
	border: 1px solid #cccccc;
	border-width: 0 1px 1px 1px;
	padding: 5px;
	text-align: center;
}

.ahagrid th
{
	border: 1px solid #cccccc;
	border-color: #cccccc #ffffff #eeeeee #ffffff;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid th.first
{
	border: 1px solid #cccccc;
	border-color: #cccccc #ffffff #eeeeee #cccccc;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid th.last
{
	border: 1px solid #cccccc;
	border-color: #cccccc #cccccc #eeeeee #ffffff;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid td.left, .ahagrid th.left
{
	text-align: left;
}

.ahapageindex
{
}

fieldset table td.label
{
	text-align: right;
	font-weight: bold;
}

fieldset table td span.error
{
	color: #CE2931;
}

.BtnBgSml
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlBlue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlDeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlWhite
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgLong
{
	background: Transparent url(../images/Btn_Bg_Long.png) no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long.gif) no-repeat;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px 10px 35px;
	height: 33px;
	width: 270px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgLongBlue
{
	background: Transparent url(../images/Btn_Bg_Long_Blue.gif) no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_Blue.gif) no-repeat;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px 10px 35px;
	height: 33px;
	width: 270px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgLongDeepBlue
{
	background: Transparent url(../images/Btn_Bg_Long_DBlue.gif) no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_DBlue.gif) no-repeat;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px 10px 35px;
	height: 33px;
	width: 270px;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgLongWhite
{
	background: Transparent url(../images/Btn_Bg_Long_White.gif) no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_White.gif) no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px 10px 35px;
	height: 33px;
	width: 270px;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgCenter
{
	background-image: url(../images/Btn_Bg.png);
	_background-image: url(../images/Btn_Bg.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}


.BtnBgCenterBlue
{
	background-image: url(../images/Btn_bg_Blue.gif);
	_background-image: url(../images/Btn_bg_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

.BtnBgCenterDeepBlue
{
	background-image: url(../images/Btn_Bg_DBlue.gif);
	_background-image: url(../images/Btn_Bg_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

.BtnBgCenterWhite
{
	background-image: url(../images/Btn_bg_White.gif);
	_background-image: url(../images/Btn_bg_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

fieldset table.tablestyledottedborder
{
	width: 100%;
}

.trstyle
{
	border-top: dotted 1px #000;
	border-left: dotted 1px #000;
}

.BtnBgSmlRt
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRtBlue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRtDeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRtWhite
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmit
{
	background: url(../images/Btn_Bg_Submit.png) no-repeat;
	_background: url(../images/Btn_Bg_Submit.gif) no-repeat;
	background-color:Transparent;
	font-weight: bold;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
	width: 80px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmitBlue
{
	background: Transparent url(../images/Btn_Bg_Submit_Blue.gif) no-repeat;
	font-weight: bold;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
	width: 80px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmitDeepBlue
{
	background: Transparent url(../images/Btn_Bg_Submit_DBlue.gif) no-repeat;
	font-weight: bold;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
	width: 80px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmitHeavyDeepBlue
{
	background: Transparent url(../images/Btn_Bg_Submit_HDBlue.gif) no-repeat;
	font-weight: bold;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
	width: 80px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmitWhite
{
	background: Transparent url(../images/Btn_Bg_Submit_White.gif) no-repeat;
	_background: Transparent url(../images/Btn_Bg_Submit_White.gif) no-repeat;
	background-color:Transparent;
	font-weight: bold;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
	width: 80px;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1Blue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1DeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1White
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.DivAgreeOuterBox
{
	width: 570px;
	background-color: #FFFFFF;
	border: 1px #a8acaf ridge;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 20px 10px 20px 50px;
	padding: 20px 20px 50px 20px;
}

.DivAgreeInnerBox
{
	width: 560px;
	background-color: #FFFFFF;
	border: 1px #a8acaf ridge;
	font-family: "Courier New" , Courier, monospace;
	font-size: 12px;
	height: 200px;
	overflow: auto;
	padding: 3px;
}

.DivAgree1Head
{
	margin: 20px 10px 0px 160px;
}

.HV_Logo
{
	background-image: url(../images/HV_Logo.gif);
	background-repeat: no-repeat;
	background-position: top;
	width: 184px;
	height: 57px;
	margin: 0px 0px 0px 10px;
}

.HV_LogoHead
{
	margin: 0px 0px 0px 0px; #margin:0px0px-100px0px;
clear:both;
float:right;
z-index:101px;
}
/* End styles added by Doni Jose Mannanal*/

/* Styles for custom drop down */
.AHADropDownOuterDiv
{
	background: transparent url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: transparent url(../images/cust-textbox-left.gif) no-repeat left 0;
	float: left;
	padding: 0 0 0 13px;
}

.AHADropDownPenultimateDiv
{
	background: transparent url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: transparent url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 13px 0 0;
	float: left;
	height: 28px;
}

.AHADropDownPenultimateDiv input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 2px;
	padding-top: 3px;
	outline: none;
	font-size: 13px;
}

.AHADropDownImage
{
	margin: -16px 0px 0px 0px;
	float: right;
	cursor: pointer;
}

/*AHA Date Picker-Arun-Don't Change Anything after this line*//* the div that holds the date picker calendar */
.dpDiv
{
}

/* the table (within the div) that holds the date picker calendar */
.dpTable
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
}

.dpTable td
{
	padding: 4px 6px;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR
{
}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR
{
}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR
{
}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR
{
}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD
{
	/*border: 1px solid #ece9d8;*/
	border: 1px solid #ffffff;
	padding: 4px;
	text-align: center;
}
/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD
{
	background-color: #becce9;
	border: 1px solid #869ccb; /*border: 1px solid #AAAAAA;*/
	text-align: center;
}
/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover
{
	border: 1px solid #5B72A4; /*border: 1px solid #888888;*/
	cursor: pointer;
	text-align: center;
}
/* the table cell that holds the name of the month and the year */
.dpTitleTD
{
	color: #666666;
	text-align: center;
}
/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD
{
}
/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD
{
	border-top: 1px solid #eeeeee;
	padding: 2px 0 0 0;
}
/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD
{
	color: Black;
	font-weight: bold;
	text-align: center;
	padding: 0 3px;
	font-size: 11px;
}
/* additional style information for the text that indicates the month and year */
.dpTitleText
{
}
/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight
{
}
/* the forward/backward buttons at the top */
.dpButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: bold;
	background-color: #f5f5f5;
	border: none;
	cursor: pointer;
	padding: 2px 5px;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: white;
	background-color: #999999;
	font-weight: bold;
	border: 1px none #d8e8ff;
	padding: 3px;
	cursor: pointer;
}
.AHADateOuterDiv
{
	background: url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: url(../images/cust-textbox-left.gif) no-repeat left 0;
	float: left;
	padding: 0 0 0 13px;
	width: 100px;
}
.AHADatePenultimateDiv
{
	background: url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 10px 0 0;
	float: left;
	height: 28px;
	width: 100px;
}
.AHADatePenultimateDiv input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 3px;
	outline: none;
	font-size: 13px;
	width: 80px;
}
.AHADateImage
{
	margin: -16px 0px 0px 0px;
	float: right;
	cursor: pointer;
}
/* end style for custom drop down */

/*Added by bimal on 17-07-2008*/

/*End added by bimal*/

/*Added by vijay on 17-07-2008*/
div.box
{
	border-left: 1px solid #8a8a8a;
	border-top: 1px solid #8a8a8a;
	border-right: 2px solid black;
	border-bottom: 2px outset black;
}

.Banner_datapage
{
	background: #849ece url(../images/Banner.jpg) no-repeat left 0;
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff;
}
.Banner_datapage h1
{
	height: 54px;
	color: #5B72A4;
	font-size: 25px;
	padding-top: 10px;
}
.Banner_datapage h2
{
	margin: 0;
	padding: 0;
}
.Banner_datapage .close
{
	float: right;
}
.BannerForm_datapage
{
	font-weight: bold;
	clear: both;
	padding: 20px 0 0 0px;
	margin: auto;
}
.BannerForm_datapage td
{
}


.BannerHead_datapage
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	color: #336598;
	padding: 5px 5px 20px 0px;
	line-height: normal;
}

.BannerSubHead_datapage
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-align: left;
	color: #dfe6ff;
	padding: 5px 5px 5px 0px;
}

.infoBG
{
	background: #5b72a4;
	color: #FFFFFF;
	padding: 10px;
	margin: 0 0 20px 0;
}
.infoBG table td
{
	padding-right: 10px;
}
.infoBG h2
{
	margin: 0px;
	padding: 0px;
}

/*
.BtnBgSmlRt1
{
	background-image: url(../images/Btn_Bg_Submit.png);
	_background-image: url(../images/Btn_Bg_Submit.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRt1Blue
{
	background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	_background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1DeepBlue
{
	background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1White
{
	background-image: url(../images/Btn_Bg_Submit_White.gif);
	_background-image: url(../images/Btn_Bg_Submit_White.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}
*/


.tbl
{
	border: 1px solid #ffffff;
	border-right: none;
	border-left: none;
	text-align: center;
	color: #39546f;
	font-weight: bold;
}

.tblhead
{
	border: 1px solid #999999;
	background-color: #999999;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 2px;
	font-weight: normal;
}

.tblsubhead
{
	color: #32679b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: 10px 20px 10px 10px;
}

.tblbody
{
	color: #39546f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 2px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.tblbodyRtColumn a
{
	color: #39546f;
}

.tblbodyRtColumn
{
	border-bottom: 1px solid #999999;
	width: 90px;
}

.Note
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #d2201e;
	text-align: center;
	padding: 20px 20px 10px 20px;
}


fieldset table td.tinyControl30
{
	width: 60px;
}
fieldset table td.tinyControl30 .cust-textbox
{
	width: 30px;
}

fieldset table td.tinyControl30leftmargin
{
	width: 60px;
	padding-left: 8px;
}
fieldset table td.tinyControl30leftmargin .cust-textbox
{
	width: 30px;
}

fieldset table td.tinyControl35
{
	width: 70px;
}

fieldset table td.tinyControl35 .cust-textbox
{
	width: 40px;
}

fieldset table td.labeldescription
{
	padding: 3px 10px 0px 0px;
	text-align: left;
	text-transform: lowercase;
	font-size: 12px;
	font-weight: normal;
}

.divbox
{
	/*background:url(../images/div_Topbg.gif) top repeat-x;*/
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0 0 10px 0;
	border: 1px solid #becce9;
}
/*
.divbox div.r 
{
	background:url(../images/div_rtbg.gif) right repeat-y;
}

.divbox div.r div.rt
{
	background:url(../images/div_toprt.gif) top right no-repeat;
}

.divbox div.r div.rt div.b
{
	background:url(../images/div_btmbg.gif) bottom repeat-x;
}

.divbox div.r div.rt div.b div.br
{
	background:url(../images/div_btmrt.gif) bottom right no-repeat;
	padding:10px 10px 10px 7px;
}*/
.divbanner
{
	color: #354c78;
}

/* Commented by Vijay as new styles has been defined.
.divbanner .menu
{
	color:#FFFFFF;
	height:38px;
}

.divbanner .menu a
{
	background-color:#becce9;
	color:#5b72a4;
	display:block;
	text-decoration:none;
	float:left;
	height:26px;
	padding:8px 15px 0 15px;
	margin:4px 0px 0 10px;
	font-weight:bold;


}

.divbanner .menu a.active
{
	
	color:#FFFFFF;
background-color:#869ccb;
	
}


.divbanner .Goalbar
{
	background-color:#869ccb;
	color:White;
	color:#354c78;
	padding:5px;
	text-align:right;
	font-weight:bold;
	
}
*/


.divbanner .Goalbar span
{
	padding: 5px 15px 5px 10px;
}

.divbannerbody
{
	background-color: #869DC9;
	padding: 10px 10px 10px 10px; /*border:1px solid #becce9;*/
	color: White;
}

.divbannerbody h1
{
	margin: 0;
	padding: 0;
	color: White;
}
.divbannerbody fieldset
{
	color: White; /*width:300px;*/
}
.divbannerbody fieldset table
{
	margin: auto;
}
.divbannerbody fieldset table td table
{
	margin: 0px;
}

.divbannerbody fieldset .BtnBgSubmit
{
	margin-left: 0;
}

/*Added on 21-jul-08 */
.divbannerAuthorize
{
	background: #869ccb url(../images/Banner_Authorize_Image.gif) top right no-repeat;
	height: 168px;
}

.divbannerAuthorizebody
{
	color: #ffffff;
	margin: auto auto auto 50px;
	padding-top: 20px;
	width: 300px;
}
/* end */

/*End added by vijay*/


.DataViewRange
{
	background-color: #869ccb;
	margin: 10px 0 0 0;
	padding: 10px;
	color: #5b72a4;
}
.DataViewRange table
{
}
.DataViewRange td
{
	padding-right: 20px;
}
.DataViewRange td .BtnBgSubmit
{
	margin: 0px;
}

/* Styles added by Vijay for Item pages */

.divbannerbodyWeight
{
	background-color: #869ccb;
	padding: 10px; /*border:1px solid #becce9;*/
	color: White;
}

.divbanner .divWeightbannerbody
{
	background: #849fce url(../images/Banner_Left_Bg.gif) no-repeat top 0;
	height: 192px;
	color: #333333;
	padding: 0px 30px 0px 180px;
	float: left;
	height: 193px;
}

.divbanner table td.tableWeightbannerbody
{
	/*background: #ffffff url(../images/WeightBannerBg.jpg) repeat-y right;*/
	background: #ffffff repeat-y right;
	color: #333333;
	vertical-align: top;
	border:0px;
}

.divbanner table td.tableWeightbannerbody .tableWeightbannerImg
{
	background: #fefefe url(../images/coach1-BG.jpg) no-repeat bottom left;
	height:210px;
	color: #333333;
}


.divbanner td.tableWeightbannerbody h1
{
	font-size: 18px;
	font-weight: bold;
	color: #CE2931;
	margin: 25px 10px 0px 0px;
	text-transform: uppercase;
}
.divbanner table td.tableWeightbannerbodyinner
{
	background: #6f84b1 url(../images/Tip_Bg.gif) no-repeat top left;
	border-left: 10px solid #849fce;
	padding: 10px;
	width: 178px;
}


.divWeightbannerbodyinner
{
	/*background:#edf0f7 url(../images/Banner_Inner_Bg.gif) repeat-y top left;*/
	background-color: White;
	width: 327px;
	padding: 10px;
	color: #333333;
}
.divbanner .divWeightbannerbodyinner a
{
	color: #333333;
}
.divbanner .divWeightbannerbodyinner h1
{
	font-size: 18px;
	font-weight: bold;
	color: #CE2931;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}

.divbanner .divbannerright
{
	background: url(../images/Banner_Right_Bg.gif) repeat-x;
	width: 290px;
	color: #ffffff;
	font-weight: normal;
	padding: 10px;
	border-left: 10px solid #869ccb;
	margin: auto;
	vertical-align: top;
}

.divbanner .divbannerright fieldset table
{
	margin: auto;
}
.divbanner .divbannerright fieldset table td table
{
	margin: 0;
}
.divbanner .divbannerrightSmall
{
	background: #6f84b1 url(../images/Banner_Right_Bg.gif) repeat-x;
	float: right;
	width: 200px;
	color: #ffffff;
	font-weight: normal;
	padding: 0px 10px 0px 0px;
	margin-left: 10px;
}

.divbanner .divbannertip
{
	background: #6f83b2 url(../images/Tip_Bg.gif) no-repeat;
	width: 199px;
	color: #ffffff;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	margin: auto;
	vertical-align: top;
	border-left: 10px solid #869ccb;
}

.divbanner .divbannertip p
{
	margin: 12px;
	text-align: left;
	color: #ffffff;
	font-weight: normal;
}

.divbanner .divbannertip h1
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	margin: 18px auto 5px 22px;
	vertical-align: top;
}

.BtnBgSubmitLeft
{
	background-image: url(../images/Btn_Bg_Submit.png);
	_background-image: url(../images/Btn_Bg_Submit.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftBlue
{
	background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	_background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftDeepBlue
{
	background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftWhite
{
	background-image: url(../images/Btn_Bg_Submit_White.gif);
	_background-image: url(../images/Btn_Bg_Submit_White.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

fieldset table td.labellong
{
	width: 100px; /*border-top: 1px dotted red;*/
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

.divbanner .menu
{
	color: #FFFFFF;
	height: 38px;
	text-transform: uppercase;
}

.divbanner .menu a
{
	background-color: #abbad9;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	float: left;
	height: 26px;
	padding: 8px 15px 0 15px;
	margin: 4px 2px 0 3px;
	font-weight: bold;
}

.divbanner .menu a.active
{
	background-color: #becce9;
}

.divbanner .Goalbar
{
	background-color: #becce9;
	color: #354c78;
	padding: 5px;
	text-align: right;
	font-weight: bold;
}
/* end styles */


/********** Validation Styles *******************/
.validation_summary
{
}

.validation_summary div
{
	border: 1px solid;
	padding: 2px;
	background-color: #FFCCBA;
	color: #D63301;
	background-image: url(  '../images/error_msg.gif' );
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: inherit;
}

.validation_summary div ul
{
	margin-top: 20px;
	margin-left: 42px;
	margin-bottom: 5px;
	padding-left: 10px;
	list-style-type: circle;
}

.validation_summary div ul li
{
	margin-left: 0px;
	color: #D63301;
}


/********** End Validation Styles *******************/

.contexthelpaaa
{
	z-index: 100;
	position: absolute;
	color: #666666;
	background-color: #FEFEFE;
	font-family: Arial;
	font-size: 11px;
	padding: 10px;
	border: 1px solid #999999;
}

/* Styles for the comments */
.comment
{
	background: transparent url(  '../images/Comment_Top.gif' ) no-repeat top right;
	padding: 12px 0px 10px 0px;
	width: 420px;
}

.comment div
{
	background: transparent url(  '../images/Comment_bottom.gif' ) no-repeat bottom right;
	padding: 0px 0px 12px 0px;
}

.comment div div
{
	background: transparent url(  '../images/Comment_middle.gif' ) repeat-y top right;
	padding: 3px 5px 3px 5px;
}

.comment div div div
{
	background: transparent url(  '../images/Comment_arrow.gif' ) no-repeat top left;
	padding: 10px 10px 10px 50px;
}

.comment-Sml
{
	background: transparent url(  '../images/Comment_Top_Sml.gif' ) no-repeat top right;
	padding-top: 12px;
	width: 250px;
}

.comment-Sml div
{
	background: transparent url(  '../images/Comment_bottom_Sml.gif' ) no-repeat bottom right;
	padding: 0px 0px 12px 0px;
}

.comment-Sml div div
{
	background: transparent url(  '../images/Comment_middle_Sml.gif' ) repeat-y top right;
	padding: 3px 5px 3px 5px;
}

.comment-Sml div div div
{
	background: transparent url(  '../images/Comment_arrow.gif' ) no-repeat top left;
	padding: 10px 10px 10px 50px;
}
/* end styles for the comments */

/* styles for content widgets */
.divBP
{
	background: transparent url(  '../images/BP.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divHeart
{
	background: transparent url(  '../images/Heart.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divExercise
{
	background: transparent url(  '../images/Exercise.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divCholesterol
{
	background: transparent url(  '../images/Cholesterol.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divDiabetes
{
	background: transparent url(  '../images/Diabetes.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divDiet
{
	background: transparent url(  '../images/Diet.gif' ) top no-repeat;
	width: 244px;
	height: 350px;
}

.divWeight
{
	background: transparent url(  '../images/Weight.gif' ) top no-repeat;
	width: 244px;
	height: 340px;
	padding: 10px 0px 0px 0px;
}

.divslidelist
{
	font-size: 12px;
	margin: 0px;
	padding: 50px 10px 0px 30px;
	/*padding: 50px 0px 0px 50px;*/
	line-height: 1.8em;
}

.divslidelist a
{
	color: #646799;
}

.divslidelist li
{
    color: #646799;
}

/* end styles for content widgets */

/* style for the iframe and progress bar */
.AHAIFrame
{
	border: solid 3px #CCCCCC;
	display: none;
	overflow: hidden;
}

/* end style for the iframe and progress bar */

/* styles for multiline textbox */
div.Multiline-Container
{
}
div.Multiline-Container div.Box-left
{
	background: transparent url(../images/Multiline_topleft.png) no-repeat;
	_background: transparent url(../images/Multiline_topleft.gif) no-repeat;
	display: block;
}
div.Multiline-Container div.Box-right
{
	background: transparent url(../images/Multiline_topright.png) no-repeat right top;
	_background: transparent url(../images/Multiline_topright.gif) no-repeat right top;
	padding-left: 12px;
	padding-right: 12px;
}

div.Multiline-Container div.Box-middle
{
	background: transparent url(../images/Multiline_top.png) top repeat-x;
	_background: transparent url(../images/Multiline_top.gif) top repeat-x;
	overflow: hidden;
	height: 13px;
}

div.Multiline-Container div.Box-middle-left
{
	background: transparent url(../images/Multiline_middle_left.png) repeat-y left;
	_background: transparent url(../images/Multiline_middle_left.gif) repeat-y left;
	display: block;
}
div.Multiline-Container div.Box-middle-right
{
	background: transparent url(../images/Multiline_middle_right.png) repeat-y right;
	_background: transparent url(../images/Multiline_middle_right.gif) repeat-y right;
	padding-left: 12px;
	padding-right: 12px;
}
div.Multiline-Container div.Box-middle-middle
{
	/*border:1px solid #ff00ff;*/
	background-color: #FFFFFF;
}

div.Multiline-Container div.Box-middle-middle textarea
{
	/*border:1px solid #ff00ff;*/
	border: none;
	width: 100%;
	margin-right: -10px;
}

div.Multiline-Container div.Box-bottom-left
{
	background: transparent url(../images/Multiline_btmleft.png) no-repeat bottom left;
	_background: transparent url(../images/Multiline_btmleft.gif) no-repeat bottom left;
	display: block;
}
div.Multiline-Container div.Box-bottom-right
{
	background: transparent url(../images/Multiline_btmright.png) no-repeat bottom right;
	_background: transparent url(../images/Multiline_btmright.gif) no-repeat bottom right;
	padding-left: 11px;
	padding-right: 11px;
}

div.Multiline-Container div.Box-bottom-middle
{
	height: 11px;
	-height: 12px;
	background: transparent url(../images/Multiline_bottom.png) repeat-x top;
	_background: transparent url(../images/Multiline_bottom.png) repeat-x top;
	overflow: hidden;
}
/* end styles for multiline textbox */



/*********** Context Help *******************/

div.contexthelp
{
	z-index: 100000;
	position:absolute;
	padding-left:40px;
}
div.contexthelp div.top
{
    background:transparent url(../images/contexthelp/ContextHelpTopleft.png) no-repeat;
    -background:transparent url(../images/contexthelp/ContextHelpTopleft.gif) no-repeat;
	display:block;
}
div.contexthelp div.top div
{
	background:transparent url(../images/contexthelp/ContextHelpTopRight.png) no-repeat right top;
	-background:transparent url(../images/contexthelp/ContextHelpTopRight.gif) no-repeat right top;
	padding-left:7px;
	padding-right:7px;
}

div.contexthelp div.top div div
{
	background:transparent url(../images/contexthelp/ContextHelpBorderTop.png) top repeat-x;
	-background:transparent url(../images/contexthelp/ContextHelpBorderTop.gif) top repeat-x;
	overflow:hidden;
	height:7px;
}

div.contexthelp div.middle
{
	border-left:2px solid #5b72a4;
	border-right:2px solid #5b72a4;
	background-color:#FFFFFF;
	padding:0px 10px 0px 10px;
	display:block;
}

div.contexthelp div.middle label
{
	border:none;
	width:100%;
	margin-right:-10px;
}

div.contexthelp div.bottom
{
	background:transparent url(../images/contexthelp/ContextHelpBottomLeft.png) no-repeat top left;
	-background:transparent url(../images/contexthelp/ContextHelpBottomLeft.gif) no-repeat top left;
	height:48px;
	margin-left:-35px;
	display:block;	
}
div.contexthelp div.bottom div
{
	background:transparent url(../images/contexthelp/ContextHelpBottomRight.png) no-repeat top right;
	-background:transparent url(../images/contexthelp/ContextHelpBottomRight.gif) no-repeat top right;
	padding-left:42px;
	padding-right:7px;
}

div.contexthelp div.bottom div div
{
	background:transparent url(../images/contexthelp/ContextHelpBorderBottom.png) repeat-x top right;
	-background:transparent url(../images/contexthelp/ContextHelpBorderBottom.gif) repeat-x top right;
	padding-top:8px;
	overflow:hidden;
	
}

/* Content help edit page */

div.contexthelpedit
{
	z-index: 100000;
	position:fixed;
	-position:absolute;
	padding-left:40px;
}
div.contexthelpedit div.top
{
    background:transparent url(../images/contexthelp/ContextHelpTopleft.png) no-repeat;
    -background:transparent url(../images/contexthelp/ContextHelpTopleft.gif) no-repeat;
	display:block;
}
div.contexthelpedit div.top div
{
	background:transparent url(../images/contexthelp/ContextHelpTopRight.png) no-repeat right top;
	-background:transparent url(../images/contexthelp/ContextHelpTopRight.gif) no-repeat right top;
	padding-left:7px;
	padding-right:7px;
}

div.contexthelpedit div.top div div
{
	background:transparent url(../images/contexthelp/ContextHelpBorderTop.png) top repeat-x;
	-background:transparent url(../images/contexthelp/ContextHelpBorderTop.gif) top repeat-x;
	overflow:hidden;
	height:7px;
}

div.contexthelpedit div.middle
{
	border-left:2px solid #5b72a4;
	border-right:2px solid #5b72a4;
	background-color:#FFFFFF;
	padding:0px 10px 0px 10px;
	display:block;
}

div.contexthelpedit div.middle label
{
	border:none;
	width:100%;
	margin-right:-10px;
}

div.contexthelpedit div.bottom
{
	background:transparent url(../images/contexthelp/ContextHelpBottomLeft.png) no-repeat top left;
	-background:transparent url(../images/contexthelp/ContextHelpBottomLeft.gif) no-repeat top left;
	height:48px;
	margin-left:-35px;
	display:block;	
}
div.contexthelpedit div.bottom div
{
	background:transparent url(../images/contexthelp/ContextHelpBottomRight.png) no-repeat top right;
	-background:transparent url(../images/contexthelp/ContextHelpBottomRight.gif) no-repeat top right;
	padding-left:42px;
	padding-right:7px;
}

div.contexthelpedit div.bottom div div
{
	background:transparent url(../images/contexthelp/ContextHelpBorderBottom.png) repeat-x top right;
	-background:transparent url(../images/contexthelp/ContextHelpBorderBottom.gif) repeat-x top right;
	padding-top:8px;
	overflow:hidden;
	
}

/*********** End Context Help *******************/



/* Styles for the comments */

.linkwhite
{
	color: #ffffff;
}

.AutoSuggestHighlight
{
	color: #FFFFFF;
	background-color: #3366cc;
}

.AutoSuggestItem
{
	color: #000000;
    background-color: #FFFFFF;
}


/********Styles by Arun, please ask before modifying******************************/
.DivProgressBar
{
	position: absolute;
	left: 0px; 
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	display:none;
}

div > div.DivProgressBar { position: fixed; }

.DivMask
{
	position: absolute; 
	left: 0px; 
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	padding-top: 10px;
	height:100%;
	display:none;
}

div > div.DivMask { position: fixed; }


.DivPopupContainer
{
	position: absolute; 
	z-index:10040;
	top: 100px;
	background-color: #FFFFFF;
	border: solid 3px #CCCCCC;
    display: none;
	left: 200px;
}

div > div.DivPopupContainer { position: fixed; }
/********End Styles by Arun******************************/

/* Added by vijay Aug 14th starts here */

.Unregbanner
{
	background: #f3f3f3 url(../images/Un-reg-bannerImg.jpg) no-repeat left top;
	height:280px;
	width:716px;
	color:#000000;
	font-weight:bold;
	line-height:1.8em;
	margin-top:10px;
	*margin-top:0px;
	border-top:1px solid #CE2931;
	*border-top:none;
}

.Unregbanner div
{
	background: transparent url(../images/Banner_Shadow_bg.png) repeat-x bottom right;
	height:115px;
	width:300px;
	font-weight:bold;
	color:#ffffff;
	font-size:13px;
	line-height:1.5em;
	margin:0px 20px 0px 360px;
	padding:0px 10px 15px 25px;
}

.Unregbanner div a
{
	color:#ffffff;
	text-decoration:none;
}

.Unregbanner div h1
{
	font-weight:bold;
	color:#ffffff;
	font-size:18px;
	line-height:1.5em;
	padding:20px 0px 0px 0px;
	font-weight:bold;
}

.Unregbanner p span
{
	color:#bd3736;
	font-size:18px;
	/*line-height:1.5em;*/
}

.Unregbanner p
{
	padding:10px 10px 0px 300px;
	*padding:5px 10px 0px 300px;
}

.Unregbanner ul
{
	padding:0px 10px 0px 330px;
	*padding:0px 10px 0px 290px;
	list-style-type:disc;
}

.UnregbannerAd
{
	background: #e6eff8 url(../images/diduknow.gif) no-repeat top;
	border:1px #95b4d1 solid;
	width:244px;
	color:#517ca6;
	margin:0px auto 10px auto;
	padding:180px 0px 10px 0px;
	float:right;
	clear:both;
}

.UnregbannerAd div
{
	padding:10px 10px 10px 40px;
	font-size:14px;
	font-style:italic;
}

.UnregbannerAd h1
{
	padding:10px 0px 0px 10px;
	font-size:14px;
}

.Unregbannertable
{
	margin:20px auto 8px auto;
}


.Unregbtn
{
	background:#ff0000 url(../images/home_btn_bg.gif) repeat;
	border:1px solid #ff0000;
	width:283px;
	padding:5px 5px 5px 30px;
	color:#ffffff;
	
}

.Unregbtn a
{
	color:#ffffff;
	text-decoration:none;
}

.Unregbtn a:visited
{
	color:#ffffff;
	text-decoration:none;
}

.Unregbtn a:hover
{
	color:#ffffff;
	text-decoration:none;
}

.Unregbtn h1
{
	background:url(../images/arrow_red.gif) no-repeat left ;
	font-size:25px;
	margin:0px 0px 0px -20px;
	padding:0px 0px 0px 20px;
	
}

.Unregbtnlink
{
	padding:10px;
	color:#bd3736;
	text-align:center;
}

.regbanner
{
	background: #f3f3f3 url(../images/reg-banner-Img.jpg) no-repeat top left;
	width:712px;
	min-height: 600px;
	color:#000000;
	line-height:1.8em;
	padding-right:3px;
	margin:12px 0px -10px 0px;
	*margin:0px 0px -10px 0px;
	clear:both;
	float:left;
	
}



.regbanner .regbannerimg
{
	/*background: #f3f3f3 url(../images/reg-banner-Img.jpg) no-repeat top left;*/
	margin:0px 0px -10px 0px !important;
	*margin:0px 0px 0px 0px;
	min-height:600px;
	*height:600px;
	padding:0px 10px 0px 0px;
}

.regbanner .WelcomeText
{
	color:#bd3736;
	font-size:18px;
	font-weight:bold;
}

.regbanner p
{
	padding:0px 10px 0px 315px;
	margin:10px 0px 0px 0px;
}

.regbanner .HomePageParagraph
{
	margin:25px 0px 0px 0px;
}



/* new styles by vijay aug 27th */
.regbanner UL
{
	padding:0px 0px 0px 340px;
	margin:0px;
}

.regbanner OL
{
	padding:0px 0px 0px 340px;
	margin:0px;
}

.homepagelinkmargin
{
	padding:0px 10px 10px 325px;
}

.homepagelinkmarginCenter
{
	padding:0px 10px 10px 385px;
}

.regbanner .BtnBgCenter
{
	background-image: url(../images/Btn_Bg.png);
	_background-image: url(../images/Btn_Bg.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	margin:30px 10px 10px 350px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

/* new styles by vijay aug 27th ends here */

.regbanner a
{
	color:#24477f;
}

.ContentAreaMarginless 
{
	margin:-22px -10px -10px -10px;
	*margin:-10px;
}

.sidead
{
 margin:15px;
 color:#646799;
}

.sidead h1
{
 background: transparent url(../images/arrow_left.gif) no-repeat left 1px;
 color:#ce5c5b;
 margin:10px 0px 10px 0px;
 padding-left:10px;
 font-weight:bold;
 font-size:14px;
}

.sidead strong
{
 color:#364c7d;
 margin-top:10px;
}

.divbanner table td.tableWeightbannerbody .tableWeightbannerBP
{
	background: #fefefe url(../images/coach1-BG.jpg) no-repeat top left;
	min-height:300px;
	padding: 0px 30px 0px 205px;
	color: #333333;
	border: 1px #FFFFFF ridge;
	margin:0px 0px 0px 0px;
	*height:318px;
	overflow:visible;
}

.divbanner table td.tableWeightbannerbody .tableWeightbannerChol
{
	background: #fefefe url(../images/coach1-BG.jpg) no-repeat top left;
	min-height:350px;
	padding: 0px 30px 0px 205px;
	border: 1px #FFFFFF solid;
	color: #333333;
	*height:350px;
	overflow:visible;
}

.divWeightbannerbodyinnermedic
{
	background: #fefefe url(../images/coach1-BG.jpg) no-repeat top left;
	min-height:318px;
	width: 327px;
	padding: 0px 10px 0px 205px;
	border: 1px #FFFFFF solid;
	color: #333333;
}

.divbanner table td.tableWeightbannerbody .tableWeightbannerBG
{
	background: #fefefe url(../images/coach1-BG.jpg) no-repeat top left;
	min-height:318px;
	padding: 0px 30px 0px 205px;
	border: 1px #FFFFFF solid;
	color: #333333;
	*height:318px;
	overflow:visible;
}
/*Aded by arun*/
.NormalItalics
{
	font-family: Arial, Helvetica, sans-serif;
	color:#333333;
	font-style:italic;
}

.NormalBoldRed
{
	color:Red;
	font-weight:bold;
	
}

.NewsAndArticles a
{
	color:#24477f;
}

.HomePageUL
{
	padding:0px 10px 0px 300px;
}
/*End Aded by arun*/

/* Styles added by vijay on aug 29th starts here */

.GetStartBanner
{
	background: #f3f3f3 url(../images/reg-banner-Img.jpg) no-repeat top left;
	min-height:600px;
	width:716px;
	color:#000000;
	font-weight:bold;
	line-height:1.8em;
	margin:-10px 0px -10px -10px;
}

.GetStartBanner div.info
{
	background: #aaaaaa url(../images/Banner_Shadow_bg.png) repeat-x top right;
	width:300px;
	font-weight:bold;
	color:#ffffff;
	font-size:13px;
	line-height:1.5em;
	margin:0px 20px 0px 360px;
	padding:0px 10px 15px 25px;
}

.GetStartBanner div.info a
{
	color:#ffffff;
	text-decoration:none;
}

.GetStartBanner div.info h1
{
	font-weight:bold;
	color:#ffffff;
	font-size:18px;
	line-height:1.5em;
	padding:20px 0px 0px 0px;
	font-weight:bold;
}

.GetStartBanner div.leftmargin
{
	margin:20px 20px 0px 360px;
	padding:0px 10px 15px 25px;
}

.GetStartBanner div.link
{
	display:block;
	margin:10px auto;
	color:#5B72A4;
	width:auto;
	text-align:center;
	font-weight:bold;
}

.WdhCity
{
	width:90px; 
	padding:0px; 
	margin:0px; 
	overflow:hidden	
}

.WdhZip
{
	width:70px; 
	padding:0px; 
	margin:0px; 
	overflow:hidden	
}



/* Styles added by vijay on aug 29th ends here */