﻿@charset "utf-8";
/* CSS Document */
/*
#redbar {
	background-color: #CE2930;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 0;
	vertical-align: middle;
	width: 100%;
}
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	font-size: 12px;
	line-height: 15px;
	*font-size:12px !important;
}

#footer_wrapper #footer_buff ul ol li {
	color: #5D5D5D;
}

div#footer_wrapper {
	border-top: 0 none !important;
}

div.heart_header_wrapper .sub_logo {
	background: transparent none repeat scroll 0 0;
	font-size: 35px;
	left: 5px;
	position: relative;
	text-decoration: none;
	top: 55px;
}

p.legal {
	text-align: center !important;
}

#footer {
	float: left;
	font-size: 10px;
	line-height: 13px;
	margin-bottom: 20px;
	margin-left: 48px;
	text-align: center;
	width: 100%;
}

.search .input {
	font-size: 12px;
}

.search .input input.input-hint {
	padding-top: 5px !important;
}

.ahaPersonaNav .ahaPersonaStretch ul.ahaNav li span.for {
	display: block;
}