@charset "UTF-8";
/* CSS Document */


body {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
}

.box .content {
	margin-left: 8px;
}
html .content 
{
	height:450px;
}
#feature {
	margin-top: 0px;
}

#ahaLogo {
	float: left;
	height: 90px;
	width: 188px;
	margin-top: 15px;
	margin-left: 20px;
}


.copyBoxNew
{
	margin-left: 0px;
}


#f1 {
	margin-left: 25px;
	margin-right: 200px;
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/signup_bg.png');
}

#f2 {
	margin-left: 25px;	
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/watchvideo_bg.png');
}

.featureBox a {
	position: relative;
	z-index:1;
}

.line {
	border-top: solid 1px #cfcfcf;
	margin-left: 25px;
	margin-bottom: -15px;
 	margin-right: 300px;
}

.bottomFeature {
	margin-left: 25px;
}


#rightBox {
	margin-right: 22px;
	background-image:url('');
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/textbox.png');*/
}

	#rightBox .line {
		margin-bottom: -10px;	
	}

#categoryContainer {
	margin-left: 22px;
	
}

.signUp {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/sign_up.png');
}

.signUp:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/sign_up_over.png');
}

#watchVideo {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/watch_video.png');
}

#watchVideo:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/watch_video_over.png');
}
.redMenuBottom{
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dropdown-bottom.png');

}
.redbar-tl-curve{
background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dropdown-tl-curve.png');


}
.redbar-tr-curve{
background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dropdown-tr-curve.png');


}

.category1 
{
	
	
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/blood_pressure.png');

}

.category1_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/blood_pressure_on.png');
}

.category2 {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/cholesterol.png');
}

.category2_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/cholesterol_on.png');
}

.category3 {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/blood_glucose.png');
}

.category3_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/blood_glucose_on.png');
}

.category4 {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/medication.png');
}

.category4_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/medication_on.png');
}

.category5 {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/weight.png');
}

.category5_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/weight_on.png');
}

.category6 {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/physical_activity.png');
}

.category6_on {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/categories/physical_activity_on.png');
}

.record {
	margin-left: 25px;	
}

.goalEx {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/goal_ex.png');
}

.goalLinks {
	margin-right: 5px;	
}

.goalText {
	margin-left: 11px !important;
}

.addReading {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/add_reading.png');	
}

.addReading:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/add_reading_over.png');	
}

#addGoal {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/add_goal.png');
}

.addMedication {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/add_medication.png');
}
.addMedication:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/add_medication_over.png');
}

.featureCopy {
	margin-top: 13px;
	margin-left: 7px;
	width: 210px;
}

.readings {
	margin-top: 15px;
	margin-left: 167px;
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/readingsBkgd.png');
}

.readings .line {
	margin-bottom: -10px;
}

.saveGoal {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save.png');
}

.saveGoal:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save_over.png');
}

#saveRecord {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save.png');
}

#saveRecord:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save_over.png');
}

.continue {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/continue.png');

	
}

.continue:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/continue_over.png');
}

.createReport {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/create_report.png');
}

.createReport:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/create_report_over.png');
}

.saveProfile {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save_profile.png');
}

.saveProfile:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save_profile_over.png');
}

.accept {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/accept.png');
}

.accept:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/accept_over.png');
}

.learnMore {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/learn_more.png');	
}

.learnMore:hover {
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/learn_more_over.png');	
}

.editGoal .goalText {
	margin-top: 10px;	
}

#footer {
	margin-left: 24px;
}

#ahaFooter {
	margin-left: 9px;	
}
.AddAnotherPerson
{

background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/addanother.png');	
}

.AddAnotherPerson:hover
{
	
	background-image:url('');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/addanother-over.png');	
}
html body .Custom_DropDownOuterDiv{ border-color:#999 #ddd #ddd #999;} 


html body .Custom_CalendarOuterDiv img{ vertical-align:middle; margin-bottom:2px;}
.readings .line{ height:15px; }
.saveGoal
{
  margin-top:7px;
	margin-right:0px;
	float: none;
}
.whitebox .tm{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-t-m.png"); }
.whitebox .tl{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-t-l.png");}
.whitebox .tr{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-t-r.png");}
.whitebox .bm{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-b-m.png");}
.whitebox .bl{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-b-l.png");}
.whitebox .br{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-b-r.png");}
.whitebox .left-shadow{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-m-l.png")}
.whitebox .right-shadow{background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/g-s-m-r.png");}


.scrollbar { 
height:113px; /* defaults to this if JS is disabled */
height:expression(this.scrollHeight>113?"113px":"auto"); 
}


#rightBox 
{
	width:202px;
	margin-left:0px;
}
.message-content
{
	height:220px;

}
html body .validation_summary div 
{
	background:#CE2930 url(../images/error-icon-withbg.png) no-repeat scroll 6px 6px;
	
}
.login-ctrl .ctrl-row label
{
	width:150px;
}
.iepaddingtop
{
	padding-top:5px;
}
.provider-full-width
{
	float:none;
	margin-left: 50px;
	margin-right: 0px;
}
.col-3-box .box
{
	float: left;
	margin-right: 12px;
	width: 301px;
}
.toolbar
{


}
.clearer
{
	height:5px;
}
.provider-full-width .halfwidth 
{
	width:455px;
}

div.DivMask
{
 left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
 height: expression( ( ( ignoreMe2 = document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight )) + 'px' );
}

div.DivPopupContainer
{
 left: expression( ( (document.documentElement.clientWidth/2) - 250 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: expression( ( (document.documentElement.clientHeight/2) - 200 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
#redbar
{
	height:30px;
}

.redbar-tr-curve{

right:-7px;


}