﻿html, body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .85em;
	color: #333333;
	margin: 0;
	padding: 0;
	
	
}
textarea
{
	font-family: Arial, Helvetica, sans-serif;
	
}
a
{
	color: #333333;
	text-decoration: underline;
}
a:hover
{
	color: #333333;
	text-decoration: none;
}
h1
{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	margin-bottom: 10px;
}
fieldset, form
{
	margin: 0;
	padding: 0;
	border: none;
}

.clear
{
	clear: both;
}
.clearleft
{
	clear:left;
}
#Wrapper
{
	width:990px;
	margin:auto;
	padding:0 0 0 10px;
	background:	url(../images/wrapper-shdow-l.gif) repeat-y 0 0;

}

#Wrappershadow
{
	
background:#e8f2fb url(../images/wrapper-shdow-r.gif) repeat-y right 0;
	padding:0 10px 0 0px;
}

/* Created by Vijay on Aug 05th starts here */

#WrapperPlain
{
	width:990px;
	margin:auto;
	padding:0 0 0 0px;
	border:1px solid black;
}

.divtopbar
{
 background:url(../images/top_bar_bg.gif) repeat-x right;
 margin:10px 5px 0px 5px !important;
 margin:0px 5px 0px 5px;
}

.divtopbar div 
{
 background:url(../images/top_bar_left.gif) no-repeat left;
 height:7px;
 border:none;
}

.divtopbar div div
{
 background:url(../images/top_bar_right.gif) no-repeat right;
 border:none;
}

.divbottombar
{
 background:url(../images/bottom_bar_bg.gif) repeat-x right;
 margin:0px 0px 5px 0px;
}

.divbottombar div 
{
 background:url(../images/bottom_bar_left.gif) no-repeat left;
 height:5px;
 border:none;
}

.divbottombar div div
{
 background:url(../images/bottom_bar_right.gif) no-repeat right;
 border:none;
}

.headerquote
{
	font-weight:bold;
	vertical-align:bottom;
	clear:both;
	text-align:justify;
	padding:20px 0px 0px 10px;
	color:#333333;
	border:1px red hidden;
}

.MainContentAreaPlain
{
	padding:10px;
	width:970px;
	border:1px red hidden;
}

/* Created by Vijay on Aug 05th ends here */

.inner
{
	width: 980px;
	margin: auto;
}

#Header
{
	background-color: #FFFFFF;
	height:97px;
	
}
#Header .inner
{
	color: #999999;
}
#Header .inner a
{
	text-decoration: none;
	color: #999999;
}
#Header .inner a:hover
{
	text-decoration: underline;
}
#Header .inner img
{
	float: right;
}
#Header .inner .Logo
{
	float: left;
	margin: 20px 0px 0 10px;
	vertical-align:bottom;

}
#Header .inner .Logo img
{
	display: block;
	float: left;
	margin: 10px 0 0 0;
}

.TopNavigation
{
	background-color: #CE2931;
	min-height:28px;
	
	
	
	

}
.TopNavigation .inner a
{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	outline: none;
	padding: 8px 20px 5px 20px;
	display: block;
	float: left;
	
	
	
}

.TopNavigation .inner a.active
{
	background-color: #B6E4FE;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
	cursor: default;
	color: #5B72A4;
}
.TopNavigation .inner a:hover
{
	text-decoration: none;
	color: white;
}
.TopNavigation .inner a:hover
{
	background-color: #B6E4FE;
	color: #5B72A4;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
}
.TopNavigation .inner .sidemenu
{
	float: right;
	padding-right: 10px;
}
.TopNavigation .inner .sidemenu .sep
{
	color: white;
	float: left;
	padding: 6px;
}
.TopNavigation .inner .sidemenu a
{
	padding: 6px;
	text-decoration: underline;
}
.TopNavigation .inner .sidemenu a:hover
{
	background-image:none;
	background-color:Transparent;
	padding: 6px;
	color:White;
	text-decoration: none;
}
.TopNavigation .sidemenu a.messages
{
	margin-right: 60px;
}

.content
{
	clear:both;
}
.inner .RightColumn
{
	clear:both;
	float: right;
	width: 244px;
	background-color: #DCEAF5;
	padding: 10px;
}
.footer
{
	clear: both;
	background: #5B72A4;
	padding: 5px 0 5px 5px;
	color: white;
	font-size: .75em;
	text-align: center;
}
.footer a
{
	color: #FFFFFF;
}

.MainContentArea
{
	padding:10px 10px 10px 10px;
	float:left;
	width:694px;
}


.blueround-box
{
	background: #869DC9 url(../images/blue-curve-left-top.gif) top left no-repeat;
	
}
.blueround-box div.right
{
	background: transparent url(../images/blue-curve-right-top.gif) top right no-repeat;
}
.blueround-box div.right div.bottomright
{
	background:transparent url(../images/blue-curve-right-bottom.gif) bottom right no-repeat;
}


.blueround-box div.right div.bottomright div.bottomLeft
{
	padding:20px;
	
	
	background:transparent url(../images/blue-curve-left-bottom.gif) bottom left no-repeat;
	color: #FFFFFF;
	height:auto;

}

.roundedbox
{
	border: 2px solid #5B72A4;
	background:#ffffff url(../images/right-box-shadow.gif) repeat-x top left;
	padding:10px;
}
.roundedbox h1
{
	color:#999999;
	border-bottom:#dddddd solid 1px;
	padding-bottom:3px;
}
.roundedboxtop 
{ 

	height:1px;
	position:relative;
	
}
.roundedboxtop img
{ 
	position:absolute;
	top:1px;
}
.roundedboxbottom
{
	height:1px;
	position:relative;
}
.roundedboxbottom img
{ 
	position:absolute;
	top:-15px;
}

.righBoxImg
{
	background-color:#ffffff;
	padding:15px 10px 0 10px;
	margin:10px auto;
	width:210px;
}
.righBoxImg img
{
	margin:0 auto 15px 6px;

}
.rightLinkBox
{
	padding: 0 10px 10px 10px;
}

.rightLinkBox a
{
	display: block;
	margin: .4em 0 0 0;
}
.grayHeading
{
	color: #666666;
	font-size: 1.7em;
	font-weight: normal;
	text-align: center;
	display: block;
	border-style:none !important;
	
}
.grayHeading span
{
	color: #FF3700;
}
.grayHeading a
{
	display: block;
	margin-top: 5px;
	color: #5B72A4;
}
.red
{
	color: red;
}


/*common styles*/
#VisitorBanner
{

	height:305px;
	position:relative;
	
}

#VisitorBanner .VisitorBanner-bg
{
	
	background:#e8f2fb url(../images/Visitor_Banner.jpg) repeat-y left 0;
	height:312px;
	width:707px;
	position:absolute;
	top:-10px;
	left:-10px;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent
{

	width:353px;
	margin:30px 0 0 305px;

}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent h1
{
	font-size:18px;
	font-weight:normal;
	color:#CE2931;
	margin:0;
	padding:0;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent p
{
	margin:0;
	padding:4px 0px 2px 0px;
	text-align:justify;
}
#VisitorBanner .VisitorBanner-bg .VisitorBannerContent ol
{
	margin-top:0px;
	padding-TOP:0px;

}
div.WhiteBox-Container
{
	
	
	
		
}
div.WhiteBox-Container div.Box-left
{
    background-image: url(../images/content-block-left-Tab.gif);
	background-repeat: no-repeat;
	display:block;
	
	
}
div.WhiteBox-Container div.Box-right
{
	background-image: url(../images/content-block-right-Tab.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-left:17px;
	padding-right:17px;
}
div.WhiteBox-Container div.Box-middle
{
	height:15px;
	background-image: url(../images/content-block-top-Tab.gif);
	background-repeat: repeat-x;
	background-position: left top;
	overflow:hidden;
		
	
}
div.WhiteBox-Container div.Box-middle-left
{
	background-image: url(../images/content-block-mid-left-Tab.gif);
	background-repeat: repeat-y;
	background-position: left top;	
	display:block;
}
div.WhiteBox-Container div.Box-middle-right
{
	background-image: url(../images/content-block-mid-r-Tab.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left:15px;
	padding-right:15px;
}
div.WhiteBox-Container div.Box-middle-middle
{
/*border:1px solid #ff00ff;*/
background-color:#FFFFFF;
	
	
	
}
div.WhiteBox-Container div.Box-bottom-left
{
	background-image: url(../images/content-block-bot-l-Tab.gif);
	background-repeat: repeat-y;
	background-position: left top;
	display:block;	
}
div.WhiteBox-Container div.Box-bottom-right
{
	background-image: url(../images/content-block-bot-r-Tab.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-left:17px;
	padding-right:17px;
}
div.WhiteBox-Container div.Box-bottom-middle
{
	height:17px;
	background-image: url(../images/content-block-bot-Tab.gif);
	background-repeat: repeat-x;
	overflow:hidden;
	
}
#VisitorBoxes
{
	
	
	
}
#VisitorBoxes div.WhiteBox-Container
{
	float:left;
	width:342px;
	margin-right:4px;

}
#VisitorBoxes div.WhiteBox-Container img
{
	margin:10px auto 10px auto;
	display:block;

}
#VisitorBoxes div.WhiteBox-Container h1
{
	margin:0;
	padding:0;
	color:#5B72A4;
	font-size:18px;
	font-weight:normal;
}
#VisitorBoxes div.WhiteBox-Container p
{
	margin:0;
	padding:0;
}
.dropdownMenu
{
	float:left;
	position:relative;
	width:auto;
	z-index:800;
	
	
	

}

.dropdownMenu .dropdownMenuItems
{
	float:none;
	
	left:0px;
	top:28px;
	/*clip:rect(auto auto 30px auto);*/
	
	position:absolute;
	border-top:1px solid #5B72A4;
	background-color:#e3f1fa;
	visibility:hidden;
	
	/*background:#f5f5f5;*/

	
	
}
.dropdownMenu .dropdownMenuItems a
{
	display:block;
	float:none;
	white-space:nowrap;
	border:1px solid #5B72A4;
	border-width:0px 1px 1px 1px;
	background-color:#e3f1fa;
	color:#5B72A4;
	
	
	
}
.dropdownMenu .dropdownMenuItems a:hover
{
	
	background-color:#ffffff;
	color:#CE2931;
	background-image:none;
	
	
	
}
.dropdownMenu a.activeDrop
{
    background-color:#B6E4FE;
	background-image: url(../images/top-navigation-active.gif);
	background-position: top 0;
	background-repeat: repeat-x;
	color: #5B72A4;
}
.GetStartBannerBody
{
	position:relative;
	
}

.TransparentBlueBox
{
	padding:20px;
	background-image: url(../images/blue-transparent.png);
	_background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="../images/blue-transparent.png");
}
.TransparentBlueBox a
{
	position:relative;
}

.GetStartBannerBody .GetStartBannerRight
{
	position:absolute;
	top:15px;
	left:290px;
	width:330px;
	
	
	
}
.GetStartBannerBody .GetStartBannerRight .TransparentBlueBox
{
	width:100%;
	padding:30px;
	font-size:1.2em;
	
	
	

	
}
.GetStartBannerBody .GetStartBannerRight .TransparentBlueBox h1
{
color:#5B72A4;
font-size:1.7em;
font-weight:bold;
}

.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText 
{
	font-size:1.3em;
	padding:0 0 0 50px;



	
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText  a,.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText  ol
{
	font-weight:bold;
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText input
{
	margin:auto;
	display:block;
}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText span.styled 
{
	display:block;
	margin:10px auto;
	color:#5B72A4;
	width:auto;
	text-align:center;
	font-weight:bold;
	

}
.GetStartBannerBody .GetStartBannerRight  .GetStartBannerText span.styled a
{
	color:#5B72A4;
	font-size:.85em;

}
#PatiantBanner
{

	height:305px;
	position:relative;
	
}

#PatiantBanner .PatiantBanner-bg
{
	
	background:#e8f2fb url(../images/Patiant-Banner.jpg) no-repeat left 0;
	height:312px;
	width:707px;
	position:absolute;
	top:-10px;
	left:-10px;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent
{

	width:353px;
	margin:30px 0 0 305px;

}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent h1
{
	font-size:18px;
	font-weight:normal;
	color:#CE2931;
	margin:0;
	padding:0;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent p
{
	margin:0;
	padding:5px 0;
}
#PatiantBanner .PatiantBanner-bg .PatiantBannerContent ol
{
	margin-top:0px;
	padding-TOP:0px;

}
.PatiantHomeContent
{
	background:#e8f2fb url(../images/patiant-form.jpg)  no-repeat 0 0;

}

.PatiantHomeContent fieldset
{

	color:white;
	float:left;
	width:200px;
	padding:10px 0 0 20px;
	margin-top:30px;

}
.PatiantHomeContent fieldset table td
{
	padding:3px 0;
}
.PatiantHomeContent fieldset .cust-textbox
{
	width:150px;
}
.PatiantHomeContent .WhiteBox-Container
{
	float:left;
	width:472px;
	
}


/* for borderless image on graph */
.borderless_imagetable
{
	border:none;
	outline:none;
}

.borderless_imagetable img
{
	border:none;
	outline:none;
}


.borderless_imagetable table 
{
	border:none;
	outline:none;
}


.bubble
{
border:1px solid #999999;
padding:3px;
text-align:center;
background-color:#ffffcc;
}
/* end for borderless image on graph */

/* printer friendly start */

.Printerpage
{
	margin:10px;
	width:98%;
}

.Printerpage .h1
{
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
}


.Printerpage tr td
{
	background-color:#ffffff;
	padding:10px;
}

.Printerpage .tdgrey
{
	background-color:#f0f0f0;
	text-align:right;
	padding:10px;
	width:200px;
	font-weight:bold;
}

/* printer friendly end */

.cust-textbox
{
	background: url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: url(../images/cust-textbox-left.gif) no-repeat left 0; /*float: left;*/
	padding: 0 13px 0 13px;
}

.cust-textbox div
{
	background: url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 13px 0 0; /*float: left;*/
	height: 28px;
	width: 100%;
}

.cust-textbox div input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 3px;
	padding-top: 3px;
	outline: none;
	width: 100%;
	font-size: 13px;
}

.labelunits
{
	padding: 5px 0 0 20px; 
	*padding:5px 0 0 10px;
	float:left;
}

.labelunitstd
{
	padding: 5px 0 0 2px; *padding:5px000px;
margin-left:-10px;
vertical-align:middle;
text-align:justify;
}

td.labelunits
{
	float: none;
}

.radiobuttonList
{
	clear: both;
}

.radiobuttonList .radiobutton
{
	clear: both;
	margin: 2px 0 2px 0;
}

.radiobuttonList .radiobutton span
{
	padding: 0 .3em 0 .3em;
	position: relative;
	
	top: 4px;
}

.radiobuttonList .radiobutton img
{
	height: 25px;
	width: 25px;
	float: left;
}

.radiobuttonRow
{
	clear: both;
}

.radiobuttonRow span
{
	margin: 2px 0 2px 0;
	float: left;
}

.radiobuttonRow span span
{
	padding: 0 .3em 0 .3em;
	top: 4px;
}

.radiobuttonRow span img
{
	height: 25px;
	width: 25px;
	float: left;
	margin-top:-3px;
}

/* form control styles */
/* always add filedset whn u need a form controls
fieldset
{
	margin: 10px 0;
}
fieldset ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
}
fieldset ul li
{
	float: left;
	margin:4px 0 4px 0;
}
fieldset ul li.label
{
	width: 15%;
	padding-right: 2%;
	padding-top: 5px;
border-top: 1px dotted red;
	text-align: right;
	font-weight: bold;
}

fieldset ul li.control
{
	width: 83%;
	border-top: 1px dotted yellow;
	_height:35px;
	min-height:35px;
	
}
fieldset ul li.control span.error
{
	color:red;
	clear:left;
	display:block;
	position:relative;
	left:15px;
	top:0px;

}
fieldset ul li.control span
{
	position:relative;
	top:5px;
}
fieldset ul li.control div.cust-textbox
{
	width: 380px;
}



fieldset ul li.mediumControl
{
	width: 78%;
}
fieldset ul li.mediumLabel
{
	width: 20%;
}
fieldset ul li.radiobuttonspace .radiobuttonRow 
{
	margin: 0 20px 0 15px;
	border:1px solid red;
}
fieldset ul li.smallControl
{
	width: 125px;
}
fieldset ul li.smalllabel
{
	width: 10%;
	text-align: left;
	padding-left: 5px;
	font-weight: normal;
}
fieldset ul li.smallControl div.cust-textbox
{
	width: 100px;
}
fieldset ul li.tinyControl
{
	width: 85px;
}
fieldset ul li.tinylabel
{
	width:30px;

}
fieldset ul li.tinyControl div.cust-textbox
{
	width: 50px;
}
fieldset ul li.zip
{
	width: 117px;
}
fieldset ul li.zip div.cust-textbox
{
	width: 80px;
}
fieldset ul li.control .cust-datecontrol .cust-textbox
{
	width:20px;
	margin:0 20px 0 0;
	
	
}
fieldset ul li.control .cust-datecontrol .year
{
	width:30px;
}*/

fieldset table td
{
	padding: 5px 3px 5px 0;
}

fieldset table td .cust-textbox
{
	width: 380px;
}

fieldset table td.smallControl
{
	width: 100px;
}

fieldset table td.smallControl .cust-textbox
{
	width: 70px;
}

fieldset table td.tinylabel
{
	width: auto;
	padding-left: 5px;
	text-align: right;
}

fieldset table td.tinyControl
{
	width: 80px;
}

fieldset table td.tinyControl .cust-textbox
{
	width: 40px;
}

fieldset table td.dropdown
{
	width: 140px;
}

fieldset table td.dropdown div.AHADropDownOuterDiv div.AHADropDownPenultimateDiv *
{
	border: 1px none red;
}

/* Added by Doni Jose Mannanal */
.ahagrid
{
	border: 1px solid #cccccc;
	border-width: 1px 0 0 1px;
}

.ahagrid table
{
	margin: 0 0 0 auto;
	border: none;
}

.ahagrid table td
{
	border: none;
}

.ahagrid td
{
	border: 1px solid #cccccc;
	border-width: 0 1px 1px 1px;
	padding: 5px;
	text-align: center;
}

.ahagrid th
{
	border: 1px solid #cccccc;
	border-color: #cccccc #ffffff #eeeeee #ffffff;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid th.first
{
	border: 1px solid #cccccc;
	border-color: #cccccc #ffffff #eeeeee #cccccc;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid th.last
{
	border: 1px solid #cccccc;
	border-color: #cccccc #cccccc #eeeeee #ffffff;
	background-color: #cccccc;
	padding: 5px;
}

.ahagrid td.left, .ahagrid th.left
{
	text-align: left;
}

.ahapageindex
{
}

fieldset table td.label
{
	text-align: right;
	font-weight: bold;
}

fieldset table td span.error
{
	color: #CE2931;
}

.BtnBgSml
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlBlue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlDeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlWhite
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 33px;
	width: 110px; /*float:left;*/ /* Commented  by DJM */
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgLong
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Long.png') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long.gif) no-repeat;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		color: #ffffff;
		padding: 0px 0px 0px 0px;
		margin: 20px 10px 10px 35px;
		height: 33px;
		width: 270px;
		outline: none;
		cursor: pointer;
}

.BtnBgLongBlue
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Long_Blue.gif') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_Blue.gif) no-repeat;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		color: #ffffff;
		padding: 0px 0px 0px 0px;
		margin: 20px 10px 10px 35px;
		height: 33px;
		width: 270px;
		outline: none;
		cursor: pointer;
}

.BtnBgLongDeepBlue
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Long_DBlue.gif') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_DBlue.gif) no-repeat;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		color: #ffffff;
		padding: 0px 0px 0px 0px;
		margin: 20px 10px 10px 35px;
		height: 33px;
		width: 270px;
		outline: none;
		cursor: pointer;
}


.BtnBgLongWhite
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Long_White.gif') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Long_White.gif) no-repeat;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		color: #ffffff;
		padding: 0px 0px 0px 0px;
		margin: 20px 10px 10px 35px;
		height: 33px;
		width: 270px;
		outline: none;
		cursor: pointer;
}


.BtnBgCenter
{
	background-image: url(../images/Btn_Bg.png);
	_background-image: url(../images/Btn_Bg.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}


.BtnBgCenterBlue
{
	background-image: url(../images/Btn_bg_Blue.gif);
	_background-image: url(../images/Btn_bg_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

.BtnBgCenterDeepBlue
{
	background-image: url(../images/Btn_Bg_DBlue.gif);
	_background-image: url(../images/Btn_Bg_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

.BtnBgCenterWhite
{
	background-image: url(../images/Btn_bg_White.gif);
	_background-image: url(../images/Btn_bg_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 20px 10px -10px 60px;
	height: 33px;
	width: 204px;
	cursor: pointer;
	border: none;
	outline: none;
}

fieldset table.tablestyledottedborder
{
	width: 100%;
}

.trstyle
{
	border-top: dotted 1px #000;
	border-left: dotted 1px #000;
}

.BtnBgSmlRt
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRtBlue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRtDeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRtWhite
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSubmit
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Submit.png') no-repeat;
	_background: url(../images/Btn_Bg_Submit.gif) no-repeat;
		font-weight: bold;
		height: 24px;
		text-align: center;
		color: #ffffff;
		padding: 0px;
		width: 80px;
		outline: none;
		cursor: pointer;
}

.BtnBgSubmitBlue
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Submit_Blue.gif') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Submit_Blue.gif) no-repeat;
		font-weight: bold;
		height: 24px;
		text-align: center;
		color: #ffffff;
		padding: 0px;
		width: 80px;
		outline: none;
		cursor: pointer;
}

.BtnBgSubmitDeepBlue
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Submit_DBlue.gif') no-repeat;
	font-weight: bold;
		height: 24px;
		text-align: center;
		color: #ffffff;
		padding: 0px;
		width: 80px;
		outline: none;
		cursor: pointer;
}

.BtnBgSubmitHeavyDeepBlue
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Submit_HDBlue.gif') no-repeat;
	font-weight: bold;
		height: 24px;
		text-align: center;
		color: #ffffff;
		padding: 0px;
		width: 80px;
		outline: none;
		cursor: pointer;
}

.BtnBgSubmitWhite
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background: url('../images/Btn_Bg_Submit_White.gif') no-repeat;
	_background: Transparent url(../images/Btn_Bg_Submit_White.gif) no-repeat;
		font-weight: bold;
		height: 24px;
		text-align: center;
		color: #ffffff;
		padding: 0px;
		width: 80px;
		outline: none;
		cursor: pointer;
}

.BtnBgSmlRt1
{
	background-image: url(../images/Btn_Bg_Sml.png);
	_background-image: url(../images/Btn_Bg_Sml.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1Blue
{
	background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	_background-image: url(../images/Btn_Bg_Sml_Blue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1DeepBlue
{
	background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Sml_DBlue.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1White
{
	background-image: url(../images/Btn_Bg_Sml_White.gif);
	_background-image: url(../images/Btn_Bg_Sml_White.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.DivAgreeOuterBox
{
	width: 570px;
	background-color: #FFFFFF;
	border: 1px #a8acaf ridge;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 20px 10px 20px 50px;
	padding: 20px 20px 50px 20px;
}

.DivAgreeInnerBox
{
	width: 560px;
	background-color: #FFFFFF;
	border: 1px #a8acaf ridge;
	font-family: "Courier New" , Courier, monospace;
	font-size: 12px;
	height: 200px;
	overflow: auto;
	padding: 3px;
}

.DivAgree1Head
{
	margin: 20px 10px 0px 160px;
}

.HV_Logo
{
	background-image: url(../images/HV_Logo.gif);
	background-repeat: no-repeat;
	background-position: top;
	width: 184px;
	height: 57px;
	margin: 0px 0px 0px 10px;
}

.HV_LogoHead
{
	margin: 0px 0px 0px 0px; #margin:0px0px-100px0px;
clear:both;
float:right;
z-index:101px;
}
/* End styles added by Doni Jose Mannanal*/

/* Styles for custom drop down */
.AHADropDownOuterDiv
{
	background: transparent url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: transparent url(../images/cust-textbox-left.gif) no-repeat left 0;
	float: left;
	padding: 0 0 0 13px;
}

.AHADropDownPenultimateDiv
{
	background: transparent url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: transparent url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 13px 0 0;
	float: left;
	height: 28px;
}

.AHADropDownPenultimateDiv input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 2px;
	padding-top: 3px;
	outline: none;
	font-size: 13px;
}

.AHADropDownImage
{
	margin: -16px 0px 0px 0px;
	float: right;
	cursor: pointer;
}

/*AHA Date Picker-Arun-Don't Change Anything after this line*//* the div that holds the date picker calendar */
.dpDiv
{
}

/* the table (within the div) that holds the date picker calendar */
.dpTable
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
}

.dpTable td
{
	padding: 4px 6px;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR
{
}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR
{
}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR
{
}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR
{
}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD
{
	/*border: 1px solid #ece9d8;*/
	border: 1px solid #ffffff;
	padding: 4px;
	text-align: center;
}
/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD
{
	background-color: #becce9;
	border: 1px solid #869ccb; /*border: 1px solid #AAAAAA;*/
	text-align: center;
}
/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover
{
	border: 1px solid #5B72A4; /*border: 1px solid #888888;*/
	cursor: pointer;
	text-align: center;
}
/* the table cell that holds the name of the month and the year */
.dpTitleTD
{
	color: #666666;
	text-align: center;
}
/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD
{
}
/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD
{
	border-top: 1px solid #eeeeee;
	padding: 2px 0 0 0;
}
/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD
{
	color: Black;
	font-weight: bold;
	text-align: center;
	padding: 0 3px;
	font-size: 11px;
}
/* additional style information for the text that indicates the month and year */
.dpTitleText
{
}
/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight
{
}
/* the forward/backward buttons at the top */
.dpButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: bold;
	background-color: #f5f5f5;
	border: none;
	cursor: pointer;
	padding: 2px 5px;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: white;
	background-color: #999999;
	font-weight: bold;
	border: 1px none #d8e8ff;
	padding: 3px;
	cursor: pointer;
}
.AHADateOuterDiv
{
	background: url(../images/cust-textbox-left.png) no-repeat left 0;
	_background: url(../images/cust-textbox-left.gif) no-repeat left 0;
	float: left;
	padding: 0 0 0 13px;
	width: 90px;
}
.AHADatePenultimateDiv
{
	background: url(../images/cust-textbox-right.png) no-repeat right 0px;
	_background: url(../images/cust-textbox-right.gif) no-repeat right 0px;
	padding: 0 10px 0 0;
	float: left;
	height: 28px;
	width: 90px;
}
.AHADatePenultimateDiv input
{
	background: transparent repeat-x right 0px;
	_background: transparent repeat-x right 0px;
	border: 1px none red;
	margin-top: 3px;
	outline: none;
	font-size: 13px;
	width: 70px;
}
.AHADateImage
{
	margin: -16px 0px 0px 0px;
	float: right;
	cursor: pointer;
}
/* end style for custom drop down */

/*Added by bimal on 17-07-2008*/

/*End added by bimal*/

/*Added by vijay on 17-07-2008*/
div.box
{
	border-left: 1px solid #8a8a8a;
	border-top: 1px solid #8a8a8a;
	border-right: 2px solid black;
	border-bottom: 2px outset black;
}

.Banner_datapage
{
	background: #849ece url(../images/Banner.jpg) no-repeat left 0;
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff;
}
.Banner_datapage h1
{
	height: 54px;
	color: #5B72A4;
	font-size: 25px;
	padding-top: 10px;
}
.Banner_datapage h2
{
	margin: 0;
	padding: 0;
}
.Banner_datapage .close
{
	float: right;
}
.BannerForm_datapage
{
	font-weight: bold;
	clear: both;
	padding: 20px 0 0 0px;
	margin: auto;
}
.BannerForm_datapage td
{
}


.BannerHead_datapage
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	color: #336598;
	padding: 5px 5px 20px 0px;
	line-height: normal;
}

.BannerSubHead_datapage
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-align: left;
	color: #dfe6ff;
	padding: 5px 5px 5px 0px;
}

.infoBG
{
	background: #5b72a4;
	color: #FFFFFF;
	padding: 10px;
	margin: 0 0 20px 0;
}
.infoBG table td
{
	padding-right: 10px;
}
.infoBG h2
{
	margin: 0px;
	padding: 0px;
}

/*
.BtnBgSmlRt1
{
	background-image: url(../images/Btn_Bg_Submit.png);
	_background-image: url(../images/Btn_Bg_Submit.gif);
	background-repeat: no-repeat;
	background-color:Transparent;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}


.BtnBgSmlRt1Blue
{
	background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	_background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1DeepBlue
{
	background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.BtnBgSmlRt1White
{
	background-image: url(../images/Btn_Bg_Submit_White.gif);
	_background-image: url(../images/Btn_Bg_Submit_White.gif);
	background-color:Transparent;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 100px;
	height: 33px;
	width: 110px;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}
*/


.tbl
{
	border: 1px solid #ffffff;
	border-right: none;
	border-left: none;
	text-align: center;
	color: #39546f;
	font-weight: bold;
}

.tblhead
{
	border: 1px solid #999999;
	background-color: #999999;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 2px;
	font-weight: normal;
}

.tblsubhead
{
	color: #32679b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: 10px 20px 10px 10px;
}

.tblbody
{
	color: #39546f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 2px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.tblbodyRtColumn a
{
	color: #39546f;
}

.tblbodyRtColumn
{
	border-bottom: 1px solid #999999;
	width: 90px;
}

.Note
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #d2201e;
	text-align: center;
	padding: 20px 20px 10px 20px;
}


fieldset table td.tinyControl30
{
	width: 60px;
}
fieldset table td.tinyControl30 .cust-textbox
{
	width: 30px;
}

fieldset table td.tinyControl30leftmargin
{
	width: 60px;
	padding-left: 8px;
}
fieldset table td.tinyControl30leftmargin .cust-textbox
{
	width: 30px;
}

fieldset table td.tinyControl35
{
	width: 70px;
}

fieldset table td.tinyControl35 .cust-textbox
{
	width: 40px;
}

fieldset table td.labeldescription
{
	padding: 3px 10px 0px 0px;
	text-align: left;
	text-transform: lowercase;
	font-size: 12px;
	font-weight: normal;
}

.divbox
{
	/*background:url(../images/div_Topbg.gif) top repeat-x;*/
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0 0 10px 0;
	border: 1px solid #becce9;
}
/*
.divbox div.r 
{
	background:url(../images/div_rtbg.gif) right repeat-y;
}

.divbox div.r div.rt
{
	background:url(../images/div_toprt.gif) top right no-repeat;
}

.divbox div.r div.rt div.b
{
	background:url(../images/div_btmbg.gif) bottom repeat-x;
}

.divbox div.r div.rt div.b div.br
{
	background:url(../images/div_btmrt.gif) bottom right no-repeat;
	padding:10px 10px 10px 7px;
}*/
.divbanner
{
	color: #354c78;
}

/* Commented by Vijay as new styles has been defined.
.divbanner .menu
{
	color:#FFFFFF;
	height:38px;
}

.divbanner .menu a
{
	background-color:#becce9;
	color:#5b72a4;
	display:block;
	text-decoration:none;
	float:left;
	height:26px;
	padding:8px 15px 0 15px;
	margin:4px 0px 0 10px;
	font-weight:bold;


}

.divbanner .menu a.active
{
	
	color:#FFFFFF;
background-color:#869ccb;
	
}


.divbanner .Goalbar
{
	background-color:#869ccb;
	color:White;
	color:#354c78;
	padding:5px;
	text-align:right;
	font-weight:bold;
	
}
*/


.divbanner .Goalbar span
{
	padding: 5px 15px 5px 10px;
}

.divbannerbody
{
	background-color: #869DC9;
	padding: 10px 10px 10px 10px; /*border:1px solid #becce9;*/
	color: White;
}

.divbannerbody h1
{
	margin: 0;
	padding: 0;
	color: White;
}
.divbannerbody fieldset
{
	color: White; /*width:300px;*/
}
.divbannerbody fieldset table
{
	margin: auto;
}
.divbannerbody fieldset table td table
{
	margin: 0px;
}

.divbannerbody fieldset .BtnBgSubmit
{
	margin-left: 0;
}

/*Added on 21-jul-08 */
.divbannerAuthorize
{
	background: #869ccb url(../images/Banner_Authorize_Image.gif) top right no-repeat;
	height: 168px;
}

.divbannerAuthorizebody
{
	color: #ffffff;
	margin: auto auto auto 50px;
	padding-top: 25px;
	width: 300px;
}
/* end */

/*End added by vijay*/


.DataViewRange
{
	background-color: #869ccb;
	margin: 10px 0 0 0;
	padding: 10px;
	color: #5b72a4;
}
.DataViewRange table
{
}
.DataViewRange td
{
	padding-right: 20px;
}
.DataViewRange td .BtnBgSubmit
{
	margin: 0px;
}

/* Styles added by Vijay for Item pages */

.divbannerbodyWeight
{
	background-color: #869ccb;
	padding: 10px; /*border:1px solid #becce9;*/
	color: White;
}

.divbanner .divWeightbannerbody
{
	background: #849fce url(../images/Banner_Left_Bg.gif) no-repeat top 0;
	height: 192px;
	color: #333333;
	padding: 0px 30px 0px 180px;
	float: left;
	height: 193px;
}

.divbanner table td.tableWeightbannerbody
{
	background: #ffffff url(../images/WeightBannerBg.jpg) repeat-y right;
	color: #333333;
	vertical-align: top;
}

.divbanner table td.tableWeightbannerbody .tableWeightbannerImg
{
	background: transparent url(../images/WeightBannerImage.gif) no-repeat top left;
	padding: 10px 30px 10px 180px;
	color: #333333;
}


.divbanner td.tableWeightbannerbody h1
{
	font-size: 18px;
	font-weight: bold;
	color: #CE2931;
	margin: 25px 10px 0px 0px;
	text-transform: uppercase;
}
.divbanner table td.tableWeightbannerbodyinner
{
	background: #6f84b1 url(../images/Tip_Bg.gif) no-repeat top left;
	border-left: 10px solid #849fce;
	padding: 10px;
	width: 178px;
}


.divWeightbannerbodyinner
{
	/*background:#edf0f7 url(../images/Banner_Inner_Bg.gif) repeat-y top left;*/
	background-color: White;
	width: 327px;
	padding: 10px;
	color: #333333;
}
.divbanner .divWeightbannerbodyinner a
{
	color: #333333;
}
.divbanner .divWeightbannerbodyinner h1
{
	font-size: 18px;
	font-weight: bold;
	color: #CE2931;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}

.divbanner .divbannerright
{
	background: url(../images/Banner_Right_Bg.gif) repeat-x;
	width: 290px;
	color: #ffffff;
	font-weight: normal;
	padding: 10px;
	border-left: 10px solid #869ccb;
	margin: auto;
	vertical-align: top;
}

.divbanner .divbannerright fieldset table
{
	margin: auto;
}
.divbanner .divbannerright fieldset table td table
{
	margin: 0;
}
.divbanner .divbannerrightSmall
{
	background: #6f84b1 url(../images/Banner_Right_Bg.gif) repeat-x;
	float: right;
	width: 200px;
	color: #ffffff;
	font-weight: normal;
	padding: 0px 10px 0px 0px;
	margin-left: 10px;
}

.divbanner .divbannertip
{
	background: #6f83b2 url(../images/Tip_Bg.gif) no-repeat;
	width: 199px;
	color: #ffffff;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	margin: auto;
	vertical-align: top;
	border-left: 10px solid #869ccb;
}

.divbanner .divbannertip p
{
	margin: 12px;
	text-align: center;
	color: #ffffff;
	font-weight: normal;
}

.divbanner .divbannertip h1
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	text-transform: uppercase;
	margin: 18px auto 5px 22px;
	vertical-align: top;
}

.BtnBgSubmitLeft
{
	background-image: url(../images/Btn_Bg_Submit.png);
	_background-image: url(../images/Btn_Bg_Submit.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftBlue
{
	background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	_background-image: url(../images/Btn_Bg_Submit_Blue.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftDeepBlue
{
	background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	_background-image: url(../images/Btn_Bg_Submit_DBlue.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

.BtnBgSubmitLeftWhite
{
	background-image: url(../images/Btn_Bg_Submit_White.gif);
	_background-image: url(../images/Btn_Bg_Submit_White.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 24px;
	text-align: center;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: left;
	border: none;
	outline: none;
}

fieldset table td.labellong
{
	width: 100px; /*border-top: 1px dotted red;*/
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

.divbanner .menu
{
	color: #FFFFFF;
	height: 38px;
	text-transform: uppercase;
}

.divbanner .menu a
{
	background-color: #abbad9;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	float: left;
	height: 26px;
	padding: 8px 15px 0 15px;
	margin: 4px 2px 0 3px;
	font-weight: bold;
}

.divbanner .menu a.active
{
	background-color: #becce9;
}

.divbanner .Goalbar
{
	background-color: #becce9;
	color: #354c78;
	padding: 5px;
	text-align: right;
	font-weight: bold;
}
/* end styles */


/********** Validation Styles *******************/
.validation_summary
{
}

.validation_summary div
{
	border: 1px solid;
	padding: 2px;
	background-color: #FFCCBA;
	color: #D63301;
	background-image: url(  '../images/error_msg.gif' );
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: inherit;
}

.validation_summary div ul
{
	margin-top: 20px;
	margin-left: 42px;
	margin-bottom: 5px;
	padding-left: 10px;
	list-style-type: circle;
}

.validation_summary div ul li
{
	margin-left: 0px;
	color: #D63301;
}


/********** End Validation Styles *******************/

.contexthelp
{
	z-index: 100;
	position: absolute;
	color: #666666;
	background-color: #FEFEFE;
	font-family: Arial;
	font-size: 11px;
	padding: 10px;
	border: 1px solid #999999;
}

/* Styles for the comments */
.comment
{
	background: transparent url(  '../images/Comment_Top.gif' ) no-repeat top right;
	padding: 12px 0px 10px 0px;
	width: 420px;
}

.comment div
{
	background: transparent url(  '../images/Comment_bottom.gif' ) no-repeat bottom right;
	padding: 0px 0px 12px 0px;
}

.comment div div
{
	background: transparent url(  '../images/Comment_middle.gif' ) repeat-y top right;
	padding: 3px 5px 3px 5px;
}

.comment div div div
{
	background: transparent url(  '../images/Comment_arrow.gif' ) no-repeat top left;
	padding: 10px 10px 10px 50px;
}

.comment-Sml
{
	background: transparent url(  '../images/Comment_Top_Sml.gif' ) no-repeat top right;
	padding-top: 12px;
	width: 250px;
}

.comment-Sml div
{
	background: transparent url(  '../images/Comment_bottom_Sml.gif' ) no-repeat bottom right;
	padding: 0px 0px 12px 0px;
}

.comment-Sml div div
{
	background: transparent url(  '../images/Comment_middle_Sml.gif' ) repeat-y top right;
	padding: 3px 5px 3px 5px;
}

.comment-Sml div div div
{
	background: transparent url(  '../images/Comment_arrow.gif' ) no-repeat top left;
	padding: 10px 10px 10px 50px;
}
/* end styles for the comments */

/* styles for content widgets */
.divBP
{
	background: transparent url(  '../images/BP.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divHeart
{
	background: transparent url(  '../images/Heart.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divExercise
{
	background: transparent url(  '../images/Exercise.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divCholesterol
{
	background: transparent url(  '../images/Cholesterol.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divDiabetes
{
	background: transparent url(  '../images/Diabetes.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divDiet
{
	background: transparent url(  '../images/Diet.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
}

.divWeight
{
	background: transparent url(  '../images/Weight.gif' ) top no-repeat;
	width: 244px;
	height: 314px;
	padding: 10px 0px 0px 0px;
}

.divslidelist
{
	font-size: 13px;
	margin: 0px;
	padding: 50px 0px 0px 50px;
	line-height: 2em;
}

.divslidelist a
{
	color: #000000;
}
/* end styles for content widgets */

/* style for the iframe and progress bar */
.AHAIFrame
{
	border: solid 3px #CCCCCC;
	display: none;
	overflow: hidden;
}

/* end style for the iframe and progress bar */

/* styles for multiline textbox */
div.Multiline-Container
{
}
div.Multiline-Container div.Box-left
{
	background: transparent url(../images/Multiline_topleft.png) no-repeat;
	_background: transparent url(../images/Multiline_topleft.gif) no-repeat;
	display: block;
}
div.Multiline-Container div.Box-right
{
	background: transparent url(../images/Multiline_topright.png) no-repeat right top;
	_background: transparent url(../images/Multiline_topright.gif) no-repeat right top;
	padding-left: 12px;
	padding-right: 12px;
}

div.Multiline-Container div.Box-middle
{
	background: transparent url(../images/Multiline_top.png) top repeat-x;
	_background: transparent url(../images/Multiline_top.gif) top repeat-x;
	overflow: hidden;
	height: 13px;
}

div.Multiline-Container div.Box-middle-left
{
	background: transparent url(../images/Multiline_middle_left.png) repeat-y left;
	_background: transparent url(../images/Multiline_middle_left.gif) repeat-y left;
	display: block;
}
div.Multiline-Container div.Box-middle-right
{
	background: transparent url(../images/Multiline_middle_right.png) repeat-y right;
	_background: transparent url(../images/Multiline_middle_right.gif) repeat-y right;
	padding-left: 12px;
	padding-right: 12px;
}
div.Multiline-Container div.Box-middle-middle
{
	/*border:1px solid #ff00ff;*/
	background-color: #FFFFFF;
}

div.Multiline-Container div.Box-middle-middle textarea
{
	/*border:1px solid #ff00ff;*/
	border: none;
	width: 100%;
	margin-right: -10px;
}

div.Multiline-Container div.Box-bottom-left
{
	background: transparent url(../images/Multiline_btmleft.png) no-repeat bottom left;
	_background: transparent url(../images/Multiline_btmleft.gif) no-repeat bottom left;
	display: block;
}
div.Multiline-Container div.Box-bottom-right
{
	background: transparent url(../images/Multiline_btmright.png) no-repeat bottom right;
	_background: transparent url(../images/Multiline_btmright.gif) no-repeat bottom right;
	padding-left: 11px;
	padding-right: 11px;
}

div.Multiline-Container div.Box-bottom-middle
{
	height: 11px;
	background: transparent url(../images/Multiline_bottom.png) repeat-x top;
	_background: transparent url(../images/Multiline_bottom.gif) repeat-x top;
	overflow: hidden;
}
/* end styles for multiline textbox */



/*********** Context Help *******************/


._contexthelp
{
	z-index: 100;
	position: absolute;
	color: #0E0E0E;
	background-color: #ffffcc;
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #0E0E0E;
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	opacity: .75;
	width: auto;
	height: auto;
}




/* Styles for the comments */

.contexthelp
{
	z-index: 100;
	background: transparent url(../images/blue-roundedbox-top.png) no-repeat top right;
	_background: transparent url(../images/blue-roundedbox-top.gif) no-repeat top right;
	padding-top: 8px;
	width: 300px;
	position: absolute;
	border: none;
}

.contexthelp div
{
	background: transparent url(../images/blue-roundedbox-bottom.png) no-repeat bottom right;
	_background: transparent url(../images/blue-roundedbox-bottom.gif) no-repeat bottom right;
	padding: 0px 0px 20px 20px;
	margin-right: -10px;
	position: relative;
}

.contexthelp div div
{
	border-left: 2px solid #5B72A4;
	border-right: 2px solid #5B72A4;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: none;
}

.contexthelp div div div
{
	background: none;
	background-color: #ffffff;
	border: none;
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
}


/*********** End Context Help *******************/
.linkwhite
{
	color: #ffffff;
}

.AutoSuggestHighlight
{
	color: #FFFFFF;
	background-color: #3366cc;
}

.AutoSuggestItem
{
	color: #000000;
    background-color: #FFFFFF;
}


/********Styles by Arun, please ask before modifying******************************/
.DivProgressBar
{
	position: absolute;
	left: 0px; 
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	display:none;
}

div > div.DivProgressBar { position: fixed; }

.DivMask
{
	position: absolute; 
	left: 0px; 
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	padding-top: 10px;
	height:100%;
	display:none;
}

div > div.DivMask { position: fixed; }


.DivPopupContainer
{
	position: absolute; 
	z-index:10040;
	top: 100px;
	background-color: #FFFFFF;
	border: solid 3px #CCCCCC;
    display: none;
	left: 200px;
}

div > div.DivPopupContainer { position: fixed; }
/********Styles by Arun, please ask before modifying******************************/
.inline-block
{
	display: -moz-inline-stack;
	display: inline-block;
}