﻿body
{
	margin: 0;
	border: 0;
	font-family: Arial,Verdana, Helvetica, sans-serif !important;
	font-size: 12px;
	color: #666;
	line-height:18px;
}
#header
{
	height: 110px;
}


#ahaLogo
{
	float: left;
	height: 90px;
	width: 188px;
	margin-top: 15px;
	margin-left: 35px;
}

#threesixtyLogo
{
	float: left;
	height: 39px;
	width: 428px;
	margin-top: 60px;
	margin-left: 0px;
}

#redbar
{
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	background: #666;
}
.printWrapper
{
	width: 740px;
	margin: 0 auto;
}

.ahagrid
{
	margin-bottom: 40px;
	font-size:12px;
}


.ahagrid th
{
	font-weight: bold;
	font-size: 12px;
	color: #000;
	background-color: #ddd;
	margin-bottom: 5px;
	border: solid 1px #999;
	border-right-color:#999;
	text-align: left;
	padding:5px;
}

.ahagrid .first,.provider-grid .first
{
	border-left: solid 1px #999;
}

.ahagrid tbody td,.first  tbody td
{
	border: solid 1px #999;
	background-color: #FFF;
	line-height: 16px;
	padding: 5px;
	color:#000;
}



.ahagrid a,.provider-grid a
{
	color: #666;
	text-decoration: none;
}

.ahagrid a:hover,.provider-grid a:hover
{
	text-decoration: underline;
}


h1
{
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0 ;
}
.printfooter
{
	border-top:1px dotted #666;
	padding:10px;
	font-size:11px;
	color:#888;
	margin-top:20px;
}

.content
{
	
	padding:0 10px;
}

.chart img{
	border: solid 1px #dedede;
	clear:left;

}
.printer-header
{
	

	padding:10px 5px 0  0 ;
	background:url(/images/printer-frame.png) repeat-x 0 bottom ;
	height:60px;
	

}
.printer-header a
{
	float:right;
}
.printer-header .print
{
	background:url(/images/print-this-page.png) no-repeat 0 0 ;
	height:39px;
	width:133px;
	display:block;
	overflow:hidden;	text-indent:-999px;

	float:right;
	
}
html body .provider-grid.borderfill
{
	border: 1px solid #dedede;	
	border-width: 1px 0 0 1px !important;
	margin-top: 10px 0px !important;	
	font-size: 11px;
	

	
}
html body .provider-grid.borderfill th
{
	font-size:12px;
	color:#000;
	border:none;
	padding:5px;
	border: 1px solid #dedede;	
	border-width: 0 1px 0  0 !important;
	background:#f5f5f5;
}
html body .provider-grid.borderfill td
{
	padding:5px;
	border: 1px solid #dedede;	
	border-width: 0 1px 1px 0 !important;
}
.bigDateTime
{
	width:50%;
}
h2{ margin:10px 0 7px; font-size:18px; font-weight:normal;}
.list td
{
	padding:5px 10px 0 0;
	font-size:12px;
}
.list .label
{
	font-weight:bold;
}
.hr{ height:1px; background:#999; margin:20px 0; }

.aha-small-button
{
	display: -moz-inline-stack;
	display: inline-block;
	height: 28px;
	background: url(/images/aha-small-bu-bg.png) repeat-x 0 0;
	cursor: pointer;
	text-decoration: none;
	font-size: 11px;
	line-height:normal;
}
.aha-small-button:hover
{
	background: url(/images/aha-small-bu-bg-hover.png) repeat-x 0 0;
	text-decoration:none !important;
	
}
.aha-small-button em
{
	display: -moz-inline-stack;
	display: inline-block;
	padding: 7px 13px 0 13px;
	background: url(/images/aha-small-bu-l.png) no-repeat 0 0;
	height: 24px;
	font-style: normal;
	font-size: 11px;
}
.aha-small-button:hover em
{
	background: url(/images/aha-small-bu-l-hover.png) no-repeat 0 0;
}


.aha-small-button.with-arrow em
{
	padding: 6px 22px 0 13px;
	line-height:normal;
}
.aha-small-button strong
{
	display: -moz-inline-stack;
	display: inline-block;
	background: url(/images/aha-small-bu-r.png) no-repeat right 0;
	color: #fff;
	height: 28px;

	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	line-height:normal;
}
.aha-small-button.with-arrow strong
{
	background: url(/images/a-aha-small-bu-r.png) no-repeat right 0 !important;
}
.aha-small-button:hover strong
{
	background: url(/images/aha-small-bu-r-hover.png) no-repeat right 0;
}
.aha-small-button.with-arrow:hover strong
{
	background: url(/images/a-aha-small-bu-r-hover.png) no-repeat right 0 !important;
}

.word-wrap
{
	word-wrap: break-word;
}