
/* CSS Document - AHA Heart 360 */

.logo{
    margin: 4px 0px 4px 0px;
}

.DivProgressBar
{
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	display: none;
}

div > div.DivProgressBar
{
	position: fixed;
}

.DivMask
{
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	background-color: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	z-index: 10020;
	width: 100%;
	padding-top: 10px;
	height: 100%;
	display: none;
}

div > div.DivMask
{
	position: fixed;
}


.DivPopupContainer
{
	position: absolute;
	z-index: 10040;
	top: 100px; /*background-color: #FFFFFF;*/ /*border: solid 3px #CCCCCC;*/
	display: none;
	left: 200px;
}

div > div.DivPopupContainer
{
	position: fixed;
}

.DivConsent
{
	width: 580px;
	height: 300px;
	overflow: auto;
	border: 2px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 5px;
}

html body .validation_summary div
{
	border: 1px solid #CE2930;
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
	background: #CE2930 url(../images/error-icon.png) no-repeat 6px 6px;
	padding: 13px 10px 5px 45px;
	margin-bottom: 10px;
}
.validation_summary div ul
{
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	line-height: normal;
	margin-left: 13px;
	margin-top: 5px;
}
.validation_summary div ul li
{
	padding-bottom: 5px;
	margin: 0;
}

/* for borderless image on graph */
img
{
	border: 0;
}
a
{
	color: #666;
}
a:hover
{
	color: #666;
	text-decoration: none;
}
.hr
{
	border-top: 1px solid #ddd;
	height: 1px;
	overflow: hidden;
	margin: 0px 0px 10px;
}
.borderless_imagetable
{
	border: none;
	outline: none;
}

.borderless_imagetable img
{
	border: none;
	outline: none;
}


.borderless_imagetable table
{
	border: none;
	outline: none;
}

.header-holder
{
	min-width: 1035px;
}
.bubble
{
	border: 1px solid #999999;
	padding: 3px;
	text-align: center;
	background-color: #ffffcc;
}
/* end for borderless image on graph */
.normal, html body .normal
{
	font-weight: normal !important;
}
.popupmask
{
	position: absolute;
	background: black;
	width: 100%;
	z-index: 10500;
	display: none;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.translucentmask
{
	position: absolute;
	background: #FFFFFF;
	width: 100%;
	z-index: 10499;
	display: none;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: .70;
	opacity: .70;
}
/********End Styles by Arun, please ask before modifying******************************/

body
{
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	color: #666666;
	line-height: 18px;
	margin: 0 auto; /*background-color: #ededed !important;*/
	background-color: #fff !important;
}
textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: inherit;
}

#site
{
	text-align: left;
	width: 1038px;
	margin: 0 auto;
}


#header
{
	text-align: left;
	width: 1038px;
	background: url(../images/bg/bg_strip_white.gif?Version=2);
}


#headerLinks
{
	float: right;
	margin-top: 15px;
	margin-left: 150px;
	height: 31px;
	width: 300px;
	position: relative;
	padding-right: 45px;
	text-align: right;
	vertical-align: top;
	font-size: 12px;
	color: #666666;
}

#headerLinks a
{
	color: #666666;
	text-decoration: none;
	font-size: 11px;
}


#ahaLogo
{
	float: left;
	height: 90px;
	width: 188px;
	margin-top: 15px;
	margin-left: 35px;
}

#threesixtyLogo
{
	float: left;
	height: 39px;
	width: 428px;
	margin-top: -8px;
	margin-left: 0px;
}

.redbar
{
	background: #CE2930;
	color: #FFFFFF;
	font-size: 12px;
	margin-left: 18px;
	margin-right: 18px;
	height: 27px;
	width: 982px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	font-weight: bold;
	margin-right: 20px;
	padding-left: 20px;
	line-height: 18px;
	font-size: 12px;
}
.redbarmenu
{
	position: absolute;
	left: 0;
	top: 0;
	padding-bottom: 10px;
}
.redbarmenu:hover .redbarmenuHead
{
	color: #ECAEAE;
}
.redbarmenuHead
{
	height: 22px;
	padding-top: 5px;
}
.redbarmenu
{
}
.redbarmenu a
{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 3px 10px 0 7px;
}
.redbarmenu a:hover
{
	color: #ECAEAE;
}

.redbarmenu a.current
{
	color: #ecaeae;
	text-decoration: none;
}

.redbarsubmenu a
{
	padding-left: 10px;
	padding-bottom: 5px;
	background: #CE2930;
	width: 188px;
	overflow: hidden;
}
.redbarmenuContainer
{
	position: relative;
	float: left;
	height: 27px;
	width: 220px;
	z-index: 10000;
	margin-left: 5px;
}

.redMenuBottomLeft
{
    float: left;
	height: 15px;
	width: 20px;
	background: url(/images/dropdown-bottom.png) no-repeat left 0;
}
.redMenuBottom
{
    float: left;
	height: 15px;
	width: 168px;
	background: #CE2930;
}
.redMenuBottomRight
{
    float: left;
	height: 15px;
	width: 20px;
	background: url(/images/dropdown-bottom.png) no-repeat right 0;
}

.redbar-tl-curve
{
	height: 21px;
	width: 22px;
	background: url(/images/dropdown-tl-curve.png) no-repeat 0 0;
	position: absolute;
	left: -17px;
	top: 21px;
}
.redbar-tr-curve
{
	height: 21px;
	width: 22px;
	position: absolute;
	right: -17px;
	top: 21px;
	background: url(/images/dropdown-tr-curve.png) no-repeat 0 0;
}
/*
#redbar
{
	
	width: 1002px;
	background: #ce2930 url(../images/menu-h-line.gif) repeat 0 0;
	margin-left: 18px;
	margin-right: 18px;
	color: #FFFFFF;
	font-size: 12px;
	min-height:30px;


}
#redbar a
{ 
	float:left;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	padding:5px 10px 0 10px;
	height:25px;

	font-size:11px;
	background:  url(../images/menu-sep-line.gif) no-repeat right 0;
}

#menu
{
	vertical-align: baseline;
	padding-right: 15px;
	padding-top: 3px;
	padding-left: 32px; /*width: 420px;*//*
	width: 480px;
	float: left;
}

#menu a
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11.5px;
	text-decoration: none; /*margin-right: 25px;*//*
	margin-right: 20px;
}

#redbar a.current
{
	color: #ecaeae;
	text-decoration: none;
}
*/
#menu a.last
{
	margin-right: 0px;
}

#menu a:hover
{
	color: #ecaeae;
}

#signin
{
	text-align: right;
	padding-top: 3px; /*width: 490px;*/
	width: 200px;
	padding-right: 30px;
	float: right;
	font-weight: normal;
	height: 24px;
	line-height: 18px;
	font-size: 12px;
}

#signin a
{
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: baseline;
	font-weight: normal;
}

.greybar
{
	/* 	background-color: #eaeaea; 	width: 1002px; 	position: absolute; 	top: -1px; 	left: 18px; 	font-size: 9px; 	line-height: 20px; 	*/ /*Per Rahshia: Grey bar is "tight"*/
	background-color: #EAEAEA;
	font-size: 12px;
	width: 992px;
	margin-left: 18px;
	margin-right: 18px;
	padding: 10px 5px;
	color: Black;
	text-align: right;
}
.greybar a
{
	color: #000;
	margin-right: 10px;
}
.greybar #subnav
{
	margin-left: 32px;
}
.greybar .feedback
{
	margin-right: 30px;
	font-size: 11px;
}

.greybar #subnav .currentPage
{
	color: #000;
}

#contentWrapper
{
	background: url(../images/bg/bg_strip_white.gif?Version=1);
	float: left;
}

.content
{
	position: relative;
	width: 1038px;
	float: left;
	background-image: url(../images/bg/bkgd_01_white_blank.jpg?Version=2);
	background-position: bottom;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 90px;
	min-height: 450px;
}

.content.special
{
	background-image: url(../images/bg/bkgd_01_white_no_bg.jpg?Version=1) !important;
}

.home1
{
	background-image: url(../images/bg/homepic_01_white.jpg?Version=1) !important;
}

.home2
{
	background-image: url(../images/bg/homepic_02_white.jpg?Version=1) !important;
}

.myHome
{
	background-image: url(../images/bg/myhomepic_01_white.jpg?Version=1) !important;
}

.copyBox
{
	margin: 0 50px;
	font-size: 12px;
	color: #666666;
	line-height: 16px; /*added by arun*/
	margin-top: 15px; /*added by arun*/
}
.copyBoxNew
{
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #666666;
	line-height: 16px; /*added by arun*/
	margin-top: 15px; /*added by arun*/
}

.myProfileCopy
{
	width: 740px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 25px;
}

.learnMore a
{
	color: #000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
}

.learnMore a:hover
{
	text-decoration: underline;
}

.def
{
	width: 540px;
	border: solid 1px #dedede;
	padding: 20px;
	font-size: 11px;
	margin-top: 20px;
	display: none;
}

.featureBox
{
	width: 324px;
	height: 130px;
	float: left;
	margin-left: 50px;
	margin-right: 150px;
	margin-top: 15px;
}

#f1
{
	background-image: url(../images/bg/signup_bg.png?Version=1);
}

#f2
{
	background-image: url(../images/bg/watchvideo_bg.png?Version=1);
}

.featureCopy
{
	width: 210px;
	height: 100px;
	float: left;
	margin-left: 15px;
	padding-right: 30px;
	margin-top: 15px;
	font-size: 12px;
	color: #000000;
	font-weight: bolder;
	line-height: 16px;
	letter-spacing: -0.7px;
}

.featureCopy .btn
{
	margin-top: 8px;
}

.bottomFeature
{
	height: 50px;
	float: left;
	margin-left: 50px;
	margin-right: 0px;
	padding-right: 0px;
	margin-top: 15px;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
}

#rightBox
{
	width: 220px;
	float: right; /*	margin: 5px 45px 65px 10px;*/
	margin: 25px 45px 65px 10px;
	background-image: url(../images/textbox.png);
	position: relative;
	padding: 15px;
	border: solid 1px #dedede;
}

#rightBox h3
{
	color: #ce2931;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px;
	margin-bottom: 8px;
	border-bottom: 1px solid #dedede;
}

#rightBox .line
{
	margin: 5px 0px 8px 0px;
	width: 100%;
}

#rightBox .links
{
	list-style: none;
	line-height: 16px;
	margin-bottom: 20px;
}

#rightBox .links li
{
	margin-bottom: 8px;
}

#rightBox a
{
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	position: relative;
}

#rightBox a:hover
{
	text-decoration: underline;
}

#healthVault
{
	width: 250px;
	position: absolute;
	bottom: 75px;
	right: 45px;
	font-size: 10px;
	text-align: right;
	line-height: 13px;
}

#healthVault a
{
	color: #666;
}

#categoryContainer
{
	width: 585px;
	height: 110px;
	float: left;
	margin: 0px 5px 5px 45px;
	padding-left: 5px;
}

#categoryContainer a
{
	width: 182px;
	height: 50px;
	float: left;
	margin-right: 3px;
	position: relative;
	background-repeat: no-repeat;
	cursor: pointer;
}

.category1
{
	background-image: url(../images/categories/blood_pressure.png);
}

.category1_on
{
	background-image: url(../images/categories/blood_pressure_on.png);
}

.category2
{
	background-image: url(../images/categories/cholesterol.png);
}

.category2_on
{
	background-image: url(../images/categories/cholesterol_on.png);
}

.category3
{
	background-image: url(../images/categories/blood_glucose.png);
}

.category3_on
{
	background-image: url(../images/categories/blood_glucose_on.png);
}

.category4
{
	background-image: url(../images/categories/medication.png);
}

.category4_on
{
	background-image: url(../images/categories/medication_on.png);
}

.category5
{
	background-image: url(../images/categories/weight.png);
}

.category5_on
{
	background-image: url(../images/categories/weight_on.png);
}

.category6
{
	background-image: url(../images/categories/physical_activity.png);
}

.category6_on
{
	background-image: url(../images/categories/physical_activity_on.png);
}

.line
{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	border-top: solid 1px #cfcfcf;
	width: 635px;
}

.readings
{
	width: 275px;
	height: 170px;
	float: left;
	margin-left: 335px;
	padding-top: 20px;
	padding-left: 13px;
	background-image: url(../images/bg/readingsBkgd.png?Version=1);
	background-repeat: no-repeat;
	vertical-align: middle;
}

.readings .line
{
	margin: 5px 0px 8px 0px;
	width: 240px;
	height: 1px;
	overflow: hidden;
}

.readings table
{
	float: left;
}

.readings table td
{
	height: 21px;
	font-size: 11px;
	color: #585555;
	line-height: 14px;
	letter-spacing: -0.3px;
}

.readings .readingCategory
{
	font-size: 11.5px;
	color: #000000;
}

.record
{
	width: 600px;
	float: left;
	margin-left: 50px;
	margin-bottom: 20px;
}


#recordSelect
{
	margin-top: 4px;
	float: left;
	width: auto;
}

.record .tableTitle
{
	font-size: 12px;
	font-weight: bold;
	color: #000;
	float: left;
}

.addReading
{
	background-image: url(../images/add_reading.png);
	background-repeat: no-repeat;
	position: relative;
	width: 101px;
	height: 26px;
	display: block;
	float: right;
	cursor: pointer;
}

.addReading:hover
{
	background-image: url(../images/add_reading_over.png);
}

#addGoal
{
	background-image: url(../images/add_goal.png);
	background-repeat: no-repeat;
	position: relative;
	width: 82px;
	height: 26px;
	margin-left: 10px;
	display: block;
	float: right;
	cursor: pointer;
}

#addGoal:hover
{
	background-image: url(../images/add_goal_over.png);
}

.addMedication
{
	background-image: url(../images/add_medication.png);
	background-repeat: no-repeat;
	position: relative;
	width: 117px;
	height: 26px;
	margin-left: 10px;
	display: block;
	float: right;
	cursor: pointer;
}

.addMedication:hover
{
	background-image: url(../images/add_medication_over.png);
}

.saveGoal
{
	background-image: url(../images/save.png);
	background-repeat: no-repeat;
	position: relative;
	width: 70px;
	height: 26px;
	display: block;
	cursor: pointer;
	margin-top: 7px;
	margin-right: 10px;
	float: right;
}
.newRecord .saveGoal
{
	margin-top: 3px;
	margin-right: 0px;
	float: none;
}
.saveGoal:hover
{
	background-image: url(../images/save_over.png);
}
.cancelGoal
{
	background-image: url(../images/cancel-bu.png);
	background-repeat: no-repeat;
	position: relative;
	width: 70px;
	height: 26px;
	margin-top: 7px;
	margin-right: 0px;
	display: block;
	float: right;
	cursor: pointer;
}

.cancelGoal:hover
{
	background-image: url(../images/cancel-bu-over.png);
}

#saveRecord
{
	background-image: url(../images/save.png);
	background-repeat: no-repeat;
	position: relative;
	width: 70px;
	height: 26px;
	display: block;
	margin: auto;
	cursor: pointer;
}

#saveRecord:hover
{
	background-image: url(../images/save_over.png);
}

.signUp
{
	background-image: url(../images/sign_up.png);
	background-repeat: no-repeat;
	position: relative;
	width: 106px;
	height: 39px;
	margin-top: 7px;
	display: block;
	cursor: pointer;
}

.signUp:hover
{
	background-image: url(../images/sign_up_over.png);
}

#watchVideo
{
	background-image: url(../images/watch_video.png);
	background-repeat: no-repeat;
	position: relative;
	width: 140px;
	height: 39px;
	margin-top: 7px;
	display: block;
	cursor: pointer;
}

#watchVideo:hover
{
	background-image: url(../images/watch_video_over.png);
}

.textLinks
{
	padding-right: 4px;
	float: right;
	clear: right;
	width: 200px;
	text-align: right;
	margin-bottom: 4px;
}

.textLinks a
{
	text-decoration: none;
	color: #333;
	font-size: 10px;
	margin-left: 10px;
}

.textLinks a:hover
{
	text-decoration: underline;
}

.goalBox
{
	width: 600px;
	height: 40px;
	position: relative;
	background-image: url(../images/bg/goal_bg.gif?Version=1);
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 8px;
}

.editGoal
{
	background-image: url(../images/bg/edit_goal_bg.gif?Version=1) !important;
}

.goalEx
{
	width: 22px;
	height: 42px;
	position: absolute;
	left: -4px;
	top: -4px;
	background-image: url(../images/goal_ex.png);
	background-repeat: no-repeat;
}

.goalBox .goalText
{
	float: left;
	color: #fff;
	margin-left: 22px;
	margin-top: 10px; /*line-height: 40px;*/
	font-weight: bold;
	font-size: 12px;
}
.goalBox .goalText *
{
	vertical-align: bottom;
}

.goalText i
{
	font-style: normal;
	color: #deebfe;
	font-size: 10px;
}
.goalBox .goalText a
{
	color: #CE2930;
}
.goalBox .goalText a:hover
{
	text-decoration: none;
}

.goalBox .goalLinks
{
	float: right;
	margin-right: 10px;
	line-height: 40px;
	color: #fff;
}

.goalBox .goalLinks a
{
	color: #fff;
	text-decoration: none;
}

.goalBox .goalLinks a:hover
{
	text-decoration: underline;
}

.record .table
{
	text-align: center;
	float: left;
}
.record .table .table-page-index td
{
	min-height: 20px;
}
.record .table .table-page-index table
{
	float: right;
}
.record .table .table-page-index table td
{
	border: 1px none red;
	font-weight: bold;
}
.record .table .table-page-index table td a
{
	color: #CE2930;
	text-decoration: underline;
}
.record .table thead
{
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	background-color: #dedede;
	margin-bottom: 5px;
}

.record .table th
{
	border-right: solid 1px #FFF;
	padding: 3px;
	background-color: #DEDEDE;
}
.record .table textarea
{
	font-size: 10px;
	font-family: Arial;
	height: 30px;
}

.record .table .first
{
	border-left: solid 1px #dedede;
}

.record .table tbody td
{
	border: solid 1px #dedede;
	border-left: none;
	border-bottom: none;
	background-color: #FFF;
	line-height: 16px;
	padding: 3px;
	vertical-align: top;
}

.record .table .space
{
	background: none;
	border: none;
	height: 8px;
}

.record .table a
{
	color: #666;
	text-decoration: none;
}

.record .table a:hover
{
	text-decoration: underline;
}

.record .table .newRecord td
{
	background-color: #f0c0c0;
	white-space: nowrap;
}
.record .table .newRecord a
{
	color: #000;
}

html .record table.tableList
{
	border: solid 1px #dedede !important;
}
.record input
{
	height: 12px;
	font-size: 10px;
}
.record select
{
	font-size: 10px;
}
#resourcesFlash
{
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}

.continue
{
	background-image: url(../images/continue.png);
	background-repeat: no-repeat;
	position: relative;
	width: 197px;
	height: 39px;
	display: block;
	cursor: pointer;
}

.continue:hover
{
	background-image: url(../images/continue_over.png);
}

.createReport
{
	background-image: url(../images/create_report.png);
	background-repeat: no-repeat;
	position: relative;
	width: 155px;
	height: 39px;
	display: block;
	cursor: pointer;
	margin-top: 20px;
	margin-left: -4px;
}

.createReport:hover
{
	background-image: url(../images/create_report_over.png);
}

.saveProfile
{
	background-image: url(../images/save_profile.png);
	background-repeat: no-repeat;
	position: relative;
	width: 84px;
	height: 39px;
	display: block;
	cursor: pointer;
	margin-top: 20px;
	margin-left: -4px;
	float: left;
}

.saveProfile:hover
{
	background-image: url(../images/save_profile_over.png);
}

#learnMore
{
	background-image: url(../images/learn_more.png);
	background-repeat: no-repeat;
	position: relative;
	width: 100px;
	height: 26px;
	display: block;
	cursor: pointer;
	margin-top: 20px;
}

#learnMore:hover
{
	background-image: url(../images/learn_more_over.png);
}

.accept
{
	background-image: url(../images/accept.png);
	background-repeat: no-repeat;
	position: relative;
	width: 107px;
	height: 39px;
	display: block;
	cursor: pointer;
	margin-left: -4px;
	float: left;
}

.accept:hover
{
	background-image: url(../images/accept_over.png);
}

.editLeft
{
	width: 350px;
	float: left;
	clear: left;
}

.editRight
{
	width: 350px;
	float: right;
}

.editCellFull
{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.editCellHalf
{
	float: left;
	width: 45%;
	margin-bottom: 10px;
}

.editCellThird
{
	float: left;
	width: 30%;
	margin-bottom: 10px;
}

.chart img
{
	border: solid 1px #dedede;
	clear: left;
}

.textTip
{
	color: #999;
}

a span
{
	display: none;
}

p
{
	margin-bottom: 1em;
}

h1
{
	color: #ce2931;
	font-weight: normal;
	font-size: 18px !important;
	margin-bottom: 10px !important;
	line-height: 20px;
}
.provider-full-width h1
{
	font-size: 18px;
	margin-bottom: 10px;
}
.provider-full-width p
{
}
h1 sup
{
	font-size: 11px;
}

h2
{
	color: #666666;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: .5em;
	line-height: 20px;
}

h3
{
	color: #000;
	font-weight: bold;
	margin-bottom: .5em;
}

ol li
{
	margin-top: 10px;
	margin-left: 35px;
	font-size: 12px;
	color: #ce2931;
	padding: 0;
	list-style-type: decimal;
}

.center
{
	text-align: center;
}
.align-right
{
	text-align: right;
}
.copy
{
	margin-bottom: 1em;
	font-size: 12px;
	color: #666666;
	line-height: 16px;
}
.spacer
{
	height: 5px;
}

.copysm
{
	margin-bottom: 1em;
	font-size: 11px;
	color: #666666;
	line-height: 16px;
}

.redCopyBold
{
	color: #ce2931;
	font-weight: bold;
	font-size: 12px;
}

html .content .red, .red
{
	color: #ce2931 !important;
}

.grey
{
	color: #666666;
}

.bold
{
	font-weight: bold;
}
html body .zeropadding
{
	padding: 0 !important;
}
.boldRed
{
	color: #7a0303;
	font-weight: bold;
}

.boldBlack
{
	font-size: 11.5px;
	color: #000000;
	font-weight: bolder;
	line-height: 12px;
	text-decoration: none;
}

#footer
{
	float: left;
	width: 700px;
	margin-left: 48px;
	margin-bottom: 20px;
	font-size: 10px;
	line-height: 13px;
}

#footer a
{
	font-size: 9px;
	color: #666666;
	text-decoration: none;
}

#footerIcons
{
	float: right;
	margin-right: 15px;
}

#ahaFooter
{
	width: 1002px;
	float: left;
	margin-left: 18px;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	line-height: 1.2em !important;
}

.legal
{
	padding-bottom: 0px !important;
	text-align: left !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
}

#footer_buff
{
	padding-bottom: 0px !important;
}
html body .Custom_DropDownPenultimateDiv
{
	padding: 0;
}
html body .Custom_CalendarOuterDiv img
{
	vertical-align: bottom !important;
	margin-top: 2px;
	margin-left: 2px;
}
html body .newRecord .Custom_DropDownPenultimateDiv img
{
	vertical-align: top;
}
.record .DateTime, .provider-grid .DateTime
{
	width: 100px;
}
.record .bigDateTime, .provider-grid .bigDateTime
{
	width: 163px; /*overflow: hidden;*/
}
.newRecord input, .newRecord textarea
{
	margin-top: 5px;
}
.newRecord .Custom_DropDownOuterDiv
{
	margin-top: 5px;
}
.newRecord .Custom_DropDownOuterDiv input
{
	margin-top: 0px;
}
.newRecord input
{
}
.newRecord .bigDateTime span
{
	vertical-align: top !important;
}
.record .HeartRate, .provider-grid .HeartRate
{
	width: 32px;
	overflow: hidden;
}

.record .Systolic, .provider-grid .Systolic
{
	width: 45px;
	overflow: hidden;
}

.record .Diastolic, .provider-grid .Diastolic
{
	width: 50px;
	overflow: hidden;
}
.record .Reading-Source, .provider-grid .Reading-Source
{
	width: 79px;
}
.record .Reading-Source-big, .provider-grid .Reading-Source-big
{
	width: 100px;
}
.record .Body-Mass-Index, .provider-grid .Body-Mass-Index
{
	width: 35px;
}

.record .TChol, .provider-grid .TChol
{
	width: 64px;
}
.record .HDL, .provider-grid .HDL
{
	width: 50px;
}
.record .LDL, .provider-grid .LDL
{
	width: 50px;
}
.record .Triglycerides, .provider-grid .Triglycerides
{
	width: 76px;
}
.record .TestLocation, .provider-grid .TestLocation
{
	width: 106px;
}
.record .Activity, .provider-grid .Activity
{
	width: 120px;
}
.record .Duration, .provider-grid .Duration
{
	width: 52px;
}
.record .Duration i, .provider-grid .Duration i
{
	font-weight: normal;
}
.record .Intensity, .provider-grid .Intensity
{
	width: 70px;
}
.record .Weight, .provider-grid .Weight
{
	width: 40px;
}

.record .Comments, .provider-grid .Comments
{
	width: 115px;
}

.record .BP-Comments, .provider-grid .BP-Comments
{
	width: 100px;
}
.record .Blood-Glucose, .provider-grid .Blood-Glucose
{
	width: 80px;
}
.record .Action-I-took, .provider-grid .Action-I-took
{
	width: 120px;
	overflow: hidden;
}
.record .Reading-type, .provider-grid .Reading-type
{
	width: 120px;
}
.record .Name, .provider-grid .Name
{
	width: 130px;
}
.record .Dossage, .provider-grid .Dossage
{
	width: 52px;
}
.record .Frequency, .provider-grid .Frequency
{
	width: 60px;
}
.record .Side-Effects-Notes, .provider-grid .Side-Effects-Notes
{
	width: 228px;
}
.record .Actions, .provider-grid .Actions
{
}

.clearleft
{
	clear: left;
}
.clearright
{
	clear: right;
}
.clear
{
	clear: both;
	height: 0px;
	overflow: hidden;
}

.clearer
{
	clear: both;
	height: 10px;
}
.ahagrid
{
	border: 1px solid #dedede;
}
.ahagrid th
{
	padding: 5px;
	background: #dedede;
	margin-top: 10px;
}
.ahagrid td
{
	border-bottom: 1px solid #dedede;
	padding: 5px 5px 5px 8px;
}
.ahagrid a
{
	color: #666;
	text-decoration: none;
}

.ahagrid a:hover
{
	text-decoration: underline;
}



.AddAnotherPerson
{
	background-image: url(../images/addanother.png);
	background-repeat: no-repeat;
	width: 203px;
	height: 39px;
	display: block;
	cursor: pointer;
	text-indent: -999px;
}

.AddAnotherPerson:hover
{
	background-image: url(../images/addanother-over.png);
}

input[type='text'], input[type='password'], textarea, .Custom_DropDownOuterDiv
{
	border: 1px solid #666;
	border-color: #444 #ccc #ccc #444 !important;
}
html body .Custom_DropDownOuterDiv input
{
	border: none;
}

html body div#site.termsofuse
{
	background-color: White;
	width: 900px;
}
html .termsofuse #redbar
{
	margin: 0px;
	height: 10px;
	width: 100%;
}
html .termsofuse #ahaLogo
{
	margin-left: 20px;
	margin-top: 10px;
}
html .termsofuse #threesixtyLogo
{
	margin-top: 33px;
}
.termsofuse-content
{
	padding: 30px;
}
.termsofuse-content h1
{
	font-size: 22px;
}
.termsofuse-content ul
{
	list-style: none;
	margin-bottom: 20px;
}
.termsofuse-content p
{
	margin: 10px 0;
}
.termsofuse-footer
{
	padding: 20px;
	border-top: 5px solid #CE2930;
}

/******** Provider styles 15 Sep 2009 ************/

.inline-block
{
	display: -moz-inline-stack;
	display: inline-block;
}
.vertical-center .aha-small-button
{
	vertical-align: middle;
}
.SignUpandGetStarted, .TakeaTour, .SignUp
{
	background: url(/images/button-set.png) no-repeat -23px -29px;
	height: 43px;
	outline-width: 0;
	overflow: hidden;
}
.SignUpandGetStarted
{
	width: 177px;
}
.SignUpandGetStarted:hover
{
	background-position: -23px -79px;
}
.TakeaTour
{
	background-position: -221px -29px;
	width: 111px;
}
.TakeaTour:hover
{
	background-position: -221px -79px;
}
.SignUp
{
	width: 90px;
	background-position: -348px -29px;
}
.SignUp:hover
{
	width: 90px;
	background-position: -348px -79px;
}
.sign-in
{
	background: url(/images/signin-button-set.png) no-repeat 0 0;
	width: 74px;
	height: 26px;
	outline-width: 0;
	overflow: hidden;
}
.sign-in:hover
{
	background-position: 0 -28px;
}
.Sign-up, .clearform
{
	background: url(/images/sign-up-clear-form-button-set.png) no-repeat -19px -9px;
	width: 95px;
	height: 40px;
	outline-width: 0;
	overflow: hidden;
}
.Sign-up:hover
{
	background-position: -19px -60px;
}

.clearform
{
	background-position: -148px -12px;
	width: 124px;
}
.clearform:hover
{
	background-position: -148px -63px;
}
.create-group, .clearbutton
{
	background: url(/images/creat-group-clear-button-set.png) no-repeat -4px -5px;
	width: 108px;
	height: 23px;
	outline-width: 0;
	overflow: hidden;
}
.create-group:hover
{
	background-position: -4px -36px;
}
.clearbutton
{
	background-position: -125px -5px;
	width: 63px;
}
.clearbutton:hover
{
	background-position: -125px -36px;
	width: 63px;
}
.sub-nav
{
	height: 46px;
	line-height: normal;
}
.sub-nav a
{
	float: left;
	font-weight: bold;
	text-decoration: none;
	background: url(/images/sub-nav-link-bg.png) repeat-x 0 0;
	height: 33px;
	outline-width: 0;
	overflow: hidden;
	color: White;
	padding-top: 13px;
	border-right: 1px solid #fff;
	text-align: center;
}
.sub-nav a:hover, .sub-nav a.active
{
	text-decoration: none;
	color: White;
	background: url(/images/sub-nav-link-bg-hover.png) repeat-x 0 0;
}
.sub-nav a em
{
	font-style: normal;
	font-weight: normal;
}
.sub-nav a.twoline
{
	height: 37px;
	padding-top: 9px;
}
.sub-nav .sub-nav-left-curve
{
	background: url(/images/sub-nav-curve-set.jpg) no-repeat 0 -56px;
}
.sub-nav .sub-nav-left-curve:hover, .sub-nav .sub-nav-left-curve.active, .sub-nav .sub-nav-left-curve.active-left
{
	background: url(/images/sub-nav-curve-set.jpg) no-repeat 0 0;
}
.sub-nav .sub-nav-right-curve
{
	background: url(/images/sub-nav-curve-set.jpg) no-repeat right -56px;
	border-right-width: 0px;
}
.sub-nav .sub-nav-right-curve:hover, .sub-nav .sub-nav-right-curve.active, .sub-nav .sub-nav-right-curve.active-right
{
	background: url(/images/sub-nav-curve-set.jpg) no-repeat right 0;
}
html body .patient-group
{
}
html body .patient-group a
{
	width: 133px;
}
html body .patient-information a
{
	width: 85px;
	font-size: 11px;
}
.provide-copyBox
{
	width: 675px;
}
.provider-full-width
{
	padding-top: 10px;
}
.provider-full-width .leftbox
{
	width: 400px;
	margin-bottom: 5px;
}
html body .provider-full-width .rightbox
{
	width: 450px;
}
.provide-copyBox
{
	padding-top: 10px;
}
.provide-copyBox .leftbox
{
	width: 510px;
	padding-bottom: 5px;
}
.provide-copyBox .rightbox
{
	width: 130px;
	text-align: right;
	padding: 35px 10px 5px 0;
}
.provide-copyBox .withsearchbox .leftbox
{
	width: 360px;
}
.provide-copyBox .withsearchbox .rightbox
{
	width: 300px;
	padding: 10px 10px 5px 0;
}

.provide-copyBox .rightbox input
{
	vertical-align: middle;
}

.small-arrow-link
{
	color: #666;
	text-decoration: none;
	background: url(/images/arrow_small.gif) no-repeat right center;
	padding-right: 10px;
	font-weight: bold;
	font-size: 11px !important;
	display: -moz-inline-stack;
	display: inline-block;
	margin-right: 5px;
}
.small-arrow-link.leftlink
{
	color: #000;
	text-decoration: none;
	background: url(/images/arrow_small.gif) no-repeat left center;
	padding-left: 10px;
	font-size: 11px !important;
	display: -moz-inline-stack;
	display: inline-block;
	margin-left: 5px;
}
.big-arrow-link
{
	color: #000;
	text-decoration: none;
	background: url(/images/arrow_small.gif) no-repeat right center;
	padding-right: 10px;
	font-weight: bold;
	font-size: 12px !important;
	display: -moz-inline-stack;
	display: inline-block;
	margin-right: 5px;
}
.big-arrow-link:hover
{
	color: #000;
	text-decoration: underline;
}
.inner-content .small-arrow-link
{
	margin-right: 0px;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.toolbar
{
	margin: 20px 0 5px 0;
	padding-right: 10px;
}

.provide-copyBox .provider-grid
{
	width: 665px;
}
.provider-grid td a
{
	text-decoration: underline;
}
.provider-grid .table-page-index table td a
{
	color: #CE2930;
	text-decoration: underline;
}

.provide-copyBox .provider-grid td
{
	font-size: 11px;
}
.provider-grid thead
{
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	background-color: #dedede;
	margin-bottom: 5px;
}
.provider-grid th
{
	border-right: solid 1px #FFF;
	padding: 3px;
	text-align: center;
	height: 35px;
	background-color: #dedede;
	font-size: 11px;
	color: Black;
	font-weight: bold;
	vertical-align: middle;
}

.provider-grid th a
{
	color: Black;
	text-decoration: underline;
}
.provider-grid th a:hover
{
	text-decoration: none;
}
.provider-grid th a.activelinkdown
{
	color: #CE2931;
	text-decoration: underline;
	background: url(/images/red-arrow-down.gif?version=1) no-repeat right center;
	padding-right: 10px; *display:inline-block;


}
.provider-grid th a.activelinkdown:hover
{
	color: #CE2931;
	text-decoration: none;
}
.provider-grid th a.activelinkup
{
	color: #CE2931;
	text-decoration: underline;
	background: url(/images/red-arrow-up.gif?version=1) no-repeat right center;
	padding-right: 10px; *display:inline-block;
}
.provider-grid th a.activelinkup:hover
{
	color: #CE2931;
	text-decoration: none;
}
.provider-grid textarea
{
	font-size: 10px;
	font-family: Arial;
	height: 30px;
}

.provider-grid .first
{
	border-left: solid 1px #dedede;
}

.provider-grid tbody td
{
	border: solid 1px #dedede;
	border-left: none;
	border-bottom: none;
	background-color: #FFF;
	line-height: 16px;
	padding: 3px;
	vertical-align: top;
}
.table-page-index table td
{
	border: none;
}
.provider-grid .space
{
	background: none;
	border: none;
	height: 8px;
}

.provider-grid a
{
	color: #666;
	text-decoration: none;
}
.attachedheader
{
	border: 1px solid #dedede !important;
	font-size: 11px;
}
.attachedheader th
{
	border-bottom: solid 2px #FFF !important;
}
html body table.attachedheader tr th
{
	text-align: left;
	height: auto;
}
html body table.attachedheader tr td
{
}
.provider-grid a:hover
{
	text-decoration: underline;
}
html body .alignleft
{
	text-align: left;
}
html body .alignright
{
	text-align: right;
}
html body .provider-grid.borderfill
{
	border: 1px solid #dedede;
	border-width: 0 0 1px 1px !important;
	margin-top: 10px;
	font-size: 11px;
}
.guidingtext
{
	font-size: 11px;
	color: #999;
	padding: 5px 3px;
}
.groupbox
{
	margin-top: 20px;
}
.provide-copyBox .scrollbox
{
	border: 1px solid #dedede;
	width: 500px;
	height: 200px;
	background: #fff;
	overflow: auto;
	overflow-y: scroll;
}
.provide-copyBox .scrollbox .scrollcontent
{
	width: 470px;
}
.provider-full-width
{
	width: 945px;
	margin-bottom: 60px;
}
.PatientDetails
{
	margin-left: 10px;
	margin-top: 5px;
	font-size: 11px;
}
.PatientDetails strong
{
	font-weight: bold;
}

.col-3-box .box
{
	float: left;
	margin-right: 17px;
	width: 301px;
}

html body .col-3-box .lastbox
{
	margin-right: 0px;
}

.col-3-box .box .record .table, .col-3-box .box .record
{
	float: none;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 100%;
}
html body .col-3-box .box .record table td
{
	font-size: 10px;
}
.col-3-box .box .record .table th
{
	height: 25px;
}

html body .col-3-box .box .record .table .space
{
	height: 2px !important;
	padding: 2px;
}
html body.provider h1
{
	margin-bottom: 10px;
}
html body.provider h1, html body.provider h2
{
	line-height: normal;
	margin-bottom: 0px;
}
html body.provider h2
{
	color: Black;
}


.shadowtop, .shadowbottom
{
	position: relative;
	height: 17px;
}
.whitebox .tl, .whitebox .tr, .whitebox .bl, .whitebox .br
{
	position: absolute;
}
.whitebox .tl, .whitebox .bl
{
	top: 0;
	left: 0;
}
.whitebox .tr, .whitebox .br
{
	right: 0;
	top: 0;
}
.whitebox .tl, .whitebox .tr, .whitebox .bl, .whitebox .br
{
	width: 17px;
	height: 17px;
}
.whitebox .tm
{
	margin: 0 17px;
	height: 17px;
	background: url(/images/g-s-t-m.png) repeat-x 0 0;
}
.whitebox .tl
{
	background: url(/images/g-s-t-l.png) no-repeat 0 0;
}
.whitebox .tr
{
	background: url(/images/g-s-t-r.png) no-repeat 0 0;
}
.whitebox .bm
{
	margin: 0 17px;
	height: 17px;
	background: url(/images/g-s-b-m.png) repeat-x 0 0;
}
.whitebox .bl
{
	background: url(/images/g-s-b-l.png) no-repeat 0 0;
}
.whitebox .br
{
	background: url(/images/g-s-b-r.png) no-repeat 0 0;
}
.whitebox .tablecontainer
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.whitebox .left-shadow
{
	background: url(/images/g-s-m-l.png) repeat-y 0 0;
	width: 17px;
}
.whitebox .right-shadow
{
	background: url(/images/g-s-m-r.png) repeat-y 0 0;
	width: 17px;
}
.whitebox .boxcontent
{
	background-color: #fff;
}
.homebox
{
	width: 368px;
	margin-left: 50px;
}
.homebox .whitebox
{
	margin-top: 10px;
	line-height: normal;
}
.homebox .whitebox h1
{
	margin-bottom: 0px;
}
.homebox .whitebox .TakeaTour
{
	margin-left: 10px;
}
.homebox .whitebox .sign-in
{
	margin-top: -3px;
}
.homebox .whitebox p
{
	margin-top: 5px;
	font-size: 11px;
}
.homebox .whitebox a
{
	color: #666;
}
.login-ctrl
{
	padding: 10px 0 30px 0;
}
.login-ctrl a
{
	color: #666;
}
.login-ctrl .loginbutton
{
	vertical-align: middle;
}
.login-ctrl .ctrl-row
{
	padding: 10px 0;
}

.login-ctrl .ctrl-row label
{
	width: 200px;
	text-align: right;
	color: Black;
}
.loginbutton, .cancelbutton, .continuebutton
{
	background: url(/images/login-cancel-continue.png?version=2) no-repeat -20px -10px;
	height: 39px;
	width: 93px;
	outline-width: 0;
	overflow: hidden;
}
.loginbutton:hover
{
	background-position: -19px -61px;
}

.cancelbutton
{
	background-position: -130px -10px;
}
.cancelbutton:hover
{
	background-position: -129px -61px;
}
.continuebutton
{
	width: 121px;
	background-position: -232px -10px;
}
.continuebutton:hover
{
	background-position: -232px -60px;
}

.addtogroup, .updategroup
{
	background: url(/images/add-to-group-button-set.png) no-repeat -4px -5px;
	width: 108px;
	height: 23px;
	outline-width: 0;
	overflow: hidden;
}
.addtogroup:hover
{
	background-position: -4px -36px;
}
.updategroup
{
	background-position: -120px -5px;
}
.updategroup:hover
{
	background-position: -120px -36px;
}
.formtable
{
}
.formtable.automin-height .table-row
{
	min-height: 10px;
}
.formtable .table-row
{
	clear: left;
	min-height: 45px;
}

.formtable .table-cell
{
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
}
.formtable .table-cell label
{
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	color: #333;
}
.provider-full-width .halfwidth
{
	width: 450px;
}
.guidingtext.margin
{
	margin-top: 15px;
}
.alertradiobuttonlist
{
}
html body .provider-grid.nomargin
{
	margin-top: 0px;
}
.formtable .table-cell .alertradiobuttonlist input
{
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: middle;
}
.formtable .table-cell .alertradiobuttonlist label
{
	display: inline;
	font-weight: normal;
	vertical-align: middle;
	font-size: 12px;
	color: #666;
}

.termsofuseborder
{
	border: 1px solid #dedede;
}
.terms-of-use
{
	border: 1px solid #999;
	border-width: 1px 0 0 1px;
	height: 200px;
	background: #fff;
	overflow: auto;
	overflow-y: auto;
}

.terms-of-use .terms-of-use-content
{
	padding: 20px;
	font-size: 11px;
}
.checkboxcontainer
{
	padding: 10px 0;
}
.checkboxcontainer input
{
	margin: 0 5px 0 0;
	padding: 0px;
	vertical-align: middle;
}

.checkboxcontainer .hr
{
	border-top: 1px dashed #ddd;
}
.notifcation
{
	padding: 0 0 20px 0px;
}
.button-set
{
	text-align: center;
}
.leftbox p
{
	font-size: 11px;
	margin-bottom: 0px;
}
.list
{
	font-weight: bold;
	margin-bottom: 10px;
}
.list .label
{
	font-weight: normal;
	font-size: 11px;
}
.list td
{
	padding: 5px 5px 5px 0;
}
.invitebutton, .updatebutton
{
	background: url(/images/invite-update-button-set.png) no-repeat -20px -10px;
	height: 39px;
	width: 93px;
	outline-width: 0;
	overflow: hidden;
}
.updatebutton
{
	background-position: -131px -10px;
}
.updatebutton:hover
{
	background-position: -130px -61px;
}

.invitebutton:hover
{
	background-position: -19px -61px;
}
html body .leftbox.left img.patient-photo
{
	width: 50px;
	border: 1px solid #ddd !important;
	margin-top: 5px;
}
.medication
{
	font-size: 10px;
	text-align: left;
	line-height: normal;
	width: 230px;
	float: right;
	margin-left: 10px;
}
.medication h3
{
	font-size: 11px;
	color: #666;
	margin-bottom: 5px;
}
.medication .see-all
{
	color: #666;
	margin-left: 10px;
}
.right-control-link
{
	text-align: right;
	white-space: nowrap;
	width: 200px;
	margin-top: 40px;
	float: right;
}
.medication .boxcontent
{
	height: 40px;
	vertical-align: top;
}
.medication .boxcontent .med-holder
{
	position: relative;
	width: 190px;
}

.medication .boxcontent .med-container
{
	height: 60px;
	left: -10px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	width: 210px;
	z-index: 100;
}
.medication .boxcontent .med-holder img.medi-icon
{
	position: absolute;
	right: -13px;
	top: -13px;
	z-index: 1000;
}

.medication .boxcontent .med-holder table td.Dossage
{
	padding-left: 5px;
}
.col-3-box .box .record
{
	margin-left: 5px;
}
.inner-content
{
	padding: 0 5px;
}
.dataviewmanager
{
	width: 920px;
	height: 25px;
}
.dataviewmanager .textLinks
{
	margin-top: 4px;
}

.reset.login-ctrl label
{
	text-align: left;
	padding-left: 70px;
	width: 130px;
}
.success .hr
{
	margin: 5px 0;
	border-color: #999;
}
.success
{
	background: #ffffcc;
	padding: 10px;
	color: Black;
}
.okbutton
{
	background: url(/images/okbutton.png) no-repeat -20px -10px;
	height: 39px;
	width: 93px;
	outline-width: 0;
	overflow: hidden;
}
.okbutton:hover
{
	background-position: -19px -61px;
}
.toolbar .addtogroup.leftpad
{
	margin-left: 10px;
	margin-top: -3px;
}
.invitation-ctrl
{
}
.invitation-ctrl strong
{
	color: Black;
}

.invitation-ctrl .alertradiobuttonlist
{
	padding: 10px 10px;
}
.invitation-ctrl .alertradiobuttonlist label
{
	color: Black !important;
}
.printinvite
{
	border: 2px dotted #666;
	padding: 10px;
	background: #f5f5f5;
	font-size: 11px;
	color: #333;
}
.aha-small-button
{
	display: -moz-inline-stack;
	display: inline-block;
	height: 28px;
	background: url(/images/aha-small-bu-bg.png) repeat-x 0 0;
	cursor: pointer;
	text-decoration: none;
	font-size: 11px;
	line-height: normal;
}
.aha-small-button:hover
{
	background: url(/images/aha-small-bu-bg-hover.png) repeat-x 0 0;
	text-decoration: none !important;
}
.aha-small-button em
{
	display: -moz-inline-stack;
	display: inline-block;
	padding: 7px 13px 0 13px;
	background: url(/images/aha-small-bu-l.png) no-repeat 0 0;
	height: 24px;
	font-style: normal;
	font-size: 11px;
	vertical-align: baseline;
}
.aha-small-button:hover em
{
	background: url(/images/aha-small-bu-l-hover.png) no-repeat 0 0;
}

.aha-small-button.with-arrow em
{
	padding: 6px 22px 0 13px;
	line-height: normal;
	display: -moz-inline-stack;
	display: inline-block;
}
.aha-small-button strong
{
	display: -moz-inline-stack;
	display: inline-block;
	background: url(/images/aha-small-bu-r.png) no-repeat right 0;
	color: #fff;
	height: 28px;
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	vertical-align: baseline;
}
.aha-small-button.with-arrow strong
{
	background: url(/images/a-aha-small-bu-r.png) no-repeat right 0 !important;
}
.aha-small-button:hover strong
{
	background: url(/images/aha-small-bu-r-hover.png) no-repeat right 0;
}
.aha-small-button.with-arrow:hover strong
{
	background: url(/images/a-aha-small-bu-r-hover.png) no-repeat right 0 !important;
}

/* Small button OFF */
.aha-small-button-OFF
{
	display: -moz-inline-stack;
	display: inline-block;
	height: 28px;
	background: url(/images/aha-small-bu-bg-OFF.png) repeat-x 0 0;
	cursor: default;
	text-decoration: none;
	font-size: 11px;
	line-height: normal;
}

.aha-small-button-OFF em
{
	display: -moz-inline-stack;
	display: inline-block;
	padding: 7px 13px 0 13px;
	background: url(/images/aha-small-bu-l-off.png) no-repeat 0 0;
	height: 24px;
	font-style: normal;
	font-size: 11px;
	vertical-align: baseline;
}

.aha-small-button-OFF strong
{
	display: -moz-inline-stack;
	display: inline-block;
	background: url(/images/aha-small-bu-r-OFF.png) no-repeat right 0;
	color: #A0A0A0;
	height: 28px;
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	vertical-align: baseline;
}

.aha-small-button-OFF.with-arrow strong
{
	background: url(/images/a-aha-small-bu-r-OFF.png) no-repeat right 0 !important;
}

.invite-step1, .invite-step2, .invite-step3
{
	background: url(/images/invite-steps.png) no-repeat center 0;
	height: 39px;
	border: 1px solid #f5f5f5;
	border-width: 1px 0;
	margin-bottom: 10px;
}
.invite-step2
{
	background-position: center -39px;
}
.invite-step3
{
	background-position: center -78px;
}
.small-font
{
	font-size: 11px;
}
.big-font
{
	font-size: 13px;
}
.tryagainbutton
{
	background: url(/images/tryagain-button.png) no-repeat -5px -11px;
	height: 39px;
	width: 124px;
	outline-width: 0;
	overflow: hidden;
}
.tryagainbutton:hover
{
	background-position: -5px -61px;
}

.alertradiobuttonlist .checkboxcontainer
{
	padding-left: 20px;
	padding-top: 4px;
}
table.list td.label
{
	white-space: nowrap;
	vertical-align: top;
}
.provide-copyBox .homescrollbox
{
	/*border: 1px solid #dedede;*/
	width: 100%;
	height: 150px;
	background: #fff;
	overflow: hidden;
	overflow-y: scroll;
}
.provide-copyBox .homescrollbox .scrollcontent
{
	width: 600px;
}
.content-box
{
	border: 1px solid #ddd;
	padding: 10px;
}
.content-box .formtable .table-cell
{
	padding-bottom: 5px;
	padding-right: 5px;
}
.FeedbackForm
{
	text-align: left;
}

.FeedbackForm h2
{
	margin-bottom: 0px;
}
.FeedbackForm p
{
	margin-top: 0px;
}
.grey-box
{
	background: #f5f5f5;
	padding: 10px;
	border: 1px solid #ddd;
}
.closelink
{
	height: 20px;
	width: 20px;
	overflow: hidden;
	margin: 0 0 0 0;
	background: url(/images/close-link-bg.gif) no-repeat 0 0;
}
.alertradiobuttonlist.margin
{
	margin: 5px 15px;
}

.Daily-Summary
{
	width: 430px;
	height: 230px;
}
.Individual-Notifications
{
	width: 455px;
	height: 230px;
}
a.underline
{
	font-weight: normal;
	text-decoration: underline;
	font-size: 12px;
	color: #000;
}
a.underline:hover
{
	text-decoration: none;
}

html body .hiddenimages
{
	display: none;
}

/*[start]header fix
	/*ie8 inline style on img {z-index: 0; width: 428px; height: 39px; top: 10px; left: 237px;*/
html body .heart_header_wrapper .sub_logo a *
{
	left: 0px !important;
}
/*[end]header fix*/
.scrollbar
{
	width: 665px;
	overflow: auto;
	overflow-x: hidden;
	max-height: 113px;
	margin-top: 10px;
	border: 1px solid #DEDEDE;
	border-right: 0px;
}


html body .scrollbar .provider-grid
{
	margin-top: -1px;
}
.no-of-alerts
{
	margin-right: 3px;
}
.message-settting
{
	padding: 10px;
	border: 1px solid #ddd;
	background: #f5f5f5;
	margin-right: 10px;
}
.message-settting b
{
	color: #000;
}
.message-settting .icon
{
	width: 20px;
	vertical-align: text-bottom;
	text-align: right;
}
.message-content
{
	min-height: 220px;
	width: 665px;
}
.message-content .leftcontrol
{
	width: 200px;
	vertical-align: top;
	padding-top: 10px;
}
.message-content .rightcontrol
{
	overflow: hidden;
	border-left: 1px solid #ddd;
	padding-left: 10px;
	vertical-align: top;
	padding-top: 10px;
}
.message-content .message-topcontrol
{
	border-bottom: 1px solid #ddd;
}
.message-content .message-topcontrol td.leftcontrol
{
	padding-bottom: 5px;
}
.messagedelete
{
	background: url(/images/mail/message-delete.gif) no-repeat 0 0;
	padding-left: 20px;
	height: 17px;
}
.mailhome
{
	/*background:url(/images/mail/message-home.gif) no-repeat 0 0;*/
	background: url(/images/mail/message-center-home.jpg) no-repeat 0 -5px;
	padding-left: 32px;
	padding-top: 3px;
	height: 25px;
}
html .record .table .wrap td
{
	white-space: normal;
}
html .record .table .wrap .checkbox
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	display: block;
}

.inboxtable
{
	width: 100%;
}
.inboxtable td
{
	padding: 4px;
	font-size: 11px;
	background: #fff;
}
.inboxtable th
{
	font-weight: bold;
	text-align: left;
	padding: 4px;
}

.inboxtable .alter td
{
	background: #e8f0fb;
}
.inboxtable .New td, .inboxtable .New a
{
	color: #000;
	font-weight: bold;
}

.inboxtable .Flagged td, .inboxtable .Flagged a
{
	color: #CE2931;
}
.message-menus a
{
	display: block;
	font-weight: bold;
	color: #000;
	font-size: 11px;
	height: 20px;
	padding: 8px 5px 5px 40px;
}
.message-menus a.active
{
	color: #CE2931; /*background-color:#f5f5f5 !important;*/
	border-right: 0px;
}
.message-menus a.message-folderI
{
	/*background:url(/images/mail/inbox.gif) no-repeat 5px center;*/
	background: url(/images/mail/message-center-inbox.jpg) no-repeat 5px center;
}
.message-menus a.message-folderS
{
	/*background:url(/images/mail/sentitem.gif) no-repeat 2px center; */
	background: url(/images/mail/message-center-sent.jpg) no-repeat 2px center;
	padding-top: 10px;
	height: 21px;
}
.message-menus a.message-folderT
{
	/*background:url(/images/mail/deleteditem.gif) no-repeat 5px center;*/
	background: url(/images/mail/message-center-delete.jpg) no-repeat 5px center;
	padding-top: 10px;
	height: 21px;
}

.step1, .step2, .step3
{
	font-size: 12px;
	margin: 10px 0 20px;
	padding-left: 50px;
}
.step2 select
{
	font-size: 12px;
}
.record .step3 input
{
	font-size: 12px;
	height: auto;
	padding: 2px;
}
.step3 table td
{
	padding-bottom: 10px;
	vertical-align: top;
}
.step1
{
	background: url(/images/med-1.gif) no-repeat 0 0;
}
.step1 .aha-small-button, .step1 b, .step1 .Custom_DropDownOuterDiv
{
	vertical-align: middle;
}
.step2
{
	background: url(/images/med-2.gif) no-repeat 0 0;
}
.step3
{
	background: url(/images/med-3.gif) no-repeat 0 0;
}
/*.med-inactive
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

}*/
.tablinkholder
{
	height: 31px;
	position: relative;
}
.tablinkholder .tablinks
{
	position: absolute;
	height: 31px;
	left: 1px;
	top: 0;
}
.dark
{
	color: #000;
}
.dark:hover
{
	color: #000;
}
.twolineadjustment .left, .twolineadjustment .Custom_DropDownOuterDiv
{
}
.tablinks a
{
	float: left;
	padding: 5px 20px 0;
	border: 1px solid #ddd;
	border-color: #ccc #aaa #ddd #ccc;
	background: #f2f2f2;
	text-decoration: none;
	margin: 0 5px 0 5px;
	height: 25px;
}
.tablinks a.active
{
	background: #fff;
	color: #CE2930;
	border-bottom-color: #fff;
}
.tablinks a.active:hover
{
	color: #CE2930;
}
.tablinks a:hover
{
	background: #fff;
	color: #000;
	border-bottom-color: #fff;
}
.tab-content
{
	border: 1px solid #ddd;
	padding: 10px;
	background: #fff;
	margin-top: 10px;
	width: 645px;
}
.provide-copyBox .tab-content .optionbox
{
	width: 290px;
	margin-right: 10px;
}
.groupbox .optionbox
{
	width: 365px;
}
.groupbox .optionbox .checkboxcontainer *
{
	vertical-align: middle;
}
.provide-copyBox .tab-content .v-line
{
	height: 230px;
	margin-right: 10px;
}

.groupbox .v-line
{
	height: 275px;
	margin-right: 10px;
}

.v-line
{
	background: #ddd;
	width: 1px;
}
.optionbox
{
}
.option
{
	padding: 10px 0;
	font-weight: bold;
}
.option *
{
	vertical-align: middle;
}
.option-content
{
	background: #fff;
	padding: 10px;
}
.option-content .scroll
{
	border: 1px solid #ddd;
	height: 150px;
	overflow: auto;
}

.option-content .Custom_DropDownOuterDiv
{
	margin-left: 10px;
}

.tab-content .checkboxcontainer
{
	margin-left: 115px;
}
.tablelist
{
	margin: 10px 0;
}
.tablelist td
{
	text-align: center;
	padding: 5px;
}
.tablelist thead
{
}
.tablelist thead th
{
	text-align: center;
	font-weight: bold;
}
.tablelist tbody th
{
	text-align: right;
}
.tablelist thead th
{
	padding: 5px 10px;
}
.tablelist tbody th
{
	padding: 5px;
	font-weight: normal;
}

.tab-content .button-set .createReport
{
	margin: 0 auto;
}
.tab-content .checkboxcontainer .guidingtext
{
	padding-left: 0px;
	font-size: 12px;
}
.tab-content .small-arrow-link
{
	font-weight: normal;
	color: #000;
}

.tab-content .chart
{
	margin-top: 10px;
	margin: 10px auto;
}
.tab-content .chart table
{
}
.tab-content .chart img
{
}
.tablebox
{
	width: 100%;
	margin: 10px 0;
}
.tablebox td
{
	padding: 10px;
	line-height: 30px;
}
.tablebox td.box
{
	background: #f2f2f2;
	border: 1px solid #ddd;
	color: #000;
	font-size: 11px;
	width: 170px;
}
.provide-copyBox .tab-content .provider-grid
{
	width: 100%;
}
.provide-copyBox .tab-content .provider-grid th
{
	text-align: left;
	width: 50%;
}
.word-wrap
{
	word-wrap: break-word;
}
html .row-min-height tbody td
{
	height: 40px;
	vertical-align: middle;
}
html .row-min-height tbody td *
{
	vertical-align: middle;
}
.list-arrow li
{
	background: url(/images/arrow_small.gif) no-repeat left 3px;
	padding-left: 10px;
}
.boxcontent .total-Medication
{
	position: absolute;
	white-space: nowrap;
	top: 13px;
	width: 200px;
	left: -5px;
}
.feedback-table td
{
	padding: 4px 0;
}
a.smalllink, .record .table a.smalllink
{
	font-size: 10px;
	text-decoration: underline;
	line-height: normal;
}
a.smalllink:hover, .record .table a.smalllink:hover
{
	text-decoration: none;
}
.smallfont
{
	font-size: 11px;
}
.medications-box
{
	width: 250px;
	margin-top: 10px;
}
.medications-box .scroll
{
	border: 1px solid #ddd;
	overflow: auto;
	height: 100px;
}
.medications-box .scroll div
{
	padding-left: 5px;
}

#header .redbar #signin a:hover
{
	text-decoration: none;
	color: #ECAEAE;
}

.admin-box .campaign-list
{
	background: #fff;
	border: 1px solid #ddd;
	margin-top: 10px;
}
.admin-box .campaign-list td
{
	border: none;
	padding: 10px;
}
.admin-box .provider-grid .campaign-list td
{
	word-wrap: break-word;
}
.admin-box .provider-grid td, .admin-box .provider-grid th
{
	border-right: 0px;
	padding: 10px 25px 10px 10px;
	font-size: 12px;
	border: 1px solid #DEDEDE;
	border-width: 0 1px 1px 0;
}
.campaign-list td, .campaign-list th
 {
	border-right: 0px;
	padding: 6px;
	font-size: 12px;
	border: 1px solid #DEDEDE;
	border-width: 0 1px 1px 0;
}
.admin-box .provider-grid .campaign-list
{
	border: 1px solid #DEDEDE;
	border-width: 1px 0 0 1px;
}
.admin-box .provider-grid .campaign-list th
{
	font-size: 12px;
	background: #f2f2f2;
	height: auto;
	white-space: nowrap;
}

.admin-box .provider-grid .campaign-list a:hover
{
	text-decoration: none;
}
.admin-box .campaign-list td.menubar
{
	padding-bottom: 0px;
}
.admin-box .provider-grid .campaign-list tr.table-page-index table
{
	float: right;
}
.admin-box .provider-grid .campaign-list tr.table-page-index table td
{
	border: 1px solid #dedede !important;
	border-width: 1px;
	text-align: center;
	padding: 0px;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}
.admin-box .provider-grid .campaign-list tr.table-page-index table td a
{
	display: block;
	height: 25px;
	width: 35px;
	background: #f2f2f2;
	padding-top: 10px;
}
.admin-box .provider-grid .campaign-list tr.table-page-index td
{
	text-align: right;
	padding-right: 5px;
}

html body .wrap
{
	white-space: normal;
}
html body .nowrap
{
	white-space: nowrap;
}
html body .wrap .provider-grid th
{
	white-space: normal;
}
.control-table
{
	margin-bottom: 10px;
}
.control-table td
{
	padding: 5px;
}
.control-table i
{
	font-size: 11px;
	margin-left: 5px;
}
.control-table .checkbox
{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
html body .Custom_CalendarOuterDiv
{
	vertical-align: middle;
}
html body .Custom_CalendarOuterDiv img
{
	padding-bottom: 2px;
}
.admintable
{
	border: 1px solid #dedede;
	border-width: 1px 0 0 1px;
	background: #fff;
	margin-top: 10px;
}
.admintable th
{
	background: #f2f2f2;
	text-align: left;
}
.admintable td
{
	line-height: 20px;
}
.admintable td, .admintable th
{
	padding: 5px;
	border: 1px solid #dedede;
	border-width: 0 1px 1px 0;
	vertical-align: top;
}
.breakword
{
	word-wrap: break-word;
}
.sucess
{
	border: 1px solid #dedede;
	background: #ffffcc;
	padding: 10px;
	color: Black;
	font-weight: normal;
	text-align: center;
}
.order
{
	width: 70px;
	white-space: nowrap;
}
.order a
{
	white-space: nowrap;
}
html body .provider-grid .admin-action
{
	font-size: 11px;
	padding: 4px !important;
}
.report-filter
{
	border: 1px solid #ddd;
	padding: 10px;
	background: #fff;
	color: #333;
}
.report-filter *
{
	vertical-align: middle;
}
.report-filter h2
{
	margin: 0;
	font-size: 13px;
	display: inline;
	margin-right: 10px;
}
.report h3
{
	font-size: 13px;
	margin: 0;
}
.report-link
{
	color: #000;
	font-size: 11px;
}
.report-link a
{
	color: #000;
}
.fieldset
{
	margin: 10px 0;
	color: #000;
	border: 1px solid #ccc;
	padding: 5px 10px;
}
.select_filters *
{
	vertical-align: middle;
}
.report-table
{
	border: 1px solid #ccc;
	border-width: 0 0 0 1px;
}
.report-table td, .report-table th
{
	border: 1px solid #ccc;
	border-bottom-color: #fff;
	border-width: 1px 1px 1px 0;
	background: #fff url(/images/dot.gif) repeat-x 0 bottom;
	padding: 4px;
	color: #666;
}
.report-table th
{
	font-size: 11px;
	color: #666;
}
.report-table .alter td
{
	background: #f5f5f5 url(/images/dot.gif) repeat-x 0 bottom;
}
.report-table .last-cell
{
	border: none;
	border-left: 1px solid #ccc;
	background: none;
}
.report-table .alter .last-cell
{
	background: none;
	width: 10px;
}
.report-table .first-cell
{
	width: 140px;
}
.report-table .indent-cell
{
    text-align: right;
}
.provider-preview-bg, .patient-preview-bg
{
	background: url(/images/preview_bg_provider.gif?V=1) no-repeat 0 0;
	width: 1025px;
	height: 665px;
	margin: 0 auto;
}
.patient-preview-bg
{
	background: url(/images/preview_bg_patient.gif?V=1) no-repeat 0 0;
}
.provider-preview-bg #rightBox, .patient-preview-bg #rightBox
{
	margin: 85px 35px 65px 10px;
}
.provider-preview-bg #rightBox h3, .patient-preview-bg #rightBox h3
{
	margin-top: 0px;
}
#rightBox .fade h3
{
	color: #f5d4d6;
	border-bottom: 1px solid #f8f8f8;
}
#rightBox .fade
{
	color: #ccc;
}
.patient-preview-bg #rightBox .links
{
	padding-left: 2px;
}
.patient-preview-bg #rightBox li.fade
{
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}
.popuppage
{
	padding: 20px;
}
.popuppage .provider-grid
{
	border: 1px solid #ccc;
}
.popuppage .provider-grid tbody th
{
	border-right: 1px solid #ccc;
}
.popuppage .provider-grid tbody td, .popuppage .provider-grid tbody th
{
	font-size: 12px;
	padding: 5px 10px;
}

.change-language
{
	height: 27px;
	padding: 7px 0 0 0;
	position: relative;
	margin: 0 36px;
}
.select-language
{
	float: right;
	background: url(/images/change-language-bg.png) no-repeat;
	width: 59px;
	height: 21px;
	line-height: 21px;
	border: none;
	padding: 0 20px 0 5px;
	font-size: 11px;
	color: #333;
	cursor: pointer;
}
.change-language-option
{
	position: absolute;
	width: 84px;
	background: url(/images/language-dropdown-bg.png) no-repeat 0 0;
	right: 0px;
	top: 30px;
	display: none;
	z-index: 100;
}
.change-language-option-in
{
	width: 84px;
	background: url(/images/language-dropdown-bg.png) no-repeat bottom;
	padding-bottom: 4px;
}
.change-language-option-in ul
{
	background: #fff;
	border: 1px solid #d1d7e2;
	width: 82px;
	margin: 4px 0 0 0;
	border-width: 0 1px 0 1px;
	padding-bottom: 1px;
}
.change-language-option-in ul li
{
	list-style: none;
	padding: 2px 0px 2px 0px;
	margin: 0 5px;
	font-size: 11px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.change-language-option-in ul li a
{
	color: #333;
	text-decoration: none;
	outline: none;
	display: block;
	width: 72px;
}
.change-language-option-in ul li.last
{
	border-bottom: none;
}





#DimmerPlaceholder
{
}
.popup
{
	position: absolute;
	z-index: 9999;
	display: none;
	background: #fff;
	border: 2px solid #ddd;
	padding: 20px;
}
.tableAjaxLoader
{
	background: url(/images/ajax-loader-bg.png);
	position: absolute;
	height: 500px;
	width: 500px;
}
.tableAjaxLoader td
{
	text-align: center;
	vertical-align: middle;
}



html body .campaign .copyBox
{
	width: 750px;
	color: #666666;
	float: left;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-top: 15px;
}
html body .campaign .campaign-image
{
	bottom: 18px;
	display: block;
	position: absolute;
	right: 30px;
	width: 570px;
	text-align:right;
}
html body .campaign .campaign-logo
{
	display: block;
	position: absolute;
	right: 30px;
	text-align: center;
	top: 35px;
	width: 200px;
}
html body .campaign .campaign-tagline
{
	margin-left: 60px;
	padding-top: 5px;
}
html body .campaign
{
	background-image: url("../images/bg/bkgd_01_white_no_bg_V1.jpg");
}
.campaign-preview #redbar
{
	background-color: #CE2930;
	color: #FFFFFF;
	display: inline;
	float: left;
	font-size: 12px;
	height: 27px;
	margin-left: 18px;
	margin-right: 18px;
	vertical-align: middle;
	width: 1002px;
}
.campaign-preview h1
{
	color: #CE2931;
	font-size: 14px !important;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0.5em;
}
.campaign-preview p strong
{
	font-weight: normal;
}
.campaign-preview .big-button
{
	background: url("/newimages/big-button.png") no-repeat scroll 0 0 transparent;
	
	display: inline-block;
	height: 45px;
	outline: medium none;
	text-decoration: none;
}
.campaign-preview .big-button em strong
{
	background: url("/newimages/big-button.png") repeat-x scroll 0 -103px transparent;
	color: #333333;
	display: inline-block;
	font-family: trebuchet MS,Arial;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	padding: 9px 7px 10px 0;
}
.campaign-preview .big-button em
{
	background: url("/newimages/big-button.png") no-repeat scroll right -205px transparent;
	display: inline-block;
	font-style: normal;
	height: 45px;
	padding: 0 19px 0 10px;
}
.campaign-preview .red-button-sm-with-arrow
{
	background: url("/newimages/sm-red-btn-with-arrow.gif") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 24px;
	outline: medium none;
	text-decoration: none;
}
.campaign-preview .red-button-sm-with-arrow em
{
	background: url("/newimages/sm-red-btn-with-arrow.gif") no-repeat scroll right -102px transparent;
	display: inline-block;
	font-style: normal;
	height: 24px;
	padding: 0 12px 0 8px;
}
.campaign-preview .red-button-sm-with-arrow strong
{
	background: url("/newimages/sm-red-btn-with-arrow.gif") repeat-x scroll 0 -51px transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	height: 21px;
	line-height: 16px;
	padding: 3px 5px 0 0;
}
.campaign-preview .r
{
	float: right;
}

.healthvault-holder
{
	clear: both;
	height: 1px;
	position: relative;
}
.healthvault-holder img
{
	position: absolute;
	right: 45px;
	top: -70px;
}

.resourcegraphics-preview-patient-bg
{
	background: url(/images/ResourceGraphics-Preview-Patient-bg.png) no-repeat 0 0;
	width: 1027px;
	height: 750px;
	margin: 0 auto;
}
.resourcegraphics-preview-patient-bg #previewBox
{
    width: 536px;
	padding: 520px 0px 50px 50px;
}

.resourcegraphics-preview-provider-bg
{
	background: url(/images/ResourceGraphics-Preview-provider-bg.png) no-repeat 0 0;
	width: 1027px;
	height: 750px;
	margin: 0 auto;
}
.resourcegraphics-preview-provider-bg #previewBox
{
	padding: 180px 0px 50px 50px;
}

.ManageRolesTable
{
    border: 1px solid #666666;

}

.ManageRolesTable th
{
    background-color: #C0C0C0;
    padding: 4px;
}


.checkboxList
{
    background-color: #F0F0F0;
}


.checkboxList td
{
    background-color: #F0F0F0;
    padding: 4px;
}

.rolesHeader
{
    background-color: #E0E0E0;
}