﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    ##PROVIDER_NAME##,</h2>
##PATIENT_NAME## has disconnected from you in Heart360<sup>&reg;</sup>. You will
no longer be able to view ##PATIENT_NAME##'s health information or send them message
through Heart360<sup>&reg;</sup>. 