﻿<!--Footer Starts here-->
</p> </td> </tr> </table></td>
<td width="15" style="width: 15px !important; vertical-align: top;" valign="top">
    <img src="##SiteUrl##/EmailTemplates/images/email-m-r.gif" width="15" height="460" style="display:block;">
</td>
</tr></table>

    <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;" border="0">
        <tr>
            <td width="16" style="width: 16px !important; vertical-align: top;" valign="top">
                <img src="##SiteUrl##/EmailTemplates/images/email-bottom-l.gif" width="29" height="63" style="display:block;">
            </td>
            <td>
                <img src="##SiteUrl##/EmailTemplates/images/email-bottom-m.gif" width="100%" height="63" style="display:block;">
            </td>
            <td width="180" style="width: 180px !important; vertical-align: top;" valign="top">
                <img src="##SiteUrl##/EmailTemplates/images/email-bottom-r.gif" width="180" height="63" style="display:block;">
            </td>
        </tr>
    </table>

<div style="font-size: 10px; color: #999; padding: 0 40px; background: #fff; line-height: normal;
    font-family: Arial;">
    <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Privacy-Policy_UCM_300371_Article.jsp"
        target="_blank">Privacy Policy</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Copyright-Notice_UCM_300378_Article.jsp"
            target="_blank">Copyright</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Ethics-Policy_UCM_300430_Article.jsp"
                target="_blank">Ethics Policy</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Conflict-of-Interest-Policy_UCM_300435_Article.jsp"
                    target="_blank">Conflict of Interest Policy</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/American-Heart-Association-and-American-Stroke-Association-Linking-Policy_UCM_303551_Article.jsp"
                        target="_blank">Linking Policy</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Life-at-the-American-Heart-Association_UCM_303457_SubHomePage.jsp"
                            target="_blank">Diversity</a> | <a style="color: #999;" href="http://www.heart.org/HEARTORG/General/Careers_UCM_303455_SubHomePage.jsp"
                                target="_blank">Careers</a><br />
    &copy;2014 American Heart Association, Inc. All rights reserved. Unauthorized use
    prohibited.
    <br />
    <br />
    ##DISCLAIMER##
</div>
</td> </tr> </table> </body></html> 