﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    ##PROVIDER_NAME##,
</h2>
<p>
    ##PATIENT_NAME## has accepted your invitation to work with him/her in Heart360<sup>&reg;</sup>.
    ##PATIENT_NAME## will now show up in your list of patients/pariticpants in your dashboard.</p>
