﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    ##PROVIDER_NAME##,
</h2>
Your patient, ##PATIENT_NAME##, has invited you to join Heart360<sup>&reg;</sup>. This is a free
online cardiovascular health management tool from the American Heart Association.<br />
<br />
Heart360<sup>&reg;</sup> helps patients or program participants with tools that help them easily monitor and track their
blood pressure, blood glucose, cholesterol, weight, physical activity and medications.<br />
<br />
Heart360<sup>&reg;</sup> can help you, too. When you connect to it, managing your patients or program participants is easier.
You can:
<ul style="padding: 0; margin: 15px 0px 15px 20px;">
    <li>access their latest health values</li>
    <li>set and receive alerts and notifications</li>
    <li>review and print patient or program participants and practice-based reports</li>
</ul>
You can even message directly with your patients or program participants.<br />
<br />
Follow the link below to learn more about how you can quickly and easily connect
with your patients or program participants online — with Heart360<sup>&reg;</sup>.<br />
<br />
<a class="black" style="color: #000;" href="##INVITATION_URL##" target="_blank">##INVITATION_URL##</a>
