﻿<h2 style="font-size: 14px; color: #cc353e; margin: 0 0 5px 0; padding: 0;">
    This is notification that you have received a message from your provider or volunteer mentor in Heart360<sup>&reg;</sup>.</h2>
To view the message, click the link below.
<br />
<br />
<a href="##LINK##" class="black" style="color:#000;" target="_blank"><img style="font-size:18px;" alt="Sign in" src="##SiteUrl##/EmailTemplates/images/sign-in.gif" border="0" /></a>