﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AHAHeader.ascx.cs" Inherits="Heart360Admin.UserCtrls.Common.AHAHeader" %>

<%--<div class="header-holder">
<script type="text/javascript">
        //*****VENDOR CONFIGURATIONS*****//
        //*****required parameters*****//
        headerSubLogoHref = '/';
        // headerSubLogoImg = '/images/Heart360_logo_v2.gif';
        headerSubLogoImg =  '<%=GRCBase.UrlUtility.ServerRootUrl%>' + '/images/Heart360_logo_v2.gif';
        headerSubLogoAlt = 'Cardiovascular Wellness Center';
        // ***** optional parameters ***** //
        var hidePersonas = <%=HidePersonas.ToString().ToLower()%>;
        var hideDonate = <%=HideDonate.ToString().ToLower()%>;
        var hideSearch = <%=HideSearch.ToString().ToLower()%>;
        //headerDonateCampaignCode = '76';
</script>

<script type="text/javascript" src="<%=Heart360Admin.Utilities.AppSettings.IsSSLEnabled ? "https://static.heart.org/aha_header.js" : "http://static.heart.org/aha_header.js"%>"></script>

</div>--%>

    <div class="logo">
        <a href="/Pages/Home.aspx"><img src="/images/logo.png" /></a>
    </div>
